<script type="application/x-template" id="event-box-template">
    <a v-bind:href="'/e/' + event.identifier" :key="event.id">
        <div class="col-xs-12 event-holder">
            <div class="thumbnail row">
                <div class="img-box col-md-3 col-sm-3 col-xs-3">
                    <img class="event-image" v-bind:src="backgroundImage">
                </div>
                <div class="caption col-md-9 col-sm-9 col-xs-9">
                    <small class="time">{{ '{{ startTimeFormatted }}' }}</small>
                    <h4 class="name">{{ '{{ event.name }}' }}</h4>
                    <div data-toggle="tooltip" data-placement="top" v-bind:title="locationName" class="location_name">{{ '{{ locationName }}' }}</div>
                    <hr>
                    <p class="tags">
                        <span class="filter-hashtag" v-on:click.stop.prevent="eventTagFilter('type', event.type)" v-if="event.type">#{{ '{{ event.type | tagCase }}' }}</span>
                        <span class="filter-hashtag" v-on:click.stop.prevent="eventTagFilter('category', event.topic)" v-if="event.topic">#{{ '{{ event.topic | tagCase }}' }}</span>
                        <i class="share-btn fa fa-share-alt pull-right" v-on:click.stop.prevent="share"></i>
                    </p>
                </div>
            </div>
        </div>
    </a>
</script>
