<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>App Name</h4>
        The name of your deployment. This will be used throughout this application.<br><br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">App Name</label>
            <div class=" col-md-9 col-xs-12">
                <input name="app_name" class="form-control"
                       required
                       value="{{ settings.app_name|default('Open Event', True) }}"/>
            </div>
        </div>
        <h4>{{_("Google Tokens")}}</h4>
        {{_("See")}} <a href="https://auth0.com/docs/connections/social/google">{{_("here")}}</a> {{_("on how to obtain these tokens")}}.<br><br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Client")}} ID</label>
            <div class=" col-md-9 col-xs-12">
                <input name="google_client_id" class="form-control"
                       value="{{ settings.google_client_id|default('', True) }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Client secret")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="google_client_secret" class="form-control"
                       value="{{ settings.google_client_secret|default('', True) }}">
            </div>
        </div>
        <br>
        <h4>Facebook {{_("Tokens")}}</h4>
        {{_("See")}} <a href="https://developers.facebook.com/docs/apps/register">{{_("here")}}</a> {{_("on how to obtain these tokens")}}.<br><br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Client")}} ID</label>
            <div class=" col-md-9 col-xs-12">
                <input name="fb_client_id" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.fb_client_id|default('', True) }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Client secret")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="fb_client_secret" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.fb_client_secret|default('', True) }}">
            </div>
        </div>
        <br>
        <h4>Twitter {{_("Tokens")}}</h4>
        {{_("See")}} <a href="https://dev.twitter.com/overview/documentation">{{_("here")}}</a> {{_("on how to obtain these tokens")}}.<br><br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Consumer key")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="tw_consumer_key" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.tw_consumer_key|default('', True) }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Consumer secret")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="tw_consumer_secret" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.tw_consumer_secret|default('', True) }}">
            </div>
        </div>
        <br>
        <h4>Instagram {{_("Tokens")}}</h4>
        {{_("See")}} <a href="https://www.instagram.com/developer/authentication/">{{_("here")}}</a> {{_("on how to obtain these
                                        tokens")}}.<br><br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Client")}} ID</label>
            <div class=" col-md-9 col-xs-12">
                <input name="in_client_id" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.in_client_id|default('', True) }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Client secret")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="in_client_secret" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.in_client_secret|default('', True) }}">
            </div>
        </div>
        <br>
        <h4>{{_("Storage")}}</h4>
        {{_("Where to store data")}} ?
        <div class="form-group col-md-offset-1">
            <div class="radio">
                <label>
                    <input type="radio" name="storage_place" id="storage_local" class="radio_storage" value="local"
                           {% if settings.storage_place != "s3" %}checked{% endif %}>
                    {{_("Local")}}
                    <small style="margin-left: 5px;">(stored in /static/media/ folder)</small>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="storage_place" id="storage_aws" class="radio_storage" value="s3"
                           {% if settings.storage_place == "s3" %}checked{% endif %}>
                    {{_("Amazon S3")}}
                    <!-- <span style="line-height: 2em;"> -->
                    <small style="margin-left: 5px;">
                        ({{_("See")}} <a
                            href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html">{{_("here")}}</a>
                        {{_("on how to obtain these keys")}})
                    </small>
                    <!-- </span> -->
                </label>
            </div>
            <!-- s3 form -->
            <br>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Bucket name")}}</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="aws_bucket_name" class="form-control col-md-6 col-xs-6"
                           value="{{ settings.aws_bucket_name|default('', True) }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Key")}}</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="aws_key" class="form-control col-md-6 col-xs-6"
                           value="{{ settings.aws_key|default('', True) }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Secret")}}</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="aws_secret" class="form-control col-md-6 col-xs-6"
                           value="{{ settings.aws_secret|default('', True) }}">
                </div>
            </div>
        </div>
        <br>
        <h4>{{_("Sendgrid Token")}}</h4>
        {{_("See")}} <a href="https://sendgrid.com/docs/User_Guide/Settings/api_keys.html">{{_("here")}}</a> {{_("on how to get this token")}}.<br><br>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Token")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="sendgrid_key" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.sendgrid_key|default('', True) }}">
            </div>
        </div>
        <br>
        <h4>{{_("App secret key")}}</h4>
        {{_("Secret key for the application. Recommended is a random string minimum 20 characters in length.")}}<br><br>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Secret</label>
            <div class=" col-md-9 col-xs-12">
                <input name="secret" class="form-control col-md-6 col-xs-6"
                       value="{{ settings.secret|default('', True) }}">
            </div>
        </div>
        <br>
        <h4>{{_("Super Admin Email ID")}}</h4>
        {{_("The email ID of the super admin user created during initial deployment.")}}<br><br>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{_("Email")}}</label>
            <div class=" col-md-9 col-xs-12">
                <input name="super_admin_email" class="form-control col-md-6 col-xs-6" type="email"
                       value="{{ super_admin_email }}">
            </div>
        </div>
        <br>
        <div class="ln_solid"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-success pull-right">{{_("Save")}}</button>
        </div>
    </div>

</div>
