{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Settings
{% endblock %}

{% set active_page = "settings" %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block content %}
<div>
    <div class="responsive-tabs-container accordion-xs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF;">
            <li role="presentation" class="active">
                <a href="#tab_content2" id="profile-tab" data-toggle="tab">System Tokens</a>
            </li>
            <li role="presentation">
                <a href="#tab_content1" id="payment-gateway-tab" data-toggle="tab">Payment Gateways</a>
            </li>

            <li role="presentation">
                <a href="#tab_content3" id="microservice-tab" data-toggle="tab">Microservices</a>
            </li>
            {% if 'ticketing' in included_settings and 'payments' in included_settings %}
            <li role="presentation">
                <a href="#tab_content4" id="ticket-fees-tab" data-toggle="tab">Ticket Fees</a>
            </li>
            {% endif %}
        </ul>
        <div class="nav bar_tabs" role="tablist">
                <a href="#tab_content2" class="accordion-link" id="profile-tab" data-toggle="tab">System Tokens</a>
                <a href="#tab_content1" class="accordion-link" id="payment-gateway-tab" data-toggle="tab">Payment Gateways</a>
                <a href="#tab_content3" class="accordion-link" id="microservice-tab" data-toggle="tab">Microservices</a>
                {% if 'ticketing' in included_settings and 'payments' in included_settings %}<a href="#tab_content4" class="accordion-link" id="ticket-fees-tab" data-toggle="tab">Ticket Fees</a>{% endif %}
        </div>
        <form id="settings_form" method="post" class="form-horizontal form-label-left">

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="tab_content2">
                 {% include 'gentelella/admin/super_admin/settings/_system.html' %}
            </div>
            <div class="tab-pane fade in" id="tab_content1">
                 {% include 'gentelella/admin/super_admin/settings/_payment_gateway.html' %}
            </div>
            <div class="tab-pane fade in" id="tab_content3">
                 {% include 'gentelella/admin/super_admin/settings/_microservices.html' %}
            </div>
            {% if 'ticketing' in included_settings and 'payments' in included_settings %}
            <div class="tab-pane fade in" id="tab_content4">
                 {% include 'gentelella/admin/super_admin/settings/_ticket-fees.html' %}
            </div>
            {% endif %}
        </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
    var id =0;
        // manage the storage form events
    function storage_form(){
        sel_opt = $('input[name=storage_place]:checked', '#settings_form').val();
        if (sel_opt == 'local')
            disable = true;
        else
            disable = false;
        $('[name^=aws_]').prop("readonly", disable);
        $('[name^=aws_]').prop("required", ~disable);
    }

    $('.radio_storage').click(function(event){
        storage_form();
    });

    $(document).ready(function(){
        storage_form();
    });

    
    </script>

{% endblock %}
