{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Settings
{% endblock %}

{% set active_page = "settings" %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block content %}
<div>

    <form id="settings_form" method="post" class="form-horizontal form-label-left">
        <ul id="settings-tabs" class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF;">
            <li class="active">
                <a href="#tab_content0" id="profile-tab" data-toggle="tab">System Tokens</a>
            </li>
            <li>
                <a href="#tab_content2" id="microservice-tab" data-toggle="tab">Microservices</a>
            </li>
            <li>
                <a href="#tab_content4" id="microservice-tab" data-toggle="tab">Image Configurations</a>
            </li>
            <li>
                <a href="#tab_content1" id="payment-gateway-tab" data-toggle="tab">Payment Gateways</a>
            </li>

            {% if 'ticketing' in included_settings and 'payments' in included_settings %}
            <li>
                <a href="#tab_content3" id="ticket-fees-tab" data-toggle="tab">Ticket Fees</a>
            </li>
            {% endif %}
        </ul>

        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content0" aria-labelledby="profile-tab">
                 {% include 'gentelella/admin/super_admin/settings/_system.html' %}
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="tab_content1" aria-labelledby="payment-gateway-tab">
                 {% include 'gentelella/admin/super_admin/settings/_payment_gateway.html' %}
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="tab_content2" aria-labelledby="microservice-tab">
                 {% include 'gentelella/admin/super_admin/settings/_microservices.html' %}
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="tab_content4" aria-labelledby="image-config-tab">
                 {% include 'gentelella/admin/super_admin/settings/_image_config.html' %}
            </div>
            {% if 'ticketing' in included_settings and 'payments' in included_settings %}
            <div role="tabpanel" class="tab-pane fade in" id="tab_content3" aria-labelledby="ticket-fees-tab">
                 {% include 'gentelella/admin/super_admin/settings/_ticket-fees.html' %}
            </div>
            {% endif %}
        </div>
    </form>
</div>




{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
    var id =0;
        // manage the storage form events
    function storage_form(){
        sel_opt = $('input[name=storage_place]:checked', '#settings_form').val();
        if (sel_opt == 'local')
            disable = true;
        else
            disable = false;
        $('[name^=aws_]').prop("readonly", disable);
        $('[name^=aws_]').prop("required", ~disable);
    }

    $('.radio_storage').click(function(event){
        storage_form();
    });

    $(document).ready(function(){
        storage_form();
    });

    </script>

{% endblock %}
