.form-group > label, .label-header {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    margin-top: 10px;
}

.label-header {
    font-size: 18px;
    margin-left: 10px;
}

.form-control {

}

.required {
    color: #f44336;
    font-weight: 600;
}

#map {

}

.sponsor-table th {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
}

.row-sponsor > td:nth-child(1) {
    font-size: 20px;
    line-height: 40px;
}

.sponsor-table input, .sponsor-table textarea {
    height: 40px;
}

.options-table {
    margin-top: 15px;
}

.options-table td {
    vertical-align: middle !important;
    text-align: center;
    font-size: 14px;
}

.options-table td:nth-child(1) {
    vertical-align: middle !important;
    text-align: right;
    padding-right: 20px;
}

.options-table th {
    font-size: 16px;
    text-align: center;
}

.options-table th:nth-child(1) {
    text-align: right;
    padding-right: 20px;
}

.wizard {
    margin-top: -50px;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard li .description {
    position: absolute;
    bottom: -32px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 200;
    color: #7a7a7a;
}

.wizard li.active .description {
    color: #5bc0de;
    font-weight: 300;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media ( max-width: 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.toggle-switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.toggle-switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.toggle-switch + label {
    padding: 2px;
    width: 50px;
    height: 32px;
    background-color: #dddddd;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
}

input.toggle-switch + label:before, input.toggle-switch + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.toggle-switch + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.toggle-switch + label:after {
    width: 30px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}

input.toggle-switch:checked + label:before {
    background-color: rgb(38, 185, 154);
}

input.toggle-switch:checked + label:after {
    margin-left: 20px;
}
