.event-holder {
    cursor: pointer;

}

.event-holder:hover > .thumbnail > .caption {
    background-color: #f7f7f7;
}

.event-holder hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-holder img {
    width: 100%;
    height: 137px;
    background: url('/static/img/sativa.png');
    border: none;
}

.event-holder .thumbnail {
    padding: 0;
    height: 137px;
}

.event-holder .img-box {
    padding: 0;
    margin: 0;
}

.event-holder .time {
    text-transform: uppercase;
}

.event-holder .name {
    height: 33px;
    text-overflow: ellipsis;
}

.event-holder .location_name {

}

.event-holder .tags {
    height: 18px;
}

.event-holder .caption {
    background-color: #FFFFFF;
    transition: background-color 0.5s;
    margin: 0;
}

.event-holder .share-btn {
    margin-top: 5px;
    margin-right: 1px;
    color: #868686;
    transition: color 0.5s;
}

.event-holder .share-btn:hover {
    margin-top: 5px;
    margin-right: 1px;
    color: #393939;
}

.categories .panel-title {
    font-size: 13px;
}

.filter-item:not(.parent) {
    color: #46b8da !important;
    padding-left: 20px;
    cursor: pointer;
}

.panel-heading {
    padding: 5px 15px;
}

.behclick-panel > .panel-body > .panel-heading {
    padding: 10px 15px;
}

.list-group-item {
    border: 1px solid #f3f3f3 !important;
}

.list-group-item.active {
    background-color: #ffffff;
    font-weight: bolder;
}

.list-group-item.active:hover {
    background-color: #ffffff;
}

.list-group-item.active:after {
    content: '  >';
}

.filter-hashtag {
    cursor: pointer;
}
