/*

    Layers (top to bottom)
        Session Element - 2
        Session Holder - 1
        Timeline - -1


*/

.sessions-holder {
    z-index: 1 !important;
}

.session {
    background-color: #efefef;
    border: solid #b6b6b6 1px;
    color: #3d3d3d;
    height: 48px;
    overflow: hidden;
    width: 216px;
    white-space: normal;
    padding: 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.unscheduled {
    margin-bottom: 3px;
    cursor: all-scroll !important;
}

.unscheduled > .remove-btn {
    display: none;
}

.unscheduled > .edit-btn {
    display: none;
}

.scheduled {
    position: absolute !important;
    top: 120px;
    color: white;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-right: 10px;
}

.scheduled > .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}

.scheduled > .edit-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer
}

#timeline {
    background-color: #FFFFFF;
}

.timeline-table td {
    z-index: -1 !important;
}

.timeline .timeunits {
    padding: 0;
}

.timeline .timeunits.x1 .timeunit {
    height: 48px;
    font-size: 10px;
    line-height: 48px;
}

.timeline .timeunits .timeunit {
    border-style: none solid solid solid;
    border-width: 0 1px 1px 1px;
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    text-align: center;
    width: 55px;
}

.timeline .timeunits .timeunit:nth-child(2n+1) {
    background-color: rgb(250, 250, 250);
}

.timeline .microlocations {
    border-right: 1px solid rgb(221, 221, 221);
    padding: 0;
}

.timeline .microlocations.x1 {
    background-image: url("../../img/admin/builder-timeunitbg-x1.png");
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-origin: initial;
    background-clip: initial;
    background-size: initial;
}

.timeline .microlocations .microlocation-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 654px;
}

.timeline .microlocations .microlocation {
    display: inline-block;
    position: relative;
    width: 216px;
    border-right: 1px solid rgb(221, 221, 221);
    margin-left: 0;
}

.timeline .microlocations .microlocation:first-child {
    margin-left: 0;
}

.text-center {
    text-align: center;
}

.timeline .microlocations.x1 .microlocation-header {
    height: 47px;
    line-height: 47px;
}

.timeline .microlocations .microlocation-header {
    width: 100%;
    position: absolute;
    background-color: rgb(250, 250, 250);
    top: 0;
    left: 0;
    font-size: 13px;
    font-weight: bold;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
}

.badge:empty {
    display: none;
}

.timeline .microlocations .microlocation-header .badge {
    padding: 2px 4px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    background-color: rgb(187, 187, 187);
    vertical-align: text-bottom;
}

.microlocation-item {
    position: absolute;
    width: 215px;
    display: block;
    font-size: 12px;
    min-height: 48px;
}

.microlocation-inner.drop-now {
    background-color: rgba(220, 220, 220, 0.35);
}

#sessions-list {

}

/**
 * SNACKBAR CSS STYLES
 * ===================
 */
.paper-snackbar {
    transition-property: opacity, bottom, left, right, width, margin, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 300;
    font-size: 14px;
    min-height: 14px;
    background-color: #323232;
    position: fixed;
    z-index: 99999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 22px;
    padding: 18px 24px;
    bottom: 0;
    opacity: 0;

}

@media (min-width: 640px) {
    .paper-snackbar {

        min-width: 288px;
        max-width: 568px;
        display: inline-flex;
        border-radius: 2px;
        margin: 24px;
        bottom: -100px;

    }
}

@media (max-width: 640px) {
    .paper-snackbar {
        left: 0;
        right: 0;
    }
}

.paper-snackbar .action {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    color: #ffeb3b;
    margin: 0 0 0 24px;
    padding: 0;
    min-width: min-content;
}

/**
 * For mobile version
 **/
.event {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid transparent;
    border-radius: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin: 0 12px 12px 0;
    position: relative;
    background: rgba(0, 150, 136, 0.75);
    width: auto;
    margin-left: 4%;
    max-width: 500px;
    color: #FFFFFF;
    padding: 5px;
    font-size: 15px;
}

@media (max-width: 660px) {
    .event {
        max-width: 400px;
    }
}

@media (max-width: 660px) {
    .event {
        max-width: 270px;
    }
}

#track-list {
    margin-top: 8%;
    margin-bottom: 8%;
}

.height {
    min-height: 70px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-text {
    color: #999;
    font-weight: 300;
}

.mobile-text.time {
    text-align: right;
}

.active {
    color: #757575 !important;
    font-weight: bold;
}
