{% macro social_entry(social_link=None) %}
    <div class="social-link-holder">
        <div class=" col-sm-4" style="padding-left: 0;">
            <input type="text" class="form-control" name="social[name]" placeholder="Name"
                   value="{{ social_link.name | default('Twitter', true) }}">
        </div>
        <div class="col-sm-8 input-group">
            <input type="text" class="form-control" name="social[link]" placeholder="Link"
                   value="{{ social_link.link | default('', true) }}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger remove-social-links">-</button>
                <button type="button" class="btn btn-primary add-social-links">+</button>
            </span>
        </div>
    </div>
{% endmacro %}

<div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        <div class="item form-group">
            <label>Name <span class="required">*</span></label>
            <input required="required"
                   data-error="Event name is required"
                   name="name" class="form-control col-md-7 col-xs-12"
                   value="{{ event.name | default('', true) }}"/>

        </div>

        <div class="form-group">
            <label>Location</label>
            <input value="{{ event.location_name | default('', true) }}" name="location_name" id="location"
                   placeholder="Location is required to make event live"
                   class="form-control col-md-7 col-xs-12"/>
        </div>

        <div class="row event-date-picker">
            <div class="col-md-6">
                <div class="item form-group">
                    <label>Starts <span class="required">*</span></label>
                    <br>
                    <div class="col-xs-8" style="padding-left: 0;">
                        <input required="required"
                               name="start_date"
                               data-error="Start date & time is required"
                               value="{{ event.start_time.strftime('%m/%d/%Y') if event else start_date.strftime('%m/%d/%Y') }}"
                               class="form-control col-xs-6 date start" placeholder="MM/DD/YYYY"/>

                    </div>
                    <div class="col-xs-4" style="padding-left: 0;">
                        <input required="required"
                               name="start_time"
                               value="{{ event.start_time.strftime('%H:%M') if event else '19:00' }}"
                               class="form-control col-xs-6 time start" placeholder="HH:MM"/>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="item form-group">
                    <label>Ends <span class="required">*</span></label>
                    <br>
                    <div class="col-xs-8" style="padding-left: 0;">
                        <input required="required"
                               name="end_date"
                               data-error="End date & time is required"
                               value="{{ event.end_time.strftime('%m/%d/%Y') if event else start_date.strftime('%m/%d/%Y') }}"
                               class="form-control col-xs-6 date end" placeholder="MM/DD/YYYY"/>

                    </div>
                    <div class="col-xs-4" style="padding-left: 0;">
                        <input required="required"
                               name="end_time"
                               value="{{ event.end_time.strftime('%H:%M') if event else '22:00' }}"
                               class="form-control col-xs-6 time end" placeholder="HH:MM"/>

                    </div>

                </div>

            </div>
        </div>
        <div class="form-group">
            <label>Timezone <span class="required">*</span></label>
            <select name="timezone" class="form-control">
                {% for value, text in timezones %}
                    {% if event %}
                        <option value="{{ value }}"
                                {% if event.timezone == value %}selected{% endif %}>{{ text }}</option>
                    {% else %}
                        <option value="{{ value }}" {% if value == 'UTC' %}selected{% endif %}>{{ text }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="item form-group">
            <label>Description</label>
            <textarea name="description"
                      class="form-control">{{ event.description | default('', true) }}</textarea>
        </div>

        <div class="item form-group">
            <label>Background image URL
            </label>
            <input value="{{ event.background_url | default('', true) }}" name="background_url"
                   class="form-control"/>
        </div>

        <div class="item form-group">
            <label>Logo URL
            </label>
            <input value="{{ event.logo | default('', true) }}" name="logo"
                   class="form-control"/>
        </div>

        <div class="item form-group">
            <label>Event Url</label>
            <input value="{{ event.event_url | default('', true) }}" name="event_url"
                   class="form-control"/>
        </div>

        <div class="item form-group">
            <label>Organizer name
            </label>
            <input name="organizer_name" class="form-control"
                   value="{{ event.organizer_name | default('', true) }}"/>
        </div>
        <div class="item form-group">
            <label>Organizer Description
            </label>
                <textarea
                        name="organizer_description"
                        class="form-control">{{ event.organizer_description | default('', true) }}</textarea>
        </div>
        <div class="item form-group">
            <label>Ticket URL
            </label>
            <input name="ticket_url" class="form-control"
                   value="{{ event.ticket_url | default('', true) }}"/>
        </div>

    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-4">
        <div class="item form-group hidden-xs">
            <label>Geolocation</label>
        </div>
        <div id="map" class="hidden-xs" style="width:100%; height:300px"></div>
        <br>
        <br>
        <div class="item form-group">
            <label>Social Links</label>
            <div class="row social-links">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if social_links %}
                        {% for social_link in social_links %}
                            {{ social_entry(social_link) }}
                        {% else %}
                            {{ social_entry() }}
                        {% endfor %}
                    {% else %}
                        {{ social_entry() }}
                    {% endif %}
                </div>

            </div>
        </div>
        <h2 style="font-weight: 300; text-transform: uppercase; margin-top: 20px;">Additional Details</h2>
        <hr style="margin:0;">
        <div class="item form-group">
            <label class="control-label">Listing Privacy</label>
            <div class="radio">
                <label style="font-weight: 300;">
                    <input type="radio" name="privacy" value="public"
                           {% if (event and event.privacy == 'public') or not event %}checked{% endif %}>
                    <strong style="font-weight: 400;">Public page:</strong> list this event on Open Event and search
                    engines
                </label>
            </div>
            <div class="radio">
                <label style="font-weight: 300;">
                    <input type="radio" name="privacy" value="private"
                           {% if (event and event.privacy == 'private') %}checked{% endif %}>
                    <strong style="font-weight: 400;">Private page:</strong> do not list this event publicly
                </label>
            </div>
        </div>

        <div class="item form-group">
            <label class="control-label">Event Type</label>
            <select class="form-control" name="type">
                {% if not event or not event.type %}
                    <option value="">Choose..</option>
                {% endif %}
                {% for type in event_types %}
                    <option value="{{ type }}" {{ "selected" if event and event.type == type else '' }}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="item form-group">
            <label class="control-label">Event Topic
            </label>
            <select class="form-control" name='topic'>
                {% if not event or not event.topic %}
                    <option value="">Choose..</option>
                {% endif %}
                {% for topic in event_topics %}
                    <option value="{{ topic }}" {{ "selected" if event and event.topic == topic else '' }}>{{ topic }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="item form-group">
            <label>Code of Conduct
            </label>
                <textarea name="code_of_conduct" class="form-control">{{ event.code_of_conduct | default('', true) }}</textarea>
        </div>

    </div>
    <input type="hidden" name="latitude" id="latitude" value="{{ event.latitude | default(0.00, true) }}"/>
    <input type="hidden" name="longitude" id="longitude" value="{{ event.longitude | default(0.00, true) }}"/>

</div>
<script>
    var marker;
    var init_marker;
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };
    var $latitudeInput = $('#latitude');
    var $longitudeInput = $('#longitude');
    var $locationInput = $("#location");
    function initPlacesApi() {
        var latitude = $latitudeInput.val();
        var longitude = $longitudeInput.val();
        var latlng = new google.maps.LatLng(latitude, longitude);
        var map = new google.maps.Map($("#map")[0], {
            zoom: 1,
            center: latlng
        });

        var geocoder = new google.maps.Geocoder();
        init_marker = new google.maps.Marker({
            draggable: true,
            position: latlng,
            map: map,
            zoom: 15
        });

        var geocodeHandler = function () {
            $locationInput.closest(".form-group").removeClass("has-warning");
            geocodeAddress(geocoder, map);
        };

        $locationInput.valueChange(geocodeHandler);

        autocomplete = new google.maps.places.Autocomplete((document.getElementById('location')), {types: ['geocode']});
        geolocate();

        autocomplete.addListener('place_changed', geocodeHandler);

    }
    function geocodeAddress(geocoder, resultsMap) {
        var address = $locationInput.val();
        geocoder.geocode({'address': address}, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                $latitudeInput.val(results[0].geometry.location.lat());
                $longitudeInput.val(results[0].geometry.location.lng());
                resultsMap.setCenter(results[0].geometry.location);
                resultsMap.setZoom(10);
                init_marker.setMap(null);
                if (marker == null) {
                    marker = new google.maps.Marker({
                        map: resultsMap,
                        draggable: true,
                        position: results[0].geometry.location
                    });
                }
                else {
                    marker.setMap(null);
                    marker = new google.maps.Marker({
                        map: resultsMap,
                        draggable: true,
                        position: results[0].geometry.location
                    });
                }
            } else {
                if (status === 'ZERO_RESULTS') {
                    resultsMap.setZoom(1);
                    $latitudeInput.val(0.0);
                    $longitudeInput.val(0.0);
                }
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

    $(document).ready(function () {

        $('.time').timepicker({
            'showDuration': true,
            'timeFormat': 'H:i',
            'scrollDefault': 'now'
        });

        $('.date').datepicker({
            'format': 'mm/dd/yyyy',
            'autoclose': true
        });

        $(".event-date-picker").datepair({
            'defaultTimeDelta': 3600000
        });

        $("textarea").summernote(summernoteConfig);

        $('select[name=timezone]').selectize({
            create: false,
            sortField: 'text'
        });
    });

    $(document).on("click", '.add-social-links', function () {
        var $element = $($(".social-link-holder")[0]).clone();
        $element.find("input").val('').attr("value", "");
        $('.social-links > div').append($element);
    });

    $(document).on("click", ".remove-social-links", function () {
        if ($('.social-links > div').children().length > 1) {
            $(this).closest(".social-link-holder").remove();
        }
    });

</script>

