{% macro call_for_paper_display(call_for_paper=None) %}
    <div class="item form-group">
        <label class="control-label">Announcement</label>
        <textarea name="announcement" class="announcement form-control">{{ call_for_paper.announcement | default('') }}</textarea>
    </div>
    <div class="item form-group">
        <label class="control-label">Call for Papers Date <span class="required">*</span> </label>
        <input value="{{ call_for_paper.start_date | default('') }} - {{ call_for_paper.end_date | default('') }}" required="required"
               name="cfp_date_range" class="date-picker form-control"
               placeholder="MM/DD/YYYY - MM/DD/YYYY"/>
    </div>

    <input name="start_date" class="start_date" type="hidden" value="{{ call_for_paper.start_date | default('') }}">
    <input name="end_date" class="start_date" type="hidden" value="{{ call_for_paper.end_date | default('') }}">

{% endmacro %}

<div id="step-4" class="wizard_content" style="display: block;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        {% if call_for_paper %}
            {% for call_for_paper_entry in call_for_paper %}
                {{ call_for_paper_display(call_for_paper_entry) }}
            {% endfor %}
        {% else %}
            {{ call_for_paper_display() }}
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function () {

        $(".announcement").summernote(summernoteConfig);

        var $startDate = $(".start_date");
        var $endDate = $(".end_date");

        $('.date-picker').daterangepicker({
            {% if event %}
                startDate: $startDate.val(),
                endDate:  $endDate.val(),
            {% endif %}
            "opens": "center",
            "autoApply": true
        }, function (start, end, label) {
            $startDate.val(start.format('MM/DD/YYYY'));
            $endDate.val(end.format('MM/DD/YYYY'));
        });


    });
</script>
