{% extends 'gentelella/admin/base.html' %}
<!--suppress HtmlUnknownAnchorTarget -->

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/bootstrap-daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/icheck.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/switchery.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_wizard.css') }}" />
{% endblock %}
{% block head_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.codezero.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="page-title">
    <div class="title_left">
        <h3>{{ self.title() }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="row">
                <form action="{% if event %}/events/{{ event.id }}/edit/{% else %}/events/create/{% endif %}" method="POST" role="form"
                      class="admin-form form-horizontal" id="{% if event %}event-edit-form{% else %}event-create-form{% endif %}">

                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {% endif %}
                    <div id="{% if event %}wizard-edit{% else %}wizard{% endif %}" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps anchor">
                            <li>
                                <a href="#step-1" class="selected" isdone="1" rel="1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                        Basic Details <br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="disabled" isdone="0" rel="2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                        Sponsors<br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3" class="disabled" isdone="0" rel="3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                        Sessions, Tracks, Rooms<br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4" class="disabled" isdone="0" rel="4">
                                    <span class="step_no">4</span>
                                    <span class="step_descr">
                                        Call for Speakers<br>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-5" class="disabled" isdone="0" rel="5">
                                    <span class="step_no">5</span>
                                    <span class="step_descr">
                                        Create Session Forms<br>
                                    </span>
                                </a>
                            </li>
                        </ul>

                            {% include 'gentelella/admin/event/wizard/step-1.html' %}
                            {% include 'gentelella/admin/event/wizard/step-2.html' %}
                            {% include 'gentelella/admin/event/wizard/step-3.html' %}
                            {% include 'gentelella/admin/event/wizard/step-4.html' %}
                            {% include 'gentelella/admin/event/wizard/step-5.html' %}

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='admin/lib/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/lib/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/lib/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/event/new.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdXg0Y_zk-wCNpslbBqcezLdHniaEwkI&callback=initMap" async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/event/icheck.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/event/switchery.js') }}"></script>
{% endblock %}
