<script src="{{ url_for('static', filename='js/events/import-event.js') }}"></script>


<div class="col-md-10 col-md-offset-1">

    <h3>{{ _("Import Event") }}</h3>
    <hr>

    <div>
        <h4>{{ _("Select event source file to import") }}</h4>
        <p>
            <strong>Supported formats:</strong> Open Event compatible json package (.zip), PentabarfXML (.xml), iCalendar (.ical)
        </p>
        <form>
            <input type="file" name="file" id="import_file">
        </form>
    </div>

    <div style="margin-top: 15px;">
        <button type="button" class="btn btn-primary" id="btnImportEvent"
                onclick="importEvent();">{{ _("Create Event") }}</button>
    </div>

    <div style="margin-top: 10px;">
        <span id="import_status"></span>
        <span id="import_error" class="red"></span>
    </div>

    <br>

    <h3>{{ _("Previous Imports") }}</h3>
    <hr>

    <div>
        <table class="table table-striped" id="importListTable">
            <thead>
            <tr>
                <th>{{ _("State") }}</th>
                <th>{{ _("Message") }}</th>
                <th>{{ _("Started") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for e in imported_events %}
                <tr>
                    <td>
                        {% if e.result_status == "SUCCESS" %}
                            <i class="fa fa-check-circle green" aria-hidden="true"></i> {{ _("Success") }}
                        {% elif e.result_status %}
                            <i class="fa fa-exclamation-circle red" aria-hidden="true"></i> {{ e.result_status }}
                        {% else %}
                            <i class="fa fa-circle-o-notch yellow" aria-hidden="true"></i> {{ _("Processing") }}
                        {% endif %}
                    </td>
                    <td id="task_msg_{{ e.id }}">
                        {% if e.result_status == "SUCCESS" %}
                            Check your event <a href="/events/{{ e.result }}">{{ _("here") }}</a>
                        {% elif e.result %}
                            {{ e.result }}
                        {% endif %}
                    </td>
                    <td>
                        {{ e.start_time | humanize_alt }}
                    </td>
                    <!-- start job -->
                    {% if not e.result_status %}
                        <script>
                            importTaskTable("{{e.task}}", "#task_msg_{{e.id}}");
                        </script>
                    {% endif %}
                    <!-- done -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
