{% extends 'gentelella/base.html' %}
{% block head_css %}
    {{ super() }}
    <style type="text/css">
        .event-btn-group .btn {
            text-transform: uppercase;
            font-weight: 300;
        }
    </style>
{% endblock %}
{% set navigation_bar = [
('/events/' ~ event.id ~ '/', 'home', 'Overview'),
('/events/' ~ event.id ~ '/tickets/', 'tickets', 'Tickets'),
('/events/' ~ event.id ~ '/scheduler/', 'scheduler', 'Scheduler'),
('/events/' ~ event.id ~ '/sessions/', 'sessions', 'Sessions'),
('/events/' ~ event.id ~ '/speakers/', 'speakers', 'Speakers'),
('/events/' ~ event.id ~ '/export/', 'export', 'Export'),
] -%}
{% set active_page = active_page|default('home') -%}
{% macro tabs() %}
    <ul class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF;">
        {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}" style="cursor: pointer;">{{ caption|e }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ event.name }}
                {% if active_page != "home" %}
                    <span style="font-weight: 300; color: #73879C;"> | {{ active_page | capitalize }}</span>
                {% endif %}
            </h3>
        </div>
        <div class="title_right" style="text-align: right">
            {% if event.state == 'Published' %}
            {% endif %}
            <div class="btn-group event-btn-group" role="group" style="">
                <a href="/e/{{ event.identifier }}/" target="_blank" type="button" class="btn btn-default">
                    {% if event.state == 'Published' %}
                        View
                    {% else %}
                        Preview
                    {% endif %}
                </a>
            </div>
            <div class="btn-group event-btn-group" role="group" style="">
                {% if event.state == 'Published' %}
                    <a href="/events/{{ event.id }}/unpublish/" type="button"
                       class="btn btn-default">{{ _("Unpublish") }}</a>
                {% else %}
                    <a href="/events/{{ event.id }}/publish/" type="button"
                       class="btn btn-default">{{ _("Publish") }}</a>
                {% endif %}
                <a href="/events/{{ event.id }}/copy/" type="button" class="btn btn-default">{{ _("Copy") }}</a>
            </div>
            <div class="btn-group event-btn-group" role="group" style="">
                <button data-toggle="modal" data-target="#delete-confirm-modal" type="button" class="btn btn-danger">
                    {{ _("Delete") }}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="responsive-tabs-container accordion-xs">
                        {{ tabs() }}
                        <br>
                        <div class="dropdown accordion-link" id="event_tabs_small">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="cursor: pointer">
                                {% if active_page == "home" %}
                                    Overview
                                {% else %}
                                    {{ active_page | capitalize }}
                                {% endif %}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                {% for href, id, caption in navigation_bar %}
                                    <li>
                                        <a href="{{ href|e }}" id="{% if id == active_page %}activated_link{% endif %}">
                                            {{ caption|e }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- <div class="tabContent tab-content">
                    {% for href, id, caption in navigation_bar %}
                        <a href="{{ href|e }}" class="accordion-link {% if id == active_page %} active{% endif %}">
                            {{ caption|e }}</a>
                    {% endfor %}
                </div> -->
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-confirm-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ _("Are you sure you would like to delete this event") }} ?</h4>
                    <span>{{ _("Deleting the event will delete all the data associated with it.") }} <br><br>{{ _("Please enter the full name of the event to continue") }}</span><br>
                    <input id='delete-check' type="text" data-event-name="{{ event.name }}">
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</a>
                    <a href="/events/{{ event.id }}/trash/" type="button"
                       class="btn btn-danger" id = "delete-event-button">{{ _("Confirm Delete") }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type = "text/javascript" src = "{{ url_for('static', filename='js/events/event-base.js') }}"></script>
{% endblock %}
