{% extends 'gentelella/base.html' %}
{% import 'gentelella/users/events/_table.html' as table with context %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}">
{% endblock %}
{% block title %}
    {{ _("Events") }}
{% endblock %}
{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ _("Manage Events") }}</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div>
                        <div class="responsive-tabs-container accordion-xs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF;">
                                <li class="active">
                                    <a href="#live" id="home-tab" data-toggle="tab">{{ _("Live") }}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#draft" id="profile-tab" data-toggle="tab">{{ _("Draft") }}</a>
                                </li>
                                <li>
                                    <a href="#past" id="profile-tab2" data-toggle="tab">{{ _("Past") }}</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#import" id="profile-tab3" data-toggle="tab">{{ _("Import") }}</a>
                                </li>
                            </ul>
                            <div class="dropdown tabs_small">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="drop_header">{{ _("Live") }}</span>
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li value="Live" class="small_tab_list active">
                                        <a href="#live" id="home-tab" role="tab" data-toggle="tab">
                                            {{ _("Live") }}
                                        </a>
                                    </li>
                                    <li value="Draft" class="small_tab_list">
                                        <a href="#draft" id="profile-tab" role="tab" data-toggle="tab">
                                            {{ _("Draft") }}
                                        </a>
                                    </li>
                                    <li value="Past" class="small_tab_list">
                                        <a href="#past" id="profile-tab2" data-toggle="tab">
                                            {{ _("Past") }}
                                        </a>
                                    </li>
                                    <li value="Import" class="small_tab_list">
                                        <a href="#import" id="profile-tab3" data-toggle="tab">
                                            {{ _("Import") }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="live">
                                    {{ table.events_table(live_events) }}
                                </div>
                                <div class="tab-pane fade in" id="draft">
                                    {{ table.events_table(draft_events) }}
                                </div>
                                <div class="tab-pane fade in" id="past">
                                    {{ table.events_table(past_events) }}
                                </div>
                                <div class="tab-pane fade in" id="import">
                                    {% include 'gentelella/users/events/_import_modal.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <script type="text/javascript">
        $('.table').DataTable({
        "columnDefs": [
	         { "width" : "8%", "targets" : 0 },
	         { "width" : "15%", "targets": 1 },
            { "width" : "23%", "targets": 2 },
	         { "width" : "10%", "targets": 3 },
	         { "width" : "10%", "targets": 4 },
	         { "width" : "10%", "targets": 6 }
	      ]
      });

        $(document).ready(function () {
            $('.progress .progress-bar').progressbar({display_text: 'center', use_percentage: false});
        });

        $('.accordion-link').click(function () {
            $('.accordion-link').removeClass('active');
            $(this).addClass('active');
        });

        $(document).ready(function () {
            if (location.hash.substr(0, 2) == "#!") {
                $("a[href='#" + location.hash.substr(2) + "']").tab("show");
            }
            $("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                var hash = $(e.target).attr("href");
                if (hash.substr(0, 1) == "#") {
                    location.replace("#!" + hash.substr(1));
                }
            });
        });

        $(".small_tab_list").click(function () {
            $(".small_tab_list").removeClass("active");
            $(this).addClass("active");
            var clicked_link = $(this).attr("value");
            $(".drop_header").text(clicked_link);
        });

        $('.tabs_small a').click(function () {
            $(this).tab('show');
        });
    </script>
{% endblock %}
