<script type="text/x-template" id="social-link-template">
    <div class="social-link-holder">
        <div class=" col-sm-3" style="padding-left: 0;">
            <input type="text" class="form-control" placeholder="Name" v-model="socialLink.name">
        </div>
        <input type="hidden" name="social[id]" v-model="socialLink.id">
        <div class="col-sm-5 input-group" v-bind:class="{ 'has-error': !isValidLinkEntry(socialLink.link) }">
            <input data-error="Please enter a valid URL" type="url" class="form-control" v-model="socialLink.link" placeholder="Link">
            <transition name="fade">
                <span class="help-block" v-show="!isValidLinkEntry(socialLink.link)">This looks like an invalid URL and hence will be ignored.</span>
            </transition>
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger" v-on:click="remove">-</button>
                <button type="button" class="btn btn-primary add-social-links" v-on:click="add">+</button>
            </span>
        </div>
    </div>
</script>
