<ul class="social-links">
    <li>
        <a class="btn btn-social-icon btn-facebook" data-href="https://www.facebook.com/sharer.php?u={url}" target="_blank">
            <span class="fa fa-facebook"></span>
        </a>
    </li>
    <li>
        <a class="btn btn-social-icon btn-twitter" data-href="https://twitter.com/intent/tweet?url={url}&text={title}" target="_blank">
            <span class="fa fa-twitter"></span>
        </a>
    </li>
    <li>
        <a class="btn btn-social-icon btn-google" data-href="https://plus.google.com/share?url={url}" target="_blank">
            <span class="fa fa-google-plus"></span>
        </a>
    </li>
    <li>
        <a class="btn btn-social-icon btn-linkedin" data-href="https://www.linkedin.com/shareArticle?url={url}&title={title}" target="_blank">
            <span class="fa fa-linkedin"></span>
        </a>
    </li>
    <li>
        <a class="btn btn-social-icon btn-reddit" data-href="https://reddit.com/submit?url={url}&title={title}" target="_blank">
            <span class="fa fa-reddit"></span>
        </a>
    </li>
</ul>
