{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Events
{% endblock %}

{% set active_page = "events" %}

{% block head_css %}
    {{ super() }}
    <style type="text/css">
    #event-tabs {
        position: absolute;
        background: transparent;
        top: 9px;
        width: auto;
    }

    table.table {
        margin-top: 20px !important;
    }
    </style>
{% endblock %}

{% macro events_row(events) %}
    {% for event in events %}
        <tr>
            <td>{{event.name}}</td>
            <td>{{event.state}}</td>
            <td>
              <a target="_blank" href="/e/{{event.id}}">/e/{{event.id}}</a>
            </td>
            <td>{{event.start_time}}</td>
            <td>{{event.end_time}}</td>
            <td> {% if event %}
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{{ get_url('events.edit_view', event_id=event.id) }}"
                               title="Edit record">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            {% if event.in_trash == True %}
                            <a class="btn btn-default"
                               data-toggle="tooltip" data-placement="top"
                               onclick="return confirm('Are you sure you want to delete this record?');"
                               href="{{ get_url('events.delete_view', event_id=event.id) }}" title="Delete record">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            {% endif %}
                            {% if event.in_trash == False %}
                            <a class="btn btn-default"
                               data-toggle="tooltip" data-placement="top"
                               onclick="return confirm('Are you sure you want to delete this record?');"
                               href="{{ get_url('events.trash_view', event_id=event.id) }}" title="Delete record">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            {% endif %}
                            <a class="btn btn-default" href="{{ get_url('events.details_view', event_id=event.id) }}"
                               data-toggle="tooltip" data-placement="top"
                               title="View Event Details">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            <a class="btn btn-default" href="#"
                               data-toggle="modal" data-target="#exportModal"
                               title="Export Event" data-event-id="{{event.id}}">
                                <i class="glyphicon glyphicon glyphicon-share"></i>
                            </a>
                            {% if event.in_trash == True %}
                            <a class="btn btn-success" href="/events/{{ event.id }}/restore/"
                               data-toggle="tooltip" data-placement="top"
                               title="Restore Event">
                                <i>Restore Event</i>
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}</td>
        </tr>
    {% endfor %}
{% endmacro %}

{% block content %}

    <div>
        <ul id="event-tabs" class="nav nav-tabs bar_tabs" role="tablist">
            <li class=""><a href="#tab_content4" id="all-tab" data-toggle="tab">All Events</a></li>
            <li class="active"><a href="#tab_content1" id="home-tab" data-toggle="tab">All Live</a></li>
            <li class=""><a href="#tab_content2" id="profile-tab" data-toggle="tab">All Drafts</a></li>
            <li class=""><a href="#tab_content3" id="profile-tab2" data-toggle="tab">All Past</a></li>
            <li class=""><a href="#tab_content5" id="profile-tab3" data-toggle="tab">All Deleted Events</a></li>
            <li class=""><a href="#" id="all-tab" data-toggle="modal" data-target="#importModal">Import</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="tab_content4"
                 aria-labelledby="all-tab">
                <table class="table table-striped no-global-dt">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Public URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ events_row(all_events) }}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                 aria-labelledby="home-tab">
                <table class="table table-striped no-global-dt">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Public URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    {{ events_row(live_events) }}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <table class="table table-striped no-global-dt">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Public URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    {{ events_row(draft_events) }}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                <table class="table table-striped no-global-dt">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Public URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    {{ events_row(past_events) }}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
                <table class="table table-striped no-global-dt">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Public URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    {{ events_row(trash_events) }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% include 'gentelella/admin/event/_import_modal.html' %}

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin/event/importEvent.js') }}"></script>
    <script type="text/javascript">
        var table = $('.table.no-global-dt').DataTable({
            "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
            "lengthMenu": [25, 50, 100, 200],
            "pageLength": 50,
            "language": {
                "lengthMenu": "Show _MENU_ Events"
              }
        });

    </script>
{% endblock %}

