.vagrant/
.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
test.db
app.db
.idea/
.bundle/

# Static files at 'open_event/static/admin/lib'
lib/
node_modules

# event export files
static/exports/event*

# temp static files
static/temp/*
!static/temp/.gitkeep
/tests/test.db-journal
