.vagrant/
.DS_Store
*.pyc
*.pyo
*.env
env
env*
!migrations/env.py
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
test.db
app.db
.idea/
.bundle/
.vscode/
venv/
.venv*

# Static files at 'app/static/vendor'
app/static/vendor
node_modules

# event export files
static/exports/event*

# temp static files
static/temp/*
!static/temp/.gitkeep
/tests/test.db-journal

# uploads dir
static/media/*
!static/media/.gitkeep

# uploads dir
static/uploads/*
!static/uploads/.gitkeep

# redis
redis-3.2.1/
dump.rdb
/report.html
/output.xml
/log.html
/selenium-screenshot-1.png
jobs.sqlite

# for -e pip packages
src

#tickets
generated/

docker-compose.override.yml
celerybeat-schedule*
.coverage
.pytype
.tool-versions
*.mo
.python-version
