---
layout: default
---

<h2 class="headline" style="text-transform: none !important;">{{site.title}}</h2>
<br>

<h3>Installation</h3>
{% assign sorted = site.installation | sort:'title' %}
{% for doc in sorted %}
<h4><a href="{{doc.url | prepend: site.baseurl}}">{{doc.title}}</a></h4>
{% endfor %}

<hr>

<h3>Docs</h3>
{% assign sorted = site.docs | sort:'title' %}
{% for doc in sorted %}
<h4><a href="{{doc.url | prepend: site.baseurl}}">{{doc.title}}</a></h4>
{% endfor %}

<hr>

<h3>Kubernetes</h3>
{% assign sorted = site.kubernetes | sort:'title' %}
{% for doc in sorted %}
<h4><a href="{{doc.url | prepend: site.baseurl}}">{{doc.title}}</a></h4>
{% endfor %}

<br>