[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycparser = "==2.14"
flask-script = "<2.1,>=2.0.5"
requests-oauthlib = ">=0.7.0,<1"
icalendar = "<4,>=3.11"
requests = {version = ">=2.20.0,<3", extras = ["security"]}
"psycopg2-binary" = "*"
itsdangerous = "<0.30,>=0.24"
humanize = ">=0.5.1,<0.6"
celery = "<4,>=3.1.23"
redis = ">=2.10.5,<3"
amqp = ">=1.4.9,<2.0"
gunicorn = "<20,>=19.6.0"
boto = ">=2.45.0,<3"
"geoip2" = ">=2.4.2,<3"
arrow = ">=0.10.0,<1"
unicode-slugify = ">=0.1.3,<1"
bleach = ">=2.1.3"
stripe = "<2,>=1.44.0"
"xhtml2pdf" = "*"
forex-python = "<1,>=0.3.1"
"oauth2" = "<2,>=1.9.0.post1"
qrcode = "<6,>=5.3"
python-magic = "<1,>=0.4.12"
python-geoip = "<2,>=1.2"
"marrow.mailer" = "<5,>=4.0.2"
python-pentabarf-xml = "==0.19"
"python-geoip-geolite2" = "*"
pycountry = "*"
pytz = "*"
diff-match-patch = "*"
blinker = "*"
envparse = "*"
flask-admin = "*"
google-compute-engine = "*"
raven = {version = "*", extras = ["flask"]}
healthcheck = "*"
elasticsearch-dsl = "*"
paypalrestsdk = "*"
eventlet = "*"
Flask = ">=1.0,<1.1"
Flask-SQLAlchemy = ">=2.1,<2.2"
Flask-Migrate = ">=2.0.0,<3"
Flask-Login = "<1,>=0.4"
Flask-Scrypt = ">=0.1.3.6,<0.2"
Flask-JWT = ">=0.3.2,<0.4"
SQLAlchemy-Utils = ">=0.32.12,<0.33"
APScheduler = ">=3.3.0,<4"
Pillow = "*"
SQLAlchemy-Continuum = "<2,>=1.2.4"
Flask-Caching = ">=1.4.0,<1.5"
Flask-Cors = ">=3.0.2,<3.1"
Flask-REST-JSONAPI = {editable = true, ref = "shubhamp-master", git = "https://github.com/fossasia/flask-rest-jsonapi.git"}
WTForms = "*"
factory_boy = "*"
Flask-Redis = "*"
SQLAlchemy = "==1.1.15"
Flask-Elasticsearch = "*"

[dev-packages]
nose = "*"
pylint = "*"
"pep8" = "*"
coverage = "*"
dredd-hooks = "*"

[requires]
python_version = "3.6"
