tsFlask==0.10.1
Flask-WTF==0.12
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-DebugToolbar==0.10.0
Flask-Migrate==1.8.0
Flask-Admin==1.4.0
Flask-Autodoc==0.1.2
Flask-Login==0.3.2
Flask-Scrypt==0.1.3.6
Flask-Cors==2.1.2

icalendar==3.9.2
requests==2.9.1
WTForms-Components==0.10.0
WTForms==2.1
psycopg2
logging
colour
xlrd
mock
SQLAlchemy-Utils

# these prevent SSL warnings in urllib3
pyopenssl
ndg-httpsclient
pyasn1

# dev
livereload==2.4.1
nose==1.3.7
coverage==4.0.3
pylint==1.5.5
pep8==1.7.0
glob2==0.4.1
coveralls==1.1.0
codeclimate-test-reporter==0.1.0

# deploy
gunicorn==19.4.5
Fabric==1.11.1
