Flask==0.10.1
Flask-Admin==1.4.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Flask-Autodoc==0.1.2
icalendar==3.9.2
requests==2.9.1
gunicorn==19.4.5
WTForms-Components==0.10.0
WTForms==2.1
psycopg2
logging
colour
flask-cors
pep8
nose
Flask-Migrate==1.8.0
Flask-Login==0.3.2
flask-scrypt
xlrd
Flask-Assets==0.11
jsmin==2.2.1
cssmin==0.2.0
mock
SQLAlchemy-Utils