{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Content
{% endblock %}

{% set active_page = "content" %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block content %}
<div>
    <div class="responsive-tabs-container accordion-xs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF;">
            <li role="presentation" class="active">
                <a href="#tab_content2" id="profile-tab" data-toggle="tab">Social Links</a>
            </li>
            <li role="presentation">
                <a href="#tab_content3" id="microservice-tab" data-toggle="tab">Pages</a>
            </li>
        </ul>
        <div class="nav bar_tabs" role="tablist">
                <a href="#tab_content2" class="accordion-link active"id="home-tab" data-toggle="tab">Social Links</a>
                <a href="#tab_content3" class="accordion-link"id="profile-tab" data-toggle="tab">Pages</a>
        </div>

        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade in active" id="tab_content2">
                  <form id="settings_form" method="post" class="form-horizontal form-label-left">
                      {% include 'gentelella/admin/super_admin/content/_social.html' %}
                  </form>
            </div>
            <div class="tab-pane fade in" id="tab_content3">
                 {% include 'gentelella/admin/super_admin/pages/pages.html' %}
            </div>

        </div>
        </div>
    </div>
</div>




{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
    // manage the storage form events
    function storage_form(){
        sel_opt = $('input[name=storage_place]:checked', '#settings_form').val();
        if (sel_opt == 'local')
            disable = true;
        else
            disable = false;
        $('[name^=aws_]').prop("readonly", disable);
        $('[name^=aws_]').prop("required", ~disable);
    }

    $('.radio_storage').click(function(event){
        storage_form();
    });

    $(document).ready(function(){
        storage_form();
    });
    </script>

{% endblock %}
