/*noinspection CssFloatPxLength*/
.upload-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-btn + label {
    font-size: 14px;
    font-weight: 200;
    color: white;
    background-color: #607D8B;
    display: inline-block;
    transition: background-color linear 0.5s;
    border-radius: 5px;
    -webkit-appearance: button;
    border: 1px solid #4a606e;
    margin-top: 2px;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

.upload-btn:focus + label,
.upload-btn + label:hover {
    background-color: #4a606e;
}

.upload-btn + label {
    cursor: pointer; /* "hand" cursor */
}

.social-links {
    padding: 0;
}

.social-links > li {
    display: inline;
}

.gmnoprint a, .gmnoprint span {
    display: none;
}

a[title='Click to see this area on Google Maps'] img {
    width: 50px !important;
    height: 20px !important;
}

/**
 * Pure CSS Loader
 *
 **/
.loader {
    margin: 60px auto;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(115, 135, 156, 0.2);
    border-right: 1.1em solid rgba(115, 135, 156, 0.2);
    border-bottom: 1.1em solid rgba(115, 135, 156, 0.2);
    border-left: 1.1em solid #73879c;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
 * Pure CSS Toggle switch
 *
 **/
.toggle-switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.toggle-switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.toggle-switch + label {
    padding: 2px;
    width: 50px;
    height: 32px;
    background-color: #dddddd;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
}

input.toggle-switch + label:before, input.toggle-switch + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.toggle-switch + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.toggle-switch + label:after {
    width: 30px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
}

input.toggle-switch:checked + label:before {
    background-color: rgb(38, 185, 154);
}

input.toggle-switch:checked + label:after {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .pull-right {
        float: right !important;
    }
}
