
footer{
    border-top: 5px solid grey;
    background:#515356;
    color: white;
    margin-left: 0px;
    font-weight: 300;
}

footer h4 {
    font-size: 16px;
}

footer ul
{
    padding: 0px;
    list-style-type: none;
    font-size:13px;
}

footer ul li
{
    line-height:25px
}

footer ul a, footer ul a:hover
{
    color: white;
}
#footer-menu{
    height: 80px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#footer-menu { text-align:center; padding-top: 10px}
#footer-menu a{color: white; font-size: 16px; margin: 10px; line-height: 55px}
footer .copyright{
    text-align: center;
    opacity: 0.2;
    filter: alpha(opacity=20);
    margin-top: 10px}
