{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Settings
{% endblock %}

{% set active_page = "settings" %}

{% block head_css %}
    {{ super() }}

{% endblock %}

{% block content %}

<form action="" class="form-horizontal form-label-left">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Google Tokens</h3>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Client ID</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="google_client_id" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Client secret</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="google_client_secret" class="form-control" value="" >
                </div>
            </div>
            <h3>Facebook Tokens</h3>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Client ID</label>
                <div class=" col-md-9 col-xs-12">
                    <input name=facebook_client_id" class="form-control col-md-6 col-xs-6" value="" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Client secret</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="facebook_client_secret" class="form-control col-md-6 col-xs-6" value="">
                </div>
            </div>
            <h3>Amazon S3 Tokens</h3>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Bucket name</label>
                <div class=" col-md-9 col-xs-12">
                    <input name=amazon_bucket_name" class="form-control col-md-6 col-xs-6" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Key</label>
                <div class=" col-md-9 col-xs-12">
                    <input name=amazon_key" class="form-control col-md-6 col-xs-6" value="" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Secret</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="amazon_secret" class="form-control col-md-6 col-xs-6" value="">
                </div>
            </div>
            <h3>Sendgrid Token</h3>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Token</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="sendgrid_token" class="form-control col-md-6 col-xs-6" value="" >
                </div>
            </div>
            <h3>Flask app secret key</h3>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Token</label>
                <div class=" col-md-9 col-xs-12">
                    <input name="flask_token" class="form-control col-md-6 col-xs-6" value="">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>

    </div>
</form>


{% endblock %}

{% block tail_js %}
    {{ super() }}

{% endblock %}
