{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Trash
{% endblock %}

{% set active_page = "trash" %}

{% block head_css %}
    {{ super() }}
    <style type="text/css">
        #trash-tabs {
            position: absolute;
            background: transparent;
            top: 9px;
            width: auto;
        }
    </style>

{% endblock %}


{% block content %}
<div>
    <ul id="event-tabs" class="nav nav-tabs bar_tabs" role="tablist">
        <li class="active"><a href="#users_div" data-toggle="tab">Deleted Users</a></li>
        <li class=""><a href="#events_div" data-toggle="tab">Deleted Events</a></li>
        <li class=""><a href="#sessions_div" data-toggle="tab">Deleted Sessions</a></li>
    </ul>
    <!-- tab contents -->
    <div id="myTabContent" class="tab-content">
        <!-- activity tab -->
        <div role="tabpanel" class="tab-pane fade active in" id="users_div"
             aria-labelledby="all-tab">
            <table id="users_table" class="table table-striped with-datatable no-global-dt">
                <thead>
                <tr>
                   <th>Name</th>
        			<th>Email</th>
        			<th>Status</th>
        			<th>System Roles</th>
        			<th>Event Roles</th>
        			<th>Member Since</th>
        			<th>Last Access</th>
        			<th>Options</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- mails tab -->
        <div role="tabpanel" class="tab-pane fade" id="events_div"
             aria-labelledby="mail-tab">
            <table id="events_table" class="table table-striped with-datatable no-global-dt">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>Url</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Options</th>
                </tr>
                </thead>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sessions_div"
             aria-labelledby="mail-tab">
            <table id="sessions_table" class="table table-striped with-datatable no-global-dt">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Short Abstract</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Speakers</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>


{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
        $('#users_table').DataTable({
        "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
        "lengthMenu": [25, 50, 100, 200],
        "pageLength": 25,
        "aaSorting": []
        // "language": {
        //     "lengthMenu": "Show _MENU_ Results"
        //   }
    });
    $('#events_table').dataTable({
        "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
        /* Disable initial sort */
        "aaSorting": []
    });
    $('#sessions_table').dataTable({
        "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
        /* Disable initial sort */
        "aaSorting": []
    });
    </script>
{% endblock %}
