<div id="event-wizard-sponsors" class="wizard_content">
    <div class="col-md-8 col-md-push-2">
        <div style="width: 100%; text-align: center">
            <h2 style="font-weight: 300;">Turn <span class="state" v-show="sponsors_enabled">{{ _("off") }}</span> <span
                    class="state" v-show="!sponsors_enabled">{{ _("on") }}</span> {{ _("sponsors") }}</h2>
            <input type="checkbox" class="toggle-switch" name="sponsors_state"
                   v-model="sponsors_enabled" id="sponsors-switch"/>
            <label for="sponsors-switch"></label>
        </div>
        <transition name="fade">
            <div id="sponsors-section-holder" v-show="sponsors_enabled">
                <table class="table sponsor-table">
                    <thead>
                    <tr>
                        <th>Sl.</th>
                        <th>{{ _("Name") }}</th>
                        <th>{{ _("Level") }}</th>
                        <th>{{ _("Type") }}</th>
                        <th>URL</th>
                    </tr>
                    </thead>
                    <tbody class="sponsors">
                    <template v-for="(sponsor, index) in sponsors">

                        <tr class="row-sponsor" v-bind:key="sponsor" :key="index">
                            <td rowspan="2">{{ '{{ index + 1 }}' }}</td>
                            <td>
                                <input title="Sponsor name" v-model="sponsor.name" class="form-control"/>
                            </td>
                            <td>
                                <input title="sponsor level" type="number" v-model.number="sponsor.level"
                                       class="form-control"/>
                            </td>
                            <td>
                                <input title="sponsor type" class="form-control"
                                       v-model="sponsor.sponsor_type"/>
                            </td>
                            <td>
                                <input title="URL" type="url" v-model="sponsor.url"
                                       class="form-control"/>
                            </td>
                            <td>
                                <transition name="fade">
                                <span class="fa fa-trash fa-fw" v-show="sponsors.length > 1"
                                      style="cursor: pointer;"
                                      v-on:click="removeSponsor(sponsor)"></span>
                                </transition>
                            </td>
                        </tr>

                        <tr class="row-sponsor-addon" v-bind:key="sponsor">
                            <td>
                                <div class="form-group">
                                    <label>{{ _("Description") }}</label>
                                    <textarea title="description" v-model="sponsor.description"
                                              style="height: 150px;"
                                              class="form-control sponsor-textarea"></textarea>
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="form-group" v-show="!sponsor.logo || sponsor.logo == ''">
                                    <label>{{ _("Logo") }}</label><br>
                                    <div class="image-box">
                                        <input type="file" class="image-upload-btn no-js" v-bind:id="'sponsor-' + index"
                                               accept="image/*"/>
                                        <label class="spnsr-file-label" v-bind:for="'sponsor-' + index">
                                            <i class="fa fa-4x fa-file-image-o" aria-hidden="true"></i> <br>
                                            <h3>{{ _("Select Logo") }}</h3>
                                        </label><br>
                                    </div>
                                    <span class="text-muted"
                                          style="color: #a2a2a2;">{{ _("Logo size must be less than 1MB.") }}</span>
                                </div>
                                <div class="form-group" v-show="sponsor.logo && sponsor.logo != ''">
                                    <label>{{ _("Logo") }}</label><br>
                                    <img v-bind:src="sponsor.logo" style="max-width: 200px;"><br><br>
                                    <button type="button" class="btn btn-sm btn-default">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        {{ _("Remove") }}
                                    </button>
                                    <br>
                                </div>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <button type='button' class='btn btn-success' v-on:click="addSponsor">{{ _("Add Another Sponsor") }}</button>
            </div>
        </transition>

    </div>
</div>

<script type="text/javascript">


</script>
