{% macro call_for_speakers_display(call_for_speakers=None) %}
    <div class="item form-group">
        <label class="control-label">Announcement <span class="required">*</span></label>
        <textarea name="announcement"
                  required="required"
                  class="announcement form-control">{{ call_for_speakers.announcement | default('') }}</textarea>
    </div>
    <div class="row event-date-picker">
        <div class="col-md-4 col-xs-6">
            <div class="item form-group">
                <label>Starts <span class="required">*</span></label>
                <br>
                <div class="col-xs-8" style="padding-left: 0;">
                        <input required="required"
                               name="cfs_start_date"
                               data-error="Start date & time is required"
                               value="{{ call_for_speakers.start_date.strftime('%m/%d/%Y')  if call_for_speakers else '' }}"
                               class="form-control col-xs-6 date start" placeholder="MM/DD/YYYY"/>

                    </div>
                    <div class="col-xs-4" style="padding-left: 0;">
                        <input required="required"
                               name="cfs_start_time"
                               value="{{ call_for_speakers.start_date.strftime('%H:%M') if call_for_speakers else '' }}"
                               class="form-control col-xs-6 time start" placeholder="HH:MM"/>

                    </div>

            </div>

        </div>
        <div class="col-md-4 col-xs-6">
            <div class="item form-group">
                <label>Ends <span class="required">*</span></label>
                <br>
                <div class="col-xs-8" style="padding-left: 0;">
                        <input required="required"
                               name="cfs_end_date"
                               data-error="End date & time is required"
                               value="{{ call_for_speakers.end_date.strftime('%m/%d/%Y') if call_for_speakers else '' }}"
                               class="form-control col-xs-6 date end" placeholder="MM/DD/YYYY"/>

                    </div>
                    <div class="col-xs-4" style="padding-left: 0;">
                        <input required="required"
                               name="cfs_end_time"
                               value="{{ call_for_speakers.end_date.strftime('%H:%M') if call_for_speakers else '' }}"
                               class="form-control col-xs-6 time end" placeholder="HH:MM"/>

                    </div>
            </div>

        </div>
        <div class="col-md-4 col-xs-8">
                <div class="form-group">
                    <label>Timezone <span class="required">*</span></label>
                    <select name="cfs_timezone" class="form-control">
                        {% for value, text in timezones %}
                            {% if event %}
                                <option value="{{ value }}"
                                        {% if event.timezone == value %}selected{% endif %}>{{ text }}</option>
                            {% else %}
                                <option value="{{ value }}" {% if value == 'UTC' %}selected{% endif %}>{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

    </div>

{% endmacro %}

<div id="step-4" class="wizard_content" style="display: block;">
    <div class="col-md-10 col-md-push-1">
        <div style="width: 100%; text-align: center">
            {% if call_for_speakers %}
                <h2 style="font-weight: 300;">Turn <span class="cfs-state">off</span> call for speakers</h2>
                <input type="checkbox" class="toggle-switch" name="call_for_speakers_state"
                       value="on" id="call-for-speakers-switch" checked/>
            {% else %}
                <h2 style="font-weight: 300;">Turn <span class="cfs-state">on</span> call for speakers</h2>
                <input type="checkbox" class="toggle-switch" name="call_for_speakers_state"
                       value="on" id="call-for-speakers-switch"/>
            {% endif %}
            <label for="call-for-speakers-switch"></label>
        </div>
        <div id="call-for-speakers-holder" style="{% if not call_for_speakers %}display: none;{% endif %}">
            {% if call_for_speakers %}
                {{ call_for_speakers_display(call_for_speakers) }}
            {% else %}
                {{ call_for_speakers_display() }}
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var $callForSpeakersHolder = $("#call-for-speakers-holder");
        var $state = $(".cfs-state");
        $(".announcement").summernote(summernoteConfig);

        var onOffSwitch = document.getElementById('call-for-speakers-switch');

        onOffSwitch.onchange = function () {
            if (onOffSwitch.checked) {
                $callForSpeakersHolder.fadeIn();
                $state.text("off");

            } else {
                $callForSpeakersHolder.fadeOut();
                $state.text("on");
            }
        };

    });
</script>
