{% macro track_entry(track=None, empty=False) %}
    <div class="track-holder">
        <div class=" col-xs-5 form-group">
            <input type="text" class="form-control" name="tracks[name]" placeholder="Name" required="required"
                   value="{{ track.name | default('Default Track') if not empty else '' }}">
        </div>
        <input type="hidden" name="tracks[id]" value="{{ track.id | default('') }}">

        <div class="col-xs-7 input-group form-group">
            <div class="input-group colorpicker-component" id="color">
                <input type="text" value="{{ track.color | default('#7B1FA2') }}"
                       class="form-control color-picker-input"
                       placeholder="Color"
                       required="required"
                       name="tracks[color]" title="track-color"/>
                <span class="input-group-addon"><i></i></span>
            </div>
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger remove-tracks">-</button>
            <button type="button" class="btn btn-primary add-tracks">+</button>
        </span>
        </div>
    </div>

{% endmacro %}

{% macro microlocation_entry(microlocation=None, empty=False) %}
    <div class="microlocation-holder">
        <div class="col-xs-5 form-group">
            <input type="text" class="form-control" required="required" name="rooms[name]" placeholder="Name"
                   value="{{ microlocation.name | default('Room 1') if not empty else '' }}">
        </div>
        <input type="hidden" name="rooms[id]" value="{{ microlocation.id | default('') }}">

        <div class="col-xs-7 input-group form-group">
            <div class="input-group">
                <input type="number" class="form-control" name="rooms[floor]"
                       placeholder="Floor"
                       title="rooms-floor"
                       value="{{ microlocation.floor | default('') }}"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger remove-rooms">-</button>
                            <button type="button" class="btn btn-primary add-rooms">+</button>
                        </span>

            </div>
        </div>
    </div>
{% endmacro %}

{% macro session_type_entry(session_type=None, empty=False) %}
    <div class="session-type-holder">
        <div class="col-xs-5 form-group">
            <input type="text" class="form-control" required="required" name="session_type[name]" placeholder="Name"
                   value="{{ session_type.name | default('Talks') if not empty else '' }}">
        </div>
        <input type="hidden" name="session_type[id]" value="{{ session_type.id | default('') }}">

        <div class="col-xs-7 input-group form-group">
            <input type="text" required="required" class="form-control session-length" name="session_type[length]"
                   placeholder="Length (HH.MM)"
                   value="{{ '%1.2f' % session_type.length | default(0.30, true) | float }}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger remove-session-type">-</button>
                <button type="button" class="btn btn-primary add-session-type">+</button>
            </span>
        </div>
    </div>
{% endmacro %}

<div id="step-3" class="wizard_content" style="display: block;">
    <div class="col-md-10 col-md-push-1">
        <div style="width: 100%; text-align: center">
            {% if tracks or microlocations or session_types or not event %}
                <h2 style="font-weight: 300;">Turn <span class="str-state">off</span> sessions, tracks, rooms</h2>
                <input type="checkbox" class="toggle-switch" name="sessions_tracks_rooms_state"
                       value="on" id="session-tracks-rooms-switch" checked/>
            {% else %}
                <h2 style="font-weight: 300;">Turn <span class="str-state">on</span> sessions, tracks, rooms</h2>
                <input type="checkbox" class="toggle-switch" name="sessions_tracks_rooms_state"
                       value="on" id="session-tracks-rooms-switch"/>
            {% endif %}
            <label for="session-tracks-rooms-switch"></label>
        </div>

        <div class="row" id="session-tracks-rooms-holder"
             style="{% if not tracks and not microlocations and not session_types and event %}display:none;{% endif %}">
            <div class="col-md-4 tracks">
                <h2 class="label-header">Tracks</h2>
                {% if tracks %}
                    {% for track in tracks %}
                        {{ track_entry(track) }}
                    {% endfor %}
                {% else %}
                    {{ track_entry() }}
                {% endif %}
            </div>
            <div class="col-md-4 rooms">
                <h2 class="label-header">Rooms</h2>
                {% if microlocations %}
                    {% for microlocation in microlocations %}
                        {{ microlocation_entry(microlocation) }}
                    {% endfor %}
                {% else %}
                    {{ microlocation_entry() }}
                {% endif %}
            </div>
            <div class="col-md-4 session-types">
                <h2 class="label-header">Session Types</h2>
                {% if session_types %}
                    {% for session_type in session_types %}
                        {{ session_type_entry(session_type) }}
                    {% endfor %}
                {% else %}
                    {{ session_type_entry() }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>


    $(function () {
        $('.colorpicker-component').colorpicker();

        $(".session-length").timepicker({
            'timeFormat': 'H.i'
        });

        var $sessionTracksRoomsHolder = $("#session-tracks-rooms-holder");
        var $strState = $(".str-state");

        var $sessionFormFieldRows = $("tr[data-identifier=track], tr[data-identifier=session_type]");

        var onOffSwitch = document.getElementById('session-tracks-rooms-switch');

        onOffSwitch.onchange = function () {
            if (onOffSwitch.checked) {
                $sessionTracksRoomsHolder.fadeIn();
                $strState.text("off");
                $sessionTracksRoomsHolder.find("input").removeAttr('disabled');
                $sessionFormFieldRows.tooltip('destroy');
                $sessionFormFieldRows.css("pointer-events", "all");
                $.each($sessionFormFieldRows.find('input'), function (index, elem) {
                    if (elem.checked) {
                        $(elem).click();
                    }
                    $(elem).siblings(".switchery").css("opacity", "1");
                    elem.disabled = false;
                });

            } else {
                $sessionTracksRoomsHolder.fadeOut();
                $sessionTracksRoomsHolder.find("input").attr('disabled', 'disabled');
                $strState.text("on");
                $.each($sessionFormFieldRows.find('input'), function (index, elem) {
                    if (elem.checked) {
                        $(elem).click();
                    }
                    $(elem).siblings(".switchery").css("opacity", "0.5");
                    elem.disabled = "disabled";
                });
                $sessionFormFieldRows.tooltip();
            }
        };

    });


    var $wizard = $(".form_wizard");
    var counter = 0;

    $(document).on("click", '.add-session-type', function () {
        var $element = $($(".session-type-holder")[0]).clone();
        $element.find("input").val('').attr("value", "");
        $element.find(".session-length").timepicker({
            'timeFormat': 'G.i'
        });

        $('.session-types').append($element);
    });

    $(document).on("click", ".remove-session-type", function () {
        if ($('.session-types').children().length > 2) {
            $(this).closest(".session-type-holder").remove();
        }
    });


    $(document).on("click", '.add-tracks', function () {
        counter += 1;
        var $element = $($(".track-holder")[0]).clone();
        $element.find("input:not(.color-picker-input)").val('').attr("value", "");
        $element.find(".colorpicker-component").attr("id", "color" + counter);
        $('.tracks').append($element);
        $('#color' + counter).colorpicker();
    });

    $(document).on("click", ".remove-tracks", function () {
        if ($('.tracks').children().length > 2) {
            $(this).closest(".track-holder").remove();
        }
    });

    $(document).on("click", '.add-rooms', function () {
        var $element = $($(".microlocation-holder")[0]).clone();
        $element.find("input").val('').attr("value", "");
        $('.rooms').append($element);
    });

    $(document).on("click", ".remove-rooms", function () {
        if ($('.rooms').children().length > 2) {
            $(this).closest(".microlocation-holder").remove();
        }
    });


</script>
