{% extends 'gentelella/admin/base.html' %}
<!--suppress HtmlUnknownAnchorTarget -->
{% block title %}
    {% if event %}
        Edit Event
    {% else %}
        Create an Event
    {% endif %}
{% endblock %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/green.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/jt.timepicker/jquery.timepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/switchery/dist/switchery.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/selectize/dist/css/selectize.bootstrap3.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/Croppie/croppie.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_wizard.css') }}"/>
{% endblock %}

{% set step = step if step else '' %}

{% block body %}

    {% include 'gentelella/admin/event/wizard/components/image-upload.html' %}
    {% include 'gentelella/admin/event/wizard/components/tabs.html' %}
    {% include 'gentelella/admin/event/wizard/components/button-bar.html' %}
    {% include 'gentelella/admin/event/wizard/components/social-link.html' %}
    {% include 'gentelella/admin/event/wizard/components/ticket.html' %}
    {% include 'gentelella/admin/event/wizard/components/tracks-microlocations-sessions.html' %}

    {% if event %}
        <!-- {{ event.name }} -->
    {% endif %}

    <div class="page-title">
        <div class="text-center">
            <h1 style="font-weight: 100; margin-top: 0;" id="page-title">{{ self.title() }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="wizard" id="wizard" data-state="{{ event.state | default('', true) }}"
                     style="min-height: 300px; "
                     data-id="{{ event.id | default('', true) }}">
                    <div class="wizard-inner">
                        <tabs v-bind:step="step" v-bind:disable="networkRequestRunning || disableMove" v-on:move="moveToStep"></tabs>
                    </div>
                    <div class="text-center col-md-12 col-sm-12 and col-xs-12" v-show="step == null" style="margin-top: 30px; color: #b5b5b5">
                        <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" v-bind:class="{ 'in active': step == '' }" v-show="step == ''">
                            {% include 'gentelella/admin/event/wizard/basic-details.html' %}
                        </div>
                        <div class="tab-pane fade" v-bind:class="{ 'in active': step == 'sponsors' }"
                             v-show="step == 'sponsors'">
                            {% include 'gentelella/admin/event/wizard/sponsors.html' %}
                        </div>
                        <div class="tab-pane fade"
                             v-bind:class="{ 'in active': step == 'sessions-tracks-rooms' || step == 'call-for-speakers' || step == 'form-customization' }">
                            {% include 'gentelella/admin/event/wizard/session-speakers.html' %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button-bar v-bind:step="step"
                                v-bind:disable="networkRequestRunning || disableMove"
                                v-bind:state="event.state"
                                v-bind:location-name="event.location_name"
                                v-on:move="move"
                                v-on:save="saveAsDraft"
                                v-on:publish="publish"
                                v-on:unpublish="unpublish"></button-bar>
                    <div class="clearfix"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block tail_js %}
    {{ super() }}

    {# Seed object for event edit #}
    {% if event and seed %}
        <script>
            window.seed = {{ seed | safe | default('null', true) }};
        </script>
    {% endif %}

    <script>
        window.step = "{{ step }}";
        window.cfsHash = "{{ cfs_hash if not call_for_speakers or not call_for_speakers.hash else call_for_speakers.hash }}";
        window.sub_topics = {{ event_sub_topics | safe | default('null', true) }};
        window.discountCodeApplyUrl = "{{ url_for('events.apply_discount_code')  }}";
        window.included_settings = {{ included_settings | safe | default('null', true) }};
        window.current_timezone = "{{ current_timezone | safe }}";
        window.stripeConnectUrl = "https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{ key_settings.stripe_client_id }}&scope=read_write&redirect_uri={{ url_for('ticketing.stripe_callback', _external=true) }}";
    </script>

    {# Core libraries #}
    <script src="{{ url_for('static', filename='admin/lib/lodash/dist/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/vue/dist/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue/vue-google-maps.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/commons/geo.js') }}"></script>

    {# Additional js functionality #}
    <script src="{{ url_for('static', filename='admin/lib/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/moment-timezone/builds/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/icheck.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/clipboard/dist/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/google-material-color/dist/palette.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/jt.timepicker/jquery.timepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datepair.js/dist/datepair.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datepair.js/dist/jquery.datepair.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/selectize/dist/js/standalone/selectize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/Croppie/croppie.min.js') }}"></script>

    {# Common wizard Vue components #}
    <script src="{{ url_for('static', filename='js/admin/event/wizard/button-component.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/upload-component.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/tabs-component.js') }}"></script>

    {# Vue models, components for basic details #}
    <script src="{{ url_for('static', filename='js/admin/event/wizard/basic-details/classic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/basic-details/vue-models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/basic-details/vue-components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/basic-details/initializer.js') }}"></script>

    {# Vue models, components for sponsors #}
    <script src="{{ url_for('static', filename='js/admin/event/wizard/sponsors/vue-models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/sponsors/initializer.js') }}"></script>

    {# Vue models, components for session & speakers #}
    <script src="{{ url_for('static', filename='js/admin/event/wizard/sessions-speakers/classic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/sessions-speakers/vue-models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/sessions-speakers/vue-components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/event/wizard/sessions-speakers/initializer.js') }}"></script>

    {# Vue app #}
    <script src="{{ url_for('static', filename='js/admin/event/wizard/vue-app.js') }}?timestamp=1483801089"></script>
{% endblock %}
