<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form class="admin-form form-horizontal" action="/admin/content/pages/create/#!pages" method="POST">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ _("Page Details") }}</h4>
                </div>
                <div class="modal-body">

                    <div class="item form-group">
                        <label for="name">{{ _("NAME") }}</label>
                        <input type="text" class="form-control col-md-7 col-xs-12" name="name" id="name"/>
                    </div>
                    <div class="item form-group">
                        <label for="title">{{ _("TITLE") }}</label>
                        <input type="text" class="form-control col-md-7 col-xs-12" name="title" id="title"/>
                    </div>
                    <div class="item form-group">
                        <label for="url">URL</label>
                        <input type="text" class="form-control col-md-7 col-xs-12" name="url" id="url"
                               placeholder="/example or http://example.com"/>
                    </div>
                    <div class="item form-group">
                        <label for="description">{{ _("DESCRIPTION") }}</label>
                        <textarea class="form-control col-md-7 col-xs-12 rich-area" name="description"
                                  id="description"></textarea>
                    </div>
                    <div class="item form-group">
                        <label for="place">{{ _("PLACE") }}</label>
                        <select class="form-control col-md-7 col-xs-12" name="place" id="place">
                            <option value="use_open_event">{{ _("Use Open Event") }}</option>
                            <option value="footer_menu">{{ _("Footer Menu") }}</option>
                        </select>
                    </div>
                    <div class="item form-group">
                        <label for="index">{{ _("POSITION") }}</label>
                        <input type="number" class="form-control col-md-7 col-xs-12" name="index" id="index" value="1"/>
                    </div>
                    <div class="item form-group">
                        <label for="language">{{ _("LANGUAGE") }}</label>
                        <select class="form-control col-md-7 col-xs-12" id="language" name="language">
                            {% for code in all_languages %}
                                <option value='{{ code }}'
                                        {% if (current_page.language and current_page.language == code) or (not current_page.language and code == 'en') %}selected{% endif %}>{{ all_languages[code] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnImportEvent"
                            onclick="">{{ _("Create Page") }}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>


</script>
