

    <div class="row">
        <div class="col-md-4">
            <h3 class="pull-left">Pages</h3>
            <button class="btn btn-info pull-right" style="color: #FFFFFF; margin: 0;" data-toggle="modal" data-target="#importModal">Create Page</button><div style="clear:both"></div>
            <h4>Use Open Event:</h4>
            <ul class="list-group">
                {% for page in pages %}
                    {% if page.place == 'use_open_event'%}
                        <li class="list-group-item {{ 'active' if current_page.id==page.id else '' }}"><a href="/admin/content/pages/{{page.id}}" {{'style=color:white' if current_page.id==page.id else '' }}>{{page.url}} </a>
                               <a {{'style=color:white' if current_page.id==page.id else '' }} class="pull-right"
                                   data-toggle="tooltip" data-placement="top"
                                   onclick="return confirm('Are you sure you want to delete this record?');"
                                   href="{{ get_url('sadmin_pages.trash_view', page_id=page.id) }}" title="Delete record">
                                    <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h4>Footer Menu:</h4>
            <ul class="list-group">
                {% for page in pages %}
                    {% if page.place == 'footer_menu'%}
                        <li class="list-group-item {{ 'active' if current_page.id==page.id else '' }}"><a href="/admin/content/pages/{{page.id}}" {{'style=color:white' if current_page.id==page.id else '' }}>{{page.url}} </a>
                               <a {{'style=color:white' if current_page.id==page.id else '' }} class="pull-right"
                                   data-toggle="tooltip" data-placement="top"
                                   onclick="return confirm('Are you sure you want to delete this record?');"
                                   href="{{ get_url('sadmin_pages.trash_view', page_id=page.id) }}" title="Delete record">
                                    <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            {% if current_page %}
            <form class="admin-form form-horizontal" action="/admin/content/pages/{{current_page.id}}" method="POST">
                <div class="item form-group">
                    <label>NAME</label>
                    <input type="text" class="form-control col-md-7 col-xs-12" name="name" value="{{current_page.name}}"/>
                </div>
                <div class="item form-group">
                    <label>TITLE</label>
                    <input type="text" class="form-control col-md-7 col-xs-12" name="title" value="{{current_page.title}}"/>
                </div>
                <div class="item form-group">
                    <label>URL</label>
                    <input type="text" class="form-control col-md-7 col-xs-12" name="url" value="{{current_page.url}}" placeholder="/example or http://example.com"/>
                </div>
                <div class="item form-group">
                    <label>DESCRIPTION</label>
                    <textarea type="text" class="form-control col-md-7 col-xs-12" name="description">{{current_page.description}}</textarea>
                </div>
                <div class="item form-group">
                    <label>PLACE</label>
                    <select type="text" class="form-control col-md-7 col-xs-12" name="place" value="{{current_page.place}}">
                        <option value="use_open_event">Use Open Event</option>
                        <option value="footer_menu">Footer Menu</option>
                    </select>
                </div>
                <div class="item form-group">
                    <label>POSITION</label>
                    <input type="number" class="form-control col-md-7 col-xs-12" name="index" value="{{ current_page.index if current_page.index else '0' }}" />
                </div>
                <button class="btn btn-success">Update</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% include 'gentelella/admin/super_admin/pages/_create_page_modal.html' %}


