{% import 'gentelella/admin/menu.html' as menu with context %}
{% import 'gentelella/admin/left_sidebar.html' as sidebar with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {% endblock %}
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {{ sidebar.render_sidebar() }}
            {{ menu.render_menu() }}
            <div class="right_col" role="main" style="min-height: 3574px;">
                 <div class="">

                    {% block body %}

                    {% endblock %}
                 </div>
            </div>
        </div>
    </div>
</body>
</html>
