{% macro render_footer(test='') %}
<footer>
    <div class="row">
        <div class="col-md-offset-1">
            <div class="col-md-3">
                <h4>Use Open Event</h4>
                <ul>

                    <li><a href="/how_it_works">How it Works</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/mobile_apps">Mobile Apps</a></li>
                    <li><a href="/sitemap.xml">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Categories</h4>
                <ul>

                    {% for event_type in event_typo%}
                    <li><a href="/how_it_works">{{event_type}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-md-3"><h4>Locations</h4>
                <ul>
                    {% for location in locations%}
                    <li><a href="/explore/{{location}}/events/">{{location}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Connect with us</h4>
                <ul>
                    <li><i class="fa fa-info"></i> <a href="/support">Support</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="/twitter">Twitter</a></li>
                    <li><i class="fa fa-facebook"></i> <a href="/facebook">Facebook</a></li>
                    <li><i class="fa fa-google-plus"></i> <a href="/google +">Google</a></li>
                    <li><i class="fa fa-youtube-play"></i> <a href="/youtube +">Youtube</a></li>
                    <li><i class="fa fa-github"></i> <a href="/google +">Github</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="footer-menu">
            <div class="row">
                <div class="col-md-9">
                    <a href="/about">About</a>
                    <a href="https://opev.wordpress.com/">Blog</a>
                    <a href="/support">Help</a>
                    <a href="/press">Press</a>
                    <a href="/security">Security</a>
                    <a href="/developers">Developers</a>
                    <a href="/privacy">Privacy</a>
                    <a href="/cookies">Cookies</a>
                </div>
                <div class="col-md-3">
                    <select class="form-control" >
                        <option>Singapore</option>
                        <option>Deutschland</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="copyright">© 2016 Open Event</div>
    </div>
</footer>
{% endmacro %}
