{% macro render_footer(test='') %}
<footer>
    <div class="row hide-small hide-medium">
        <div class="col-md-offset-1">
            <div class="col-md-3 col-sm-3">
                <h4 class="footer-header">Use Open Event</h4>
                <ul>

                    <li><a href="/how_it_works">How it Works</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/mobile_apps">Mobile Apps</a></li>
                    <li><a href="/sitemap.xml">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Categories</h4>
                <ul>

                    {% for event_type in event_typo%}
                    <li><a href="/how_it_works">{{event_type}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-md-3 col-sm-3"><h4>Locations</h4>
                <ul>
                    {% for location in locations%}
                    <li><a href="/explore/{{location}}/events/">{{location}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Connect with us</h4>
                <ul>
                    <li><i class="fa fa-info"></i> <a href="/support">Support</a></li>
                    <li><i class="fa fa-twitter"></i> <a href="/twitter">Twitter</a></li>
                    <li><i class="fa fa-facebook"></i> <a href="/facebook">Facebook</a></li>
                    <li><i class="fa fa-google-plus"></i> <a href="/google +">Google</a></li>
                    <li><i class="fa fa-youtube-play"></i> <a href="/youtube +">Youtube</a></li>
                    <li><i class="fa fa-github"></i> <a href="/google +">Github</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-1" id="footer-menu">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <a href="/about">About</a>
                    <a href="/how_it_works" class="hide-large">How it Works</a></li>
                    <a href="/pricing" class="hide-large">Pricing</a>
                    <a href="https://opev.wordpress.com/">Blog</a>
                    <a href="/support">Help</a>
                    <a href="/press">Press</a>
                    <a href="/security">Security</a>
                    <a href="/developers">Developers</a>
                    <a href="/privacy">Privacy</a>
                    <a href="/cookies">Cookies</a>
                    <a href="/sitemap.xml" class="hide-large">Sitemap</a>
                </div>
                <div class="col-md-3 col-sm-3 dropup">
                    <div class="dropdown-toggle footer-dropdown" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <span class="dropdown-text" style="color: #D2D6DF;">Singapore</span>
                        <span class="fa fa-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#" style="color:#969191;">Singapore</a></li>
                        <li><a href="#" style="color:#969191;">Deutschland</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="copyright">© 2016 Open Event</div>
    </div>
</footer>
{% endmacro %}
