{% macro render_sidebar() %}
    <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title">
                   <span>Open Event!</span>
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <!--<div class="profile">-->
              <!--<div class="profile_pic">-->

              <!--</div>-->
              <!--<div class="profile_info">-->
                <!--<span>Welcome,</span>-->
                <!--<h2>John Doe</h2>-->
              <!--</div>-->
            <!--</div>-->
            <!-- /menu profile quick info -->


            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/admin/profile/"><i class="fa fa-home"></i>Profile</a></li>
                  <li><a href="/admin/events/"><i class="fa fa-home"></i> Events</a></li>
                    <ul>
                        <li><a href="/admin/events/new/"><i class="fa fa-home"></i>Create New Event</a></li>
                        <li><a href="/admin/events/current/"><i class="fa fa-home"></i>Current Events</a></li>
                        <li><a href="/admin/events/completed"><i class="fa fa-home"></i>Completed Events</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-home"></i> Sessions </a></li>



                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
{% endmacro %}
