{% macro render_sidebar() %}
    <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title">
                   <span>Open Event!</span>
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <!--<div class="profile">-->
              <!--<div class="profile_pic">-->

              <!--</div>-->
              <!--<div class="profile_info">-->
                <!--<span>Welcome,</span>-->
                <!--<h2>John Doe</h2>-->
              <!--</div>-->
            <!--</div>-->
            <!-- /menu profile quick info -->


            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                  <li><a href="/profile/"><i class="fa fa-user"></i>Profile</a></li>
                  <li><a><i class="fa fa-edit"></i> Events<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/events/"></i>Show All Events</a></li>
                        <li><a href="/events/new/"></i>Create New Event</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Sessions <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/events/mysessions"></i>My Sessions</a></li>
                        <li><a href="/sessions"></i>Admin Sessions</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
{% endmacro %}
