{% macro render_menu(test='') %}
    <div class="top_nav" style="margin-left:0">
        <div class="nav_menu" style="background-color: #FFFFFF;">
            <nav>
                <ul class="nav navbar-nav">
                    <li style="margin-left: 10px;">
                        <a href="/" style="font-size: 26px; font-weight: 300;">
                            Open Event
                        </a>

                    </li>
                    <li style="margin-left: 10px; line-height:32px;" class="search_bar">
                        <form action="/Germany/events/s" method="POST" role="form" id="event_browse">

                            {% if csrf_token %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {% endif %}
                            <div class="input-group" style="margin-top:12px; margin-bottom:6px">
                                <input type="text" id="search-text" class="form-control" name="word" placeholder="Search for..." />
                              <span class="input-group-btn">
                                <button class="btn btn-default search-button" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                              </span>
                            </div>
                        </form>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/events/create/" class="hide-small" aria-expanded="false"
                           style="color: #46b8da!important; font-weight:bold">Create
                        Event</a></li>
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                {% if current_user.user_detail.avatar_uploaded %}
                                <img src="{{ current_user.user_detail.avatar_uploaded }}" onerror="imgError(this)"/>
                                {% else %}
                                <img src="{{ url_for('static', filename='img/avatar.png') }}" onerror="imgError(this)"/>
                                {% endif %}
                                {{ current_user.user_detail.fullname | default(current_user.email, true) }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="/events/create/" class="hide-large"
                                   style="color: #46b8da!important; font-weight:bold">Create
                                Event</a></li>
                                <li class="divider hide-large"></li>
                                <li><a href="/events/mysessions/">My Sessions</a></li>
                                <li><a href="/events/">Manage Events</a></li>
                                <li class="divider"></li>
                                <li><a href="/profile"> Profile</a></li>
                                {% if current_user.is_super_admin %}
                                    <li><a href="/admin"> Admin</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="/browse" class="user-profile hide-large">Browse Events</a></li>
                                <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/login" class="user-profile">Login</a></li>
                    {% endif %}
                    <li><a href="/browse" class="user-profile hide-small">Browse Events</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        var requestUrl = "/api/location/";
        $.ajax({
            url: requestUrl,
            type: 'POST',
            success: function (json) {
                $("#event_browse").attr("action", "/" + json.name + "/events/s")
            },
            error: function (err) {
                console.log("Request failed, error= " + err);
            }
        });
    </script>
{% endmacro %}
