div {
    box-sizing: border-box !important;
}

.noscroll {
    overflow: hidden;
}

.visible {
    display: block;
}

.scheduler-pop {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
    background: #FFFFFF;
    z-index: 12;
    padding: 0px;
    overflow: auto;
}

.scheduler-heading {
    position: relative;
    width: 100%;
}

.scheduler-pop .scheduler-head {
    display: none;
}

.scheduler-pop .scheduler-container {
    height: 100%;
}

.scheduler-pop .scheduler-heading {
    margin-top: 10px;
    top: 0;
    z-index: 13;
}

.scheduler-pop .scheduler-body {
    width: 100%;
    top: 5px;
    bottom: 10px;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    padding-right: 20px;
}

.scheduler .scheduler-heading span.btn-pop-out {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
}

#type-change-btn-holder {
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    .microlocation-container {
        max-width: 70vw;
    }
}

@media screen and (max-width: 425px) {
    .microlocation-container {
        max-width: 50vw;
    }
}

@media screen and (max-width: 992px) {
    .scheduler-pop .scheduler-body {
        top: 100px;
    }

    .scheduler .scheduler-heading span.btn-pop-out {
        position: absolute;
        top: 0;
    }

    #date-change-btn-holder {
        width: 100%;
    }

    #type-change-btn-holder {
        width: 100%;
        float: none !important;
    }

    .scheduler-pop #date-change-btn-holder {
        padding-left: 10px;
    }

    .scheduler-pop #type-change-btn-holder {
        padding-left: 10px;
    }

}

@media print {
    .carousel.slide {
        display: none;
    }

    #date-change-btn-holder button:not(.active) {
        display: none;
    }

    #type-change-btn-holder button:not(.active) {
        display: none;
    }

    #date-change-btn-holder .btn, #type-change-btn-holder .btn {
        background: transparent;
        box-shadow: none;
    }

    .scheduler-heading .btn-pop-out {
        display: none;
    }

    div[role='main'] .nav.review-menu, div[role='main'] .nav.preview-menu {
        display: none;
    }

    div[role='main'] > * > .row {
        padding: 0;
    }

    .event-info-container-holder {
        padding: 0;
    }

    .scheduler {
        padding: 0;
    }

    .scheduler-head {
        padding: 0;
    }

    .scheduler-container {
        padding: 0;
    }

    .scheduler-heading {
        margin-left: 0;
    }

    #timeline {
        margin-left: 0;
    }

    #date-change-btn-holder {
        margin-left: 0;
    }

    #type-change-btn-holder {
        margin-right: 0;
    }

    .event-info-container-holder {
        margin-left: 0;
        left: 0;
    }
}

