div {
    box-sizing: border-box !important;
}

.noscroll {
    overflow: hidden;
}

.visible {
    display: block;
}

.scheduler-pop {
    position: fixed;
    width: 100vw;
    bottom: 0vh;
    right: 0vw;
    height: 100vh;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px;
    background: #FFFFFF;
    z-index: 12;
    padding: 0px;
    overflow: auto;
}

.scheduler-heading {
    position: relative;
    width: 100%;
}

.scheduler-pop .scheduler-head {
    display: none;
}

.scheduler-pop .scheduler-container {
    height: 100%;
}

.scheduler-pop .scheduler-heading {
    margin-top: 10px;
    top: 0;
    z-index: 13;
}

.scheduler-pop .scheduler-body {
    width: 100%;
    top: 5px;
    bottom: 10px;
    left: 0;
    right: 0;
    position: relative;
    overflow-x: hidden;
    padding-right: 20px;
}

.scheduler .scheduler-heading span.btn-pop-out {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
}

#type-change-btn-holder {
    margin-right: 30px;
}


@media screen and (max-width: 600px) {
    .scheduler-pop .scheduler-body {
        top: 100px;
    }

    .scheduler .scheduler-heading span.btn-pop-out {
        position: absolute;
        top: 0;
    }

    #date-change-btn-holder {
        width: 100%;
    }

    #type-change-btn-holder {
        width: 100%;
        float: none !important;
    }

    .scheduler-pop #date-change-btn-holder {
        padding-left: 10px;
    }

    .scheduler-pop #type-change-btn-holder {
        padding-left: 10px;
    }

}

@media print {
    .carousel.slide {
        display: none;
    }

    #date-change-btn-holder button:not(.active) {
        display: none;
    }

    #type-change-btn-holder button:not(.active) {
        display: none;
    }

    .scheduler-heading .btn-pop-out {
        display: none;
    }

    div[role='main'] .nav.review-menu {
        display: none;
    }
}

