.dataTable th, .dataTable td {
    max-width: 200px;
    min-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dataTable th{
    min-width:30px

}

.alert-info{
    margin-left: 20%;
    margin-right: 20%
}