<div class="row">
    <div class="col-md-4">
        <h3 class="pull-left">{{ _("Pages") }}</h3>
        <button class="btn btn-info pull-right" style="color: #FFFFFF; margin: 0;" data-toggle="modal"
                data-target="#importModal">{{ _("Create Page") }}</button>
        <div style="clear:both"></div>
        <h4>Use {{ app_name }}:</h4>
        <ul class="list-group">
            {% for page in pages %}
                {% if page.place == 'use_open_event' %}
                    <a class="list-group-item {% if page.id == current_page.id %} active active-required {% endif %}"
                       href="/admin/content/pages/{{ page.id }}/#!pages">
                        {{ page.url }}
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
        <h4>{{ _("Footer Menu") }}:</h4>
        <ul class="list-group">
            {% for page in pages %}
                {% if page.place == 'footer_menu' %}
                    <a class="list-group-item {% if page.id == current_page.id %} active active-required {% endif %}"
                       href="/admin/content/pages/{{ page.id }}/#!pages">
                        {{ page.url }}
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        {% if current_page %}
            <form class="admin-form form-horizontal" action="/admin/content/pages/{{ current_page.id }}/#!pages"
                  method="POST">
                <div class="item form-group">
                    <label for="name">{{ _("NAME") }}</label>
                    <input type="text" class="form-control col-md-7 col-xs-12" name="name" id="name"
                           value="{{ current_page.name }}"/>
                </div>
                <div class="item form-group">
                    <label for="title">{{ _("TITLE") }}</label>
                    <input type="text" class="form-control col-md-7 col-xs-12" name="title" id="title"
                           value="{{ current_page.title }}"/>
                </div>
                <div class="item form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control col-md-7 col-xs-12" name="url" id="url"
                           value="{{ current_page.url }}" placeholder="/example or http://example.com"/>
                </div>
                <div class="item form-group">
                    <label for="description">{{ _("DESCRIPTION") }}</label>
                    <textarea class="form-control col-md-7 col-xs-12 rich-area" name="description"
                              id="description">{{ current_page.description }}</textarea>
                </div>
                <div class="item form-group">
                    <label for="place">{{ _("PLACE") }}</label>
                    <select class="form-control col-md-7 col-xs-12" name="place" id="place">
                        <option value="use_open_event" {% if current_page.place == 'use_open_event' %}
                                selected {% endif %}>{{ _("Use Open Even") }}t
                        </option>
                        <option value="footer_menu" {% if current_page.place == 'footer_menu' %}
                                selected {% endif %}>{{ _("Footer Menu") }}</option>
                    </select>
                </div>
                <div class="item form-group">
                    <label for="index">{{ _("POSITION") }}</label>
                    <input type="number" class="form-control col-md-7 col-xs-12" name="index" id="index"
                           value="{{ current_page.index if current_page.index else '1' }}"/>
                </div>
                <div class="item form-group">
                    <label for="language">{{ _("LANGUAGE") }}</label>
                    <select class="form-control col-md-7 col-xs-12" id="language" name="language">
                        {% for code in all_languages %}
                            <option value='{{ code }}'
                                    {% if (current_page.language and current_page.language == code) or (not current_page.language and code == 'en') %}selected{% endif %}>{{ all_languages[code] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-success">{{ _("Update Page") }}</button>

                <a class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this page?');"
                   href="{{ url_for('sadmin_content.trash_view', page_id=current_page.id) }}">
                    {{ _("Delete Page") }}
                </a>

            </form>
        {% endif %}
    </div>
</div>
{% include 'gentelella/super_admin/pages/_create_page_modal.html' %}


