{% extends 'gentelella/admin/base.html' %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/switchery/dist/switchery.min.css') }}" />
{% endblock %}
{% block head_js %}
    {{ super() }}
{% endblock %}
{% block body %}

{% set email_speaker_fields={'session_accept_reject': 'Your Session is Accepted or Rejected',
                             'session_schedule': 'Change in Schedule of your Session'} %}
{% set email_organizer_fields={'next_event': 'Reminder for Next Event',
                               'new_paper': 'New Paper is Submitted to your Event',
                               'session_schedule': 'Change in Schedule of Sessions in your Event'} %}

<div class="page-title settings-title" style="float:left;width:20%;text-align:right; ">
    <h3>Settings</h3>
    <h5 class="active">Email Updates |<h5>
</div>
<div class="row" style="padding:1%;">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h1 style="float:none;">Email Updates | {{ event.name }}
                </h1>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h3>Notifications</h3>
                <div class="row" style="margin:10px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form action="" method="post">
                            <div class="row settings">
                                <div class="col-sm-12">
                                    {%if current_user.is_speaker_at_event(event.id) %}
                                        <h4>Speaker Notifications</h4><br>
                                        {% for key,value in email_speaker_fields.iteritems() %}
                                            <div class="col-sm-12 input-group">
                                                <span style="font-size: 1.1em;">{{ value }}</span>
                                                <label for="sp-{{ key }}" style="float:right;">
                                                    <input type="checkbox" id="sp-{{ key }}" class="js-switch notify-switch" {% if settings[key] == 1 %}checked{% endif %}/>
                                                </label>
                                                <input name="{{ key }}" id="val-sp-{{ key }}" type="hidden" value="{{ settings[key] | default(0)}}"/>
                                                <hr>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {%if current_user.is_organizer(event.id) %}
                                        <h4>Organizer Notifications</h4><br>
                                        {% for key,value in email_organizer_fields.iteritems() %}
                                            <div class="col-sm-12 input-group">
                                                <span style="font-size: 1.1em;">{{ value }}</span>
                                                <label for="org-{{ key }}" style="float:right;">
                                                    <input type="checkbox" id="org-{{ key }}" class="js-switch notify-switch" {% if settings[key] == 1 %}checked{% endif %}/>
                                                </label>
                                                <input name="{{ key }}" id="val-org-{{ key }}" type="hidden" value="{{ settings[key] | default(0)}}"/>
                                                <hr>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <center>
                                    <button class="btn btn-success">Update Settings</button>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/lib/switchery/dist/switchery.min.js') }}"></script>
    <script type="text/javascript">
        $('.notify-switch').click(function(){
            console.log("hello");
            var id = $(this).attr('id');
            console.log($('input#val-'+id).val());
            if ($('input#val-'+id).val() == "1") {
                $('input#val-'+id).val("0");
            } else {
                $('input#val-'+id).val("1");
            }
        });
    </script>
{% endblock %}
