<div id="invoice-holder">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
            <div class="panel panel-default height">
                <div class="panel-heading"><h3 class="panel-title">{{ _("Billing Details") }}</h3></div>
                <div class="panel-body">
                    <strong>{{ invoice.user.user_detail.fullname if invoice.user.user_detail and invoice.user.user_detail.fullname and invoice.user.user_detail.fullname != ''else invoice.user.email }}:</strong><br>
                    {{ invoice.address }}<br>
                    {{ invoice.city }}<br>
                    {{ invoice.state }}<br>
                    {{ invoice.country }}<br>
                    <strong>{{ invoice.zipcode }}</strong><br>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default height">
                <div class="panel-heading"><h3 class="panel-title">{{ _("Payment Information") }}</h3></div>
                <div class="panel-body">
                    {% if invoice.paid_via == 'paypal' %}
                        <strong>{{ _("Paid Via") }}:</strong> PayPal<br>
                        <strong>{{ _("Transaction") }} ID:</strong> {{ invoice.transaction_id }}<br>
                    {% elif invoice.paid_via == 'stripe' %}
                        <strong>{{ _("Card Name") }}:</strong> {{ invoice.brand }}<br>
                        <strong>{{ _("Card Number") }}:</strong> ***** {{ invoice.last4 }}<br>
                        <strong>{{ _("Exp Date") }}:</strong> {{ invoice.exp_month }}/{{ invoice.exp_year }}<br><br>
                    {% endif %}
                    <strong>{{ _("Payment Date") }}:</strong> {{ invoice.completed_at.strftime('%B %d, %Y %I:%M %p') }}<br>
                    <strong>{{ _("Invoice number") }}:</strong> {{ invoice.get_invoice_number() }}
                </div>
            </div>
        </div>
    </div>
</div>
