<div id="order-summary-holder">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Invoice Summary</h3>
        </div>
        <div class="panel-body" style="padding-bottom: 10px;">
            <table class="table" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th align="left">Event Name</th>
                    <th align="left">Fee Percent</th>
                    <th align="left">Fee</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ invoice.event.name }}</td>
                    <td>
                        {{ get_fee(invoice.event.payment_currency) }}
                    </td>
                    <td>
                        {{ invoice.event.payment_currency | currency_symbol }}{{ invoice.amount | money }}
                    </td>
                </tr>
                <tr class="total-row">
                    <td colspan="4" align="right" class="order-total"><strong>Invoice total:</strong></td>
                    <td><strong>{{ invoice.event.payment_currency | currency_symbol }}{{ invoice.amount | money }}</strong></td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
