<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel tile fixed_height_320">

            <div class="row x_title">
                <div class="col-md-12">
                    <h3> {% block panel_title %}
                         {% endblock %} </h3>
                </div>

            </div>
            <div class="x_content">
                <div class="col-md-12 ">
                    {% block panel_content %}
                    {% endblock %}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
