{% extends 'gentelella/admin/event/event_base.html' %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/nouislider/distribute/nouislider.min.css') }}"/>

    <style type="text/css">
        .alert-unused {
            color: #E9EDEF;
            background-color: rgba(150, 150, 150, 0.88);
            border-color: rgba(120, 120, 120, 0.88);
        }


    </style>
{% endblock %}

{% block content %}

    <div class="row">
        {% include 'gentelella/admin/event/details/widgets/setup_checklist.html' %}
        {% include 'gentelella/admin/event/details/widgets/general_info.html' %}
        {% include 'gentelella/admin/event/details/widgets/roles.html' %}
        {% include 'gentelella/admin/event/details/widgets/sponsors_list.html' %}
    </div>

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/nouislider/distribute/nouislider.min.js') }}"></script>

    <script type="text/javascript">
        $('.role-table').DataTable();
        $('.sponsor-table').DataTable();
    </script>


{% endblock %}
