<div id="invoice-holder">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
            <div class="panel panel-default height">
                <div class="panel-heading"><h3 class="panel-title">{{ _("Billing Details") }}</h3></div>
                <div class="panel-body">
                    <strong>{{ order.user.user_detail.fullname }}:</strong><br>
                    {{ order.address }}<br>
                    {{ order.city }}<br>
                    {{ order.state }}<br>
                    {{ order.country }}<br>
                    <strong>{{ order.zipcode }}</strong><br>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default height">
                <div class="panel-heading"><h3 class="panel-title">{{ _("Payment Information") }}</h3></div>
                <div class="panel-body">
                    {% if order.paid_via == 'paypal' %}
                        <strong>{{ _("Paid Via") }}:</strong> PayPal<br>
                        <strong>Transaction ID:</strong> {{ order.transaction_id }}<br>
                    {% elif order.paid_via == 'stripe' %}
                        <strong>{{ _("Card Nam") }}e:</strong> {{ order.brand }}<br>
                        <strong>{{ _("Card Number") }}:</strong> ***** {{ order.last4 }}<br>
                        <strong>Exp {{ _("Date") }}:</strong> {{ order.exp_month }}/{{ order.exp_year }}<br><br>
                    {% endif %}
                    <strong>{{ _("Payment Due") }}:</strong> {{ order.completed_at.strftime('%B %d, %Y %I:%M %p') }}<br>
                    <strong>{{ _("Invoice number") }}:</strong> {{ order.get_invoice_number() }}<br>
                    <strong>{{ _("Event Date") }}:</strong> {{ order.event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') }}
                    - {{ order.event.end_time.strftime('%A, %B %d, %Y at %I:%M %p') }} ({{ order.event.timezone }})
                </div>
            </div>
        </div>
    </div>
</div>
