<div id="order-summary-holder">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _("Order Summary") }}</h3>
        </div>
        <div class="panel-body" style="padding-bottom: 10px;">
            <table class="table" style="margin-bottom: 0;">
                <thead>
                <tr>
                    <th align="left">{{ _("Ticket type") }}</th>
                    <th align="left">{{ _("Price") }}</th>
                    <th align="left">{{ _("Fee") }}</th>
                    <th align="left">{{ _("Quantity") }}</th>
                    <th align="left">{{ _("Subtotal") }}</th>
                </tr>
                </thead>
                <tbody>
                {% set costs = [] %}
                {% set order_total_without_discount = [0] %}
                {% for ticket_order in order.tickets %}
                    <tr>
                        <td>{{ ticket_order.ticket.name }} - {{ ticket_order.ticket.type }}</td>
                        <td>${{ ticket_order.ticket.price | money }}</td>
                        <td>$0.00</td>
                        <td>
                            {{ ticket_order.quantity }}
                        </td>
                        <td>
                            {{ order.event.payment_currency | currency_symbol }}{{ (ticket_order.ticket.price*ticket_order.quantity) | money }}
                            {% if costs.append(ticket_order.ticket.price*ticket_order.quantity) %}{% endif %}
                            {% if order_total_without_discount.append(order_total_without_discount.pop() + (ticket_order.ticket.price*ticket_order.quantity)) %} {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center">
                            {{ _("No tickets selected.") }}
                        </td>
                    </tr>
                {% endfor %}
                {% set amount_without_discount = order_total_without_discount.pop() %}
                {% if (amount_without_discount - order.amount) > 0 %}
                    <tr class="total-row">
                        <td colspan="4" align="right" class="order-total">{{ _("Discount Applied by ") }} "{{ order.discount_code.code }}":</td>
                        <td>
                            {{ order.event.payment_currency | currency_symbol }}{{ (order.amount - amount_without_discount) | money }}
                        </td>
                    </tr>
                {% endif %}
                <tr class="total-row">
                    <td colspan="4" align="right" class="order-total"><strong>{{ _("Order total") }}:</strong></td>
                    <td><strong>{{ order.event.payment_currency | currency_symbol }}{{ order.amount | money }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
