/* *{
    -webkit-transition: all 0.2s; Safari
    -webkit-transition-timing-function: linear; Safari
    transition: all 0.2s;
    transition-timing-function: linear;
      } */

html, body {
  height: 100%;
}

body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;
  @include media-query($on-palm) {
    max-width: 100%;
    padding: 1em;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: capitalize;
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    color: $text-color;
  }
}

p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}

.headline {
  font-size: 2em;
  @include media-query($on-palm) {
    font-size: 2em;
  }
}

.post-headline {
  font-size: 2.5em;
  @include media-query($on-palm) {
    font-size: 1.5em;
  }
}

.home {
  background-image: url(../images/left-arrow.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  opacity: 0.9;
  position: fixed;
  top: 50px;
  left: 50px;
  &:hover {
    opacity: 1;
  }
  @include media-query($on-laptop) {
    top: 90%;
    left: 90%;
    height: 30px;
    width: 30px;
    opacity: 0.6;
  }

}

.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}

// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid $brand-color;
  padding: 1.5em;
  list-style: decimal;
  display: inline-block;
}

/* Theme switch button */
.theme {
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 1em 0;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

footer {
  position: relative;
  top: 2em;
}

/* Footer navigation links */
.links a {
  margin-right: 1em;
}

hr {
  border: 1px solid #eaeaea;
}




