{% macro add_search() %}
<form action="" id="search-form">
    <div id="accordion" class="panel panel-primary behclick-panel">
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-top:10px">
            <input type="text" class="form-control" id="inputSuccess3" name="location" placeholder="Location" value="{{location}}">
            <span class="fa fa-map-marker form-control-feedback right" aria-hidden="true"></span>
        </div>
        <div class="panel-body">

            <div class="panel-heading ">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">
                        Categories <i class="indicator fa fa-caret-right" style="float:right" aria-hidden="true"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group categories">

                    {% for event_type in event_typo%}
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input name="event_type" type="checkbox" value="{{event_type}}" hidden>
                                {{event_type}}
                            </label>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">
                        Date<i class="indicator fa fa-caret-right" style="float:right" aria-hidden="true"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group days">

                    {% for day_item in [('all_date', 'All Dates'), ('today', 'Today'),
                                     ('tommorow', 'Tomorrow') ,('this_week', 'This Week'),
                                     ('this_weekend', 'This Weekend'), ('next_week', 'Next Week'),
                                     ('this_month', 'This Month'), ('custom_date', 'Custom Date')] %}
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input name="day" type="checkbox" value="{{day_item[0]}}" hidden>
                                    {{day_item[1]}}
                                </label>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>

        </div>
</div>
</form>

{% endmacro %}
