{% extends 'gentelella/admin/login/base.html' %}
{% block title %}Create Password{% endblock %}
{% block change_password %}
<div id="change_password" class="animate form registration_form">
          <section class="login_content">
            <form data-toggle="validator" method="post">
              <h1>Create Password</h1>
              <div class="form-group has-feedback">
                <input id="new_password" name="new_password" type="password" class="form-control" placeholder="New Password" required="" />
              </div>
              <div class="form-group has-feedback">
                <input data-error="Passwords do not match" data-match="#new_password" name="new_password_again" type="password" class="form-control" placeholder="Re-Enter Password" required="" />
                <div class="help-block with-errors"></div>
              </div>
              <div>
                <button type="submit" class="btn btn-default">Submit</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/lib/bootstrap-validator/dist/validator.min.js') }}"></script>

{% endblock %}
