{% extends 'gentelella/admin/super_admin/sales/sales_base.html' %}

{% set active_side_page = active_side_page|default('home') -%}
{% set key_name = key_name|default('events') -%}
{% set title = title|default('Summary') -%}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/jt.timepicker/jquery.timepicker.css') }}">

    <style type="text/css">
        #filter-control-btn > .dropdown-menu > li > a {
            padding-left: 10px;
        }

    </style>
{% endblock %}

{% block inner_content %}
    <h3>{{ title }}</h3>
    <div class="col-md-12">
        <div id="filter-control-holder" class="pull-right" style="font-size: 16px;">

            <form class="form-inline" method="get" id="date-filter-form" {% if not from_date or not to_date %}style="display: none;"{% endif %}>
                <input type="text" class="time start" style="display: none;">
                <input type="text" class="time end" style="display: none;">
                <div class="form-group">
                    <input type="text" class="form-control start date" id="from_date" name="from_date"
                           placeholder="DD/MM/YYYY" value="{{ from_date | default('', true) }}">
                </div>
                &nbsp;to&nbsp;
                <div class="form-group">
                    <input type="text" class="form-control end date" id="to_date" name="to_date"
                           placeholder="DD/MM/YYYY" value="{{ to_date | default('', true) }}">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-default" style="margin-bottom: 0;"><i
                            class="fa fa-filter fa-fw"></i> Filter
                    </button>
                    <button type="button" class="btn btn-default filter-remove" style="margin-bottom: 0;"><i
                            class="fa fa-times fa-fw"></i></button>
                </div>

            </form>
            <div class="btn-group" id="filter-control-btn" {% if from_date and to_date %}style="display: none;"{% endif %}>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Showing all records <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="font-size: 14px;padding: 5px 0;">
                    <li><a href="#" class="date-filter-open"><i class="fa fa-calendar fa-fw"></i> Filter by Date</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="disabled"><a href="#" class="filter-remove"><i class="fa fa-minus-circle fa-fw"></i>
                        Remove Filters</a></li>
                </ul>
            </div>

        </div>
        {% block inner_table %}

        {% endblock %}
    </div>

{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/jt.timepicker/jquery.timepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datepair.js/dist/datepair.min.js') }}"></script>
    <script type="text/javascript">

        var $dateFilterForm = $("#date-filter-form");
        var $filterControlBtn = $("#filter-control-btn");

        $dateFilterForm.find(".date").datepicker({
            'format': 'dd/mm/yyyy',
            'autoclose': true
        });

        $dateFilterForm.find(".time").timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });

        new Datepair($dateFilterForm[0], {
            'defaultDateDelta': 7
        });

        $(".date-filter-open").click(function () {
            $dateFilterForm.show();
            $dateFilterForm.find("input").val("");
            $filterControlBtn.hide();
        });

        $(".filter-remove").click(function () {
            $dateFilterForm.find("input").val("");
            $dateFilterForm.submit();
            $dateFilterForm.hide();
            $filterControlBtn.show();
        });

    </script>
{% endblock %}
