{% extends 'admin/base1.html' %}

{% block body %}

    <h2>Microlocation
        <a href="{{ get_url('event.event_microlocation_new', event_id=event_id )}}" class="btn btn-primary" style="margin:5px">
            Add New <i class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right:5px"></i>
        </a>
    </h2>


    <table class="table table-condensed" id="table-list">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Floor</th>
                <th>Room</th>
            </tr>
        </thead>
        <tbody>
            {% for microlocation in objects %}
                <tr>
                    <td>
                        <a class="icon" href="{{ get_url('event.event_microlocation_edit', event_id=event_id, microlocation_id=microlocation.id )}}" title="Edit record">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a onclick="return confirm('Are you sure you want to delete this record?');" href="{{ get_url('event.event_microlocation_delete', event_id=event_id, microlocation_id=microlocation.id)}}" title="Delete record">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    <td>{{microlocation.id}}</td>
                    <td>{{microlocation.name}}</td>
                    <td>{{microlocation.url}}</td>
                    <td>{{microlocation.latitude}}</td>
                    <td>{{microlocation.longitude}}</td>
                    <td>{{microlocation.floor}}</td>
                    <td>{{microlocation.room}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block tail %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script language="javascript">
        (function($) {
            $(document).ready(function() {
                $('#table-list').dataTable({
                    "scrollX": true,
                    "pageLength": 50
                });
            } );
        })(jQuery);
    </script>
{% endblock %}