{% extends 'gentelella/admin/event/details/base_panel.html' %}
{% from 'gentelella/admin/event/details/roles/_edit.html' import editrole %}
{% block panel_title %}
    {{ _("Manage Roles") }}
{% endblock %}
{% block addon_link %}
    <button class="btn btn-info pull-right" style="color: #FFFFFF; margin: 0;" data-toggle="modal"
            data-target="#add-role">{{ _("Add Peopl") }}e
    </button>
{% endblock %}
{% block panel_content %}

    <div class="col-md-12">
        <div id="toolbar-holder" style="display: none;">
            <div class="btn-group pull-left" data-toggle="buttons">
                <label class="btn btn-default active btn-responsive">
                    <input type="radio" name="role_status" autocomplete="off" value="accepted"
                           checked> {{ _("Accepted") }}
                </label>
                <label class="btn btn-default btn-responsive">
                    <input type="radio" name="role_status" autocomplete="off" value="invited"> {{ _("Invited") }}
                </label>
            </div>
        </div>
        <table class="role-table table table-striped">
            <thead>
            <tr>
                <th style="display: none;">{{ _("Status") }}</th>
                <th style="display: none;">{{ _("User Email") }}</th>
                <th>{{ _("User (Email)") }}</th>
                <th>{{ _("Role") }}</th>
                <th>{{ _("Options") }}</th>

            </tr>
            </thead>
            <tbody>
            {% for role in event.get_staff_roles() %}
                <tr>
                    <td style="display: none;">{{ _("accepted") }}</td>
                    <td style="display: none;">{{ role.user.email }}</td>
                    <td>
                        {% if not role.user.user_detail.fullname %}
                            {{ role.user.email }}
                        {% else %}
                            {{ role.user.user_detail.fullname }}
                            <span style="color: #a9a9a9;">({{ role.user.email }})</span>
                        {% endif %}
                    </td>
                    <td>{{ role.role.title_name }}</td>
                    <td>
                        {% if role.role.name != 'organizer' %}
                            <a title="Edit Role" data-toggle="modal" data-target="#edit-role-{{ role.id }}"
                               style="cursor: pointer;">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a title="Delete Role"
                               onclick="return confirm('Are you sure you want to delete this record?');"
                               href="{{ url_for('event_roles.delete_view', event_id=event.id,uer_id=role.id) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            {{ editrole(event, role) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for invite in event.role_invites %}
                <tr>
                    <td style="display:none;">{{ _("invited") }}</td>
                    <td style="display:none;">{{ invite.email }}</td>
                    <td>{{ invite.email }}</td>
                    <td>{{ invite.role.title_name }}</td>
                    <td>
                        {% if invite.has_expired() %}
                            <del>
                                <a href="javascript:;" data-toggle="tooltip" data-placement="left"
                                   data-original-title="Invitation expired">
                                    {{ _("Invitation Link") }}
                                </a>
                            </del>
                        {% elif invite.declined %}
                            <del>
                                <a href="javascript:;" data-toggle="tooltip" data-placement="left"
                                   data-original-title="Invitation declined">
                                    {{ _("Invitation Link") }}
                                </a>
                            </del>
                        {% else %}
                            <a href="{{ url_for('events.user_role_invite', event_id=event.id, hash=invite.hash) }}"
                               title="Link sent to the user">
                                {{ _("Invitation Link") }}
                            </a>
                        {% endif %}

                        <a title="Delete invitation"
                           onclick="return confirm('Are you sure you want to delete the invitation link? After the link ' +
                            'has been deleted the user will no longer be able to use it to accept the role.');"
                           href="{{ url_for('events.delete_user_role_invite', event_id=event.id, hash=invite.hash) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="add-role" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _("Add Role") }}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" style="color: #FFFFFF;display: none;" id="add-role-alert-box">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <span></span>
                    </div>
                    <form action="/events/{{ event.id }}/roles/new/" method="POST" role="form" id="add-role-form">
                        <p>
                            <label>{{ _("User email") }}:</label>
                            <input name="user_email" type="email" placeholder="User" class="form-control" required="">
                        </p>
                        <p><label>{{ _("Role") }}:</label>
                            <select name="user_role" id="heard" class="form-control" required="" title="Role">
                                <option value="">{{ _("Choose") }}..</option>
                                <option value="track_organizer">{{ _("Track Organizer") }}</option>
                                <option value="coorganizer">{{ _("Co-organizer") }}</option>
                                <option value="moderator">{{ _("Moderator") }}</option>
                            </select>
                        </p>
                        <br>
                        <p class="pull-right">
                            <button type="submit" class="btn btn-success">{{ _("Add Role") }}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
