{% extends 'gentelella/admin/login/base.html' %}
{% block title %}
    Bad Request - 400
{% endblock %}
{% block register %}
    <div id="register" class="animate form registration_form">
        <section class="error_content">
            <form method="post">
                <h1 class="internal_error" style='font-size: 27px; font-weight: 300 !important; font-family: Roboto, Arial, "Droid Sans", sans-serif; margin-bottom: 12px;'>{{_("We are not able to understand what you require")}}</h1>
                <p style="font-size: 16px;font-weight: 300;">{{_("We don't seem to speak a common language. If you're facing this issue frequently, drop in an email at our support address so that we can see what's the issue.")}}</p>
            </form>
        </section>
    </div>
{% endblock %}
