{% extends 'gentelella/admin/login/base.html' %}
{% block title %}
    Forbidden - 403
{% endblock %}
{% block register %}
    <div id="register" class="animate form registration_form">
        <section class="error_content">
            <form method="post">
                <h1 class="internal_error_short" style='font-size: 27px; font-weight: 300 !important; font-family: Roboto, Arial, "Droid Sans", sans-serif;
    margin-bottom: 12px;'>{{ _("Access denied") }}</h1>
                <p style="font-size: 16px;font-weight: 300;">{{ _("Sorry, but you don't have permission access to this page.") }}</p>
            </form>
        </section>
    </div>
{% endblock %}
