{% extends 'gentelella/admin/login/base.html' %}
{% block title %}
    Internal Server Error - 500
{% endblock %}
{% block register %}
    <div id="register" class="animate form registration_form">
        <section class="error_content">
            <form method="post">
                <h1 class="internal_error" style='font-size: 27px; font-weight: 300 !important; font-family: Roboto, Arial, "Droid Sans", sans-serif; margin-bottom: 12px;'>{{_("We seem to be having some issues on our side.")}}</h1>
                <p style="font-size: 16px;font-weight: 300;">{{_("Inconvenience is regretted. We'll fix this as soon as possible.")}}</p>
            </form>
        </section>
    </div>
{% endblock %}
