{% extends 'gentelella/admin/event/details/base_panel.html' %}
{% from 'gentelella/admin/event/details/roles/_edit.html' import editrole %}
{% block panel_title %}
Manage Roles
<button class="btn btn-info pull-right" data-toggle="modal" data-target="#add-role">+</button>
{% endblock %}
{% block panel_content %}
<div class="col-md-12">
    <h4>Permissions List</h4>
    <table class="role-table table table-striped table-responsive">
        <thead>
        <tr>
            <th>User Email</th>
            <th>Role</th>
            <th>Options</th>

        </tr>
        </thead>
        <tbody>
        {% for role in event.roles %}
        <tr>
            <td>{{role.user.email}}</td>
            <td>{{ role.role.title_name }}</td>
            <td>
              {% if role.role.name != 'organizer' %}
                <a class="icon" title="Edit Role" data-toggle="modal" data-target="#edit-role-{{role.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a title="Delete record" onclick="return confirm('Are you sure you want to delete this record?');" href="{{ get_url('event_roles.delete_view', event_id=event.id,uer_id=role.id)}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                {{editrole(event, role)}}
              {% endif %}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

<div class="modal fade" id="add-role" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Role</h4>
            </div>
            <div class="modal-body">
                <form action="/events/{{event.id}}/roles/new/" method="POST" role="form">
                    <p>
                        <label>User email:</label>
                        <input name="user_email" type="email" placeholder="User" class="form-control" required>
                    </p>
                    <p> <label>Permissions:</label>
                        <select name="user_role" id="heard" class="form-control" required>
                            <option value="">Choose..</option>
                            <option value="track_organizer">Track Organizer</option>
                            <option value="coorganizer">Co-Organizer</option>
                            <option value="moderator">Moderator</option>
                        </select>
                    </p>
                    <button type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
