<p></p>
<form name="test" action="/admin/profile/edit/" method="POST" role="form"
      class="admin-form form-horizontal event-create-form">
    {% if csrf_token %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% endif %}


    <div style="display: block;">

        <label>Full name:<span class="required">*</span></label>
        <input required="required" name="full_name" class="form-control" value="{{profile.user_detail.fullname}}"/>


        <label>Email:<span class="required">*</span>
        </label>

        <input required="required" name="email" class="form-control"
               value="{{profile.email}}"/>


        <label>Avatar:
        </label>

        {% if profile.user_detail.avatar %}
        <input name="avatar" class="form-control" value="{{profile.user_detail.avatar}}"/>
        {% else %}
        <input name="avatar" class="form-control" placeholder="Enter Link for Avatar"/>
        {% endif %}

        <label>Contact:
        </label>

        {% if profile.user_detail.contact %}
        <input name="contact" class="form-control" value="{{profile.user_detail.contact}}"/>
        {% else %}
        <input name="contact" class="form-control"/>
        {% endif %}

    </div>

    <label class="control-label">Facebook:
    </label>

    {% if profile.user_detail.facebook %}
    <input name="facebook" class="form-control"
           value="{{profile.user_detail.facebook}}"/>
    {% else %}
    <input name="facebook" class="form-control"/>
    {% endif %}


    <label class="control-label">Twitter:
    </label>

    {% if profile.user_detail.twitter %}
    <input name="twitter" class="form-control" value="{{profile.user_detail.twitter}}"/>
    {% else %}
    <input name="twitter" class="form-control"/>
    {% endif %}

    <p>
        <center><input class="btn btn-success" type="submit" value="Update changes"></center>
    </p>
</form>


