{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
Mails
{% endblock %}

{% set active_page = "mails" %}

{% block head_css %}
    {{ super() }}
{% endblock %}


{% block content %}

<table id="mailTable" class="table table-striped with-datatable">
<thead>
    <tr>
    <th class="col-md-3">To</th>
    <th class="col-md-2">Time</th>
    <th class="col-md-2">Action</th>
    <th class="col-md-5">Message</th>
    </tr>
</thead>
<tbody>
    {% for mail in mails %}
        <tr>
        <td>{{ mail.recipient }}</td>
        <td data-toggle="tooltip" data-placement="bottom" title="{{ mail.time }}"
            data-delay='{"show":"500", "hide":"300"}'>{{ mail.time | humanize }}</td>
        <td>{{ mail.action }}</td>
        <td>{{ mail.message }}</td>
        </tr>
    {% endfor %}
</tbody>

</table>


{% endblock %}

{% block tail_js %}
    <script>

    $(document).ready( function() {
        $("#mailTable").dataTable().fnDestroy();
        $('#mailTable').dataTable({
            /* Disable initial sort */
            "aaSorting": []
        });
    })
    </script>
    {{ super() }}
{% endblock %}

