{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
System Mails
{% endblock %}

{% set active_page = "mails" %}

{% block head_css %}
    {{ super() }}
{% endblock %}


{% block content %}

<div class="table-responsive col-md-10">
<table class="table table-striped table-hover no-global-dt">
<thead>
    <tr style="font-size: 1.2em;">
    <th class="col-md-2 col-sm-3">Recipient</th>
    <th class="col-md-3 col-sm-3">Trigger</th>
    <th class="col-md-7 col-sm-6">Message</th>
    </tr>
</thead>
<tbody>
    {% for mail in mails %}
    <tr>
    <td>{{ mails[mail]['recipient'] }}</td>
    <td>{{ mail }}</td>
    <td>{{ mails[mail]['message'] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>


{% endblock %}

{% block tail_js %}
    {{ super() }}
{% endblock %}

