{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
Events
{% endblock %}

{% set active_page = "permissions" %}

{% block head_css %}
    {{ super() }}
{% endblock %}


{% block content %}

<form method="post">

<h2>
  Event Roles
  <button type="submit" class="btn btn-warning pull-right">Update</button>
</h2>
<hr>

<table class="table table-bordered no-global-dt">
  <thead>
    <tr>
      <th>ROLES</th>
      <th>Track</th>
      <th>Session</th>
      <th>Speaker</th>
      <th>Sponsor</th>
      <th>Microlocation</th>
    </tr>
  </thead>
  <tbody>
  {% for role, perm in perms %}
    <tr>
      <th scope="row">{{ role.title_name }}</th>
      <td>
      {% for oper, val in perm['track'].iteritems() %}
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="{{ role.name + '-track' }}" value="{{ oper }}" {{ 'checked' if val else '' }}>{{ oper|operation_name }}
          </label>
        </div>
      {% endfor %}
      </td>
      <td>
      {% for oper, val in perm['session'].iteritems() %}
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="{{ role.name + '-session' }}" value="{{ oper }}" {{ 'checked' if val else '' }}>{{ oper|operation_name }}
          </label>
        </div>
      {% endfor %}
      </td>
      <td>
      {% for oper, val in perm['speaker'].iteritems() %}
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="{{ role.name + '-speaker' }}" value="{{ oper }}" {{ 'checked' if val else '' }}>{{ oper|operation_name }}
          </label>
        </div>
      {% endfor %}
      </td>
      <td>
      {% for oper, val in perm['sponsor'].iteritems() %}
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="{{ role.name + '-sponsor' }}" value="{{ oper }}" {{ 'checked' if val else '' }}>{{ oper|operation_name }}
          </label>
        </div>
      {% endfor %}
      </td>
      <td>
      {% for oper, val in perm['microlocation'].iteritems() %}
        <div class="checkbox">
          <label>
            <input type="checkbox"  name="{{ role.name + '-microlocation' }}" value="{{ oper }}" {{ 'checked' if val else '' }}>{{ oper|operation_name }}
          </label>
        </div>
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</form>

{% endblock %}

{% block tail_js %}
    {{ super() }}

{% endblock %}

