<div id="step-4" class="wizard_content" style="display: block;">
	<div class="col-md-10">
        {% for call_for_paper in call_for_paper %}
		<div class="item form-group">
	        <label class="control-label col-md-3 col-sm-3 col-xs-12">Announcement
	        </label>
	        <div class="col-md-6 col-sm-6 col-xs-12">
	          <textarea name="announcement" class="form-control col-md-7 col-xs-12">{{ call_for_paper.announcement }}</textarea>
	        </div>
	    </div>
		<div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Call for Papers Start Date <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input value="{{ call_for_paper.start_date }}" id="call-for-paper-start" required="required" name="start_date" class="date-picker form-control col-md-7 col-xs-12"placeholder="MM/DD/YYYY"/>
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Call for Papers End Date <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input value="{{ call_for_paper.end_date }}" id="call-for-paper-end" required="required" name="end_date" class="date-picker form-control col-md-7 col-xs-12"placeholder="MM/DD/YYYY"/>
        </div>
    </div>
        {% endfor %}
	</div>
</div>
{% for call_for_paper in call_for_paper %}
<script>
    $(document).ready(function() {
    $('#call-for-paper-start').daterangepicker({
        singleDatePicker: true,
        startDate: "{{ call_for_paper.start_date.strftime('%m/%d/%Y') }}",
        calender_style: "picker_4"
    });

    $('#call-for-paper-end').daterangepicker({
        singleDatePicker: true,
        startDate: "{{ call_for_paper.end_date.strftime('%m/%d/%Y') }}",
        calender_style: "picker_4"

    });
});
</script>
{% endfor %}
