<div id="step-2" class="wizard_content" style="display: block;">
    {% for session_type in session_types %}
    <div class="row session-types">
            <div class="col-sm-6">
            <div class=" col-sm-6">
                <input type="text" class="form-control" name="session_type[name]" placeholder="Name" value="{{ session_type.name }}">
            </div>

            <div class="col-sm-6 input-group">
                <input type="text" class="form-control" name="session_type[length]" placeholder="Length" value="{{ session_type.length }}">
                {% if session_type.name == session_types[0].name %}
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary add-session-type">+</button>
                </span>
                {% endif %}
                {% if session_type.name != session_types[0].name %}
                <span class='input-group-btn'>
                    <button type='button' class='btn btn-danger remove-session-type'>-</button>
                </span>
                {% endif %}
            </div>
            </div>
    </div>
    {% endfor %}
</div>
