<div id="step-4" class="wizard_content" style="display: block;">
	<div class="row social-links">
        <div class="col-sm-6">
            {% for social_link in social_links %}

                <div class=" col-sm-6">
                    <input type="text" class="form-control" name="social[name]" placeholder="Name" value="{{ social_link.name }}">
                </div>

                <div class="col-sm-6 input-group">
                    <input type="text" class="form-control" name="social[link]" placeholder="Link" value="{{ social_link.link }}">
                    {% if social_link.name == social_links[0].name %}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary add-social-links">+</button>
                    </span>
                    {% endif %}
                    {% if social_link.name != social_links[0].name %}
                    <span class='input-group-btn'>
                        <button type='button' class='btn btn-danger remove-social-links'>-</button>
                    </span>
                    {% endif %}
                </div>

            {% endfor %}

        </div>
    </div>
</div>
