{% extends 'gentelella/admin/event/tickets/tickets_base.html' %}

{% set active_side_page = "discount_codes" %}


{% block head_css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin/lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_wizard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/jt.timepicker/jquery.timepicker.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}

{% block inner_content %}
    <h3>{% if not discount_code %}Create a new {% else %}Edit {% endif %}Discount </h3>
    <div id="new-discount-form-holder" class="col-md-7">
        <form method="post" data-toggle="validator" id="new-discount-form" data-delay="100" data-disable="true">
            <div class="form-group has-feedback">
                <label for="code">{{ _("Discount Code") }} <span class="required">*</span></label>
                <input type="text" name="code" class="form-control" id="code" placeholder="Discount Code"
                       data-remote="{{ url_for('event_ticket_sales.check_duplicate_discount_code', event_id=event.id, current=discount_code.id) }}"
                       pattern="^[\w-]+$"
                       required
                       value="{{ discount_code.code | default('', true) }}"
                       data-error='Only alphanumeric, "-" and "_" are allowed. (E.g., INTRO10, PROMO_200)'
                       data-required-error="A discount code is required"
                       data-remote-error="Discount code already exists">
                <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6" style="padding-left: 0;">
                <div class="form-group has-feedback">
                    <label for="code">{{ _("Enter Discount") }} <span class="required">*</span></label>
                    <div class="input-group">
                    <span class="input-group-addon radio">
                        <label style="margin-bottom: -10px;">
                            <input type="radio" name="value_type" value="amount" required
                                   {% if not discount_code or (discount_code and discount_code.type == 'amount') %}checked{% endif %}> Amount ({{ event.payment_currency | currency_symbol }})
                        </label>
                    </span>
                        <input type="number" step=any class="form-control" required=""
                               {% if discount_code and discount_code.type != 'amount' %}disabled name="__value"
                               {% else %}name="value" {% endif %}
                               {% if discount_code and discount_code.type == 'amount' %}
                               value="{{ discount_code.value }}">
                                       {% endif %}
                    </div>
                    <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                    <div class="help-block with-errors"></div>

                </div>
                <div class="form-group has-feedback">
                    <div class="input-group">
                    <span class="input-group-addon radio">
                        <label style="margin-bottom: -10px;">
                            <input type="radio" name="value_type" value="percent" required
                                    {% if discount_code and discount_code.type == 'percent' %} checked{% endif %}> Percent (%)
                        </label>
                    </span>
                        <input type="number" step=any class="form-control"
                               {% if not discount_code or (discount_code and discount_code.type != 'percent') %}disabled
                               required name="__value"{% else %} name="value" {% endif %}
                               {% if discount_code and discount_code.type == 'percent' %}
                               value="{{ discount_code.value }}">
                                       {% endif %}
                    </div>
                    <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 6px;"></i>
                    <div class="help-block with-errors"></div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group has-feedback col-md-6" style="padding-left: 0;">
                <label for="tickets_number">{{ _("Number of discount tickets") }} <span
                        class="required">*</span></label>
                <input type="number" name="tickets_number" class="form-control" id="tickets_number"
                       required
                       value="{{ discount_code.tickets_number | default('', true) }}">
                <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                <div class="help-block with-errors"></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group has-feedback">
                <label for="code">{{ _("Status") }} <span class="required">*</span></label>
                <div class="radio">
                    <label>
                        <input type="radio" name="status" id="status_active" value="active"
                               {% if not discount_code or discount_code.is_active %}checked{% endif %} required>
                        {{ _("Active") }}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="status" id="status_inactive" value="in_active"
                               {% if discount_code and not discount_code.is_active %}checked{% endif %} required>
                        {{ _("Not Active") }}
                    </label>
                </div>
                <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group has-feedback col-md-6" style="padding-left: 0;">
                <label for="code">{{ _("Select Ticket(s) applied to the discount code") }} <span
                        class="required">*</span></label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="all" class="all-tickets"
                               {% if not discount_code %}checked{% endif %}>
                        {{ _("Select all Tickets Type") }}
                    </label>
                </div>
                <hr>
                {% for ticket in event.tickets %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="tickets[]" class="single-ticket" value="{{ ticket.id }}"
                                   {% if not discount_code or (discount_code and ticket.id|string in discount_code.tickets.split(",")) %}checked{% endif %}>
                            {{ ticket.name }}
                        </label>
                    </div>
                {% endfor %}

                <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                <div class="help-block with-errors"></div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <a class="btn btn-link" data-toggle="collapse" href="#more-options"
               style="padding-left: 0;">{{ _("Show other options") }} <i class="fa fa-chevron-down"></i> </a>
            <div class="collapse" id="more-options">

                <div class="form-group has-feedback">
                    <label for="code">{{ _("Set the min. and max. quantity allowed to purchase per order (optional)") }}</label>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">{{ _("Min") }}</span>
                                <input title="minimum quantity" type="number" class="form-control" name="min_quantity"
                                       value="{{ discount_code.min_quantity | default('', true) }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">{{ _("Max") }}</span>
                                <input title="maximum quantity" type="number" class="form-control" name="max_quantity"
                                       value="{{ discount_code.max_quantity | default('', true) }}">
                            </div>
                        </div>
                    </div>
                    <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group has-feedback">
                    <label for="code">{{ _("Validity period (optional)") }}</label>
                    <div class="row event-date-picker">
                        <div class="col-md-5">
                            <div class="item form-group">
                                <label>{{ _("Valid from") }}</label>
                                <br>
                                <div class="col-xs-8" style="padding-left: 0;">
                                    <input name="start_date"
                                           data-error="Start date & time is required"
                                           value="{{ discount_code.valid_from.strftime('%m/%d/%Y') if discount_code.valid_from else '' | default('', true) }}"
                                           class="form-control col-xs-6 date start" placeholder="MM/DD/YYYY"/>

                                </div>
                                <div class="col-xs-4" style="padding-left: 0;">
                                    <input name="start_time"
                                           value="{{ discount_code.valid_from.strftime('%H:%M') if discount_code.valid_from else '' | default('', true) }}"
                                           class="form-control col-xs-6 time start" placeholder="HH:MM"/>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <div class="item form-group">
                                <label>{{ _("Expires on") }}</label>
                                <br>
                                <div class="col-xs-8" style="padding-left: 0;">
                                    <input name="end_date"
                                           data-error="End date & time is required"
                                           value="{{ discount_code.valid_till.strftime('%m/%d/%Y') if discount_code.valid_till else '' | default('', true) }}"
                                           class="form-control col-xs-6 date end" placeholder="MM/DD/YYYY"/>

                                </div>
                                <div class="col-xs-4" style="padding-left: 0;">
                                    <input name="end_time"
                                           value="{{ discount_code.valid_till.strftime('%H:%M') if discount_code.valid_till else '' | default('', true) }}"
                                           class="form-control col-xs-6 time end" placeholder="HH:MM"/>

                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="glyphicon form-control-feedback" aria-hidden="true" style="margin-top: 14px;"></i>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <br>
            <br>
            <div class="clearfix"></div>
            <div class="btn-group btn-group-lg" role="group">
                <a type="button" class="btn btn-default"
                   href="{{ url_for('event_ticket_sales.discount_codes_view', event_id=event.id) }}">{{ _("Cancel") }}</a>
                <button type="submit" class="btn btn-success">{{ _("Save Discount") }}</button>
            </div>

        </form>

    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.codezero.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-validator/dist/validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/jt.timepicker/jquery.timepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datepair.js/dist/datepair.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datepair.js/dist/jquery.datepair.min.js') }}"></script>

    <script type="text/javascript">

        $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button, [disabled])';

        var $newDiscountForm = $("#new-discount-form");

        $('.time').timepicker({
            'showDuration': true,
            'timeFormat': 'H:i',
            'scrollDefault': 'now'
        });

        $('.date').datepicker({
            'format': 'mm/dd/yyyy',
            'autoclose': true
        });

        $(".event-date-picker").datepair({
            'defaultTimeDelta': 3600000
        });

        $(".all-tickets").click(function () {
            if (this.checked) {
                $(".single-ticket").prop("checked", true);
            }
        });

        $(".single-ticket").click(function () {
            if (!this.checked) {
                $(".all-tickets").prop("checked", false);
            }
        });

        $("input[name=value_type]").click(function () {
            $("input[name=value]").attr("disabled", "disabled").attr("name", "__value").val("");
            $(this).closest(".input-group").find("input[name=__value]").removeAttr('disabled').attr("name", "value");
            $newDiscountForm.validator('destroy');
            $newDiscountForm.validator('update');
            $newDiscountForm.validator('validate');
        });

    </script>
{% endblock %}

