{% extends 'gentelella/admin/event/event_base.html' %}

{% block title %}
    {{ event.name }} - Tickets
{% endblock %}

{% set active_page = "tickets" %}

{% block head_css %}
    {{ super() }}
    <style type="text/css">
        .stats-panel .panel-heading, .stats-panel .panel-footer {
            background-color: #ffffff;
        }

        .stats-panel .panel-body {
            font-size: 30px;
            color: #2e2e2e;
        }

        #order-summmary-table tr, #order-summmary-table th {
            text-align: right;
            font-size: 15px;
        }

        #order-summmary-table .label {
            font-size: 16px;
            padding: 5px;
            font-weight: 400;
        }

        #order-summmary-table th:nth-child(1) {
            background-color: #f5f5f5;
        }

        #tickets-summary-table tr, #tickets-summmary-table th {
            text-align: right;
            font-size: 15px;

        }

        #tickets-summary-table th {
            text-align: center;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }

        #tickets-summary-table th[rowspan="2"]:nth-child(1) {
            text-align: left;
            vertical-align: bottom;
            border-left-color: transparent;
            border-top-color: transparent;
        }

        #tickets-summary-table td {
            text-align: center;
            border-left: 1px solid #ddd;
        }

        #tickets-summary-table td:nth-child(1) {
            text-align: left;
            border-left-color: transparent;
        }

        #tickets-summary-table tfoot th {
            border-top: 2px solid #ddd;
            border-right-color: transparent;
            border-left-color: transparent;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Completed Orders</h3>
            <div class="col-md-2">
                <div class="panel panel-default stats-panel">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">Orders</h2>
                    </div>
                    <div class="panel-body text-center">
                        {{ orders_summary.completed.orders_count }}
                    </div>
                    <div class="panel-footer text-right">
                        <a href="./orders">View orders</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-default stats-panel">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">Sales</h2>
                    </div>
                    <div class="panel-body text-center">
                        ${{ '%0.2f'| format(orders_summary.completed.total_sales|float) }}
                    </div>
                    <div class="panel-footer text-right" style="border-top: 1px solid #fff;">
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="panel panel-default stats-panel">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">Tickets sold</h2>
                    </div>
                    <div class="panel-body text-center">
                        {{ orders_summary.completed.tickets_count }}
                    </div>
                    <div class="panel-footer text-right">
                        <a href="./attendees">View attendees</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <h3>Orders Summary
                <small> by order status</small>
            </h3>
            <div class="col-md-12">
                <table class="table" id="order-summmary-table">
                    <thead>
                    <tr>
                        <th>
                            Order Status
                        </th>
                        <th>
                            Total Tickets
                        </th>
                        <th>
                            Total Orders
                        </th>
                        <th>
                            Total Sales ($)
                        </th>
                        <th>
                            View Reports
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name , item in orders_summary.iteritems() %}
                        <tr>
                            <th>
                                <span class="label label-{{ item.class }}">{{ name | capitalize }}</span>
                            </th>
                            <td>
                                {{ item.tickets_count }}
                            </td>
                            <td>
                                {{ item.orders_count }}
                            </td>
                            <td>
                                ${{ '%0.2f'| format(item.total_sales|float) }}
                            </td>
                            <td>
                                <a href="./orders">View orders</a> / <a href="./attendees">View attendees</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <hr>
            <h3>Tickets Summary
                <small> by order status</small>
            </h3>
            <div class="col-md-12">
                <table class="table" id="tickets-summary-table">
                    <thead>
                    <tr>
                        <th rowspan="2">
                            Ticket Type
                        </th>
                        <th rowspan="2" class="active">
                            Tickets Capacity Set
                        </th>

                        <th colspan="2" class="success">
                            Completed Orders
                        </th>
                        <th colspan="2" class="warning">
                            Pending Orders
                        </th>
                    </tr>
                    <tr class="active">
                        <th>
                            Tickets
                        </th>
                        <th>
                            Sales
                        </th>
                        <th>
                            Tickets
                        </th>
                        <th>
                            Sales
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, item in tickets_summary.iteritems() %}

                        <tr>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td>
                                {{ item.completed.tickets_count }}
                            </td>
                            <td>
                                ${{ '%0.2f'| format(item.completed.sales|float) }}
                            </td>
                            <td>
                                {{ item.pending.tickets_count }}
                            </td>
                            <td>
                                ${{ '%0.2f'| format(item.pending.sales|float) }}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>
                            Total
                        </th>
                        <th>

                        </th>
                        <th>
                            {{ orders_summary.completed.tickets_count }}
                        </th>
                        <th>
                            ${{ '%0.2f'| format(orders_summary.completed.total_sales|float) }}
                        </th>
                        <th>
                            {{ orders_summary.pending.tickets_count }}
                        </th>
                        <th>
                            ${{ '%0.2f'| format(orders_summary.pending.total_sales|float) }}
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
{% endblock %}

