{% extends 'gentelella/admin/event/tickets/tickets_base.html' %}

{% set active_side_page = "tickets" %}


{% block head_css %}
    {{ super() }}
    <style type="text/css">
        .stats-panel .panel-heading, .stats-panel .panel-footer {
            background-color: #ffffff;
        }

        .stats-panel .panel-body {
            font-size: 30px;
            color: #2e2e2e;
        }

        #order-summmary-table tr, #order-summmary-table th {
            text-align: right;
            font-size: 15px;
        }

        #order-summmary-table .label {
            font-size: 16px;
            padding: 5px;
            font-weight: 400;
        }

        #order-summmary-table th:nth-child(1) {
            background-color: #f5f5f5;
        }

        #tickets-summary-table tr, #tickets-summmary-table th {
            text-align: right;
            font-size: 15px;

        }

        #tickets-summary-table th {
            text-align: center;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }

        #tickets-summary-table th[rowspan="2"]:nth-child(1) {
            text-align: left;
            vertical-align: bottom;
            border-left-color: transparent;
            border-top-color: transparent;
        }

        #tickets-summary-table td {
            text-align: center;
            border-left: 1px solid #ddd;
        }

        #tickets-summary-table td:nth-child(1) {
            text-align: left;
            border-left-color: transparent;
        }

        #tickets-summary-table tfoot th {
            border-top: 2px solid #ddd;
            border-right-color: transparent;
            border-left-color: transparent;
        }
    </style>
{% endblock %}

{% block inner_content %}
    <h3>Completed Orders</h3>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default stats-panel">
            <div class="panel-heading text-center">
                <h2 class="panel-title">{{ _("Orders") }}</h2>
            </div>
            <div class="panel-body text-center">
                {{ orders_summary.completed.orders_count }}
            </div>
            <div class="panel-footer text-right">
                <a href="./orders">{{ _("View orders") }}</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default stats-panel">
            <div class="panel-heading text-center">
                <h2 class="panel-title">{{ _("Sales") }}</h2>
            </div>
            <div class="panel-body text-center">
                {{ event.payment_currency | currency_symbol }}{{ orders_summary.completed.total_sales|money }}
            </div>
            <div class="panel-footer text-right" style="border-top: 1px solid #fff;">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default stats-panel">
            <div class="panel-heading text-center">
                <h2 class="panel-title">{{ _("Tickets sold") }}</h2>
            </div>
            <div class="panel-body text-center">
                {{ orders_summary.completed.tickets_count }}
            </div>
            <div class="panel-footer text-right">
                <a href="./attendees">{{ _("View attendees") }}</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <h3>{{ _("Orders Summary") }}
        <small> {{ _("by order status") }}</small>
    </h3>
    <div class="col-md-12">
        <table class="table" id="order-summmary-table">
            <thead>
            <tr>
                <th>
                    {{ _("Order Status") }}
                </th>
                <th>
                    {{ _("Total Tickets") }}
                </th>
                <th>
                    {{ _("Total Orders") }}
                </th>
                <th>
                    {{ _("Total Sales") }} ({{ event.payment_currency | currency_symbol }})
                </th>
                <th>
                    {{ _("View Reports") }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for name , item in orders_summary.iteritems() %}
                <tr>
                    <th>
                        <span class="label label-{{ item.class }}">{{ name | capitalize }}</span>
                    </th>
                    <td>
                        {{ item.tickets_count }}
                    </td>
                    <td>
                        {{ item.orders_count }}
                    </td>
                    <td>
                        {{ event.payment_currency | currency_symbol }}{{ item.total_sales | money }}
                    </td>
                    <td>
                        <a href="./orders">{{ _("View orders") }}</a> / <a
                            href="./attendees">{{ _("View attendees") }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <hr>
    <h3>{{ _("Tickets Summary") }}
        <small> {{ _("by order status") }}</small>
    </h3>
    <div class="col-md-12">
        <table class="table" id="tickets-summary-table">
            <thead>
            <tr>
                <th rowspan="2">
                    {{ _("Ticket Type") }}
                </th>
                <th rowspan="2" class="active">
                    {{ _("Tickets Capacity Set") }}
                </th>

                <th colspan="2" class="success">
                    {{ _("Completed Orders") }}
                </th>
                <th colspan="2" class="info">
                    {{ _("Placed Orders") }}
                </th>
                <th colspan="2" class="warning">
                    {{ _("Pending Orders") }}
                </th>
            </tr>
            <tr class="active">
                <th>
                    {{ _("Tickets") }}
                </th>
                <th>
                    {{ _("Sales") }}
                </th>
                <th>
                    {{ _("Tickets") }}
                </th>
                <th>
                    {{ _("Sales") }}
                </th>
                <th>
                    {{ _("Tickets") }}
                </th>
                <th>
                    {{ _("Sales") }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for id, item in tickets_summary.iteritems() %}

                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.completed.tickets_count }}
                    </td>
                    <td>
                        {{ event.payment_currency | currency_symbol }}{{ item.completed.sales | money }}
                    </td>
                    <td>
                        {{ item.placed.tickets_count }}
                    </td>
                    <td>
                        {{ event.payment_currency | currency_symbol }}{{ item.placed.sales | money }}
                    </td>
                    <td>
                        {{ item.pending.tickets_count }}
                    </td>
                    <td>
                        {{ event.payment_currency | currency_symbol }}{{ item.pending.sales | money }}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <th>
                    {{ _("Total") }}
                </th>
                <th>

                </th>
                <th>
                    {{ orders_summary.completed.tickets_count }}
                </th>
                <th>
                    {{ event.payment_currency | currency_symbol }}{{ orders_summary.completed.total_sales | money }}
                </th>
                <th>
                    {{ orders_summary.placed.tickets_count }}
                </th>
                <th>
                    {{ event.payment_currency | currency_symbol }}{{ orders_summary.placed.total_sales | money }}
                </th>
                <th>
                    {{ orders_summary.pending.tickets_count }}
                </th>
                <th>
                    {{ event.payment_currency | currency_symbol }}{{ orders_summary.pending.total_sales | money }}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
{% endblock %}

