{% extends 'gentelella/admin/base.html' %}
{% block head_css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="" role="tabpanel">
        <ul id="myTab" class="nav nav-tabs " role="tablist">
            <li role="presentation"><a href="/events/{{ event_id }}/">Home</a></li>
            <li role="presentation" ><a href="/events/{{ event_id }}/scheduler/">Scheduler</a></li>
            <li role="presentation" class=""><a href="/events/{{ event_id }}/sessions/">Sessions</a>
            </li>
            <li role="presentation" class="active"><a href="/events/{{ event_id }}/speakers/">Speaker</a>
            </li>
            <li role="presentation" ><a href="/events/{{ event_id }}/sponsors/">Sponsors</a>
            </li>
        </ul>
    </div>
    <h3>Speaker</h3>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}

{% endblock %}

