{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
Users
{% endblock %}

{% set active_page = "users" %}

{% block head_css %}
{{ super() }}
 <style type="text/css">
    #event-tabs {
        position: absolute;
        background: transparent;
        top: 9px;
        width: auto;
    }

    table.table {
        margin-top: 20px !important;
    }
    </style>
{% endblock %}

{% macro users_row(user_list) %}
       {% for user in user_list %}
    <tr>
        <td>{{ 'Not Available' if not user['user'].user_detail.fullname else user['user'].user_detail.fullname }}</td>
        <td>{{ user['user'].email }}</td>
        {% if user['user'].in_trash == False %}
        <td>Active</td>
        {% else %}
        <td>Deleted</td>
        {% endif %}
        <td>
          <ul style="padding-left:0;">
          {% if user['user'].is_super_admin %}
            <li>Super Admin</li>
          {% endif %}
          {% if user['user'].is_admin %}
            <li>Admin</li>
          {% endif %}
          </ul>
        </td>
        <td>
        <ul style="padding-left:0;">
        {% for role in user['event_roles'] %}
          <li>{{ role.role.title_name }}, <a href="{{ get_url('events.details_view', event_id=role.event.id) }}" title="Go to event" target="_blank">{{ role.event.name }}</a></li>
        {% endfor %}
        </ul>
        </td>
        <td>{{ user['user'].created_date|humanize }}</td>
        <td>{{ user['user'].last_access_time|humanize }}</td>
        <td>
        <div class="btn-group btn-group-sm">
            {% if not user['user'].is_super_admin %}
            <a class="btn btn-default" href='#' data-toggle="modal" data-target="#importModal" title="Edit role" data-user-id="{{user['user'].id}}">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            {% endif %}
            <a data-toggle="tooltip" data-placement="top" class="btn btn-default" href="{{ get_url('sadmin_users.details_view', user_id=user['user'].id)}}" title="View details">
                <i class="glyphicon glyphicon-eye-open"></i>
            </a>
            {% if user['user'].in_trash == False %}
            <a data-toggle="tooltip" data-placement="top" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this record?');"
               href="{{ get_url('sadmin_users.trash_view', user_id=user['user'].id)}}" title="Delete record">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            {% endif %}
            {% if user['user'].in_trash == True %}
            <a data-toggle="tooltip" data-placement="top" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this record?');"
               href="{{ get_url('sadmin_users.delete_view', user_id=user['user'].id)}}" title="Delete record">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            {% endif %}
        </div>
        </td>
    </tr>
    {%endfor%}
{% endmacro %}

{% block content %}
<div>
    <ul id="event-tabs" class="nav nav-tabs bar_tabs" role="tablist">
            <li class=""><a href="#tab_content1" id="all-users-tab" data-toggle="tab">All Users</a></li>
            <li class=""><a href="#tab_content1" id="live-users-tab" data-toggle="tab">Active Users</a></li>
            <li class="active"><a href="#tab_content2" id="deleted-users-tab" data-toggle="tab">Deleted Users</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="tab_content0"
                 aria-labelledby="all-users-tab">
                <table class="table table-striped no-global-dt" id="all_users_table">
                    <thead>
                   <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>System Roles</th>
                        <th>Event Roles</th>
                        <th>Member Since</th>
                        <th>Last Access</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ users_row(all_user_list) }}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content1"
                 aria-labelledby="live-users-tab">
                <table class="table table-striped no-global-dt" id="active_users_table">
                    <thead>
                   <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>System Roles</th>
                        <th>Event Roles</th>
                        <th>Member Since</th>
                        <th>Last Access</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ users_row(active_user_list) }}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content2"
                 aria-labelledby="deleted-users-tab">
                <table class="table table-striped no-global-dt" id="deleted_users_table">
                     <thead>
                   <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>System Roles</th>
                        <th>Event Roles</th>
                        <th>Member Since</th>
                        <th>Last Access</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ users_row(trash_user_list) }}
                    </tbody>
                </table>
            </div>
        </div>
</div>

          <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Role</h4>
      </div>
      <div class="modal-body">
        <h5>Provide Admin Access ?</h5><br>
        <form id="give-admin-access" method="post" >
            <!-- <label class="btn btn-default btn-file"> -->
            {% if user.is_admin %}
                <input type="radio" checked name="admin_perm" value="isAdmin">Yes
                <input type="radio" name="admin_perm" value="isNotAdmin">No
            {% endif %}
            {% if not user.is_admin %}
                <input type="radio" name="admin_perm" value="isAdmin">Yes
                <input type="radio" checked name="admin_perm" value="isNotAdmin">No
            {% endif %}
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Done</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">
        $(document).on('click', 'a[data-target="#importModal"]',function(){
            var userId = $(this).data('user-id');
            $("#importModal").find("form").attr("action","/admin/users/" + userId + "/edit/");
        });
        $('#active_users_table').dataTable({
        "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
        /* Disable initial sort */
        "aaSorting": []
    });
    $('#deleted_users_table').dataTable({
        "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
        /* Disable initial sort */
        "aaSorting": []
    });
    $('#all_users_table').dataTable({
        "dom": '<"row"<"toolbar col-md-7"><"col-md-2"l><"col-md-3 pull-right"f>>tip',
        /* Disable initial sort */
        "aaSorting": []
    });
    </script>
{% endblock %}

