{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
Users
{% endblock %}

{% set active_page = "users" %}

{% block head_css %}
{{ super() }}
{% endblock %}


{% block content %}


<table class="table table-striped with-datatable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>System Roles</th>
        <th>Event Roles</th>
        <th>Member Since</th>
        <th>Last Access</th>
        <th>Options</th>

    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
    <tr>
        <td>{{ 'Not Available' if not user['user'].user_detail.fullname else user['user'].user_detail.fullname }}</td>
        <td>{{ user['user'].email }}</td>
        <td>{{ 'Active' if user['user'].is_active() else 'Inactive' }}</td>
        <td>
          <ul style="padding-left:0;">
          {% if user['user'].is_super_admin %}
            <li>Super Admin</li>
          {% endif %}
          {% if user['user'].is_admin %}
            <li>Admin</li>
          {% endif %}
          </ul>
        </td>
        <td>
        <ul style="padding-left:0;">
        {% for role in user['event_roles'] %}
          <li>{{ role.role.title_name }}, <a href="{{ get_url('events.details_view', event_id=role.event.id) }}" title="Go to event" target="_blank">{{ role.event.name }}</a></li>
        {% endfor %}
        </ul>
        </td>
        <td>{{ user['user'].created_date|humanize }}</td>
        <td>{{ user['user'].last_access_time|humanize }}</td>
        <td>
        {% if not user['user'].is_super_admin %}
            <a href='#' data-toggle="modal" data-target="#importModal" title="Edit role" data-user-id="{{user['user'].id}}">
            <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </a>
        {% endif %}
        <a href="{{ get_url('sadmin_users.details_view', user_id=user['user'].id)}}" title="View details">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a onclick="return confirm('Are you sure you want to delete this record?');"
           href="{{ get_url('sadmin_users.delete_view', user_id=user['user'].id)}}" title="Delete record">
            <span class="glyphicon glyphicon-trash"></span>
        </a>


        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>
          <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Role</h4>
      </div>
      <div class="modal-body">
        <h5>Provide Admin Access ?</h5><br>
        <form id="give-admin-access" method="post" >
            <!-- <label class="btn btn-default btn-file"> -->
            {% if user.is_admin %}
                <input type="radio" checked name="admin_perm" value="isAdmin">Yes
                <input type="radio" name="admin_perm" value="isNotAdmin">No
            {% endif %}
            {% if not user.is_admin %}
                <input type="radio" name="admin_perm" value="isAdmin">Yes
                <input type="radio" checked name="admin_perm" value="isNotAdmin">No
            {% endif %}
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Done</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">
        $(document).on('click', 'a[data-target="#importModal"]',function(){
            var userId = $(this).data('user-id');
            $("#importModal").find("form").attr("action","/admin/users/" + userId + "/edit/");
        });
    </script>
{% endblock %}

