{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
Users
{% endblock %}

{% set active_page = "users" %}

{% block head_css %}
{{ super() }}
{% endblock %}


{% block content %}


<table class="table table-striped">
    <thead>
    <tr>
        <th>Full name</th>
        <th>Details</th>
        <th>Super Admin</th>
        <th>Contact</th>
        <th>Options</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.user_detail.fullname}}</td>
        <td>{{user.user_detail.details}}</td>
        <td>{{user.is_super_admin}}</td>
        <td>{{user.user_detail.contact}}</td>
        <td>
            <a href="#" title="Edit record">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a onclick="return confirm('Are you sure you want to delete this record?');"
            title="Delete record">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <a title="View User Details">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>

        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}

{% block tail_js %}
{{ super() }}

{% endblock %}

