{{ _('Hello') }},<br/><br/>

{% autoescape false %}
{{ _('Your group %(group_name)s has just scheduled "%(event_name)s"!', group_name = '<a href="%s" target="_blank">%s</a>' % (group_url, group_name), event_name = '<a href="%s" target="_blank">%s</a>' % (event_url, event_name)) | safe }}
{% endautoescape %}
{{ _('We’re pretty confident that you’re going to love it.') }}
<br/><br/>
{{ _('Date') }}: {{ event_date }}<br/>
{{ _('Time') }}: {{ event_time }}<br/>
{{ _('Location') }}: {{ event_location }}<br/>
<br/><br/> 
<a href={{ event_url }} target='_blank'>{{ _('Reserve your spot!') }}</a>
<br/><br/> 
{{ _('Event description') }}: 
    {% autoescape false %}
        {{ event_description }}
    {% endautoescape %}
<br/><br/>
{{ _('Best regards') }},
<br/>
{{ app_name }} {{ _('Team') }}.
<br/><br/> 

{% autoescape false %}
{{ _('You’re getting this message because you are a group member of %(group_name)s on %(app_name)s.', group_name = '<a href="%s" target='_blank'>%s</a>' % (group_url, group_name), app_name=app_name) | safe }} {{ _('You can unsubscribe from emails from this group by unfollowing the group %(open_link)shere%(close_link)s.', open_link = '<a href="%s" target="_blank">' % (group_url), close_link = '</a>') | safe }}
{% endautoescape %}
