{{ _('Hello') }},<br/><br/>

{{ _('Your group') }} <a href={{ group_url }} target='_blank'>{{ group_name }}</a> {{ _('has just scheduled ') }} "<a href={{ event_url }} target='_blank'>{{ event_name }}</a>"! {{ _('We’re pretty confident that you’re going to love it') }}.
<br/><br/>
{{ _('Date') }}: {{ event_date }}<br/>
{{ _('Time') }}: {{ event_time }}<br/>
{{ _('Location') }}: {{ event_location }}<br/>
<br/><br/> 
<a href={{ event_url }} target='_blank'>{{ _('Reserve your spot') }}</a>!
<br/><br/> 
{{ _('Event description') }}: 
    {% autoescape false %}
        {{ event_description }}
    {% endautoescape %}
<br/><br/>
{{ _('Best regards') }},
<br/>
{{ app_name }} {{ _('Team') }}.
<br/><br/> 

{{ _('You’re getting this message because you are a group member of') }} <a href={{ group_url }} target='_blank'>{{ group_name }}</a> {{ _('on') }} {{ app_name }}. {{ _('You can unsubscribe from emails from this group by unfollowing the group') }} <a href={{ group_url }} target='_blank'>{{ _('here') }}</a>.
