{{ _('Hello %(name)s,', name=name) }}
<br><br>
{{ _('Your payment is now past due.') }}<br> {{ _('Please pay this invoice immediately to avoid your account being suspended.') }}
<br><br>
{{ _('Amount Due') }}: {{ amount }}
<br><br>
{% autoescape false %}
{{ _('Pay Now at: %(payment_url)s', payment_url = '<a href="%s">%s</a>' % (payment_url, payment_url)) | safe }}
{% endautoescape %}
<br><br>
{{ _('Late payments can be subject to a %(percentage)s finance fee.', percentage='5%') }}
<br><br>
{% autoescape false %}
{{ _('A detailed invoice is available in %(open_link)sthe billing area%(close_link)s of your account.', open_link = '<a href="%s">' % (invoice_url), close_link = '</a>') | safe }}
{{ _('If you have any questions about invoices, please find more information on our FAQ at %(faq_url)s.', faq_url = '<a href="https://support.eventyay.com">https://support.eventyay.com</a>') | safe }}
{% endautoescape %}
<br><br>
{{ _('If you feel this invoice is incorrect or have any questions, you can contact our support team for assistance.') }}
<br><br>
<em>{{ _('Thank you for using %(app_name)s!', app_name=app_name) }}</em>
<br><br>
{{ app_name }} {{ _('Team') }}
