{{ _('Hello') }},
{% autoescape false %}
<br/><br/>{{ _('This is an automatic email from %(app_name)s for organizers of the %(session_name)s.', app_name=app_name, session_name = '<a href="%s" target="_blank">%s</a>' % (session.event.site_link, session.event.name)) | safe }}
<br/><br/>
{{ _('Your %(open_link)sCall For Speakers%(close_link)s has received a new session proposal with the following details:', open_link = '<a href="%s" target="_blank">' % (session.site_cfs_link), close_link = '</a>') | safe }}
<br/><br/>
{% for speaker in speakers %}
    {{ _('Speaker') }}: {{ speaker.name }} <br/>
    {{ _('Email') }}: {{ speaker.email }} <br/>
    {% if speaker.short_biography %}
        {{ _('Bio') }}: {{ speaker.short_biography | strip_tags }} <br />
    {% endif %}
{% endfor %}
{{ _('Session') }}: {{ session.title}} <br/>
{% if session.short_abstract %}
    {{ _('Abstract') }}: {{ session.short_abstract }} <br/>
{% endif %}
<br/>

{{ _('You can view all speaker details on the speaker profile page and the session proposal on the %(open_link)ssession page%(close_link)s.', open_link = '<a href="%s" target="_blank">' % (session.organizer_site_link), close_link = '</a>') | safe }}<br/><br/>
{{ _('To change the status of sessions please go to the %(open_link)ssessions overview page%(close_link)s and click on the status badge of the session.', open_link = '<a href="%s" target="_blank">' % (session_overview_link), close_link = '</a>') | safe }}<br/><br/>
{% endautoescape %}

{{ _('Thank you.') }}<br/>
<a href={{ front_page }} target='_blank'>{{ front_page }}</a><br/>
