{{ _('Hello') }},<br/>
{{ _('You have contacted the organizers of the event %(event_name)s.', event_name=event_name) }}<br/><br/>
{{ _('Below you find a copy of your email.') }}<br/>
=================================================================<br/><br/>
<div style="white-space: pre-line;">{{ email_copy }}</div><br/>
=================================================================<br/>
{{ _('Organizers have received your message and will follow up with you.') }}<br/><br/>
{{ _('This is a system message.') }} {{ _('Please do not reply to this message.') }} {{ _('Replies are not monitored.') }}<br/>
{{ _('Thank you.') }}
