{{ _('Hello') }},
{% autoescape false %}
<br/><br/>{{ _('This is a confirmation mail of your tickets for the event %(eventname)s.', eventname=order.event.name) }} {{ _('You can download your tickets at: %(order_view_url)s.', order_view_url = '<a href="%s">%s</a>' % (order_view_url, order_view_url)) | safe }}
{% endautoescape %}
<br/><br/>{{ _('Ticket Summary') }}:
<br/>{{ _('Name') }}: {{ attendees.0.user.full_name }}
<br/>
{% for i, attendee in attendees | groupby('ticket_id') %}
    <br/>{{ _('Ticket') }}: {{ attendee.0.ticket.name }}
    <br/>{{ _('Quantity') }}: {{ attendee | length }}
    <br/>
{% endfor %}
<br/>{{ _('About this event') }}:
<br/>{{ _('Date') }}: {{ starts_at }} - {{ ends_at }}
<br/>{{ order.event.normalized_location }}
<br/><br/>{{ _('Best regards') }},
<br/>{{ settings.app_name }} {{ _('Team') }}
{% if order.event.after_order_message | strip_tags != '' %}
    <br/><br/>{{ _('Below you find a message from the organizer') }}:
    <br/><br/>
    <div style="white-space: pre-line;">
        {% autoescape false %}
            {{ order.event.after_order_message }}
        {% endautoescape %}
    </div>
{% endif %}
<br/>--
{% autoescape false %}
<br/>{{ _('Login to manage your orders at %(url)s.', url = '<a href="%s">%s</a>' % (settings.frontend_url, settings.frontend_url)) | safe }}
{% endautoescape %}
