{{ _('Congratulations!') }}
<br/>
{% autoescape false %}
{{ _('You have a new order for your event %(event_name)s starting at %(event_time)s on %(event_date)s.', event_name = '<a href="%s">"%s"</a>' % (site_link, event_name), event_time=event_time, event_date=event_date) | safe }}
<br/>
<br/>
{{ _('The order has been processed successfully on %(app_name)s.', app_name = '<a href="%s">%s</a>' % (frontend_url, app_name)) | safe }} {{ _('%(open_link)sClick here%(close_link)s to view/download the invoice.', open_link = '<a href="%s">' % (order_url), close_link = '</a>') | safe }}
{% endautoescape %}
<br/>
<br/>
{{ _('The details of the order are:') }}
<br/>

{{ _('Order Number') }}: {{ invoice_id }} <br/>
{{ _('Name') }}: {{ buyer_name }} <br/>
{{ _('Email') }}: {{ buyer_email }} <br/>
<br/>
{{ _('Purchase Date and Time') }}: {{ purchase_time }}<br/>
{% if payment_mode %}
  {{ _('Payment Mode') }}:
  {% if payment_mode == 'free' %}
  {{ _('None') }}
  {% elif payment_mode == 'stripe' %}
  {{ _('Stripe') }}
  {% elif payment_mode == 'paypal' %}
  {{ _('Paypal') }}
  {% elif payment_mode == 'bank' %}
  {{ _('Bank') }}
  {% elif payment_mode == 'cheque' %}
  {{ _('Cheque') }}
  {% elif payment_mode == 'onsite' %}
  {{ _('Onsite') }}
  {% elif payment_mode == 'omise' %}
  {{ _('Omise') }}
  {% elif payment_mode == 'alipay' %}
  {{ _('Alipay') }}
  {% elif payment_mode == 'paytm' %}
  {{ _('Paytm') }}
  {% elif payment_mode == 'invoice' %}
  {{ _('Purchase on Invoice') }}
  {% else %}
  {{ payment_mode | capitalize }}
  {% endif %}<br/>
{% endif %}
{% if payment_status %}
  {{ _('Payment Status') }}:
  {% if payment_status == 'completed' %}
  {{ _('Completed') }}
  {% elif payment_status == 'pending' or payment_status == 'initialized' %}
  {{ _('Pending') }}
  {% elif payment_status == 'placed' %}
  {{ _('Placed') }}
  {% elif payment_status == 'cancelled' %}
  {{ _('Cancelled') }}
  {% elif payment_status == 'expired' %}
  {{ _('Expired') }}
  {% else %}
  {{ payment_status | capitalize }}
  {% endif %}<br/>
{% endif %}
{% if tickets_count %}
  {{ _('Tickets/Registration') }}:
  {% for order_ticket in order_tickets %}
    {{ order_ticket.quantity }}x {{ order_ticket.ticket.name }}
  {% endfor %}
  <br/>
{% endif %}
{{ _('Amount') }}: {{ order_amount }} <br/>
<br/>

{% if buyer_org %}
  {{ _('Organisation') }}: {{ buyer_org | capitalize }}
  <br/>
{% endif %}
{% if buyer_address %}
  {{ _('Address') }}: {{ buyer_address }}
  <br/>
{% endif %}
{% if buyer_city %}
  {{ _('City') }}: {{ buyer_city | capitalize }}
  <br />
{% endif %}
{% if buyer_state %}
  {{ _('State') }}: {{ buyer_state | capitalize }}
  <br />
{% endif %}
{% if buyer_zipcode %}
  {{ _('Zip') }}: {{ buyer_zipcode }}
  <br />
{% endif %}
{% if buyer_country %}
  {{ _('Country') }}: {{ buyer_country | capitalize }}
  <br />
{% endif %}
{% if buyer_tax_id %}
  {{ _('Tax ID') }}: {{ buyer_tax_id }}
  <br/>
{% endif %}
<br/>
--
{% autoescape false %}
<br/>{{ _('Login to manage your orders at %(url)s.', url = '<a href="%s">%s</a>' % (frontend_url, frontend_url)) | safe }}
{% endautoescape %}
