{{ _('Hello') }},
<br/><br/>{{ _('Thank you for your ticket order for') }} {{ order.event.name }}.
<br/><br/>{{ _('This is your order confirmation. You can download your tickets at') }} : {{ order_view_url }}
<br/><br/>{{ _('Order Summary') }}:
<br/>{{ _('Order') }}: {{ order.invoice_number }}
<br/>{{ _('Name') }}: {{ order.user.full_name }}
<br/>
{% for _, attendee in attendees | groupby('ticket_id') %}
    <br/>{{ _('Ticket') }}: {{ attendee.0.ticket.name }}
    <br/>{{ _('Quantity') }}: {{ attendee | length }}
    <br/>
{% endfor %}
<br/>{{ _('About this event') }} :
<br/>{{ _('Date') }}: {{ order.event.starts_at_tz | datetime }} - {{ order.event.ends_at_tz | datetime }}
<br/>{{ order.event.normalized_location }}
<br/><br/>{{ _('Best regards') }},
<br/>{{ settings.app_name }} {{ _('Team') }}
<br/>--
<br/>{{ _('Login to manage your orders at') }} {{ settings.frontend_url }}
