{{ _('Hello') }},
<br/> {{ _('Your order %(order_id)s for %(event_name)s has been cancelled.', order_id=order_id, event_name=event_name) }}
{% autoescape false %}
<br/> {{ _('The information about your cancelled order is here: %(order_url)s.', order_url = '<a href="%s" target="_blank">%s</a>' % (order_url, order_url)) | safe }}
<br/> {{ _('If you have not done this cancellation by yourself, please check with the owner of the order or the organizer of the event for more information about the cancellation.') }}
<br/> {{ _('To contact event organizers please use the contact form on the event page here: %(event_url)s.', event_url = '<a href="%s" target="_blank">%s</a>' % (event_url, event_url)) | safe }}
{% endautoescape %}
<br/> {{ _('You need to login to access the form.') }}
<br/> {{ _('Best regards') }},
<br/>{{ app_name }} {{ _('Team') }}.
