{{ _('Hello') }},
<br/><br/>{{ _('You have been added as a video moderator of video %(video)s at event %(event)s.', video=video_stream_name, event=event_name) }}
{% if not user %}
    <br/><br/>
    {{ _('You need to register on the platform to access the video stream.') }}
    <a href="{{ registration_url }}">{{ registration_url }}</a>
{% endif %}
<br/><br/>{{ _('Thank You') }},
<br/><br/>{{ settings.app_name }} {{ _('Team') }}
<br/><a href={{ settings.frontend_url }}>{{ settings.frontend_url }}</a>
