{% extends 'gentelella/admin/base.html' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    <h3>{{ page.title }}</h3>
    <div class="x_panel" style="min-height:600px;">
        <div class="x_content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2"
                     style="font-size:18px; margin-top: 35px text-align:center"> {% if page.description %}{{ page.description|safe }}{% else %}<h1>No information has been provided for this page.</h1>{% endif %}</div>
            </div>
        </div>
    </div>
{% endblock %}
