{% extends 'gentelella/admin/base.html' %}

{% set active_page = active_page|default('info') -%}

{% set carousel_height = 500 if active_page == 'info' else 300 -%}
{% set scrollspy_top = (carousel_height + 95) ~ "px" %}

{# Set `event_image` to use inside template #}
{% if event.background_url %}
    {% set event_image = event.background_url %}
{% elif custom_placeholder != None %}
    {% set event_image = custom_placeholder.url %}
{% else %}
    {% if event.sub_topic %}
        {% set event_image = url_for("static", filename="placeholders/" + placeholder_images[event.sub_topic], _external=True) %}
    {% elif event.topic %}
        {% set event_image = url_for("static", filename="placeholders/" + placeholder_images[event.topic], _external=True) %}
    {% else %}
        {% set event_image = url_for("static", filename="placeholders/" + placeholder_images["Other"], _external=True) %}
    {% endif %}
{% endif %}

{% block head_meta %}
    {{ super() }}
    {# Facebook Open Graph Tags #}
    <meta property="fb:app_id" content="{{ fb_app_id | default('', true) }}"/>

    {# Twitter Card Tags Start #}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@fossasia"/>
    <meta name="twitter:title" content="{{ event.name }}"/>
    <meta name="twitter:description" content="{{ event.description }}"/>
    <meta name="twitter:image" content="{{ event_image | external_url }}"/>
    {# Twitter Card Tags Over #}

    <meta property="og:title" content="{{ event.name }}"/>
    <meta property="og:site_name" content="Organizer Server"/>
    <meta property="og:url" content="{{ request.url }}"/>
    <meta property="og:description" content="{{ event.description }}"/>
    <meta property="og:image" content="{{ event_image | external_url }}"/>
    <meta property="og:type" content="events.event"/>
    {% if event.latitude %}
        <meta property="event:location:latitude" content="{{ event.latitude }}">
    {% endif %}
    {% if event.longitude %}
        <meta property="event:location:longitude" content="{{ event.longitude }}">
    {% endif %}
    <meta property="event:start_time" content="{{ event.start_time | localize_dt(event.timezone) }}">
    <meta property="event:end_time" content="{{ event.end_time | localize_dt(event.timezone) }}">
{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/details.css') }}"/>
    <style type="text/css">
        .carousel .item {
            height: {{ carousel_height }}px;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ event_image }}');
            background-size: cover;
        }

        .carousel {
            height: {{ carousel_height }}px;
        }

        .scrollspy {
            top: {{ scrollspy_top }};
        }
    </style>
{% endblock %}

{% block head_js %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block body %}
    <div class="mobile-menu hidden-sm hidden-lg hidden-md">
        <ul class="nav nav-pills review-menu mobile">
            <li {% if active_page == 'info' %}class="active"{% endif %} id="info-menu"><a
                    href="/e/{{ event.identifier }}/#info">Info</a></li>
            {% if accepted_sessions_count > 0 %}
                <li {% if active_page == 'sessions' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/sessions">{{ _("Sessions") }}</a>
                </li>
            {% endif %}
            {% if call_for_speakers and call_for_speakers.privacy == 'public' %}
                <li {% if active_page == 'cfs' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/cfs">{{ _("Call for speakers") }}</a></li>
            {% endif %}
            {% if event.schedule_published_on %}
                <li {% if active_page == 'schedule' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/schedule">{{ _("Schedule") }}</a>
                </li>
            {% endif %}
            {% if event.code_of_conduct and event.code_of_conduct != '' and event.code_of_conduct != ' ' %}
                <li {% if active_page == 'coc' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/coc">{{ _("Code of Conduct") }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="scrollspy hidden-xs" id="scrollspy">
        <ul class="nav nav-pills nav-stacked preview-menu">
            <li {% if active_page == 'info' %}class="active"{% endif %} id="info-menu"><a
                    href="/e/{{ event.identifier }}/#info">Info</a></li>
            {% if accepted_sessions_count > 0 %}
                <li id="speakers-menu"><a href="/e/{{ event.identifier }}/#speakers">{{ _("Speakers") }}</a></li>
            {% endif %}
            {% if event.sponsor[0] %}
                <li id="sponsors-menu"><a href="/e/{{ event.identifier }}/#sponsors">{{ _("Sponsors") }}</a></li>
            {% endif %}
            {% if accepted_sessions_count > 0 %}
                <li {% if active_page == 'sessions' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/sessions">{{ _("Sessions") }}</a>
                </li>
            {% endif %}
            {% if call_for_speakers and call_for_speakers.privacy == 'public' %}
                <li {% if active_page == 'cfs' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/cfs">{{ _("Call for speakers") }}</a></li>
            {% endif %}
            {% if event.schedule_published_on %}
                <li {% if active_page == 'schedule' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/schedule">{{ _("Schedule") }}</a>
                </li>
            {% endif %}
            {% if event.organizer_name %}
                <li id="organizer-menu"><a href="/e/{{ event.identifier }}/#organizer">{{ _("Organizer") }}</a></li>
            {% endif %}
            {% if event.location_name %}
                <li id="getting-here-menu"><a href="/e/{{ event.identifier }}/#getting-here">{{ _("Getting Here") }}</a>
                </li>
            {% endif %}
            {% if event.code_of_conduct and event.code_of_conduct != '' and event.code_of_conduct != ' ' %}
                <li {% if active_page == 'coc' %}class="active"{% endif %}><a
                        href="/e/{{ event.identifier }}/coc">{{ _("Code of") }}
                    {{ _("Conduct") }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="carousel slide" style="margin-bottom: 0;">
        <div id="info" class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h4 style="font-weight: 300;">{{ event.start_time.strftime('%a, %B %d at %I:%M %p') | upper }}</h4>
                        <h1>{{ event.name }}</h1>
                        <h4 style="font-weight: 300;"><i class="glyphicon glyphicon-map-marker"></i> {{ event.location_name | upper }}</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-push-1 col-sm-push-2 event-info-container-holder"
             style="min-height: 600px;">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-2 col-md-push-1 hidden-xs hidden-sm">
            <div>
                {% if event.event_url %}
                    <i class="fa fa-external-link-square fa-fw" style="color: #8d8d8d"></i>
                    <a class="social-link" href="{{ event.event_url }}">External Event URL</a><br>
                {% endif %}
                {% set twitter = [] %}
                {% for social_link in event.social_link %}
                    {% set social_name = social_link.name.strip().lower() %}
                    {% if social_name == "twitter" %}
                        {% do twitter.append(social_link.link.strip()) %}
                        <i class="fa fa-twitter-square fa-fw" style="color: #55acee"></i>
                        <a class="social-link" href="{{ social_link.link }}">Twitter</a><br>
                    {% elif social_name == "facebook" %}
                        <i class="fa fa-facebook-square fa-fw" style="color: #3b5999"></i>
                        <a class="social-link" href="{{ social_link.link }}">Facebook</a><br>
                    {% elif social_name == "google plus" %}
                        <i class="fa fa-google-plus-square fa-fw" style="color: #dd4b39"></i>
                        <a class="social-link" href="{{ social_link.link }}">Google +</a><br>
                    {% elif social_name == "instagram" %}
                        <i class="fa fa-instagram fa-fw" style="color: #dd4b39"></i>
                        <a class="social-link" href="{{ social_link.link }}">Instagram</a><br>
                    {% elif social_name == "github" %}
                        <i class="fa fa-github-square fa-fw"></i>
                        <a class="social-link" href="{{ social_link.link }}">Github</a><br>
                    {% elif social_name == "linkedin" %}
                        <i class="fa fa-linkedin-square fa-fw" style="color: #0077B5"></i>
                        <a class="social-link" href="{{ social_link.link }}">LinkedIn</a><br>
                    {% elif social_name == "youtube" %}
                        <i class="fa fa-youtube-play fa-fw" style="color: #dd4b39"></i>
                        <a class="social-link" href="{{ social_link.link }}">Youtube</a><br>
                    {% elif social_name == "flickr" %}
                        <i class="fa fa-flickr fa-fw"></i>
                        <a class="social-link" href="{{ social_link.link }}">Flickr</a><br>
                    {% elif social_name == "tumblr" %}
                        <i class="fa fa-tumblr-square fa-fw"></i>
                        <a class="social-link" href="{{ social_link.link }}">Tumblr</a><br>
                    {% elif social_name == "blog" %}
                        <i class="fa fa-pencil fa-fw"></i>
                        <a class="social-link" href="{{ social_link.link }}">Blog</a><br>
                    {% elif social_name == "website" %}
                        <i class="fa fa-square-o fa-fw"></i>
                        <a class="social-link" href="{{ social_link.link }}">Website</a><br>
                    {% else %}
                        <i class="fa fa-external-link-square fa-fw" style="color: #8d8d8d"></i>
                        <a class="social-link" href="{{ social_link.link }}">{{ social_link.name }}</a><br>
                    {% endif %}
                {% endfor %}
                {% for twitterLink in twitter %}
                    <a class="twitter-timeline" href="{{ twitterLink }}" data-height="500">Tweets</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>
    <script type="text/javascript">
        $('.preview-menu li a').click(function () {
            $('.preview-menu li').removeClass('active');
            $(this).parent().addClass('active');
        });
        $(document).ready(function () {
            var url = document.URL;
            var id = url.split('#')[1];
            if (id != undefined) {
                $('.preview-menu li').removeClass('active');
                $('#' + id + '-menu').addClass('active');
            }
        });
    </script>
{% endblock %}
