{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'cfs' %}
{% set carousel_height = 500 if active_page == 'info' else 300 -%}
{% set scrollspy_top = (carousel_height + 95) ~ "px" %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events/event-wizard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/multiselect/css/multi-select.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/Croppie/croppie.css') }}"/>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 30px">{{ _("Call for Speakers") }}</h1>
                <p {% if via_hash %}style="display:none;"{% endif %}>
                    {% if state == 'now' %}
                        <span class="label label-success">{{ _("Open") }}</span>
                    {% elif state == 'past' %}
                        <span class="label label-danger">{{ _("Closed") }}</span>
                    {% elif state == 'future' %}
                        <span class="label label-info">{{ _("Yet to Open") }}</span>
                    {% endif %}
                </p>
                <p><strong>{{ call_for_speakers.start_date.strftime('%a, %B %d %Y at %I:%M %p') }}</strong>
                    to
                    <strong>{{ call_for_speakers.end_date.strftime('%a, %B %d %Y at %I:%M %p') }}</strong></p>
                {{ call_for_speakers.announcement | safe }}
                {% if state == "now" or via_hash %}
                    {% if current_user.is_authenticated %}
                        <button class="btn btn-success" data-toggle="modal"
                                data-target="#speaker-session-modal">{{ _("Submit Proposal") }}
                        </button>
                    {% else %}
                        <button class="btn btn-success" data-toggle="modal"
                                data-target="#login-user-modal">{{ _("Submit Proposal") }}
                        </button>
                    {% endif %}
                    <div id="login-user-modal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    <h4 class="modal-title">{{ _("Please login to submit your proposal") }} </h4>
                                </div>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</a>
                                    <a href="{{ url_for('admin.login_view', next=request.url) }}" type="button" class="btn btn-success" id = "login-signup-button">{{ _("Login/SignUp") }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if not user_speaker[0] %}
                        <div id="speaker-session-modal" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        <h4 class="modal-title">{{ _("Submit Proposal") }}? </h4>
                                    </div>
                                    <div class="modal-footer" style="padding:6px">
                                        <a href="/e/{{ event.identifier }}/cfs/new_speaker" type="button" class="btn btn-info" id = "speaker-button">{{ _("Register as a Speaker") }}</a>
                                        <a href="/e/{{ event.identifier }}/cfs/new/" type="button" class="btn btn-primary" id = "session-button" style="margin-top:-6px">{{ _("Propose Session") }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div id="speaker-session-modal" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        <h4 class="modal-title">{{ _("Add Speaker Information") }} </h4>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="existing-session" style="text-align:left"> 
                                            <h4>{{ _("Existing Sessions") }} </h4>
                                            {% for speaker in user_speaker %}
                                                {% for session in speaker.sessions %}
                                                    {% if not session.in_trash %} 
                                                        {% if session.title %}
                                                            {{ session }} <a href="{{ url_for('my_sessions.process_session_view',session_id=session.id) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a><br>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <hr>
                                            {% endfor %}
                                        </div>
                                        <div class="add_proposal">
                                            <a href="/e/{{ event.identifier }}/cfs/new_session" type="button" class="btn btn-success" id = "session-button" style="margin-top:-6px">{{ _("Add Session Proposal") }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/events/session/new.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("textarea").summernote(summernoteConfig);
        });

        var $scrollSpy = $('#scrollspy');
        $scrollSpy.stick_in_parent({
            offset_top: 20
        });

        $scrollSpy.on('sticky_kit:unbottom', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $scrollSpy.on('sticky_kit:bottom', function () {
            $scrollSpy.parent().css("bottom", "16px");
        });

        $scrollSpy.on('sticky_kit:unstick', function () {
            $scrollSpy.parent().css("position", "static");
        });
        $('body').scrollspy({target: '.scrollspy'});
        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
</script>
{% endblock %}
