{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'cfs' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_wizard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/multiselect/css/multi-select.css') }}"/>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 30px">Call for Speakers</h1>
                <p {% if via_hash %}style="display:none;"{% endif %}>
                    {% if state == 'now' %}
                        <span class="label label-success">Open</span>
                    {% elif state == 'past' %}
                        <span class="label label-danger">Closed</span>
                    {% elif state == 'future' %}
                        <span class="label label-info">Yet to Open</span>
                    {% endif %}
                </p>
                <p><strong>{{ call_for_speakers.start_date.strftime('%a, %B %d at %I:%M %p') }}</strong>
                    to
                    <strong>{{ call_for_speakers.end_date.strftime('%a, %B %d at %I:%M %p') }}</strong></p>
                {{ call_for_speakers.announcement | safe }}
                {% if state == "now" or via_hash %}
                    <button class="btn btn-success" data-toggle="modal" data-target="#session-model">Submit Proposal
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% if state == "now" or via_hash %}
        <div class="modal fade" tabindex="-1" role="dialog" id="session-model">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Submit Proposal</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'gentelella/admin/event/sessions/components/session_speaker_form.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/session/new.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("textarea").summernote(summernoteConfig);
        });
    </script>

{% endblock %}
