{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'cfs' %}
{% set carousel_height = 500 if active_page == 'info' else 300 -%}
{% set scrollspy_top = (carousel_height + 95) ~ "px" %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_wizard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/multiselect/css/multi-select.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/Croppie/croppie.css') }}"/>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 30px">{{ _("Call for Speakers") }}</h1>
                <p {% if via_hash %}style="display:none;"{% endif %}>
                    {% if state == 'now' %}
                        <span class="label label-success">{{ _("Open") }}</span>
                    {% elif state == 'past' %}
                        <span class="label label-danger">{{ _("Closed") }}</span>
                    {% elif state == 'future' %}
                        <span class="label label-info">{{ _("Yet to Open") }}</span>
                    {% endif %}
                </p>
                <p><strong>{{ call_for_speakers.start_date.strftime('%a, %B %d %Y at %I:%M %p') }}</strong>
                    to
                    <strong>{{ call_for_speakers.end_date.strftime('%a, %B %d %Y at %I:%M %p') }}</strong></p>
                {{ call_for_speakers.announcement | safe }}
                {% if state == "now" or via_hash %}
                    <a href="/e/{{ event.identifier }}/cfs/new">
                        <button class="btn btn-success" data-toggle="modal"
                                data-target="#session-model">{{ _("Submit Proposal") }}
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/session/new.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("textarea").summernote(summernoteConfig);
        });
    
        var $scrollSpy = $('#scrollspy');
        $scrollSpy.stick_in_parent({
            offset_top: 20
        });

        $scrollSpy.on('sticky_kit:unbottom', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $scrollSpy.on('sticky_kit:bottom', function () {
            $scrollSpy.parent().css("bottom", "16px");
        });

        $scrollSpy.on('sticky_kit:unstick', function () {
            $scrollSpy.parent().css("position", "static");
        });
        $('body').scrollspy({target: '.scrollspy'});
        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
</script>
{% endblock %}
