{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'info' %}

{% macro social_link(name, domain, username) %}
    <i class="fa fa-facebook"></i> <a href="{{ domain + username }}">{{ username }}</a><br>
{% endmacro %}

{% macro speaker_info(speaker) %}
    <div class="col-md-3 col-sm-6 speaker-info" style="text-align: center; height: 250px">
        <img src="{{ speaker.photo }}" style="width: 133px; height: 133px;" onerror="imgError(this);"><br>
        <h4 style="font-weight: 500;">{{ speaker.name }}</h4>
        <h5 style="margin-top: 0;">{{ speaker.organisation }}</h5>
        {% if speaker.facebook %}<a href="{{ speaker.facebook }}"><i class="fa fa-facebook-square"></i></a>{% endif %}
        {% if speaker.twitter %}<a href="{{ speaker.twitter }}"><i class="fa fa-twitter-square"></i></a>{% endif %}
        {% if speaker.linkedin %}<a href="{{ speaker.linkedin }}"><i class="fa fa-linkedin-square"></i></a>{% endif %}
        {% if speaker.github %}<a href="{{ speaker.github }}"><i class="fa fa-github-square"></i></a>{% endif %}
    </div>
{% endmacro %}

{% macro sponsor_info(sponsor) %}
    <div class="col-md-4 col-sm-6 sponsor-column">
        <div class="sponsor text-center" data-toggle="tooltip" title="{{ sponsor.description }}">
            {% if sponsor.url %}
                <a href="{{ sponsor.url }}" target="default">
                    <img alt="{{ sponsor.name }}" src="{{ sponsor.logo }}">
                </a>
            {% else %}
                    <img alt="{{ sponsor.name }}" src="{{ sponsor.logo }}">
            {% endif %}

        </div>
    </div>
{% endmacro %}

{% block content %}
    <div>
        {% if event.description %}
            {{ event.description | safe }}
            <br>
            <br>
        {% endif %}
        {% if module.ticket_include %}
            {% include 'gentelella/guest/event/_ticketing_box.html' %}
            <div class="clearfix"></div>
        {% endif %}
        {% if accepted_sessions[0] %}
            <h3 id="speakers">Speakers</h3>
            <div class="row">
                <div class="col-sm-12">
                    {% if accepted_sessions %}
                        {% for speaker in speakers %}
                            {{ speaker_info(speaker) }}
                        {% endfor %}
                    {% else %}
                        {{ _("No sessions have been published yet") }}
                    {% endif %}
                </div>
            </div>
            <br>
        {% endif %}
        {% if event.sponsor[0] %}
            <h3 id="sponsors">Sponsors</h3>
            {% for item in sponsors | dictsort | reverse %}
                <div class="row" id="level-{{ item[0] }}">
                    <h4>
                        {% if item[1][0].sponsor_type and item[0] != -1 %}
                            {{ item[1][0].sponsor_type | title }}
                        {% elif item[0] == -1 and sponsors | length>1 and item[1] | length > 0 %}
                            {{ _("Other Sponsors") }}
                        {% elif not item[1][0].sponsor_type and item[1] | length > 0 %}
                            Level - {{ item[0] }}
                        {% endif %}
                    </h4>
                    {% for sponsor in item[1] %}
                        {{ sponsor_info(sponsor) }}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        {% if event.organizer_name %}
            <h3 id="organizer">{{ _("Organized by") }} {{ event.organizer_name }}</h3>
            <p>{{ event.organizer_description | safe }}</p>
            <br>
        {% endif %}
        {% if event.location_name %}
            <h3 id="getting-here">{{ _("Getting Here") }}</h3>
            <div class="row">
                {% if event.show_map != 0 %}
                    <div id="map"
                         class="col-md-8 col-sm-8 col-xs-12 {% if event.latitude == 0 or event.longitude ==0 %}hidden{% endif %}"></div>
                {% endif %}
                <div class="col-md-4" style="text-align: left; padding-left: 4%;">
                    <h4>Address</h4>
                    {{ event.location_name }}
                </div>
            </div>
        {% endif %}
        <div class="row license_row">
            {# Licence Info #}
                {% if licence_details %}
                    <div>
                        {% if licence_details['compact_logo'] != '' %}
                            <img src="{{ licence_details['compact_logo'] }}">
                        {% endif %}
                        <div style="font-size: 14px;">This event is licenced under
                            {% if licence_details['url'] != '' %}
                                <a href="{{ licence_details['url'] }}" target="_blank"
                                   style="color:#1a75ff;">{{ licence_details['long_name'] }}</a>
                            {% else %}
                                {{ licence_details['long_name'] }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/lib/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script type="text/javascript">
        var map;
        var eventLocation = {lat: {{ event.latitude }}, lng: {{ event.longitude }}};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: eventLocation,
                zoom: 16
            });

            var marker = new google.maps.Marker({
                position: eventLocation,
                map: map,
                title: "{{ event.name }}"
            });

            var infoWindow = new google.maps.InfoWindow({
                content: "<h5>{{ event.name }}</h5>{{ event.location_name }}"
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }

        var $scrollSpy = $('#scrollspy');
        $scrollSpy.stick_in_parent({
            offset_top: 20
        });

        $scrollSpy.on('sticky_kit:unbottom', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $scrollSpy.on('sticky_kit:bottom', function () {
            $scrollSpy.parent().css("bottom", "16px");
        });

        $scrollSpy.on('sticky_kit:unstick', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $('body').scrollspy({target: '.scrollspy'});

        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdXg0Y_zk-wCNpslbBqcezLdHniaEwkI&callback=initMap"
            async defer></script>
{% endblock %}
