{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'schedule' %}

{% set scheduler_readonly = true %}

{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/admin/scheduler.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/sessions.css') }}"/>
{% endblock %}

{% block head_js %}
    {{ super() }}
    <script type="text/javascript">
        window.scheduler_readonly = true;
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 24px">Schedule
                    <small>
                        (Published on {{ event.schedule_published_on.strftime('%B %d, %Y') }})
                    </small>
                </h1>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="btn-toolbar" role="toolbar">
                    <div id="date-change-btn-holder" class="btn-group date-change-btn-holder" role="group">

                    </div>
                     <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default rooms-view">Rooms View</button>
                        <button type="button" class="btn btn-default tracks-view">Tracks View</button>
                        <button type="button" class="btn btn-default sessions-view">Sessions View</button>
                    </div>
                </div>

                <div class="flash-message-holder" style="width: 100%; text-align: center;">
                    <span class="text-muted message loading-text" style="font-weight: 100; font-size: 30px;">Sessions loading ...</span>
                </div>
                <div class="scheduler-holder" style="display: none;">
                    <div id="session-view-holder" class="hidden">
                        <br>
                        {% include 'gentelella/guest/event/_sessions_list.html' %}
                    </div>
                    {% include 'gentelella/admin/event/scheduler/components/timeline.html' %}

                </div>

            </div>
        </div>
    </div>
    {% include 'gentelella/admin/event/scheduler/components/timeline_templates.html' %}
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/lib/seedrandom/seedrandom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/google-material-color/dist/palette.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/lodash/dist/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.ellipsis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.codezero.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/event/scheduler.js') }}"></script>
    <script type="text/javascript">
        $(".audio-btn").popover({
            html: true,
            placement: 'top'
        }).click(function(e){
            e.preventDefault();
        });

    </script>
{% endblock %}
