{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'schedule' %}

{% set scheduler_readonly = true %}

{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/events/scheduler.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/sessions.css') }}"/>
{% endblock %}

{% block head_js %}
    {{ super() }}
    <script type="text/javascript">
        window.scheduler_readonly = true;
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 24px">{{ event.name }} {{ _(" Schedule") }}

                </h1>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="btn-toolbar" role="toolbar">
                    <div id="date-change-btn-holder" class="btn-group date-change-btn-holder" role="group">

                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default rooms-view">{{ _("Rooms View") }}</button>
                        <button type="button" class="btn btn-default tracks-view">{{ _("Tracks View") }}</button>
                        <button type="button" class="btn btn-default sessions-view">{{ _("Sessions View") }}</button>
                    </div>
                </div>

                <div class="flash-message-holder" style="width: 100%; text-align: center;">
                    <span class="text-muted message loading-text"
                          style="font-weight: 300; font-size: 30px;">{{ _("Sessions loading") }} ...</span>
                </div>
                <div class="scheduler-holder" style="display: none;">
                    <div id="session-view-holder" class="hidden">
                        <br>
                        {% include 'gentelella/guest/event/_sessions_list.html' %}
                    </div>
                    {% include 'gentelella/users/events/scheduler/components/timeline.html' %}

                </div>

            </div>
        </div>
        <strong>
            ({{ _("Published on") }} {{ event.schedule_published_on.strftime('%B %d, %Y') }})
        </strong>
    </div>
    {% include 'gentelella/users/events/scheduler/components/timeline_templates.html' %}
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/seedrandom/seedrandom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/google-material-color/dist/palette.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/lodash/dist/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.ellipsis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.codezero.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/events/scheduler.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script type="text/javascript">
        var $scrollSpy = $('#scrollspy');
        $scrollSpy.stick_in_parent({
            offset_top: 20
        });

        $scrollSpy.on('sticky_kit:unbottom', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $scrollSpy.on('sticky_kit:bottom', function () {
            $scrollSpy.parent().css("bottom", "16px");
        });

        $scrollSpy.on('sticky_kit:unstick', function () {
            $scrollSpy.parent().css("position", "static");
        });
        $('body').scrollspy({target: '.scrollspy'});

        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
        $(".audio-btn").popover({
            html: true,
            placement: 'top'
        }).click(function (e) {
            e.preventDefault();
        });

    </script>
{% endblock %}
