{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'schedule' %}

{% set scheduler_readonly = true %}

{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/events/scheduler.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/sessions.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/schedule.css') }}"/>
{% endblock %}

{% block head_js %}
    {{ super() }}
    <script type="text/javascript">
        window.scheduler_readonly = true;
    </script>
{% endblock %}

{% block content %}
    <div>
        <div class="row scheduler">
            <div class="col-md-12 scheduler-head">
                <h1 style="font-weight: 300; font-size: 24px">
                    {{ event.name }}{{ _(" Schedule") }}
                </h1>
            </div>
            <div class="col-md-12 scheduler-container">
                <div class="btn-toolbar scheduler-heading" role="toolbar">
                    <div id="date-change-btn-holder" class="btn-group date-change-btn-holder" role="group">

                    </div>
                    <div id="type-change-btn-holder" class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default rooms-view">{{ _("Rooms View") }}</button>
                        <button type="button" class="btn btn-default tracks-view">{{ _("Tracks View") }}</button>
                        <button type="button" class="btn btn-default sessions-view">{{ _("Sessions View") }}</button>
                        <button type="button" class="btn btn-default export-png"><i class="fa fa-download"></i></button>

                    </div>
                    <span class="fa fa-expand btn-pop-out"></span>
                </div>

                <div class="scheduler-body">
                    <div class="flash-message-holder" style="width: 100%; text-align: center;">
                        <span class="text-muted message loading-text"
                              style="font-weight: 300; font-size: 30px;">{{ _("Sessions loading") }} ...</span>
                    </div>
                    <div class="scheduler-holder" style="display: none;">
                        <div id="session-view-holder" class="hidden">
                            <br>
                            {% include 'gentelella/guest/event/_sessions_list.html' %}
                        </div>
                        {% include 'gentelella/users/events/scheduler/components/timeline.html' %}

                    </div>
                </div>
                <div class="col-md-12 scheduler-head">
                    <p style="float: right; padding-right: 20px">
                        {{ _("All the timings are in") }} {{ event.timezone | default('UTC', true) }}
                    </p>
                    <strong>
                        {{ _("Published on") }} {{ event.schedule_published_on.strftime('%B %d, %Y') }}
                    </strong>
                    </p>
                </div>
            </div>

        </div>
    {% include 'gentelella/users/events/scheduler/components/timeline_templates.html' %}
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/seedrandom/seedrandom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/google-material-color/dist/palette.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/lodash/dist/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.ellipsis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.codezero.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/events/scheduler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/html2canvas/build/html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/file-saver/FileSaver.min.js') }}"></script>

    <script type="text/javascript">
        var $scrollSpy = $('#scrollspy');
        $scrollSpy.stick_in_parent({
            offset_top: 20
        });

        $scrollSpy.on('sticky_kit:unbottom', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $scrollSpy.on('sticky_kit:bottom', function () {
            $scrollSpy.parent().css("bottom", "16px");
        });

        $scrollSpy.on('sticky_kit:unstick', function () {
            $scrollSpy.parent().css("position", "static");
        });
        $('body').scrollspy({target: '.scrollspy'});

        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
        $(".audio-btn").popover({
            html: true,
            placement: 'top'
        }).click(function (e) {
            e.preventDefault();
        });

        var $document = $(document),
            $body = $('body'),
            $scheduler = $('.scheduler');

        function toggleScheduleBox(){
            var state = false;
            function toggle(force = null) {
                function open(){
                    $scheduler.addClass('scheduler-pop');
                    $body.addClass('noscroll');
                    $('.overlay').addClass('visible');
                    $('.btn-pop-out').removeClass('fa-expand').addClass('fa-compress');
                    var width = $("#timeline").width() - $('.timeunits.x1').width();
                    console.log($("#timeline").width());
                    console.log($('.timeunits.x1').width());
                    console.log(width);
                    $('.microlocation-container').css("width", width + "px");
                }
                function close(){
                    $scheduler.removeClass('scheduler-pop');
                    $body.removeClass('noscroll');
                    $('.overlay').removeClass('visible');
                    $('.btn-pop-out').addClass('fa-expand').removeClass('fa-compress');
                    var width = $("#timeline").width() - $('.timeunits.x1').width();
                    $('.microlocation-container').css("width", width + "px");
                }
                if(force == null) {
                    state ? close() : open();
                    state = !state;
                }
                else {
                    force ? open() : close();
                    state = force;
                }
            }
            return toggle;
        }

        var toggleSchedule = toggleScheduleBox();

        $('.btn-pop-out').on('click touchstart', function() {
            toggleSchedule();
        });

        $(".audio-btn").popover({
            html: true,
            placement: 'top'
        }).click(function (e) {
            e.preventDefault();
        });

        $(".export-png").click(function () {
            var $timeline = $('.event-info-container-holder');
            $('#microlocation-container').addClass('fullwidth');
            var width = $('#microlocation-container').width() + 150;
            var currentStyle = $timeline.attr('style');
            $timeline.width(width);
            html2canvas($timeline[0], {
                onrendered: function (canvas) {
                    canvas.id = "generated-canvas";
                    canvas.toBlob(function (blob) {
                        saveAs(blob, "timeline.png");
                        $('#microlocation-container').removeClass('fullwidth');
                        $timeline.attr('style', currentStyle);
                    });
                },
            });

        });
    </script>
{% endblock %}
