{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'sessions' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/sessions.css') }}"/>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 30px">{{ _("Sessions") }}</h1>
                {% include 'gentelella/guest/event/_sessions_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vendor/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script type="text/javascript">

        $(".audio-btn").popover({
            html: true,
            placement: 'top'
        }).click(function (e) {
            e.preventDefault();
        });
    var $scrollSpy = $('#scrollspy');
        $scrollSpy.stick_in_parent({
            offset_top: 20
        });

        $scrollSpy.on('sticky_kit:unbottom', function () {
            $scrollSpy.parent().css("position", "static");
        });

        $scrollSpy.on('sticky_kit:bottom', function () {
            $scrollSpy.parent().css("bottom", "16px");
        });

        $scrollSpy.on('sticky_kit:unstick', function () {
            $scrollSpy.parent().css("position", "static");
        });
        $('body').scrollspy({target: '.scrollspy'});

        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
        $(".audio-btn").popover({
            html: true,
            placement: 'top'
        }).click(function (e) {
            e.preventDefault();
        });
    </script>
{% endblock %}
