{% extends 'gentelella/guest/event/base.html' %}

{% set active_page = 'sessions' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/sessions.css') }}"/>
{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-weight: 300; font-size: 30px">Sessions</h1>
                {% include 'gentelella/guest/event/_sessions_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">

    $(".audio-btn").popover({
        html: true,
        placement: 'top'
    }).click(function(e){
        e.preventDefault();
    });

    </script>
{% endblock %}
