{% extends 'gentelella/admin/login/base.html' %}
{% block password_reminder %}
<div id="password_reminder" class="animate form registration_form">
          <section class="login_content">
            <form method="post">
              <h1>Forgot Password</h1>
              <div>
                <input name="email" type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <button type="submit" class="btn btn-default">Submit</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
</div>
{% endblock %}
