{% extends 'gentelella/admin/login/base.html' %}
{% block register %}
<form data-toggle="validator" method="post">
  <div class="form-group has-feedback">
      <input type="email" name="email" class="form-control" id="email" placeholder="Email" data-error="Invalid email address" required="">
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group has-feedback">
      <input type="password" name="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required="" data-error="Minimum of 6 characters"> 
      <div class="help-block with-errors"></div>
    </div>
  <div>
       <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

{% endblock %}
{% block tail_js %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/lib/bootstrap-validator/dist/validator.min.js') }}"></script>

{% endblock %}
