<script id="microlocation-template" type="text/x-template">
    <div class="microlocation">
        <div class="text-center microlocation-header"><span class="badge">0</span></div>
        <div class="microlocation-inner" style="height: 1296px;">

        </div>
    </div>
</script>

<script id="date-change-button-template" type="text/x-template">
    <button type="button" class="btn btn-default date-change-btn">May 20</button>
</script>

<script id="session-template" type="text/x-template">
    <div class="session" data-toggle="tooltip" data-animation="false" data-placement="top" title="">
        <div class="text">

        </div>
        <i class="edit-btn glyphicon glyphicon-pencil"></i>
        <i class="remove-btn glyphicon glyphicon-remove"></i>
    </div>
</script>

<script id="date-change-button-template" type="text/x-template">
    <button type="button" class="btn btn-default date-change-btn">May 20</button>
</script>

<script id="mobile-microlocation-template" type="text/x-template">
    <div class="mobile-microlocation">
        <div class="row" style="padding: 0;">
            <div class="col-md-12" style="margin-top:1%;margin-bottom:1%">
                <h4 class="mobile-text name">

                </h4>
            </div>
        </div>
        <div class="row" style="padding: 0;">
            <div class="col-md-12">
                <h5 class="mobile-text date">

                </h5>
            </div>
        </div>
        <div class="mobile-sessions-holder">

        </div>
    </div>
</script>

<script id="mobile-session-template" type="text/x-template">
    <div class="row" style="padding: 0;">
        <div class="height col-xs-2 col-sm-2 col-md-2">
            <h6 class="mobile-text time">

            </h6>
        </div>
        <div class="event track-title col-xs-8 col-sm-8 col-md-8 name">

        </div>
    </div>
</script>
