<script id="microlocation-template" type="text/x-template">
    <div class="microlocation">
        <div class="text-center microlocation-header"></div>
        <div class="microlocation-inner" style="height: 1296px;">

        </div>
    </div>
</script>

<script id="date-change-button-template" type="text/x-template">
    <button type="button" class="btn btn-default date-change-btn">May 20</button>
</script>

<script id="session-template" type="text/x-template">
    <div class="session" data-toggle="tooltip" data-animation="false" data-placement="top" title="">
        <div class="text">

        </div>
        <i class="edit-btn glyphicon glyphicon-pencil"></i>
        <i class="remove-btn glyphicon glyphicon-remove"></i>
    </div>
</script>

<script id="date-change-button-template" type="text/x-template">
    <button type="button" class="btn btn-default date-change-btn">May 20</button>
</script>

<script id="mobile-speaker-template" type="text/x-template">
    <div class="speaker-biography">
        <img class="speaker-big-photo" onerror="this.onerror=null; this.src='/static/placeholders/avatar.png';" style="width:10rem;height:10rem;border-radius:50%">
        <p class="name"> </p>
        <p class="organisation"> </p>
        <p class="biography"> </p>
        <div class="image"> </div>
    </div>
</script>

<script id="mobile-speaker-image-template" type="text/x-template">
    <img class="speaker-image" onerror="this.onerror=null; this.src='/static/placeholders/avatar.png';">
</script>

<script id="mobile-microlocation-template" type="text/x-template">
    <div class="mobile-microlocation">
        <div class="row" style="padding: 0;">
            <div class="col-md-12" style="margin-top:1%;margin-bottom:1%">
                <h4 class="mobile-text name">

                </h4>
            </div>
        </div>
        <div class="row" style="padding: 0;">
            <div class="col-md-12">
                <h5 class="mobile-text date">

                </h5>
            </div>
        </div>
        <div class="mobile-sessions-holder">

        </div>
    </div>
</script>

<script id="mobile-session-template" type="text/x-template">
    <div class="row" style="padding: 0;">
        <div class="height col-xs-2 col-sm-2 col-md-2">
            <h6 class="mobile-text time">

            </h6>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="event track-title name" data-toggle="collapse">
                <div class = "title">  </div>
                <div class="shorter-detail collapse in" style="margin-top:10px;">
                    <div class = "row" style="padding:0px">
                        <div class="col-md-6 col-xs-12" style="padding:0px;width:auto;max-width:50%;">
                            <span class="speaker-photo">
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12" style="padding:0px">
                            <span class="speaker-detail">
                            </span>
                            <p class="session-type">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="session-track-details collapse">
                <p>
                    <span class="session-description"></span>
                </p>
                <br>
                <div class="speaker-more-detail">
                </div>
                <p class="session-location">
                </p>
            </div>
        </div>
    </div>
</script>
