{% set required_list = ['title', 'name', 'email', 'track'] %}
{% set preselect_list = preselect | default(['short_abstract', 'comments', 'slides', 'photo', 'short_biography', 'website', 'twitter', 'organisation', 'position', 'country', 'session_type']) %}

{% set session_fields = ['title', 'subtitle', 'short_abstract', 'long_abstract', 'comments', 'track', 'session_type', 'level', 'language', 'slides', 'video', 'audio'] %}
{% set speaker_fields = ['name', 'email','photo', 'organisation', 'position', 'country', 'city', 'short_biography', 'long_biography', 'speaking_experience', 'sponsorship_required', 'heard_from', 'mobile', 'website', 'facebook', 'twitter', 'github', 'linkedin'] %}

{% macro field_switch(name, group, include=false, require=false ) %}
    {% set identifier = name | replace(group + '.','') %}
    {% set name = identifier | replace('_id','') %}
    {% set pretty_name = name | replace('_',' ') | capitalize %}
    <tr data-identifier="{{ name }}" data-group="{{ group }}"
            {% if not microlocations and not session_types and event %}
        data-toggle="tooltip"
            {% endif %}
            {% if (identifier == 'session_type') %}
        data-placement="left" title="You need to enable Session types to use this option"
            {% endif %}>
        <td>{% if name == 'heard_from' %}
                Where did you heard about our event?
            {% else %}
                {{ pretty_name }}
            {% endif %}
            {% if identifier in required_list or identifier in required %}<span class="required">*</span>{% endif %}
        </td>
        <td>
            <input type="checkbox" class="toggle-switch include-switch" data-group="{{ group }}"
                   id="{{ identifier }}-include"
                   {% if identifier not in required_list %}onclick="includeClick(this)"{% endif %}
                   {% if (include or identifier in preselect_list or identifier in required_list or identifier in required) and ((identifier != 'session_type') or microlocations or session_types or not event) %}checked="checked"{% endif %}
                   {% if (identifier in required_list) or ((identifier == 'session_type') and not microlocations and not session_types and event) %}disabled{% endif %}/>
            <label for="{{ identifier }}-include"> </label>
        </td>
        <td>
            <input type="checkbox" class="toggle-switch require-switch" data-group="{{ group }}"
                   id="{{ identifier }}-require"
                   {% if identifier not in required_list %}onclick="requireClick(this)"{% endif %}
                   {% if (include or identifier in required_list or identifier in required) and ((identifier != 'session_type') or microlocations or session_types or not event) %}checked="checked"{% endif %}
                   {% if (identifier in required_list) or ((identifier == 'session_type') and not microlocations and not session_types and event) %}disabled{% endif %}/>
            <label for="{{ identifier }}-require"> </label>
        </td>
    </tr>
{% endmacro %}


{% macro options_table(columns, group) %}

    <div style="width: 100%; text-align: center">
        <h2 style="font-weight: 300; font-size: 19px;">{{ _("Collect") }} {{ group | capitalize }} {{ _("Details") }}</h2>
    </div>

    <table class="table table-striped table-bordered table-hover options-table {{ group }}-options-table">
        <thead>
        <tr>
            <th>{{ _("Option") }}</th>
            <th>{{ _("Include") }}</th>
            <th>{{ _("Require") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for column in columns %}
            {{ field_switch(column, group) }}
        {% endfor %}

        </tbody>
    </table>

{% endmacro %}

<div id="step-5" class="wizard_content">
    <div class="col-xs-12 col-md-8 col-md-push-2">
        <h2 style="font-weight:300; text-transform: uppercase; margin-top: 35px; color:#5bc0de;">
            <i class="fa fa-check-square-o"></i>
            {{ _("Customize Registration Form") }}
            <hr style="margin:0;border: 2px #5bc0de;">
        </h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-md-8 col-md-push-2">
        {{ options_table(session_fields, 'session') }}
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-md-8 col-md-push-2">
        {{ options_table(speaker_fields, 'speaker') }}
    </div>
</div>
