{% extends 'gentelella/admin/base.html' %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/index.css') }}"/>
{% endblock %}

{% macro event_box(event) %}
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" style="width:100%;">
            <div class="caption">
                <small>{{ event.start_time.strftime('%B %d, %Y - %I:%M %p') }}</small>
                <h4>{{ event.name }}</h4>
                <small>{{ event.location_name }}</small>
                <hr>
                <p>
                    #tech, #conference
                </p>
            </div>
        </div>
    </div>
{% endmacro %}


{% block body %}
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>The simplest way to create events.</h1>
                        <p></p>
                        <p><a class="btn btn-info btn-lg" href="/events/create/" role="button">Create an event now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="section-header" style="margin-left: 10px; margin-bottom: 0;">Upcoming Events</h3>
    </div>
    {% for published_events_chunk in published_events %}
        <div class="row">
            {% for published_event in published_events_chunk %}
                {{ event_box(published_event) }}
            {% endfor %}
        </div>
    {% else %}
        <div class="row no-data-message">No upcoming events available at this time</div>
    {% endfor %}

    <div class="row">
        <h3 class="section-header" style="margin-left: 10px; margin-bottom: 0;">Call for Speakers</h3>
    </div>
    {% for call_for_papers_evs_chunk in call_for_papers_evs %}
        <div class="row">
            {% for call_for_papers_evs in call_for_papers_evs_chunk %}
                {{ event_box(call_for_papers_evs) }}
            {% endfor %}
        </div>
    {% else %}
        <div class="row no-data-message">No call for speakers open at this time</div>
    {% endfor %}
    <br>
    <br>
{% endblock %}
