{% extends 'gentelella/admin/base.html' %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/index.css') }}"/>
    <style type="text/css">
        .event-holder {
            cursor: pointer;

        }

        .event-holder:hover > .thumbnail > .caption {
            background-color: #f7f7f7;
        }

        .event-holder hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .event-holder img {
            width: 100%;
            height: 165px;
            background: url('{{ url_for('static', filename='img/sativa.png') }}');
            border: none;
        }

        .event-holder .thumbnail {
            padding: 0;
        }

        .event-holder .time {
            text-transform: uppercase;
        }

        .event-holder .name {
            height: 40px;
            text-overflow: ellipsis;
        }

        .event-holder .location_name {

        }

        .event-holder .tags {
            height: 18px;
        }

        .event-holder .caption {
            background-color: #FFFFFF;
            transition: background-color 0.5s;
        }

        .event-holder .share-btn {
            margin-top: 5px;
            margin-right: 1px;
            color: #868686;
            transition: color 0.5s;
        }

        .event-holder .share-btn:hover {
            margin-top: 5px;
            margin-right: 1px;
            color: #393939;
        }

        .filter-hashtag {
            cursor: pointer;
        }

        .filter-hashtag:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}
{% block title %}
    Home
{% endblock %}
{% macro event_box(event) %}
    <a href="/e/{{ event.id }}">
        <div class="col-md-4 col-xs-12 col-sm-6 event-holder">
            <div class="thumbnail">
                <img src="{{ event.background_url }}" onerror="imgError(this, true)">
                <div class="caption">
                    <small class="time">{{ event.start_time.strftime('%a, %B %d %I:%M %p') }}</small>
                    <h4 class="name">{{ event.name }}</h4>
                    <small class="location_name">{{ event.location_name.split(",")[0] }}</small>
                    <hr>
                    <p class="tags">
                        {% if event.type %}
                            <span class="filter-hashtag" data-name="type"
                                  data-value="{{ event.type }}">#{{ event.type | default('', true) |  camel_case }}</span>
                        {% endif %}
                        {% if event.topic %}
                            <span class="filter-hashtag" data-name="category"
                                  data-value="{{ event.topic }}">#{{ event.topic | default('', true) | camel_case }}</span>
                        {% endif %}
                        <i data-event-id="{{ event.id }}" data-title="{{ event.name }}"
                           class="share-btn fa fa-share-alt pull-right"></i>
                    </p>
                </div>
            </div>
        </div>
    </a>
{% endmacro %}


{% block body %}
    <div class="carousel slide" style="margin-bottom: 10px;">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>The simplest way to create events.</h1>
                        <p></p>
                        <p><a class="btn btn-info btn-lg" href="/events/create/" role="button">Create Event</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="row">
                <h3 class="section-header" style="margin-left: 10px; margin-bottom: 0;">Upcoming Events</h3>
            </div>
            <div class="row">
                {% for upcoming_event in upcoming_events %}
                    {{ event_box(upcoming_event) }}
                {% else %}
                    <div class="row no-data-message">No upcoming events available at this time</div>
                {% endfor %}
            </div>

            <div class="row">
                <h3 class="section-header" style="margin-left: 10px; margin-bottom: 0;">Call for Speakers</h3>
            </div>
            <div class="row">
                {% for call_for_speakers_event in call_for_speakers_events %}
                    {{ event_box(call_for_speakers_event) }}
                {% else %}
                    <div class="row no-data-message">No call for speakers open at this time</div>
                {% endfor %}
            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="modal fade" id="share-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Share this event</h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    {% include 'gentelella/components/social_buttons.html' %}
                    <input id="share-url-box" type="text" class="form-control" onClick="this.select();"
                           value="{{ request.url }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.codezero.js') }}"></script>
    <script type="text/javascript">
        $(document).on("click", ".share-btn", function (event) {
            event.stopImmediatePropagation();
            event.stopPropagation();
            event.preventDefault();
            var eventUrl = location.href + "e/" + $(this).data("event-id") + "/" + slugify($(this).data("title"));
            $("#share-url-box").val(eventUrl);
            setSocialLinks(eventUrl, $(this).data("title"));
            $("#share-modal").modal('show');
        });

        $(document).on('click', '.filter-hashtag', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var name = $(this).data('name');
            var value = $(this).data('value');
            location.href = "{{ url_for("admin.browse_view") }}?"+name+"="+encodeURI(value);
        });

    </script>
{% endblock %}
