{% extends 'gentelella/users/settings/base.html' %}

{% block title %}
    {{ _("Contact Info - Settings") }}
{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events/event-wizard.css') }}"/>
{% endblock %}

{% set active_page = 'applications' %}

{% block content %}

    <div style="display: block;">
        <div class="row" style="margin-bottom:20px">

            <div class="col-md-6 col-xs-6">
                <label>Facebook:</label>
                <div class="input-group">
                    <span class="input-group-addon social-addon">facebook.com/</span>
                    <input type="text" name="facebook" class="form-control"
                           value="{{ user.user_detail.facebook|default('', true) | replace('https://facebook.com/', '') }}"
                           style="min-width: 400px"
                           disabled />
                    {% if not user_id %}
                        <div class="input-group-btn">
                            <a type="button" class="btn btn-info"
                               style="margin-bottom: 0">{{ _("Connected") }}</a>
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>

        <div class="row" style="margin-bottom:20px">
            <div class="col-md-6 col-xs-6">
                <label>Twitter:</label>
                <div class="input-group">
                    <span class="input-group-addon social-addon" id="basic-addon3">twitter.com/</span>

                    <input type="text" name="twitter" class="form-control"
                           value="{{ user.user_detail.twitter|default('', true) | replace('https://twitter.com/', '') }}"
                           style="min-width: 400px"
                           disabled />
                    {% if not user_id %}
                        <div class="input-group-btn">
                            <a type="button" class="btn btn-info"
                               style="margin-bottom: 0">{{ _("Connected") }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-md-6 col-xs-6">
                <label>Instagram:</label>
                <div class="input-group">
                    <span class="input-group-addon social-addon" id="basic-addon3">instagram.com/</span>

                    <input type="text" name="instagram" class="form-control"
                           value="{{ user.user_detail.instagram|default('', true) | replace('https://instagram.com/', '') }}"
                           style="min-width: 400px"
                           disabled />
                    {% if not user_id %}
                        <div class="input-group-btn">
                            <a type="button" class="btn btn-info"
                               style="margin-bottom: 0">{{ _("Connected") }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:20px">
            <div class="col-md-6 col-xs-6">
                <label>Google+:</label>
                <div class="input-group">
                    <span class="input-group-addon social-addon" id="basic-addon3">plus.google.com/</span>

                    <input type="text" name="google" class="form-control"
                           value="{{ user.user_detail.google|default('', true) | replace('https://plus.google.com/', '') }}"
                           style="min-width: 400px"
                           disabled />
                    {% if not user_id %}
                        <div class="input-group-btn">
                            <a type="button" class="btn btn-info"
                               style="margin-bottom: 0">{{ _("Connected") }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="btn-toolbar" data-role="editor-toolbar"
             data-target="#editor">
        </div>
    </div>


{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/bootstrap-validator/dist/validator.min.js') }}"></script>
{% endblock %}
