{% extends 'gentelella/admin/event/event_base.html' %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/nouislider/distribute/nouislider.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/versioning.css') }}"/>

    <style type="text/css">
        .alert-unused {
            color: #E9EDEF;
            background-color: rgba(150, 150, 150, 0.88);
            border-color: rgba(120, 120, 120, 0.88);
        }


    </style>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        {% include 'gentelella/admin/event/details/widgets/setup_checklist.html' %}
        {% include 'gentelella/admin/event/details/widgets/roles.html' %}
        </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        {% include 'gentelella/admin/event/details/widgets/general_info.html' %}
        {% include 'gentelella/admin/event/details/widgets/sponsors_list.html' %}
        </div>
    </div>

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/nouislider/distribute/nouislider.min.js') }}"></script>

    <script type="text/javascript">
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var user_option = $("input[name=role_status]:checked").val();
                var state = data[0].trim();
                if (user_option === state || state === "") {
                    return true;
                }
                return false;
            }
        );
        var roleTable = $('.role-table').DataTable({
            "bInfo": false,
            "bPaginate": false,
            "dom": '<"row"<"toolbar col-md-6"><"col-md-6"f>>tip',
            "scrollX": false,
            "bAutoWidth": false
        });
        $("div.toolbar").prepend($("#toolbar-holder").html());

        $("input[name=role_status]").change(function () {
            roleTable.draw();
        });

        roleTable.on('draw', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function searchAcceptedRoles(email) {
            var resp = null;
            $(".role-table tbody tr").each(function () {
                var firstTd = $(this).children("td:first").text();
                if (firstTd == "accepted") {
                    var secondTd = $(this).children("td:nth-child(2)").text();
                    if (secondTd == email) {
                        var editModalId = $(this).children("td:nth-child(5)").children("a:first").attr("data-target");
                        if (editModalId !== undefined) {
                            resp = editModalId;
                            return false;
                        }
                    }
                }
            });
            return resp;
        }

        $("#add-role-form").submit(function() {
            var userEmail = $("#add-role-form input[name=user_email]").val().trim();
            var res = searchAcceptedRoles(userEmail);

            if (res !== null) {
                var addRoleAlertBox = $("#add-role-alert-box");
                var msg = userEmail + " has already been assigned a Role in the Event.<br>" +
                    "Click <a href='#' style='color:white;text-decoration:underline;' onclick=\"openRoleEdit('"+res+"')\">here</a> to edit it.";
                addRoleAlertBox.children("span").html(msg);
                addRoleAlertBox.show();
                return false;
            }
        });

        function openRoleEdit(openId) {
            $("#add-role").modal("hide");
            $(openId).modal("show");
        }

        $('.sponsor-table').DataTable();
        $('.sponsor-widget #DataTables_Table_1_length').hide()
    </script>


{% endblock %}
