
footer{
    border-top: 5px solid grey;
    background:#282C35;
    color: white;
    margin-left: 0px;
    font-weight: 300;
}

footer h4 {
    font-size: 16px;
    color: #AAAAAA;
}

footer ul
{
    padding: 0px;
    list-style-type: none;
    font-size:13px;
}

footer ul li
{
    line-height:25px;

}

footer ul a, footer a:hover, footer ul a:hover {
    color: white;
}

footer .row {
    margin:0;
    padding:10px;
}

#footer-menu{
    height: auto;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

#footer-menu select {margin-top: 10px}


#footer-menu a{color: white; font-size: 16px; margin: 10px; line-height: 1.5}

footer .copyright{
    text-align: center;
    color:#AAAAAA;
    margin-top: 10px}

#footer-menu select {background: #282C35; border-color:#AAAAAA; color: #AAAAAA  }

#footer-menu > div > div:first-child{
    padding: 10px 10px;
}

.footer-dropdown {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 16px;
    background: #282C35;
    color: #AAAAAA;
    text-align: left;
}

.footer-dropdown .dropdown-text {
    margin-left: 10px;
}

.footer-dropdown .fa-chevron-down {
    float:right;
}

footer .dropdown-menu {
    width:100%;
}

@media (max-width: 991px) {
    #footer-menu {
        border: 0;
        height: auto;
        text-align: center;
    }
    #footer-menu .hide-large {
        display: inline !important;
    }
    #footer-menu .dropup {
        min-width:180px;
        margin-top: 25px;
    }
}
