{% extends 'admin/base1.html' %}
{% block body %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well bs-component">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <div class="">
                        {% if current_user.is_authenticated %}
                            <h1>Open Event</h1>
                            <p class="lead">

                            </p>
                            <p>
                                The FOSSASIA Open Event Project aims to make it easier for events, conferences, tech summits (maybe more types in future) to easily create Web and Mobile (only Android right now) micro Apps. The project comprises of a data schema for easily storing event details, a server and web frontend that are used to view, modify, update this data easily by the event organisers, a mobile-friendly webapp client to show the event data to attendees, an Android app template which will be used to generate specific apps for each event.
                                <br/>
                                <a class="btn btn-success" href="{{ get_url('event.create_view', url=return_url)}}" role="button" style="float:right">Create New Event</a>
                                <div style="clear:both"></div>
                            </p>
                        {% else %}
                            <h2>{{name}}</h2>
                            <form method="POST" action="" class="form-horizontal">
                                <fieldset>
                                    {{ form.hidden_tag() if form.hidden_tag }}
                                    {% for f in form if f.type != 'CSRFTokenField' %}
                                        <div class="form-group">
                                            {{ f.label(class_="col-lg-2 control-label") }}
                                            <div class="col-lg-10">
                                                {{ f(class_="form-control") }}
                                                {% if f.errors %}
                                                <ul style="list-style:none; font-size:11px">
                                                    {% for e in f.errors %}
                                                    <li style="color:red">{{ e }}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button class="btn btn-success" type="submit">Submit</button>
                                    <a href="{{auth_url}}" class="btn btn-primary btn-block" style="padding: 11px 1;">Login with Google</a>
                                    <a href="{{fb_auth_url}}" class="btn btn-primary btn-block" style="padding: 11px 1;">Login with Facebook</a>
                                </fieldset>
                            </form>
                        {{ link | safe }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-5">
                    {% if current_user.is_authenticated %}
                        <h2>User Events</h2>


                        <table class="table table-condensed" id="table-list">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for asso in owner_events %}
                                <tr>
                                    <td>
                                        <a href="/admin/event/edit/?id={{asso.event.id}}" class="">{{asso.event.name}} </a>
                                    </td>
                                    <td>
                                        {% if asso.admin %}
                                            <a class="btn btn-info btn-xs" href="/admin/event/{{asso.event.id}}/user_permissions">Add User Permission</a>
                                        {% else %}
                                            <span class="btn btn-info btn-xs disabled">Add User Permission</span>
                                        {% endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
{% endblock %}
