{% extends 'admin/base1.html' %}
{% block body %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="well bs-component">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">

                    <h2>Change password</h2>
                    <form method="POST" action="/admin/password/reminder" class="form-horizontal">
                        <fieldset>
                            {{ form.csrf_token }}

                            {{form.password}}
                            {{form.aprove_password}}
                            <input class="btn btn-success" type="submit">Submit</input>
                        </fieldset>
                    </form>

                </div>
                <div class="col-lg-3">

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

{% endblock %}