{% macro render_menu(test='') %}
    <nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block brand %}
          <a class="navbar-brand" href="{{get_url('admin.index')}}">{{ admin_view.admin.name }}</a>
          {% endblock %}
        </div>
	<!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
          {% block main_menu %}
          <ul class="nav navbar-nav">
            <!-- Main menu-->

            {% if event_id %}

              <li {% if "/sponsor" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/sponsor">Sponsor</a><li>
              <li {% if "/speaker" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/speaker">Speaker</a><li>
              <li {% if "/session" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/session">Session</a><li>
              <li {% if "/track" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/track">Track</a><li>
              <li {% if "/microlocation" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/microlocation">Microlocation</a><li>
              <li {% if "/level" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/level">Level</a><li>
              <li {% if "/format" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/format">Format</a><li>
              <li {% if "/api" in request.path  %} class="active"{% endif %}><a href="/admin/event/{{event_id}}/api">Api</a><li></li>
            {% endif %}
            <li {% if "/upload" in request.path  %} class="active"{% endif %}><a href="{{ get_url('event.upload') }}">Files</a><li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">Switch event<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {%for event in events%}
                  <li>
                    <a href="/admin/event/edit/?id={{event.id}}">{{event.name}}</a>
                  </li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="{{ get_url('event.create_view', url=return_url)}}"><i class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right:5px"></i>Add new event</a></li>
                <li><a href="{{ get_url('event.index_view')}}"><i class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-right:5px"></i>List of events</a></li>
              </ul>
            </li>
            <!-- end Main menu -->
          </ul>
          {% endblock %}

          {% block menu_links %}
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated() %}
                {% if current_user.is_super_admin() %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">Admin Panel<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/manage_roles">Manage Roles</a></li>
                    </ul>
                {% endif %}

                  <li><a>{{current_user.login}}</a></li>
                  <li><a href="{{ get_url('admin.logout_view')}}">Log out</a></li>
              {% endif %}
          </ul>
          {% endblock %}
          {% block access_control %}
          {% endblock %}
        </div>
      </nav>

{% endmacro %}