{% extends 'admin/base1.html' %}
{% block body %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well bs-component">
            <h2> Role Manager </h2>

            <table class="table table-condensed" id="table-list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.login}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <form action="/admin/set_role">
                                    Choose Role:
                                    <input type="hidden" name="id" value={{user.id}}>
                                    <select name="roles">

                                        <option value="admin" {% if user.role|string() == "admin"|string() %} selected {%endif%}>Admin</option>
                                        <option value="super_admin" {% if user.role|string() == "super_admin"|string() %} selected {%endif%} >Super Admin</option>
                                        <option value="organizer" {% if user.role|string() == "organizer"|string() %} selected {%endif%} >Organizer</option>
                                        <option value="speaker" {% if user.role|string() == "speaker"|string() %} selected {%endif%}>Speaker</option>
                                    </select>
                                    <input type="submit" value="Submit">
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2"></div>

{% endblock %}