{% import 'gentelella/admin/menu.html' as menu with context %}
{% import 'gentelella/admin/footer.html' as footer with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Open Event</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    <link rel="shortcut icon" href="/favicon.ico?v1.1">

    {% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/roboto.css') }}"/>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='admin/lib/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='admin/lib/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/common.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/footer.css') }}"/>
        <link href="{{ url_for('static', filename='admin/lib/summernote/dist/summernote.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-responsive-tabs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/bootstrap-social/bootstrap-social.css') }}">
    {% endblock %}

    {% block head_js %}
        <script src="{{ url_for('static', filename='admin/lib/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/admin/global.js') }}"></script>
        {# Globally included Swagger API Client. See the file for more details. #}
        <script type="text/javascript"
                src="{{ url_for('static', filename='admin/lib/swagger-js/browser/swagger-client.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/admin/api.js') }}"></script>

    {% endblock %}
</head>
<body class="nav-md" style="background-color: #F7F7F7;">
<div class="container body">
    <div class="main_container">
        {{ menu.render_menu() }}
        <div role="main" class="right_col" style="margin-left:0;padding-top: 68px !important;">
            <div class="clearfix"></div>
            <div>
                {% include 'gentelella/admin/notifications.html' %}
                {% block body %}

                {% endblock %}
            </div>
        </div>
        {{ footer.render_footer() }}
    </div>
</div>

{% block tail_js %}
    <script src="{{ url_for('static', filename='admin/lib/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/lib/summernote/dist/summernote.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/global_tail.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}

{% if current_user.is_authenticated and integrate_socketio %}
<script src="{{ url_for('static', filename='admin/lib/socket.io-client/socket.io.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        /* Handle Notification Dropdown toggle manually.
         * https://stackoverflow.com/questions/25089297
         */
        $('li.dropdown.mega-dropdown a').on('click', function (event) {
            $(this).parent().toggleClass('open');
        });
        $('body').on('click', function (e) {
            if (!$('li.dropdown.mega-dropdown').is(e.target) &&
                $('li.dropdown.mega-dropdown').has(e.target).length === 0 &&
                $('.open').has(e.target).length === 0
            ) {
                $('li.dropdown.mega-dropdown').removeClass('open');
            }
        });

        function setATagsInNotifMenuDropDown() {
            var notification_view_path = "{{ url_for('profile.notifications_view') }}";
            $("ul#notif-menu li.notif-menu-li").each(function (i, li) {
                // Clicking on a message redirects to Notification page
                $(li).children("a").children(".message").click(function() {
                    window.location = notification_view_path;
                });
                // Mark-as-read button sends AJAX call to mark-notification-as-read GET endpoint
                $(li).children("a").children(".mark-as-read").click(function() {
                    var url = $(this).data("markread");
                    $.ajax({
                        url: url,
                        success: function(data) {
                            console.log(data.status);
                            $(li).slideUp(500, function() {
                                $(li).remove();
                            });
                            var notif_count = $("#notif_count").text();
                            $("#notif_count").text(parseInt(notif_count) - 1);
                        }
                    });
                });
            });
        }

        setATagsInNotifMenuDropDown();
        // Add event handler to Mark-all-read notification button
        $(".notif-mark-all-read").click(function() {
            var url = $(this).data("markallread");
            $.ajax({
                url: url,
                success: function(data) {
                    $("ul#notif-menu li.notif-menu-li").each(function(i, li) {
                        $(li).slideUp(500, function() {
                            $(li).remove();
                        });
                        $("#notif_count").text("");
                    });
                }
            });
        });

        var namespace = '/notifs';

        var socket = io.connect(location.protocol + "//" + location.host + namespace, {reconnection: false});

        socket.on('response', function(msg) {
            console.log(msg.meta);
            if (msg.hasOwnProperty("notif_count") && msg.hasOwnProperty("notifs")) {
                $("#notif_count").text(msg.notif_count);
                $("#notif-menu li.notif-menu-li").each(function(i, li) {
                    $(li).remove();
                });
                $.each(msg.notifs, function(i, notif) {
                    var html = '<li class="notif-menu-li"><a><span class="message">'+ notif.title +
                        '</span><span class="time">' + notif.received_at + '</span><span class="mark-as-read btn btn-default btn-xs"' +
                        ' data-markread="' + notif.mark_read + '">Mark as read</span>';
                    $("ul#notif-menu").prepend(html);
                });
                setATagsInNotifMenuDropDown();
            }
        });
    });
</script>
{% endif %}
</body>
</html>
