{% macro render_footer(test='') %}
<footer class="hidden-print">
    <div class="row hide-small hide-medium">
        <div class="col-md-offset-1">
            <div class="col-md-3 col-sm-3">
                <h4 class="footer-header">Use Open Event</h4>
                <ul>
                    {% for page in system_pages %}
                        {% if page.place == 'use_open_event'%}
                            <li><a href="{{page.url}}">{{page.name}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Categories</h4>
                <ul>

                    {% for event_type in event_typo%}
                    <li><a href="{{ url_for('admin.browse_view',type=event_type) }}">{{event_type}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-md-3 col-sm-3"><h4>Locations</h4>
                <ul>
                    {% for location in locations() %}
                    <li><a href="/explore/{{ location | slugify }}/events/">{{location}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Connect With Us</h4>
                <ul>
                    {% if settings.support_url %}
                        <li><i class="fa fa-info fa-fw"></i> <a href="{{settings.support_url}}">Support</a></li>
                    {% endif %}
                    {% if settings.twitter_url %}
                        <li><i class="fa fa-twitter fa-fw"></i> <a href="{{settings.twitter_url}}">Twitter</a></li>
                    {% endif %}
                    {% if settings.facebook_url %}
                        <li><i class="fa fa-facebook fa-fw"></i> <a href="{{settings.facebook_url}}">Facebook</a></li>
                    {% endif %}
                    {% if settings.google_url %}
                        <li><i class="fa fa-google-plus fa-fw"></i> <a href="{{settings.google_url}}">Google</a></li>
                    {% endif %}
                    {% if settings.youtube_url %}
                        <li><i class="fa fa-youtube-play fa-fw"></i> <a href="{{settings.youtube_url}}">Youtube</a></li>
                    {% endif %}
                    {% if settings.github_url %}
                        <li><i class="fa fa-github fa-fw"></i> <a href="{{settings.github_url}}">Github</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-1" id="footer-menu">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    {% for page in system_pages %}
                        {% if page.place == 'footer_menu'%}
                            <a href="{{page.url}}">{{page.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-3 col-sm-4 col-xs-8 dropup col-xs-offset-2 col-sm-offset-4 col-md-offset-0">
                    <div class="dropdown-toggle footer-dropdown" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <span class="dropdown-text" style="color: #D2D6DF;">Singapore</span>
                        <span class="fa fa-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#" style="color:#969191;">Singapore</a></li>
                        <li><a href="#" style="color:#969191;">Deutschland</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="copyright">© 2016 Open Event</div>
    </div>
</footer>
{% endmacro %}
