{% macro render_footer(test='') %}
    <footer class="hidden-print">
        <div class="row hide-small hide-medium">
            <div class="col-md-offset-1">
                <div class="col-md-3 col-sm-3">
                    <h4 class="footer-header">Use {{ app_name }}</h4>
                    <ul>
                        <li><a href="/sitemap">{{ _("Sitemap") }}</a></li>
                        {% for page in system_pages %}
                            {% if page.place == 'use_open_event' %}
                                <li><a href="{{ page.url }}">{{ page.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>{{ _("Categories") }}</h4>
                    <ul>

                        {% for event_type in event_typo %}
                            <li><a href="{{ url_for('admin.browse_view',type=event_type) }}">{{ event_type }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3"><h4>{{ _("Locations") }}</h4>
                    <ul>
                        {% for location in locations() %}
                            <li><a href="/explore/{{ location | slugify }}/events/">{{ location }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>{{ _("Connect With Us") }}</h4>
                    <ul>
                        {% if settes.support_url %}
                            <li><i class="fa fa-info fa-fw"></i> <a
                                    href="{{ settes.support_url }}">{{ _("Support") }}</a></li>
                        {% endif %}
                        {% if settes.twitter_url %}
                            <li><i class="fa fa-twitter fa-fw"></i> <a
                                    href="{{ settes.twitter_url }}">{{ _("Twitter") }}</a></li>
                        {% endif %}
                        {% if settes.facebook_url %}
                            <li><i class="fa fa-facebook fa-fw"></i> <a
                                    href="{{ settes.facebook_url }}">{{ _("Facebook") }}</a></li>
                        {% endif %}
                        {% if settes.google_url %}
                            <li><i class="fa fa-google-plus fa-fw"></i> <a
                                    href="{{ settes.google_url }}">{{ _("Google") }}</a></li>
                        {% endif %}
                        {% if settes.youtube_url %}
                            <li><i class="fa fa-youtube-play fa-fw"></i> <a
                                    href="{{ settes.youtube_url }}">{{ _("Youtube") }}</a></li>
                        {% endif %}
                        {% if settes.github_url %}
                            <li><i class="fa fa-github fa-fw"></i> <a
                                    href="{{ settes.github_url }}">{{ _("Github") }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-12 col-md-offset-1" id="footer-menu">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        {% for page in system_pages %}
                            {% if page.place == 'footer_menu' %}
                                <a href="{{ page.url }}">{{ page.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-8 dropup col-xs-offset-2 col-sm-offset-4 col-md-offset-0">
                        <div class="dropdown-toggle footer-dropdown" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <span class="dropdown-text lang-header"
                                  style="color: #D2D6DF;">{{ all_languages[selected_lang] }}</span>
                            <span class="fa fa-chevron-down"></span>
                        </div>
                        <ul class="dropdown-menu lang-list">
                            {% for code in all_languages|dictsort(false, 'value') %}
                                <li><a href='#' style='color:#969191;' class='translate'
                                       id='{{ code[0] }}'>{{ all_languages[code[0]] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="copyright">© 2016 {{ app_name }}</div>
        </div>
    </footer>
    <script>
        $(".lang-list").on('click', '.translate', function () {
            var l_code = $(this).attr("id");
            var request_url = window.location.protocol + "//" + window.location.host + "/choose_language";
            $.ajax({
                type: 'POST',
                url: request_url,
                data: {"l_code": l_code},
                success: function (data) {
                    if (data == l_code) {
                        location.reload();
                    }
                }
            });
        });
    </script>
{% endmacro %}
