{% extends 'gentelella/admin/base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% set navigation_bar = [
    ('/admin/', 'home', 'Admin'),
    ('/admin/events/', 'events', 'Events'),
    ('/admin/sessions/', 'sessions', 'Sessions'),
    ('/admin/users/', 'users', 'Users'),
    ('/admin/permissions/', 'permissions', 'Permission'),
    ('/admin/reports/', 'reports', 'Reports')
] -%}

{% set active_page = active_page|default('home') -%}

{% macro tabs() %}
    <ul class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF; margin-bottom:0px; border-bottom: 0px; background: none">
        {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block body %}


<div class="page-title">
        <div class="title_left">
            <h3>Dashboard</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            {{ tabs() }}
            <div class="x_panel" style="min-height:600px;">

                <div class="x_content">

                    <br>
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
