{% extends 'gentelella/guest/ticketing/order_base.html' %}

{% block title %}{{ _("Your Order") }}{% endblock %}

{% block head_css %}
    {{ super() }}
{% endblock %}

{% block inner_panel %}
    {% if order.amount > 0 %}
        {% include 'gentelella/guest/ticketing/components/_invoice.html' %}
    {% endif %}
    <span class="label {% if order.status == 'placed' %}label-info{% elif order.status == 'completed' %}label-success{% endif %}" style="font-size: 1.2em;">{{ order.status }}</span>
    {% include 'gentelella/guest/ticketing/components/_order_summary.html' %}
    {% if order.event.tax and order.amount > 0 %}
        <div class="col-xs-12 col-md-6 col-lg-6 pull-left" style="padding-left: 0;">
            <div class="panel panel-default height">
                <div class="panel-heading"><h3 class="panel-title">From</h3></div>
                <div class="panel-body">
                    <strong>{{ order.event.tax.registered_company }}:</strong><br>
                    {{ order.event.tax.address }}<br>
                    {{ order.event.tax.city }}<br>
                    {{ order.event.tax.state }}<br>
                    {{ order.event.tax.country }}<br>
                    <strong>{{ order.event.tax.zip }}</strong><br>
                    (<strong>Tax ID:</strong> {{ order.event.tax.tax_id }})
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block right_addon %}
    <button type="button" class="btn btn-info hidden-print" onclick="window.print();"><i class="fa fa-print fa-fw"></i>
        {{ _("Print Invoice") }}
    </button>
    <a href="{{ url_for('ticketing.view_order_tickets_after_payment_pdf', order_identifier=order.identifier) }}"
       class="btn btn-default hidden-print" target="_blank"><i
            class="fa fa-file-pdf-o fa-fw"></i> {{ _("Download Tickets") }}</a>
{% endblock %}

{% block tail_js %}
    {{ super() }}
{% endblock %}
