{% extends 'gentelella/admin/base.html' %}
{% block head_css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="" role="tabpanel">
        <ul id="myTab" class="nav nav-tabs " role="tablist">
            <li role="presentation"><a href="/admin/events/{{ event_id }}/">Home</a></li>
            <li role="presentation" ><a href="/admin/events/{{ event_id }}/scheduler/">Scheduler</a></li>
            <li role="presentation" class=""><a href="/admin/events/{{ event_id }}/sessions/">Sessions</a>
            </li>
            <li role="presentation" class=""><a href="/admin/events/{{ event_id }}/speakers/">Speaker</a>
            </li>
            <li role="presentation" class="active"><a href="/admin/events/{{ event_id }}/sponsors/">Sponsors</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}

{% endblock %}

