{% extends 'gentelella/admin/super_admin/dashboard.html' %}

{% block title %}
    Pages
{% endblock %}

{% set active_page = "pages" %}

{% block head_css %}
    {{ super() }}
    <style type="text/css">
    #event-tabs {
        position: absolute;
        background: transparent;
        top: 9px;
        width: auto;
    }

    table.table {
        margin-top: 20px !important;
    }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <h3 class="pull-left">Pages</h3>
            <button class="btn btn-info pull-right" style="color: #FFFFFF; margin: 0;" data-toggle="modal" data-target="#importModal">Create Page</button><div style="clear:both"></div>
            <ul class="list-group">
                <li class="list-group-item">/how_it_works</li>
                <li class="list-group-item">/pricing</li>
                <li class="list-group-item">/mobile_apps</li>
                <li class="list-group-item">/sitemaps</li>
                <li class="list-group-item active">/about</li>
            </ul>
        </div>
        <div class="col-md-8">
            <form class="admin-form form-horizontal">
                <div class="item form-group">
                    <label>TITLE</label>
                    <input type="text" class="form-control col-md-7 col-xs-12"/>
                </div>
                <div class="item form-group">
                    <label>URL</label>
                    <input type="text" class="form-control col-md-7 col-xs-12"/>
                </div>
                <div class="item form-group">
                    <label>DESCRIPTION</label>
                    <textarea type="text" class="form-control col-md-7 col-xs-12"> </textarea>
                </div>
                <div class="item form-group">
                    <label>PLACE</label>
                    <select type="text" class="form-control col-md-7 col-xs-12">
                        <option>Use Open Event</option>
                        <option>Footer Menu</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
    {% include 'gentelella/admin/super_admin/pages/_create_page_modal.html' %}
{% endblock %}

{% block tail_js %}
    {{ super() }}

{% endblock %}

