{% extends 'gentelella/users/events/tickets/tickets_base.html' %}

{% set active_side_page = "orders" %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/jt.timepicker/jquery.timepicker.css') }}">
    <style type="text/css">
        #orders-table .order-link {
            font-weight: 800;
            font-size: larger;
        }

        #orders-table .order-link::before {
            content: '#';
            font-weight: 800;
        }

        #orders-table .payment-via {
            font-weight: 600;
        }

        #orders-table .datetime {
            color: #9a9a9a;
        }

        #orders-table .label {
            font-size: 11px;
            padding: 2px 4px;
            font-weight: 400;
        }

        #orders-table td {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block inner_content %}
    <div class="col-md-12">
        <div id="filter-control-holder" class="pull-right" style="font-size: 16px;">

            <form class="form-inline" method="get" id="date-filter-form"
                  {% if not from_date or not to_date %}style="display: none;"{% endif %}>
                <input title="start time" type="text" class="time start" style="display: none;">
                <input title="end time" type="text" class="time end" style="display: none;">
                <div class="form-group">
                    <input type="text" class="form-control start date" id="from_date" name="from_date"
                           placeholder="DD/MM/YYYY" value="{{ from_date | default('', true) }}">
                </div>
                &nbsp;to&nbsp;
                <div class="form-group">
                    <input type="text" class="form-control end date" id="to_date" name="to_date"
                           placeholder="DD/MM/YYYY" value="{{ to_date | default('', true) }}">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-default" style="margin-bottom: 0;"><i
                            class="fa fa-filter fa-fw"></i> {{ _("Filter") }}
                    </button>
                    <button type="button" class="btn btn-default filter-remove" style="margin-bottom: 0;"><i
                            class="fa fa-times fa-fw"></i></button>
                </div>

            </form>
            <div class="btn-group" id="filter-control-btn"
                 {% if from_date and to_date %}style="display: none;"{% endif %}>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{ _("Showing all records") }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="font-size: 14px;padding: 5px 0;">
                    <li><a href="#" class="date-filter-open"><i
                            class="fa fa-calendar fa-fw"></i> {{ _("Filter by Date") }}</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="disabled"><a href="#" class="filter-remove"><i class="fa fa-minus-circle fa-fw"></i>
                        {{ _("Remove Filters") }}</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div id="toolbar-holder" style="display: none;">
        <div class="btn-group pull-left" data-toggle="buttons">
            <label id="completed" class="btn btn-default btn-responsive">
                <input type="radio" name="show_state" autocomplete="off" value="Completed" checked> {{ _("Completed") }}
            </label>
            <label id="placed" class="btn btn-default btn-responsive">
                <input type="radio" name="show_state" autocomplete="off" value="Placed"> {{ _("Placed") }}
            </label>
            <label id="pending" class="btn btn-default btn-responsive">
                <input type="radio" name="show_state" autocomplete="off" value="Pending"> {{ _("Pending") }}
            </label>
            <label id="expired" class="btn btn-default btn-responsive">
                <input type="radio" name="show_state" autocomplete="off" value="Expired"> {{ _("Expired") }}
            </label>
            <label id="cancelled" class="btn btn-default btn-responsive">
                <input type="radio" name="show_state" autocomplete="off" value="Cancelled"> {{ _("Cancelled") }}
            </label>
            <label id="all" class="btn btn-default btn-responsive">
                <input type="radio" name="show_state" autocomplete="off" value="all"> {{ _("All") }}
            </label>
        </div>
    </div>

    <h3>{{ _("View Orders") }}</h3>
    <br>
    <table class="table with-datatable" id="orders-table" width="100%">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                {{ _("Order") }}
            </th>
            <th>
                {{ _("Total Amount") }}
            </th>
            <th>
                {{ _("Qty") }}
            </th>
            <th>
                {{ _("Buyer / Registration Contact") }}
            </th>
            <th>
                {{ _("Action") }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% if order.status != "deleted" %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ url_for('ticketing.view_order_after_payment', order_identifier=order.identifier) if order.status == 'completed' else url_for('ticketing.show_transaction_error', order_identifier=order.identifier) }}"
                           class="order-link">{{ order.get_invoice_number() }}</a> -
                        by {{ order.user.user_detail.fullname if order.user.user_detail and order.user.user_detail.fullname else order.user.email }}
                        {% if order.status == 'completed' %}
                            <span id="label-{{ order.identifier }}" class="label label-success label-small">{{ order.status | capitalize }}</span>
                        {% elif order.status == 'pending' or order.status == 'initialized' %}
                            <span id="label-{{ order.identifier }}" class="label label-warning label-small">{{ _("Pending") }}</span>
                        {% elif order.status == 'placed' %}
                            <span id="label-{{ order.identifier }}" class="label label-info label-small">{{ order.status | capitalize }}</span>
                        {% elif order.status == 'cancelled' %}
                            <span id="label-{{ order.identifier }}" class="label label-default label-small">{{ order.status | capitalize }}</span>
                        {% else %}
                            <span id="label-{{ order.identifier }}" class="label label-danger label-small">{{ order.status | capitalize }}</span>
                        {% endif %}
                        <br>
                        {% if order.status == 'completed' %}
                            <span class="payment-via">Payment via {{ order.paid_via | capitalize }}</span>
                        {% endif %}
                        {% if order.status == 'completed' %}
                            <span class="datetime">{{ order.completed_at | datetime }} - {{ order.completed_at | humanize }}</span>
                        {% else %}
                            <span class="datetime">{{ order.created_at | datetime }} - {{ order.created_at | humanize }}</span>
                        {% endif %}
                    </td>
                    <td>{{ event.payment_currency | currency_symbol }}{{ order.amount | money }}</td>
                    <td>{{ order.get_tickets_count() }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group">
                            {% if order.status != "cancelled" %}
                            <button data-toggle="modal" data-target="#cancel-order-{{ order.identifier }}" title="Cancel" class="btn btn-default cancel-order"><i class="fa fa-times fa-fw"></i></button>
                            <div class="modal fade" id="cancel-order-{{ order.identifier }}" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">{{ _("Are you sure you want to cancel the ticket") }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{ url_for('event_ticket_sales.cancel_order', event_id=event_id) }}" method="post">
                                                    <input type="hidden" name="identifier" value="{{ order.identifier }}">
                                                    <div class="textarea">
                                                        <label>
                                                            {{ _("Enter a note to ticket buyer(optional): ") }}
                                                        </label>
                                                            <textarea name="note" rows="7">Your ticket has been cancelled, please contact the organizer for more</textarea>
                                                        <br>
                                                        <button type="submit" class="btn btn-success ">{{ _("Cancel Ticket") }}</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <br>
                            {% endif %}
                            {% if order.amount == 0 or order.status != "completed" %}
                                <button data-toggle="modal" data-target="#delete-order-{{ order.identifier }}" title="Delete" class="btn btn-default delete-order"><i class="fa fa-trash fa-fw"></i></button>
                                <div class="modal fade" id="delete-order-{{ order.identifier }}" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">{{ _("Are you sure you want to delete the ticket") }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{{ url_for('event_ticket_sales.delete_order', event_id=event_id) }}" method="post">
                                                        <input type="hidden" name="identifier" value="{{ order.identifier }}">
                                                        <button type="submit" class="btn btn-success ">{{ _("Delete Ticket") }}</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <br>
                            {% endif %}
                            {% if order.status == "completed" or order.status == "placed" %}
                            <button data-toggle="modal" data-target="#resend-order-{{ order.identifier }}" title="Resend" class="btn btn-default resend-order"><i class="fa fa-envelope fa-fw"></i></button>
                                <div class="modal fade" id="resend-order-{{ order.identifier }}" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">{{ _("Resend Order Confirmation") }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{{ url_for('event_ticket_sales.resend_confirmation', event_id=event_id) }}" method="post">
                                                        <input type="hidden" name="identifier" value="{{ order.identifier }}">
                                                        <div class="email">
                                                            <label>
                                                                {{ _("Send confirmation email to:") }}
                                                            </label>
                                                                <input type="email" name="email" style="margin-top: 5px; width: 60%;">
                                                            <br>
                                                            <button type="submit" class="btn btn-success" style="margin-top: 12px">{{ _("Resend") }}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jt.timepicker/jquery.timepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datepair.js/dist/datepair.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/events/ticket_sales/date_filter.js')}}"> </script>
    
    <script type="text/javascript">
        var options = ['#completed', '#placed', '#pending', '#expired', '#cancelled', '#all'];

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var user_option = $("input[name=show_state]:checked").val();
                var state = data[1].trim() || 'pending';
                if (user_option === "all") {
                    return true;
                } else if ( state.indexOf(" " + user_option + " ") != -1) {
                    return true;
                }
                return false;
            }
        );

        var table = $('.with-datatable').DataTable({
            "dom": '<"row"<"toolbar col-md-12"<"pull-right"l>f>>tip',
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "width": "3%",
                    "targets": 0
                },
                {"width": "40%", "targets": 1},
                {"width": "5%", "targets": 3}
            ],
            "order": [[1, 'desc']],
            "scrollX": true
        });

        if ($.inArray(window.location.hash, options) != -1){
            $(window.location.hash).button('toggle');
            $("div.toolbar").prepend($("#toolbar-holder").html());
        } else {
            $('#completed').button('toggle');
            $("div.toolbar").prepend($("#toolbar-holder").html());
        }

        $("input[name=show_state]").change(function () {
            table.draw();
            window.location.hash = $("input[name=show_state]:checked").val();
        });

        table.on('draw', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        table.on('order.dt search.dt', function () {
            table.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

    </script>

{% endblock %}
