@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), local('Roboto-Regular'), url(../fonts/roboto/RobotoDraftRegular.woff2) format('woff2'), url(../fonts/roboto/RobotoDraftRegular.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), local('Roboto-Medium'), url(../fonts/roboto/RobotoDraftMedium.woff2) format('woff2'), url(../fonts/roboto/RobotoDraftMedium.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), local('Roboto-Bold'), url(../fonts/roboto/RobotoDraftBold.woff2) format('woff2'), url(../fonts/roboto/RobotoDraftBold.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), local('Roboto-Italic'), url(../fonts/roboto/RobotoDraftItalic.woff2) format('woff2'), url(../fonts/roboto/RobotoDraftItalic.woff) format('woff');
}