FORMAT: V1
HOST: https://api.eventyay.com

# Open Event API Server

The Open Event API Server

# Group Authentication

The API uses JWT Authentication to authenticate users to the server. For authentication, you need to be a registered user. Once you have registered yourself as an user, you can send a request to get the access_token. This access_token you need to then use in Authorization header while sending a request in the following manner: `Authorization: JWT <access_token>`

## JWT Authentication [/auth/session]

### Authenticate and generate token [POST]

+ Request

    + Headers

            Content-Type: application/json

    + Body

            {
                "email": "email@example.com",
                "password": "password"
            }

+ Response 200 (application/json)

        {
            "access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6MSwiaWF0IjoxNDk2OTU2ODMwLCJuYmYiOjE0OTY5NTY4MzAsImV4cCI6MTQ5NzA0MzIzMH0.bjl0"
        }

# Group Users

For using the API you need(mostly) to register as an user. Registering gives you access to all non admin API endpoints. After registration, you need to create your JWT access token to send requests to the API endpoints.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the user | string | - |
| `password` | Password of the user | string | **yes** |
| `email` | Email of the user | string | **yes** |


## Users Collection [/v1/users{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `created-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter(optional, string, `[{"is-super-admin":"true"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Users [GET]
Get a list of Users.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "attributes": {
                "created-at": "2017-06-01T01:24:47.500127+00:00",
                "google": null,
                "instagram": null,
                "firstname": null,
                "lastname": null,
                "twitter": null,
                "signup-at": "2017-06-01T01:25:07.385816+00:00",
                "is-super-admin": true,
                "thumbnail": null,
                "email": "me@ipiyush.com",
                "avatar": null,
                "contact": null,
                "is-admin": true,
                "details": null,
                "last-accessed-at": null,
                "small": null,
                "facebook": null,
                "deleted-at": null,
                "is-verified": true,
                "avatar-uploaded": null,
                "icon": null
              },
              "type": "user",
              "id": "1",
              "links": {
                "self": "/v1/users/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/users"
          }
        }


### Create User [POST]
Create a new user using an email, password and an optional name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Open Event User",
                  "email": "example@example.com",
                  "password": "12345678"
                },
                "type": "user"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
                "attributes": {
                "name": "Open Event User",
                "email": "example@example.com",
                "password": "12345678"
                },
                "type": "user"
            }
        }

## User Details [/v1/users/{user_id}]
+ Parameters
    + user_id: 1 (integer) - ID of the user in the form of an integer

### Get Details [GET]
Get a single user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "attributes": {
              "created-at": "2017-06-01T01:24:47.500127+00:00",
              "google": null,
              "instagram": null,
              "firstname": null,
              "lastname": null,
              "twitter": null,
              "signup-at": "2017-06-01T01:25:07.385816+00:00",
              "is-super-admin": true,
              "thumbnail": null,
              "email": "me@ipiyush.com",
              "avatar": null,
              "contact": null,
              "is-admin": true,
              "details": null,
              "last-accessed-at": null,
              "small": null,
              "facebook": null,
              "deleted-at": null,
              "is-verified": true,
              "avatar-uploaded": null,
              "icon": null
            },
            "type": "user",
            "id": "1",
            "links": {
              "self": "/v1/users/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/users/1"
          }
        }


### Update User [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single note by setting the email, email and/or name.

Authorized user should be same as user in request body or must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Open Event User",
                  "email": "example@example.com",
                  "password": "12345678"
                },
                "type": "user"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "attributes": {
              "created-at": "2017-06-01T01:24:47.500127+00:00",
              "google": null,
              "instagram": null,
              "firstname": null,
              "lastname": null,
              "twitter": null,
              "signup-at": "2017-06-01T01:25:07.385816+00:00",
              "is-super-admin": true,
              "thumbnail": null,
              "email": "me@ipiyush.com",
              "avatar": null,
              "contact": null,
              "is-admin": true,
              "details": null,
              "last-accessed-at": null,
              "small": null,
              "facebook": null,
              "deleted-at": null,
              "is-verified": true,
              "avatar-uploaded": null,
              "icon": null
            },
            "type": "user",
            "id": "1",
            "links": {
              "self": "/v1/users/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/users/1"
          }
        }

### Delete User [DELETE]
Delete a single user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Events
These endpoints help you to create the basic event structure. To add other parts of the event such as ticket, sponsor, copyright, etc. there are separate endpoints.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event | string | **yes** |
| `starts-at` | Start time of the event | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End time of the event | ISO 8601 (tz-aware) | **yes** |
| `timezone` | Timezone of the event | string | **yes** |
| `location-name` | Name of the event location | string | -  |
| `logo-url` | URL of the logo uploaded | string | -  |
| `latitude` | Latitude of the event location | float | - |
| `longitude` | Longitude of the event location| float | - |
| `description` | Description of the event| String | - |
| `searchable-location-name` | Search friendly name of the event location | string | -  |
| `organizer-name` | Name of the event organizer | string | - |
| `organizer-description` | Additional details about the event organizer | string | - |
| `description` | Event's description | string | - |
| `is-map-shown`  | Should the map be shown on public page | boolean (default: `false`) | - |
| `has-sessions-speakers` | Does the event have sessions & speakers | boolean (default: `false`) | - |
| `privacy` | Should the event be listed publicly | string (default: `public`) | - |
| `state` | Current state of the event | string (default: `draft`) | - |
| `type` | Type of the event | string | - |
| `topic` | Topic of the event | string | - |
| `sub-topic` | Sub-topic of the event | string | - |
| `ticket-url` | The ticketing URL of the event | string | - |
| `code-of-conduct` | Event's code of conduct | string | - |
| `is-ticketing-enabled` | Does the event use Open Event ticketing system | boolean (default: `true`) | - |
| `tumbnail-image-url` | URL of the uploaded thumbnail | string | - |
| `large-image-url` | URL of the large uploaded banner image | string | - |
| `original-image-url` | URL of the original image | string | - |
| `icon-image-url` | URL of the icon image | string | - |
| `scheduled-published-on` | - | ISO 8601 (tz-aware) | - |
| `deleted-at` | Event deleted date  | ISO 8601 (tz-aware) | - |
| `payment-country`  | - | string | - |
| `payment-currency`  | - | string | - |
| `paypal-email`  | - | string | - |
| `tax-allow`  | Is tax allowed on event | boolean (default: `false`) | - |
| `can-pay-by-paypal`  | - | boolean (default: `false`) | - |
| `can-pay-by-stringipe`  | - | boolean (default: `false`) | - |
| `can-pay-by-cheque`  | - | boolean (default: `false`) | - |
| `can-pay-onsite`  | - | boolean (default: `false`) | - |
| `cheque-details`  | - | string | - |
| `bank-details`  | - | string | - |
| `onsite-details`  | - | string | - |
| `is-sponsors-enabled`  | - | boolean (default: `false`) | - |

## Events Collection [/v1/events{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `created-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"has-session-speakers":"true"}]`) - Filter according to the flask-rest-jsonapi filtering system. If you want to filter by firstname and lastname, example url will /endpoint?filter=[{"firstname":"firstname","lastname":"lastname"}]Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Events [GET]
Get a list of events.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 2
          },
          "data": [
            {
              "relationships": {
                "tax": {
                  "links": {
                    "self": "/v1/events/12/relationships/tax",
                    "related": "/v1/events/12/tax"
                  }
                },
                "sponsors": {
                  "links": {
                    "self": "/v1/events/12/relationships/sponsors",
                    "related": "/v1/events/12/sponsors"
                  }
                },
                "social-links": {
                  "links": {
                    "self": "/v1/events/12/relationships/social-links",
                    "related": "/v1/events/12/social-links"
                  }
                },
                "tracks": {
                  "links": {
                    "self": "/v1/events/12/relationships/tracks",
                    "related": "/v1/events/12/tracks"
                  }
                },
                "microlocation": {
                  "links": {
                    "self": "/v1/events/12/relationships/microlocations",
                    "related": "/v1/events/12/microlocation"
                  }
                },
                "session-types": {
                  "links": {
                    "self": "/v1/events/12/relationships/session-types",
                    "related": "/v1/events/12/session-types"
                  }
                }
              },
              "attributes": {
                "payment-country": "India",
                "paypal-email": "johndoe@example.com",
                "code-of-conduct": "",
                "can-pay-by-bank": false,
                "schedule-published-on": null,
                "payment-currency": null,
                "organizer-description": "",
                "xcal-url": null,
                "original-image-url": null,
                "topic": null,
                "onsite-details": null,
                "organizer-name": "John Doe",
                "large-image-url": null,
                "timezone": "UTC",
                "deleted-at": null,
                "ticket-url": null,
                "can-pay-by-stripe": false,
                "location-name": null,
                "privacy": "public",
                "state": "draft",
                "latitude": null,
                "tax-allow": false,
                "can-pay-onsite": false,
                "type": null,
                "starts-at": "2017-05-31T18:30:00+00:00",
                "searchable-location-name": null,
                "description": "",
                "pentabarf-url": null,
                "logo-url": null,
                "is-ticketing-enabled": false,
                "event-url": null,
                "ical-url": null,
                "can-pay-by-paypal": true,
                "is-map-shown": true,
                "is-sponsors-enabled": false,
                "name": "New Event 1",
                "sub-topic": null,
                "icon-image-url": null,
                "thumbnail-image-url": null,
                "created-at": "2017-06-11T06:23:39.513383+00:00",
                "longitude": null,
                "can-pay-by-cheque": false,
                "bank-details": null,
                "cheque-details": null,
                "is-sessions-speakers-enabled": false,
                "identifier": "b8324ae2",
                "ends-at": "2017-06-04T18:30:00+00:00"
              },
              "type": "event",
              "id": "12",
              "links": {
                "self": "/v1/events/12"
              }
            },
            {
              "relationships": {
                "tax": {
                  "links": {
                    "self": "/v1/events/11/relationships/tax",
                    "related": "/v1/events/11/tax"
                  }
                },
                "sponsors": {
                  "links": {
                    "self": "/v1/events/11/relationships/sponsors",
                    "related": "/v1/events/11/sponsors"
                  }
                },
                "social-links": {
                  "links": {
                    "self": "/v1/events/11/relationships/social-links",
                    "related": "/v1/events/11/social-links"
                  }
                },
                "tracks": {
                  "links": {
                    "self": "/v1/events/11/relationships/tracks",
                    "related": "/v1/events/11/tracks"
                  }
                },
                "microlocation": {
                  "links": {
                    "self": "/v1/events/11/relationships/microlocations",
                    "related": "/v1/events/11/microlocation"
                  }
                },
                "session-types": {
                  "links": {
                    "self": "/v1/events/11/relationships/session-types",
                    "related": "/v1/events/11/session-types"
                  }
                }
              },
              "attributes": {
                "payment-country": null,
                "paypal-email": null,
                "code-of-conduct": "",
                "can-pay-by-bank": false,
                "schedule-published-on": null,
                "payment-currency": null,
                "organizer-description": "",
                "xcal-url": null,
                "original-image-url": null,
                "topic": null,
                "onsite-details": null,
                "organizer-name": null,
                "large-image-url": null,
                "timezone": "UTC",
                "deleted-at": null,
                "ticket-url": null,
                "can-pay-by-stripe": false,
                "location-name": null,
                "privacy": "public",
                "state": "draft",
                "latitude": null,
                "is-tax-enabled": false,
                "pay-onsite": false,
                "type": null,
                "starts-at": "2017-05-31T18:30:00+00:00",
                "searchable-location-name": null,
                "description": "",
                "pentabarf-url": null,
                "logo-url": null,
                "is-ticketing-enabled": false,
                "event-url": null,
                "ical-url": null,
                "can-pay-by-paypal": false,
                "is-map-shown": true,
                "is-sponsors-enabled": false,
                "name": "New Event",
                "sub-topic": null,
                "icon-image-url": null,
                "thumbnail-image-url": null,
                "created-at": "2017-06-11T06:03:31.790343+00:00",
                "longitude": null,
                "can-pay-by-cheque": false,
                "bank-details": null,
                "cheque-details": null,
                "is-sessions-speakers-enabled": false,
                "identifier": "cde06485",
                "ends-at": "2017-06-04T18:30:00+00:00"
              },
              "type": "event",
              "id": "11",
              "links": {
                "self": "/v1/events/11"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/events"
          }
        }


### Create Event [POST]
Create a new event using a `name`, `starts-at`, `ends-at`, `timzone` and an optional content body.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "event-url": "http://eventyay.com/zbcd",
                  "identifier": "1234",
                  "name": "New Event",
                  "starts-at": "2017-06-01T18:30:00+00:00",
                  "ends-at": "2017-06-05T18:30:00+00:00"
                },
                "type": "event"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "tax": {
                "links": {
                  "self": "/v1/events/12/relationships/tax",
                  "related": "/v1/events/12/tax"
                }
              },
              "sponsors": {
                "links": {
                  "self": "/v1/events/12/relationships/sponsors",
                  "related": "/v1/events/12/sponsors"
                }
              },
              "social-links": {
                "links": {
                  "self": "/v1/events/12/relationships/social-links",
                  "related": "/v1/events/12/social-links"
                }
              },
              "tracks": {
                "links": {
                  "self": "/v1/events/12/relationships/tracks",
                  "related": "/v1/events/12/tracks"
                }
              },
              "microlocation": {
                "links": {
                  "self": "/v1/events/12/relationships/microlocations",
                  "related": "/v1/events/12/microlocation"
                }
              },
              "session-types": {
                "links": {
                  "self": "/v1/events/12/relationships/session-types",
                  "related": "/v1/events/12/session-types"
                }
              }
            },
            "attributes": {
              "payment-country": null,
              "paypal-email": null,
              "code-of-conduct": "",
              "can-pay-by-bank": false,
              "schedule-published-on": null,
              "payment-currency": null,
              "organizer-description": "",
              "xcal-url": null,
              "original-image-url": null,
              "topic": null,
              "onsite-details": null,
              "organizer-name": null,
              "large-image-url": null,
              "timezone": "UTC",
              "deleted-at": null,
              "ticket-url": null,
              "can-pay-by-stripe": false,
              "location-name": null,
              "privacy": "public",
              "state": "draft",
              "latitude": null,
              "is-tax-enabled": false,
              "can-pay-onsite": false,
              "type": null,
              "starts-at": "2017-05-31T18:30:00+00:00",
              "searchable-location-name": null,
              "description": "",
              "pentabarf-url": null,
              "logo-url": null,
              "is-ticketing-enabled": false,
              "event-url": null,
              "ical-url": null,
              "can-pay-by-paypal": false,
              "is-map-shown": true,
              "is-sponsors-enabled": false,
              "name": "New Event",
              "sub-topic": null,
              "icon-image-url": null,
              "thumbnail-image-url": null,
              "created-at": "2017-06-11T06:23:39.513383+00:00",
              "longitude": null,
              "can-pay-by-cheque": false,
              "bank-details": null,
              "cheque-details": null,
              "is-sessions-speakers-enabled": false,
              "identifier": "b8324ae2",
              "ends-at": "2017-06-04T18:30:00+00:00"
            },
            "type": "event",
            "id": "12",
            "links": {
              "self": "/v1/events/12"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/events/12"
          }
        }


## Event Details [/v1/events/{event_id}]
+ Parameters
    + event_id: 1 (integer) - ID of the event in the form of an integer

### Event Details [GET]
Get a single event.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "tax": {
                "links": {
                  "self": "/v1/events/13/relationships/tax",
                  "related": "/v1/events/13/tax"
                }
              },
              "sponsors": {
                "links": {
                  "self": "/v1/events/13/relationships/sponsors",
                  "related": "/v1/events/13/sponsors"
                }
              },
              "social-links": {
                "links": {
                  "self": "/v1/events/13/relationships/social-links",
                  "related": "/v1/events/13/social-links"
                }
              },
              "tracks": {
                "links": {
                  "self": "/v1/events/13/relationships/tracks",
                  "related": "/v1/events/13/tracks"
                }
              },
              "microlocation": {
                "links": {
                  "self": "/v1/events/13/relationships/microlocations",
                  "related": "/v1/events/13/microlocation"
                }
              },
              "session-types": {
                "links": {
                  "self": "/v1/events/13/relationships/session-types",
                  "related": "/v1/events/13/session-types"
                }
              }
            },
            "attributes": {
              "payment-country": null,
              "paypal-email": null,
              "code-of-conduct": "",
              "can-pay-by-bank": false,
              "schedule-published-on": null,
              "payment-currency": null,
              "organizer-description": "",
              "xcal-url": null,
              "original-image-url": null,
              "topic": null,
              "onsite-details": null,
              "organizer-name": null,
              "large-image-url": null,
              "timezone": "UTC",
              "deleted-at": null,
              "ticket-url": null,
              "can-pay-by-stripe": false,
              "location-name": null,
              "privacy": "public",
              "state": "draft",
              "latitude": null,
              "tax-allow": false,
              "pay-onsite": false,
              "type": null,
              "email": "example@example.com",
              "starts-at": "2017-05-31T18:30:00+00:00",
              "searchable-location-name": null,
              "description": "",
              "pentabarf-url": null,
              "logo-url": null,
              "is-ticketing-enabled": false,
              "event-url": null,
              "ical-url": null,
              "can-pay-by-paypal": false,
              "is-map-shown": true,
              "is-sponsors-enabled": false,
              "name": "New Event",
              "sub-topic": null,
              "icon-image-url": null,
              "thumbnail-image-url": null,
              "created-at": "2017-06-11T07:26:41.852285+00:00",
              "longitude": null,
              "can-pay-by-cheque": false,
              "bank-details": null,
              "cheque-details": null,
              "is-sessions-speakers-enabled": false,
              "identifier": "99c4d267",
              "ends-at": "2017-06-04T18:30:00+00:00"
            },
            "type": "event",
            "id": "13",
            "links": {
              "self": "/v1/events/13"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/events/13"
          }
        }


### Update Event [PATCH]
Update a single event.

All other fields are optional. Add attributes you want to modify.

+ `id` (integer) - ID of the record to update **(required)**


+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "event-url": "http://eventyay.com/zbcd",
                  "identifier": "1234",
                  "name": "Changed Name",
                  "starts-at": "2017-06-11T00:00:00+05:30",
                  "ends-at": "2017-06-12T00:00:00+05:30"
                },
                "type": "event",
                "id": "13"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "discount-codes": {
                "links": {
                  "self": "/v1/events/13/relationships/discount-codes",
                  "related": "/v1/events/13/discount-codes"
                }
              },
              "tax": {
                "links": {
                  "self": "/v1/events/13/relationships/tax",
                  "related": "/v1/events/13/tax"
                }
              },
              "sponsors": {
                "links": {
                  "self": "/v1/events/13/relationships/sponsors",
                  "related": "/v1/events/13/sponsors"
                }
              },
              "social-links": {
                "links": {
                  "self": "/v1/events/13/relationships/social-links",
                  "related": "/v1/events/13/social-links"
                }
              },
              "tracks": {
                "links": {
                  "self": "/v1/events/13/relationships/tracks",
                  "related": "/v1/events/13/tracks"
                }
              },
              "microlocation": {
                "links": {
                  "self": "/v1/events/13/relationships/microlocations",
                  "related": "/v1/events/13/microlocation"
                }
              },
              "session-types": {
                "links": {
                  "self": "/v1/events/13/relationships/session-types",
                  "related": "/v1/events/13/session-types"
                }
              }
            },
            "attributes": {
              "payment-country": null,
              "paypal-email": null,
              "code-of-conduct": "",
              "can-pay-by-bank": false,
              "schedule-published-on": null,
              "payment-currency": null,
              "organizer-description": "",
              "xcal-url": null,
              "original-image-url": null,
              "topic": null,
              "onsite-details": null,
              "organizer-name": null,
              "large-image-url": null,
              "timezone": "UTC",
              "deleted-at": null,
              "ticket-url": null,
              "can-pay-by-stripe": false,
              "location-name": null,
              "privacy": "public",
              "state": "draft",
              "latitude": null,
              "is-tax-enabled": false,
              "can-pay-onsite": false,
              "type": null,
              "starts-at": "2017-06-10T18:30:00+00:00",
              "searchable-location-name": null,
              "description": "",
              "pentabarf-url": null,
              "logo-url": null,
              "is-ticketing-enabled": false,
              "event-url": null,
              "ical-url": null,
              "can-pay-by-paypal": false,
              "is-map-shown": true,
              "is-sponsors-enabled": false,
              "name": "Changed Name",
              "sub-topic": null,
              "icon-image-url": null,
              "thumbnail-image-url": null,
              "created-at": "2017-06-11T07:26:41.852285+00:00",
              "longitude": null,
              "can-pay-by-cheque": false,
              "bank-details": null,
              "cheque-details": null,
              "is-sessions-speakers-enabled": false,
              "identifier": "99c4d267",
              "ends-at": "2017-06-11T18:30:00+00:00"
            },
            "type": "event",
            "id": "13",
            "links": {
              "self": "/v1/events/13"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/events/13"
          }
        }

### Delete Event [DELETE]
Delete a single event.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Copyright
Data related to event copyright information.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `holder`  | Holder name | string | - |
| `holder-url` | URL of the holder | string | - |
| `year` | Year till which you have copyright | ISO 8601 (tz-aware) | - |
| `licence` | Licence text | string | - |
| `licence-url` | URL of the licence location | string | -  |
| `logo-url` | URL of the logo for the Licence | string | -  |

## Event Copyright [/v1/events/{event_id}/event-copyright{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `year`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"year": "2017"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### Get Event Copyright [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/event-copyright/1/relationships/event",
                    "related": "/v1/event-copyright/1/event"
                  }
                }
              },
              "attributes": {
                "holder": "Name of Holder",
                "holder-url": "URL for holder",
                "licence": "Licence text",
                "licence-url": "Licence URL",
                "year": "Copyright validity year",
                "logo-url": "New Brand"
              },
              "type": "event-copyright",
              "id": "1",
              "links": {
                "self": "/v1/event-copyright/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright"
          }
        }


### Create Event Copyright [POST]
Create a new Event Copyright using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "holder": "Name of Holder",
                  "holder-url": "URL for holder",
                  "licence": "Licence text",
                  "licence-url": "Licence URL",
                  "year": "Copyright validity year",
                  "logo-url": "New Brand"
                },
                "type": "event-copyright"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-copyright/5/relationships/event",
                  "related": "/v1/event-copyright/5/event"
                }
              }
            },
            "attributes": {
              "holder": "Name of Holder",
              "holder-url": "URL for holder",
              "licence": "Licence text",
              "licence-url": "Licence URL",
              "year": "Copyright validity year",
              "logo-url": "New Brand"
            },
            "type": "event-copyright",
            "id": "5",
            "links": {
              "self": "/v1/event-copyright/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright/5"
          }
        }


## Event Copyright Details [/v1/event-copyright/{event_copyright_id}]
+ Parameters
    + event_copyright_id: 1 (integer) - ID of the event copyright in the form of an integer

### Event Copyright Details [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-copyright/5/relationships/event",
                  "related": "/v1/event-copyright/5/event"
                }
              }
            },
            "attributes": {
              "holder": "Name of Holder",
              "holder-url": "URL for holder",
              "licence": "Licence text",
              "licence-url": "Licence URL",
              "year": "Copyright validity year",
              "logo-url": "New Brand"
            },
            "type": "event-copyright",
            "id": "5",
            "links": {
              "self": "/v1/event-copyright/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright/5"
          }
        }


### Update Event Copyright [PATCH]
Update a single event copyright by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "holder": "Name of Holder1",
                  "holder-url": "URL for holder1",
                  "licence": "Licence text",
                  "licence-url": "Licence URL",
                  "year": "Copyright validity year",
                  "logo-url": "New Brand"
                },
                "type": "event-copyright",
                "id": 5
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-copyright/5/relationships/event",
                  "related": "/v1/event-copyright/5/event"
                }
              }
            },
            "attributes": {
              "holder": "Name of Holder1",
              "holder-url": "URL for holder1",
              "licence": "Licence text",
              "licence-url": "Licence URL",
              "year": "Copyright validity year",
              "logo-url": "New Brand"
            },
            "type": "event-copyright",
            "id": "5",
            "links": {
              "self": "/v1/event-copyright/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright/5"
          }
        }

### Delete Event Copyright [DELETE]
Delete a single event copyright.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


# Group Invoices
Data related to an invoice for the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `status`  | Status of the event order | string | - |
| `identifier` | Unique ID for the invoice | string | - |
| `paypal-token` | Paypal Token for the event organizer | string | - |
| `transaction-id` | ID for Transaction | string | - |
| `brand` | Brand for event invoice | string | - |
| `created-at` | Time of creation of order | ISO 8601 (tz-aware) | - |
| `payment-mode` | Payment Mode | string | - |
| `stripe-token` | Stripe Token for the event organizer | string | - |
| `last4` | - | string | - |
| `address` | Billing Address | string | - |
| `city` | City for Billing Address | string | - |
| `state` | State for Billing Address | string | - |
| `country` | Country for Billing Address| string | - |
| `zipcode` | Zipcode for Billing Address | string | - |
| `exp-month` | Expiring Month | integer | - |
| `exp-year` | Expiring Year  | integer | - |
| `amount` | Amount of the order | float | - |
| `completed-at` | Completion of Invoice Order | ISO 8601 (tz-aware) | - |
| `paid-via` | Payment procedure | string | - |

## Event Invoices [/v1/events/{event_id}/event-invoices{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `created-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"status":"pending"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### Get Event Invoices [GET]
Get a single event invoice.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/event-invoices/1/relationships/event",
                    "related": "/v1/event-invoices/1/event"
                  }
                },
                "user": {
                  "links": {
                    "self": "/v1/event-invoices/1/relationships/user",
                    "related": "/v1/event-invoices/1/user"
                  }
                }
              },
              "attributes": {
                "status": "pending",
                "city": null,
                "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
                "paypal-token": null,
                "exp-year": null,
                "transaction-id": null,
                "country": null,
                "brand": null,
                "created-at": "2017-06-08T11:24:57.344803+00:00",
                "zipcode": null,
                "payment-mode": null,
                "stripe-token": null,
                "last4": null,
                "state": null,
                "address": null,
                "exp-month": null,
                "amount": 100.0,
                "completed-at": null,
                "paid-via": null
              },
              "type": "event-invoice",
              "id": "1",
              "links": {
                "self": "/v1/event-invoices/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-invoices"
          }
        }


### Create Event Invoices [POST]
Create a new Event Invoice using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "status": "pending",
                  "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
                  "paypal-token": null,
                  "exp-year": null,
                  "transaction-id": null,
                  "brand": null,
                  "created-at": "2017-06-08T11:24:57.344803+00:00",
                  "payment-mode": null,
                  "stripe-token": null,
                  "last4": null,
                  "address": null,
                  "city": null,
                  "state": null,
                  "country": "India",
                  "zipcode": null,
                  "exp-month": null,
                  "amount": 500.0,
                  "completed-at": null,
                  "paid-via": null
                },
                "type": "event-invoice"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-invoices/5/relationships/event",
                  "related": "/v1/event-invoices/5/event"
                }
              }
            },
            "attributes": {
              "status": "pending",
              "city": "India",
              "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
              "paypal-token": null,
              "exp-year": null,
              "transaction-id": null,
              "country": null,
              "brand": null,
              "created-at": "2017-06-08T11:24:57.344803+00:00",
              "zipcode": null,
              "payment-mode": null,
              "stripe-token": null,
              "last4": null,
              "state": null,
              "address": null,
              "exp-month": null,
              "amount": 500.0,
              "completed-at": null,
              "paid-via": null
            },
            "type": "event-invoice",
            "id": "5",
            "links": {
              "self": "/v1/event-invoices/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-invoices/5"
          }
        }


## Event Invoices Details [/v1/event-invoices/{event_invoices_id}]
+ Parameters
    + event_invoices_id: 1 (integer) - ID of the event invoices in the form of an integer

### Event Invoices Details [GET]
Get a single event invoice.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-invoices/5/relationships/event",
                  "related": "/v1/event-invoices/5/event"
                }
              }
            },
            "attributes": {
              "status": "pending",
              "city": "India",
              "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
              "paypal-token": null,
              "exp-year": null,
              "transaction-id": null,
              "country": null,
              "brand": null,
              "created-at": "2017-06-08T11:24:57.344803+00:00",
              "zipcode": null,
              "payment-mode": null,
              "stripe-token": null,
              "last4": null,
              "state": null,
              "address": null,
              "exp-month": null,
              "amount": 500.0,
              "completed-at": null,
              "paid-via": null
            },
            "type": "event-invoice",
            "id": "5",
            "links": {
              "self": "/v1/event-invoices/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-invoices/5"
          }
        }


### Update Event Invoices [PATCH]
Update a single event invoice by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "status": "completed",
                  "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
                  "paypal-token": null,
                  "exp-year": null,
                  "transaction-id": null,
                  "brand": null,
                  "created-at": "2017-06-08T11:24:57.344803+00:00",
                  "payment-mode": null,
                  "stripe-token": null,
                  "last4": null,
                  "address": null,
                  "city": null,
                  "state": null,
                  "country": "India",
                  "zipcode": null,
                  "exp-month": null,
                  "amount": 500.0,
                  "completed-at": null,
                  "paid-via": null
                },
                "type": "event-invoice",
                "id": 5
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-invoices/5/relationships/event",
                  "related": "/v1/event-invoices/5/event"
                }
              }
            },
            "attributes": {
              "status": "completed",
              "city": "India",
              "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
              "paypal-token": null,
              "exp-year": null,
              "transaction-id": null,
              "country": null,
              "brand": null,
              "created-at": "2017-06-08T11:24:57.344803+00:00",
              "zipcode": null,
              "payment-mode": null,
              "stripe-token": null,
              "last4": null,
              "state": null,
              "address": null,
              "exp-month": null,
              "amount": 500.0,
              "completed-at": null,
              "paid-via": null
            },
            "type": "event-invoice",
            "id": "5",
            "links": {
              "self": "/v1/event-invoices/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-invoices/5"
          }
        }

### Delete Event Invoices [DELETE]
Delete a single event invoice.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Microlocations
Data related to all the microlocations for the various sessions of the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the microlocation| string | **yes** |
| `latitude` |  Latitude of the microlocation | float | - |
| `longitude` |  Longitude of the microlocation | float | - |
| `floor` | Floor of the microlocation | integer | - |
| `room` | Room of the microlocation | string | - |

## Microlocation Collection [/v1/events/{event_id}/microlocations{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `floor`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"floor":"2"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Microlocations [GET]
Get a list of Microlocations.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/microlocations/1/relationships/event",
                    "related": "/v1/microlocations/1/event"
                  }
                },
                 "sessions": {
                  "links": {
                    "self": "/v1/microlocations/1/relationships/sessions",
                    "related": "/v1/microlocations/1/sessions"
                  }
                }
              },
              "attributes": {
                "name": "microlocation-name",
                "latitude": null,
                "longitude": null,
                "floor": 2,
                "room": "room1"
              },
              "type": "microlocation",
              "id": "1",
              "links": {
                "self": "/v1/microlocations/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations"
          }
        }


### Create Microlocation [POST]
Create a new microlocation using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "microlocation-name",
                  "latitude": null,
                  "longitude": null,
                  "floor": 2,
                  "room": "room1"
                },
                "type": "microlocation"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/event",
                  "related": "/v1/microlocations/1/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/sessions",
                  "related": "/v1/microlocations/1/sessions"
                }
              }
            },
            "attributes": {
              "name": "microlocation-name",
              "latitude": null,
              "longitude": null,
              "floor": 2,
              "room": "room1"
            },
            "type": "microlocation",
            "id": "1",
            "links": {
              "self": "/v1/microlocations/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations/1"
          }
        }


## Microlocation Details [/v1/microlocations/{microlocation_id}]
+ Parameters
    + microlocation_id: 1 (integer) - ID of the ticket in the form of an integer

### Mictolocation Details [GET]
Get a single microlocation.


+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/event",
                  "related": "/v1/microlocations/1/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/sessions",
                  "related": "/v1/microlocations/1/sessions"
                }
              }
            },
            "attributes": {
              "name": "microlocation-name",
              "latitude": null,
              "longitude": null,
              "floor": 2,
              "room": "room1"
            },
            "type": "microlocation",
            "id": "2",
            "links": {
              "self": "/v1/microlocations/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations/1"
          }
        }


### Update Microlocation [PATCH]
Update a single microlocation by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "microlocation-name",
                  "latitude": null,
                  "longitude": null,
                  "floor": 2,
                  "room": "room1"
                },
                "type": "microlocation",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/event",
                  "related": "/v1/microlocations/1/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/sessions",
                  "related": "/v1/microlocations/1/sessions"
                }
              }
            },
            "attributes": {
              "name": "microlocation-name",
              "latitude": null,
              "longitude": null,
              "floor": 2,
              "room": "room1"
            },
            "type": "microlocation",
            "id": "1",
            "links": {
              "self": "/v1/microlocations/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations/1"
          }
        }

### Delete Microlocation [DELETE]
Delete a single microlocation.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Sessions
Data related to all the sessions in the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `title`  | Title of the Session | string | **yes** |
| `subtitle` | Subtitle of the Session | string | - |
| `level` | Level of the Session | string | - |
| `short-abstract` | Short Abstract of the Session | string | - |
| `long-abstract` | Long Abstract of the Session | string | - |
| `comments` | Comments of the Session | string | - |
| `starts-at` | Start date of the Session | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End date of the Session | ISO 8601 (tz-aware) | **yes** |
| `language` | Language of the Session | string | - |
| `slides-url` | Slide Url of the Session | string | - |
| `videos-url` | Video Url of the Session | string | - |
| `audios-url` | Audio Url of the Session | string | - |
| `signup-url` | Signup Url of the Session | string | - |
| `state` | State of the Session | string | - |
| `created-at` | Date the session was created | ISO 8601 (tz-aware) | - |
| `deleted-at` | Date the session was deleted | ISO 8601 (tz-aware) | - |
| `submitted-at` | Date the session was submitted | ISO 8601 (tz-aware) | - |
| `is-mail-sent` | Yes/No for Session accept/reject email | boolean (default: `false`) | - |

## Sessions Collection [/v1/events/{event_id}/sessions{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `created-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"level":"1"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Sessions [GET]
Get a list of Sessions.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/event",
                    "related": "/v1/sessions/21/event"
                  }
                },
                "track": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/track",
                    "related": "/v1/sessions/21/track"
                  }
                },
                "microlocation": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/microlocation",
                    "related": "/v1/sessions/21/microlocation"
                  }
                },
                "session-type": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/session-type",
                    "related": "/v1/sessions/21/session-type"
                  }
                }
              },
              "attributes": {
                "title": "Micropython Session",
                "subtitle": null,
                "level": 1,
                "short-abstract": null,
                "long-abstract": null,
                "comments": null,
                "starts-at": "2017-06-01T10:00:00.500127+00:00",
                "ends-at": "2017-06-01T11:00:00.500127+00:00",
                "language": "English",
                "slides-url": null,
                "videos-url": null,
                "audios-url": null,
                "signup-url": null,
                "state": null,
                "created-at": "2017-05-01T01:24:47.500127+00:00",
                "deleted-at": null,
                "submitted-at": null,
                "is-mail-sent": false
              },
              "type": "session",
              "id": "21",
              "links": {
                "self": "/v1/sessions/21"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sessions"
          }
        }


### Create Sessions [POST]
Create a new session using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "title": "Micropython Session",
                  "subtitle": null,
                  "level": 1,
                  "short-abstract": null,
                  "long-abstract": null,
                  "comments": null,
                  "starts-at": "2017-06-01T10:00:00.500127+00:00",
                  "ends-at": "2017-06-01T11:00:00.500127+00:00",
                  "language": "English",
                  "slides-url": null,
                  "videos-url": null,
                  "audios-url": null,
                  "signup-url": null,
                  "state": null,
                  "created-at": "2017-05-01T01:24:47.500127+00:00",
                  "deleted-at": null,
                  "submitted-at": null,
                  "is-mail-sent": false
                },
                "type": "session"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/sessions/21/relationships/event",
                  "related": "/v1/sessions/21/event"
                }
              },
              "track": {
                "links": {
                  "self": "/v1/sessions/21/relationships/track",
                  "related": "/v1/sessions/21/track"
                }
              },
              "microlocation": {
                "links": {
                  "self": "/v1/sessions/21/relationships/microlocation",
                  "related": "/v1/sessions/21/microlocation"
                }
              },
              "session-type": {
                "links": {
                  "self": "/v1/sessions/21/relationships/session-type",
                  "related": "/v1/sessions/21/session-type"
                }
              }
            },
            "attributes": {
              "title": "Micropython Session",
              "subtitle": null,
              "level": 1,
              "short-abstract": null,
              "long-abstract": null,
              "comments": null,
              "starts-at": "2017-06-01T10:00:00.500127+00:00",
              "ends-at": "2017-06-01T11:00:00.500127+00:00",
              "language": "English",
              "slides-url": null,
              "videos-url": null,
              "audios-url": null,
              "signup-url": null,
              "state": null,
              "created-at": "2017-05-01T01:24:47.500127+00:00",
              "deleted-at": null,
              "submitted-at": null,
              "is-mail-sent": false
            },
            "type": "session",
            "id": "21",
            "links": {
              "self": "/v1/sessions/21"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sessions/21"
          }
        }


## Sessions Details [/v1/sessions/{session_id}]
+ Parameters
    + session_id: 1 (integer) - ID of the speaker call in the form of an integer

### Session Details [GET]
Get a single session.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/sessions/21/relationships/event",
                  "related": "/v1/sessions/21/event"
                }
              },
              "track": {
                "links": {
                  "self": "/v1/sessions/21/relationships/track",
                  "related": "/v1/sessions/21/track"
                }
              },
              "microlocation": {
                "links": {
                  "self": "/v1/sessions/21/relationships/microlocation",
                  "related": "/v1/sessions/21/microlocation"
                }
              },
              "session-type": {
                "links": {
                  "self": "/v1/sessions/21/relationships/session-type",
                  "related": "/v1/sessions/21/session-type"
                }
              }
            },
            "attributes": {
              "title": "Micropython Session",
              "subtitle": null,
              "level": 1,
              "short-abstract": null,
              "long-abstract": null,
              "comments": null,
              "starts-at": "2017-06-01T10:00:00.500127+00:00",
              "ends-at": "2017-06-01T11:00:00.500127+00:00",
              "language": "English",
              "slides-url": null,
              "videos-url": null,
              "audios-url": null,
              "signup-url": null,
              "state": null,
              "created-at": "2017-05-01T01:24:47.500127+00:00",
              "deleted-at": null,
              "submitted-at": null,
              "is-mail-sent": false
            },
            "type": "session",
            "id": "1",
            "links": {
              "self": "/v1/sessions/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sessions/1"
          }
        }


### Update Session [PATCH]
Update a single session by `id`.

+ id (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "title": "Micropython Session",
                  "subtitle": null,
                  "level": 1,
                  "short-abstract": null,
                  "long-abstract": null,
                  "comments": null,
                  "starts-at": "2017-06-01T10:00:00.500127+00:00",
                  "ends-at": "2017-06-01T11:00:00.500127+00:00",
                  "language": "English",
                  "slides-url": null,
                  "videos-url": null,
                  "audios-url": null,
                  "signup-url": null,
                  "state": null,
                  "created-at": "2017-05-01T01:24:47.500127+00:00",
                  "deleted-at": null,
                  "submitted-at": null,
                  "is-mail-sent": false
                },
                "type": "session",
                "id": "21"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/sessions/21/relationships/event",
                  "related": "/v1/sessions/21/event"
                }
              },
              "track": {
                "links": {
                  "self": "/v1/sessions/21/relationships/track",
                  "related": "/v1/sessions/21/track"
                }
              },
              "microlocation": {
                "links": {
                  "self": "/v1/sessions/21/relationships/microlocation",
                  "related": "/v1/sessions/21/microlocation"
                }
              },
              "session-type": {
                "links": {
                  "self": "/v1/sessions/21/relationships/session-type",
                  "related": "/v1/sessions/21/session-type"
                }
              }
            },
            "attributes": {
              "title": "Micropython Session",
              "subtitle": null,
              "level": 1,
              "short-abstract": null,
              "long-abstract": null,
              "comments": null,
              "starts-at": "2017-06-01T10:00:00.500127+00:00",
              "ends-at": "2017-06-01T11:00:00.500127+00:00",
              "language": "English",
              "slides-url": null,
              "videos-url": null,
              "audios-url": null,
              "signup-url": null,
              "state": null,
              "created-at": "2017-05-01T01:24:47.500127+00:00",
              "deleted-at": null,
              "submitted-at": null,
              "is-mail-sent": false
            },
            "type": "session",
            "id": "21",
            "links": {
              "self": "/v1/sessions/21"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sessions/21"
          }
        }

### Delete Session [DELETE]
Delete a single session.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Session Type
Data related to all the session types (such as talks, workshops, lightning talks) associated with the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the Session Type | string | **yes** |
| `length` | Length of the Session Type | string | - |

## Session Type Collection [/v1/events/{event_id}/session-types{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"length":"00:30"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Session Types [GET]
Get a list of Session Types.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/session-types/22/relationships/event",
                    "related": "/v1/session-types/22/event"
                  }
                },
                "sessions": {
                  "links": {
                    "self": "/v1/session-types/22/relationships/sessions",
                    "related": "/v1/session-types/22/sessions"
                  }
                }
              },
              "attributes": {
                "name": "Workshop",
                "length": "1:00:00"
              },
              "type": "session-type",
              "id": "22",
              "links": {
                "self": "/v1/session-types/22"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/session-types"
          }
        }


### Create Session Type [POST]
Create a new session type using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Workshop",
                  "length": "1:00:00"
                },
                "type": "session-type"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/session-types/22/relationships/event",
                  "related": "/v1/session-types/22/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/session-types/22/relationships/sessions",
                  "related": "/v1/session-types/22/sessions"
                }
              }
            },
            "attributes": {
              "name": "Workshop",
              "length": "1:00:00"
            },
            "type": "session-type",
            "id": "22",
            "links": {
              "self": "/v1/session-types/22"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/session-types/22"
          }
        }


## Session Type Details [/v1/session-types/{session_type_id}]
+ Parameters
    + session_type_id: 1 (integer) - ID of the session_type in the form of an integer

### Session Type Details [GET]
Get a single session type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/session-types/22/relationships/event",
                  "related": "/v1/session-types/22/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/session-types/22/relationships/sessions",
                  "related": "/v1/session-types/22/sessions"
                }
              }
            },
            "attributes": {
              "name": "Workshop",
              "length": "1:00:00"
            },
            "type": "session-type",
            "id": "1",
            "links": {
              "self": "/v1/session-types/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/session-types/1"
          }
        }


### Update Session Type [PATCH]
Update a single session type by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Workshop",
                  "length": "1:00:00"
                },
                "type": "session-type",
                "id": "22"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/session-types/22/relationships/event",
                  "related": "/v1/session-types/22/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/session-types/22/relationships/sessions",
                  "related": "/v1/session-types/22/sessions"
                }
              }
            },
            "attributes": {
              "name": "Workshop",
              "length": "1:00:00"
            },
            "type": "session-type",
            "id": "21",
            "links": {
              "self": "/v1/session-types/22"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/session-types/22"
          }
        }

### Delete Session Type [DELETE]
Delete a single session type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Social Links
You can add various social links such as facebook, twitter, website, blog link, etc. related to the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the Session Type | string | **yes** |
| `link` | Url of the Social Link | string | **yes** |

## Social Links Collection [/v1/events/{event_id}/social-links{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"name": "facebook"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Social Links [GET]
Get a list of Social Links.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/social-links/1/relationships/event",
                    "related": "/v1/social-links/1/event"
                  }
                }
              },
              "attributes": {
                "link": "http://facebook.com/facebook",
                "name": "Facebook Url"
              },
              "type": "social-link",
              "id": "1",
              "links": {
                "self": "/v1/social-links/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/events/1/social-links"
          }
        }

### Create Social Link [POST]
Create a new social link using event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Facebook Url",
                  "link": "http://facebook.com/facebook"
                },
                "type": "social-link"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/social-links/1/relationships/event",
                  "related": "/v1/social-links/1/event"
                }
              }
            },
            "attributes": {
              "link": "http://facebook.com/facebook",
              "name": "Facebook Url"
            },
            "type": "social-link",
            "id": "1",
            "links": {
              "self": "/v1/social-links/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/social-links/1"
          }
        }


## Social Links [/v1/social-links/{link_id}]
+ Parameters
    + link_id: 1 (integer) - ID of the Social Link in the form of an integer

### Social Link Detail [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/social-links/1/relationships/event",
                  "related": "/v1/social-links/1/event"
                }
              }
            },
            "attributes": {
              "link": "http://facebook.com/facebook",
              "name": "Facebook Url"
            },
            "type": "social-link",
            "id": "1",
            "links": {
              "self": "/v1/social-links/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/social-links/1"
          }
        }


### Update Social Link [PATCH]
Update a single social link by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Facebook Page Url",
                  "link": "http://facebook.com/facebook"
                },
                "type": "social-link",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/social-links/1/relationships/event",
                  "related": "/v1/social-links/1/event"
                }
              }
            },
            "attributes": {
              "link": "http://facebook.com/facebook",
              "name": "Facebook Page Url"
            },
            "type": "social-link",
            "id": "1",
            "links": {
              "self": "/v1/social-links/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/social-links/1"
          }
        }

### Delete Social Link [DELETE]
Delete a single social link.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Speakers Calls
Announcement for call for speaker to accept session proposals from speakers.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `announcement`  | Announcement for speakers call | string | **yes** |
| `starts-at` | Start date of the speakers call | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End date of the speakers call | ISO 8601 (tz-aware) | **yes** |
| `hash` | Hash for speakers call | string | - |
| `privacy` | Privacy of speakers call | string | - |

## Create Speakers Call for an Event [/v1/events/{event_id}/speakers-calls{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `starts-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"announcement":"string"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.


### Create Speakers Call [POST]
Create a new speakers call using an event_id.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `announcement`  | Announcement for speakers call | string | **yes** |
| `starts-at` | Start date of the speakers call | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End date of the speakers call | ISO 8601 (tz-aware) | **yes** |
| `hash` | Hash for speakers call | string | - |
| `privacy` | Privacy of speakers call | string | - |

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "announcement": "Speaker Call Announcement",
                  "starts-at": "2017-06-01T01:24:47.500127+00:00",
                  "ends-at": "2017-06-20T01:24:47.500127+00:00",
                  "hash": null,
                  "private": null
                },
                "type": "speakers-call"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/speakers-calls/1/relationships/event",
                  "related": "/v1/speakers-calls/1/event"
                }
              }
            },
            "attributes": {
              "announcement": "Speaker Call Announcement",
              "starts-at": "2017-06-01T01:24:47.500127+00:00",
              "ends-at": "2017-06-20T01:24:47.500127+00:00",
              "hash": null,
              "private": null
            },
            "type": "speakers-call",
            "id": "1",
            "links": {
              "self": "/v1/speakers-calls/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/speaker-calls/1"
          }
        }

## Get Speakers Call for an Event [/v1/events/{event_id}/speakers-call?page,limit]
+ Parameters
    + event_id (integer) - ID of the specific event in integer

### Get Speakers Call [GET]

+ Request

    + Headers


            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "event": {
                        "links": {
                            "self": "/v1/speakers-calls/1/relationships/event",
                            "related": "/v1/speakers-calls/1/event"
                        }
                    }
                },
                "attributes": {
                    "announcement": "Speaker Call Announcement",
                    "ends-at": "2017-06-20T01:24:47.500127+00:00",
                    "hash": "sfasd",
                    "starts-at": "2017-06-01T01:24:47.500127+00:00",
                    "privacy": "public"
                },
                "type": "speakers-call",
                "id": "10",
                "links": {
                    "self": "/v1/speakers-calls/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/speakers-calls/1"
            }
        }



## Speakers Call Details [/v1/speakers-calls/{speakers_call_id}]

+ Parameters
    + speakers_call_id: 1 (integer) - ID of the session in the form of an integer

### Speakers Call Details [GET]
Get a single speakers call.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/speakers-calls/1/relationships/event",
                  "related": "/v1/speakers-calls/1/event"
                }
              }
            },
            "attributes": {
              "announcement": "Speaker Call Announcement",
              "starts-at": "2017-06-01T01:24:47.500127+00:00",
              "ends-at": "2017-06-20T01:24:47.500127+00:00",
              "hash": null,
              "private": null
            },
            "type": "speakers-calls",
            "id": "1",
            "links": {
              "self": "/v1/speakers-calls/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/speakers-calls/1"
          }
        }


### Update Speakers Call [PATCH]
Update a single speakers call by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "announcement": "Speaker Call Announcement",
                  "starts-at": "2017-06-01T01:24:47.500127+00:00",
                  "ends-at": "2017-06-20T01:24:47.500127+00:00",
                  "hash": null,
                  "private": null
                },
                "type": "speakers-call",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/speaker-calls/1/relationships/event",
                  "related": "/v1/speakers-calls/1/event"
                }
              },
            },
            "attributes": {
              "announcement": "Speaker Call Announcement",
              "starts-at": "2017-06-01T01:24:47.500127+00:00",
              "ends-at": "2017-06-20T01:24:47.500127+00:00",
              "hash": null,
              "private": null
            },
            "type": "speakers-call",
            "id": "1",
            "links": {
              "self": "/v1/speakers-call/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/speakers-calls/1"
          }
        }

### Delete Speakers Call [DELETE]
Delete a single speakers call.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Sponsors
Data related to the various sponsors with their level, url and images associated with a specific event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the Sponsor | string | **yes** |
| `description` | Description of the sponsor | string | - |
| `url` | Url of the sponsor | string | - |
| `level` | Level of the sponsor | string | - |
| `type` | The type of the sponsor | string | - |

## Sponsors Collection [/v1/events/{event_id}/sponsors{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_id: 1 (integer) - ID of the specific event in integer
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `level`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[{"description":"string"}]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Sponsors [GET]
Get a list of Sponsors.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/sponsors/1/relationships/event",
                    "related": "/v1/sponsors/1/event"
                  }
                }
              },
              "attributes": {
                "description": "Some Description",
                "level": "Level",
                "url": "http://example.com",
                "type": "Type",
                "logo-url": "http://placehold.it/200X200",
                "name": "New Brand"
              },
              "type": "sponsor",
              "id": "1",
              "links": {
                "self": "/v1/sponsors/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sponsors"
          }
        }


### Create Sponsor [POST]
Create a new sponsor using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Open Event Sponsor",
                  "description": "Example Description",
                  "url": "http://example.com",
                  "level": "Example",
                  "type": "Gold"
                },
                "type": "sponsor"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/sponsors/5/relationships/event",
                  "related": "/v1/sponsors/5/event"
                }
              }
            },
            "attributes": {
              "description": "Example Description",
              "level": "Example",
              "url": "http://example.com",
              "logo-url": null,
              "type": "Gold",
              "name": "Open Event Sponsor"
            },
            "type": "sponsor",
            "id": "5",
            "links": {
              "self": "/v1/sponsors/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sponsors/5"
          }
        }


## Sponsor Details [/v1/sponsors/{sponsor_id}]
+ Parameters
    + sponsor_id: 1 (integer) - ID of the sponsor in the form of an integer

### Sponsor Details [GET]
Get a single sponsor.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/sponsors/5/relationships/event",
                  "related": "/v1/sponsors/5/event"
                }
              }
            },
            "attributes": {
              "description": "Example Description",
              "level": "Example",
              "url": "http://example.com",
              "logo-url": null,
              "type": "Gold",
              "name": "Open Event Sponsor"
            },
            "type": "sponsor",
            "id": "5",
            "links": {
              "self": "/v1/sponsors/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sponsors/5"
          }
        }


### Update Sponsor [PATCH]
Update a single sponsor by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "description": "Example Description",
                  "url": "http://example.com",
                  "level": "Example",
                  "type": "Gold",
                  "name": "New Open Event Sponsor"
                },
                "type": "sponsor",
                "id": "5"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/sponsors/5/relationships/event",
                  "related": "/v1/sponsors/5/event"
                }
              }
            },
            "attributes": {
              "description": "Example Description",
              "level": "Example",
              "url": "http://example.com",
              "logo-url": null,
              "type": "Gold",
              "name": "New Open Event Sponsor"
            },
            "type": "sponsor",
            "id": "5",
            "links": {
              "self": "/v1/sponsors/5"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/sponsors/5"
          }
        }

### Delete Sponsor [DELETE]
Delete a single sponsor.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Tax
Related to any tax related information that might be related with the tickets for the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
[...]
