FORMAT: V1
HOST: https://api.eventyay.com

# Open Event API Server

The Open Event API Server

# Group Authentication

The API uses JWT Authentication to authenticate users to the server. For authentication, you need to be a registered user. Once you have registered yourself as an user, you can send a request to get the access_token. This access_token you need to then use in Authorization header while sending a request in the following manner: `Authorization: JWT <access_token>`

## JWT Authentication [/auth/session]

### Authenticate and generate token [POST]

+ Request

    + Headers

            Content-Type: application/json

    + Body

            {
                "email": "email@example.com",
                "password": "password"
            }

+ Response 200 (application/json)

        {
            "access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6MSwiaWF0IjoxNDk2OTU2ODMwLCJuYmYiOjE0OTY5NTY4MzAsImV4cCI6MTQ5NzA0MzIzMH0.bjl0"
        }

# Group Users

For using the API you need(mostly) to register as an user. Registering gives you access to all non admin API endpoints. After registration, you need to create your JWT access token to send requests to the API endpoints.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the user | string | - |
| `password` | Password of the user | string | **yes** |
| `email` | Email of the user | string | **yes** |


## Users Collection [/v1/users{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `email`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter(optional, string, ``) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Users [GET]
Get a list of Users.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "meta": {
                "count": 2
            },
            "data": [
                {
                    "attributes": {
                        "is-admin": true,
                        "last-name": null,
                        "instagram-url": null,
                        "is-super-admin": true,
                        "thumbnail-image-url": null,
                        "created-at": "2017-06-21T20:18:12.827128+00:00",
                        "last-accessed-at": null,
                        "email": "open_event_test_user@fossasia.org",
                        "icon-image-url": null,
                        "contact": null,
                        "deleted-at": null,
                        "small-image-url": null,
                        "facebook-url": null,
                        "details": null,
                        "is-verified": true,
                        "first-name": null,
                        "avatar-url": null,
                        "twitter-url": null,
                        "google-plus-url": null
                    },
                    "type": "user",
                    "id": "1",
                    "links": {
                        "self": "/v1/users/1"
                    }
                },
                {
                    "attributes": {
                        "is-admin": false,
                        "last-name": "Doe",
                        "instagram-url": "http://instagram.com/instagram",
                        "is-super-admin": false,
                        "thumbnail-image-url": "http://example.com/example.png",
                        "created-at": "2017-06-21T20:33:33.186358+00:00",
                        "last-accessed-at": null,
                        "email": "example@example.com",
                        "icon-image-url": "http://example.com/example.png",
                        "contact": "example",
                        "deleted-at": null,
                        "small-image-url": "http://example.com/example.png",
                        "facebook-url": "http://facebook.com/facebook",
                        "details": "example",
                        "is-verified": false,
                        "first-name": "John",
                        "avatar-url": "http://example.com/example.png",
                        "twitter-url": "http://twitter.com/twitter",
                        "google-plus-url": "http://plus.google.com/plus.google"
                    },
                    "type": "user",
                    "id": "2",
                    "links": {
                        "self": "/v1/users/2"
                    }
                }
            ],
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users"
            }
        }


### Create User [POST]
Create a new user using an email, password and an optional name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data":
              {
                "attributes":
                {
                  "email": "example@example.com",
                  "password": "password",
                  "avatar_url": "http://example.com/example.png",
                  "first-name": "John",
                  "last-name": "Doe",
                  "details": "example",
                  "contact": "example",
                  "facebook-url": "http://facebook.com/facebook",
                  "twitter-url": "http://twitter.com/twitter",
                  "instagram-url": "http://instagram.com/instagram",
                  "google-plus-url": "http://plus.google.com/plus.google",
                  "thumbnail-image-url": "http://example.com/example.png",
                  "small-image-url": "http://example.com/example.png",
                  "icon-image-url": "http://example.com/example.png"
                },
                "type": "user"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
                "attributes": {
                    "is-admin": false,
                    "last-name": "Doe",
                    "instagram-url": "http://instagram.com/instagram",
                    "is-super-admin": false,
                    "thumbnail-image-url": "http://example.com/example.png",
                    "created-at": "2017-06-21T12:26:09.075379+00:00",
                    "last-accessed-at": null,
                    "email": "example@example.com",
                    "icon-image-url": "http://example.com/example.png",
                    "contact": "example",
                    "deleted-at": null,
                    "small-image-url": "http://example.com/example.png",
                    "facebook-url": "http://facebook.com/facebook",
                    "details": "example",
                    "is-verified": false,
                    "first-name": "John",
                    "avatar-url": "http://example.com/example.png",
                    "twitter-url": "http://twitter.com/twitter",
                    "google-plus-url": "http://plus.google.com/plus.google"
                },
                "type": "user",
                "id": "2",
                "links": {
                    "self": "/v1/users/2"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/2"
            }
        }

## User Details [/v1/users/{user_id}]
+ Parameters
    + user_id: 2 (integer) - ID of the user in the form of an integer

### Get Details [GET]
Get a single user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "attributes": {
                    "is-admin": false,
                    "last-name": "Doe",
                    "instagram-url": "http://instagram.com/instagram",
                    "is-super-admin": false,
                    "thumbnail-image-url": "http://example.com/example.png",
                    "created-at": "2017-06-21T12:26:09.075379+00:00",
                    "last-accessed-at": null,
                    "email": "example@example.com",
                    "icon-image-url": "http://example.com/example.png",
                    "contact": "example",
                    "deleted-at": null,
                    "small-image-url": "http://example.com/example.png",
                    "facebook-url": "http://facebook.com/facebook",
                    "details": "example",
                    "is-verified": false,
                    "first-name": "John",
                    "avatar-url": "http://example.com/example.png",
                    "twitter-url": "http://twitter.com/twitter",
                    "google-plus-url": "http://plus.google.com/plus.google"
                },
                "type": "user",
                "id": "2",
                "links": {
                    "self": "/v1/users/2"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/2"
            }
        }


### Update User [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single user by setting the email, email and/or name.

Authorized user should be same as user in request body or must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "password": "password1",
                  "avatar_url": "http://example1.com/example1.png",
                  "first-name": "Jane",
                  "last-name": "Dough",
                  "details": "example1",
                  "contact": "example1",
                  "facebook-url": "http://facebook.com/facebook1",
                  "twitter-url": "http://twitter.com/twitter1",
                  "instagram-url": "http://instagram.com/instagram1",
                  "google-plus-url": "http://plus.google.com/plus.google1",
                  "thumbnail-image-url": "http://example1.com/example1.png",
                  "small-image-url": "http://example1.com/example1.png",
                  "icon-image-url": "http://example1.com/example1.png"
                },
                "type": "user",
                "id": "2"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "attributes": {
                    "is-admin": false,
                    "last-name": "Dough",
                    "instagram-url": "http://instagram.com/instagram1",
                    "is-super-admin": false,
                    "thumbnail-image-url": "http://example1.com/example1.png",
                    "created-at": "2017-06-21T19:50:57.493620+00:00",
                    "last-accessed-at": null,
                    "email": "example@example.com",
                    "icon-image-url": "http://example1.com/example1.png",
                    "contact": "example1",
                    "deleted-at": null,
                    "small-image-url": "http://example1.com/example1.png",
                    "facebook-url": "http://facebook.com/facebook1",
                    "details": "example1",
                    "is-verified": false,
                    "first-name": "Jane",
                    "avatar-url": "http://example1.com/example1.png",
                    "twitter-url": "http://twitter.com/twitter1",
                    "google-plus-url": "http://plus.google.com/plus.google1"
                },
                "type": "user",
                "id": "2",
                "links": {
                    "self": "/v1/users/2"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/2"
            }
        }

### Delete User [DELETE]
Delete a single user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Event Types

Event Types for Events. Can only be edited and entered by admins.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event type | string | - |
| `slug` | Slug of the event type | string | - |


## Event Types Collection [/v1/event-types{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Types [GET]
Get a list of Event Types.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-types/1/relationships/events",
                    "related": "/v1/event-types/1/events"
                  }
                }
              },
              "attributes": {
                "name": "Camp, Treat & Retreat",
                "slug": "camp-treat-retreat"
              },
              "type": "event-type",
              "id": "1",
              "links": {
                "self": "/v1/event-types/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-types"
          }
        }


### Create Event Type [POST]
Create a new event type with name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Camp, Treat & Retreat"
                },
                "type": "event-type"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-types/1/relationships/events",
                    "related": "/v1/event-types/1/events"
                  }
                }
              },
              "attributes": {
                "name": "Camp, Treat & Retreat",
                "slug": "camp-treat-retreat"
              },
              "type": "event-type",
              "id": "1",
              "links": {
                "self": "/v1/event-types/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-types/1"
            }
          }

## Event Type Details [/v1/event-types/{event_type_id}]
+ Parameters
    + event_type_id: 1 (integer) - ID of the event type in the form of an integer

### Event Type Details [GET]
Get a single event type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-types/1/relationships/events",
                  "related": "/v1/event-types/1/events"
                }
              }
            },
            "attributes": {
              "name": "Camp, Treat & Retreat",
              "slug": "camp-treat-retreat"
            },
            "type": "event-type",
            "id": "1",
            "links": {
              "self": "/v1/event-types/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-types/1"
          }
        }


### Update Event Type [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single event type by setting name.

Authorized user must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Camp, Treat & Retreat"
                },
                "type": "event-type",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-types/1/relationships/events",
                    "related": "/v1/event-types/1/events"
                  }
                }
              },
              "attributes": {
                "name": "Camp, Treat & Retreat",
                "slug": "camp-treat-retreat"
              },
              "type": "event-type",
              "id": "1",
              "links": {
                "self": "/v1/event-types/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-types/1"
            }
          }

### Delete Event Type [DELETE]
Delete a single event type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Event Topics

Event Topics for Events. Can only be edited and entered by admins.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event topic | string | - |
| `slug` | Slug of the event topic | string | - |


## Event Topics Collection [/v1/event-topics{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Topics [GET]
Get a list of Event Topics.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-topics/1/events"
                  }
                },
                "event-sub-topics": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/event-sub-topics",
                    "related": "/v1/event-topics/1/event-sub-topics"
                  }
                }
              },
              "attributes": {
                "name": "Travel & Outdoor",
                "slug": "travel-outdoor"
              },
              "type": "event-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-topics/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics"
          }
        }


### Create Event Topic [POST]
Create a new event topic with name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Travel & Outdoor"
                },
                "type": "event-topic"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-topics/1/events"
                  }
                },
                "event-sub-topics": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/event-sub-topics",
                    "related": "/v1/event-topics/1/event-sub-topics"
                  }
                }
              },
              "attributes": {
                "name": "Travel & Outdoor",
                "slug": "travel-outdoor"
              },
              "type": "event-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-topics/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-topics/1"
            }
          }

## Event Topic Details [/v1/event-topics/{event_topic_id}]
+ Parameters
    + event_topic_id: 1 (integer) - ID of the event topic in the form of an integer

### Event Topic Details [GET]
Get a single event topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/events",
                  "related": "/v1/event-topics/1/events"
                }
              },
              "event-sub-topics": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/event-sub-topics",
                  "related": "/v1/event-topics/1/event-sub-topics"
                }
              }
            },
            "attributes": {
              "name": "Travel & Outdoor",
              "slug": "travel-outdoor"
            },
            "type": "event-topic",
            "id": "1",
            "links": {
              "self": "/v1/event-topics/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics/1"
          }
        }


### Update Event Topic [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single event topic by setting name.

Authorized user must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Travel & Outdoor"
                },
                "type": "event-topic",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/events",
                  "related": "/v1/event-topics/1/events"
                }
              },
              "event-sub-topics": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/event-sub-topics",
                  "related": "/v1/event-topics/1/event-sub-topics"
                }
              }
            },
            "attributes": {
              "name": "Travel & Outdoor",
              "slug": "travel-outdoor"
            },
            "type": "event-type",
            "id": "1",
            "links": {
              "self": "/v1/event-topics/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics/1"
          }
        }

### Delete Event Topic [DELETE]
Delete a single event topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Event Sub Topics

Event Sub Topics for Events. Can only be edited and entered by admins.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event sub topic | string | - |
| `slug` | Slug of the event sub topic | string | - |

## Event Sub Topics Collection [/v1/event-topics/{event_topic_id}/event-sub-topics{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + event_topic_id: 1 (integer) - ID of the event topic.
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Sub Topics [GET]
Get a list of Event Sub Topics.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-sub-topics/1/events"
                  }
                },
                "event-topic": {
                  "links": {
                    "self": "/v1/event-sub-topics/1/relationships/event-topic",
                    "related": "/v1/event-sub-topics/1/event-topic"
                  }
                }
              },
              "attributes": {
                "slug": "climbing",
                "name": "Climbing"
              },
              "type": "event-sub-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-sub-topics/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics/2/event-sub-topics"
          }
        }


### Create Event Sub Topic [POST]
Create a new event sub topic with name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Climbing"
                },
                "type": "event-sub-topic"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-sub-topics/1/events"
                  }
                },
                "event-topic": {
                  "links": {
                    "self": "/v1/event-sub-topics/1/relationships/event-topic",
                    "related": "/v1/event-sub-topics/1/event-topic"
                  }
                }
              },
              "attributes": {
                "name": "Climbing",
                "slug": "climbing"
              },
              "type": "event-sub-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-sub-topics/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-sub-topics/1"
            }
          }

## Event Sub Topic Details [/v1/event-sub-topics/{event_sub_topic_id}]
+ Parameters
    + event_sub_topic_id: 1 (integer) - ID of the event sub topic in the form of an integer

### Event Sub Topic Details [GET]
Get a single event sub topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-sub-topics/1/events"
                  }
                },
                "event-topic": {
                  "links": {
                    "self": "/v1/event-sub-topics/1/relationships/event-topic",
                    "related": "/v1/event-sub-topics/1/event-topic"
                  }
                }
              },
              "attributes": {
                "name": "Climbing",
                "slug": "climbing"
              },
              "type": "event-sub-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-sub-topics/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-sub-topics/1"
            }
          }

### Update Event Sub Topic [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single event topic by setting name.

Authorized user must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Climbing"
                },
                "type": "event-sub-topic",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/events",
                  "related": "/v1/event-sub-topics/1/events"
                }
              },
              "event-topic": {
                "links": {
                  "self": "/v1/event-sub-topics/1/relationships/event-topic",
                  "related": "/v1/event-sub-topics/1/event-topic"
                }
              }
            },
            "attributes": {
              "name": "Climbing",
              "slug": "climbing"
            },
            "type": "event-sub-type",
            "id": "1",
            "links": {
              "self": "/v1/event-sub-topics/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-sub-topics/1"
          }
        }

### Delete Event Sub Topic [DELETE]
Delete a single event sub topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Events
These endpoints help you to create the basic event structure. To add other parts of the event such as ticket, sponsor, copyright, etc. there are separate endpoints.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event | string | **yes** |
| `starts-at` | Start time of the event | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End time of the event | ISO 8601 (tz-aware) | **yes** |
| `timezone` | Timezone of the event | string | **yes** |
| `location-name` | Name of the event location | string | -  |
| `logo-url` | URL of the logo uploaded | string | -  |
| `latitude` | Latitude of the event location | float | - |
| `longitude` | Longitude of the event location| float | - |
| `description` | Description of the event| String | - |
| `searchable-location-name` | Search friendly name of the event location | string | -  |
| `organizer-name` | Name of the event organizer | string | - |
| `organizer-description` | Additional details about the event organizer | string | - |
| `description` | Event's description | string | - |
| `is-map-shown`  | Should the map be shown on public page | boolean (default: `false`) | - |
| `is-sessions-speakers-enabled` | Does the event have sessions & speakers | boolean (default: `false`) | - |
| `privacy` | Should the event be listed publicly | string (default: `public`) | - |
| `state` | Current state of the event | string (default: `draft`) | - |
| `event_type_id` | Type of the event | Integer | - |
| `event_topic_id` | Topic of the event | Integer | - |
| `sub-topic` | Sub-topic of the event | string | - |
| `ticket-url` | The ticketing URL of the event | string | - |
| `code-of-conduct` | Event's code of conduct | string | - |
| `is-ticketing-enabled` | Does the event use Open Event ticketing system | boolean (default: `true`) | - |
| `thumbnail-image-url` | URL of the uploaded thumbnail | string | - |
| `large-image-url` | URL of the large uploaded banner image | string | - |
| `original-image-url` | URL of the original image | string | - |
| `icon-image-url` | URL of the icon image | string | - |
| `scheduled-published-on` | - | ISO 8601 (tz-aware) | - |
| `deleted-at` | Event deleted date  | ISO 8601 (tz-aware) | - |
| `payment-country`  | - | string | - |
| `payment-currency`  | - | string | - |
| `paypal-email`  | - | string | - |
| `tax-allow`  | Is tax allowed on event | boolean (default: `false`) | - |
| `can-pay-by-paypal`  | - | boolean (default: `false`) | - |
| `can-pay-by-stripe`  | - | boolean (default: `false`) | - |
| `can-pay-by-cheque`  | - | boolean (default: `false`) | - |
| `can-pay-onsite`  | - | boolean (default: `false`) | - |
| `cheque-details`  | - | string | - |
| `bank-details`  | - | string | - |
| `onsite-details`  | - | string | - |
| `is-sponsors-enabled`  | - | boolean (default: `false`) | - |
| `identifier`  | - | string | - |
| `external-event-url`  | - | string | - |
| `has-organizer-info`  | - | boolean(default: `false`) | - |

## Events Collection [/v1/events{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `identifier`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[]`) - Filter according to the flask-rest-jsonapi filtering system. If you want to filter by firstname and lastname, example url will /endpoint?filter=[{"firstname":"firstname","lastname":"lastname"}]Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Events [GET]
Get a list of events.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "meta": {
                "count": 1
            },
            "data": [
                {
                    "relationships": {
                        "tickets": {
                          "links": {
                            "self": "/v1/events/1/relationships/tickets",
                            "related": "/v1/events/1/tickets"
                          }
                        },
                        "event-sub-topic": {
                            "links": {
                                "self": "/v1/events/1/relationships/event-sub-topic",
                                "related": "/v1/events/1/event-sub-topic"
                            }
                        },
                        "speakers-call": {
                            "links": {
                                "self": "/v1/events/1/relationships/speakers-call",
                                "related": "/v1/events/1/speakers-call"
                            }
                        },
                        "event-copyright": {
                            "links": {
                                "self": "/v1/events/1/relationships/event-copyright",
                                "related": "/v1/events/1/event-copyright"
                            }
                        },
                        "sessions": {
                            "links": {
                                "self": "/v1/events/1/relationships/sessions",
                                "related": "/v1/events/1/sessions"
                            }
                        },
                        "tax": {
                            "links": {
                                "self": "/v1/events/1/relationships/tax",
                                "related": "/v1/events/1/tax"
                            }
                        },
                        "event-topic": {
                            "links": {
                                "self": "/v1/events/1/relationships/event-topic",
                                "related": "/v1/events/1/event-topic"
                            }
                        },
                        "social-links": {
                            "links": {
                                "self": "/v1/events/1/relationships/social-links",
                                "related": "/v1/events/1/social-links"
                            }
                        },
                        "sponsors": {
                            "links": {
                                "self": "/v1/events/1/relationships/sponsors",
                                "related": "/v1/events/1/sponsors"
                            }
                        },
                        "tracks": {
                            "links": {
                                "self": "/v1/events/1/relationships/tracks",
                                "related": "/v1/events/1/tracks"
                            }
                        },
                        "event-invoices": {
                            "links": {
                                "self": "/v1/events/1/relationships/event-invoices",
                                "related": "/v1/events/1/event-invoices"
                            }
                        },
                        "session-types": {
                            "links": {
                                "self": "/v1/events/1/relationships/session-types",
                                "related": "/v1/events/1/session-types"
                            }
                        },
                        "microlocations": {
                            "links": {
                                "self": "/v1/events/1/relationships/microlocations",
                                "related": "/v1/events/1/microlocations"
                            }
                        },
                        "event-type": {
                            "links": {
                                "self": "/v1/events/1/relationships/event-type",
                                "related": "/v1/events/1/event-type"
                            }
                        },
                        "discount-codes": {
                            "links": {
                                "self": "/v1/events/1/relationships/discount-codes",
                                "related": "/v1/events/1/discount-codes"
                            }
                        }
                    },
                    "attributes": {
                        "payment-country": "US",
                        "paypal-email": "example@example.com",
                        "thumbnail-image-url": null,
                        "schedule-published-on": null,
                        "payment-currency": "USD",
                        "organizer-description": "example",
                        "is-map-shown": true,
                        "original-image-url": "http://example.com/example.png",
                        "onsite-details": "example",
                        "organizer-name": "example",
                        "can-pay-by-stripe": true,
                        "large-image-url": null,
                        "timezone": "UTC",
                        "can-pay-onsite": true,
                        "deleted-at": null,
                        "ticket-url": "http://example.com",
                        "can-pay-by-paypal": true,
                        "location-name": "example",
                        "is-sponsors-enabled": false,
                        "has-organizer-info": false,
                        "is-sessions-speakers-enabled": true,
                        "privacy": "public",
                        "code-of-conduct": "example",
                        "state": "example",
                        "latitude": 1.23456789,
                        "starts-at": "2016-12-13T23:59:59.123456+00:00",
                        "searchable-location-name": "example",
                        "is-ticketing-enabled": true,
                        "can-pay-by-cheque": true,
                        "description": "example",
                        "pentabarf-url": null,
                        "xcal-url": null,
                        "logo-url": "http://example.com/example.png",
                        "external-event-url": null,
                        "is-tax-enabled": true,
                        "icon-image-url": null,
                        "ical-url": null,
                        "name": "example",
                        "can-pay-by-bank": true,
                        "ends-at": "2016-12-14T23:59:59.123456+00:00",
                        "created-at": "2017-06-26T15:22:37.205399+00:00",
                        "longitude": 1.23456789,
                        "bank-details": "example",
                        "cheque-details": "example",
                        "identifier": "b8324ae2"
                    },
                    "type": "event",
                    "id": "1",
                    "links": {
                        "self": "/v1/events/1"
                    }
                }
            ],
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/events"
            }
        }


### Create Event [POST]
Create a new event using a `name`, `starts-at`, `ends-at`, `timezone` and an optional content body.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                    "name": "example",
                    "external-event-url": "http://example.com",
                    "starts-at": "2016-12-13T23:59:59.123456+00:00",
                    "ends-at": "2016-12-14T23:59:59.123456+00:00",
                    "timezone": "UTC",
                    "latitude": "1.23456789",
                    "longitude": "1.23456789",
                    "logo-url": "http://example.com/example.png",
                    "location-name": "example",
                    "searchable-location-name": "example",
                    "description": "example",
                    "original-image-url": "http://example.com/example.png",
                    "organizer-name": "example",
                    "is-map-shown": "true",
                    "organizer-description": "example",
                    "is-sessions-speakers-enabled": "true",
                    "privacy": "public",
                    "state": "example",
                    "ticket-url": "http://example.com",
                    "code-of-conduct": "example",
                    "is-ticketing-enabled": "true",
                    "payment-country": "US",
                    "payment-currency": "USD",
                    "paypal-email": "example@example.com",
                    "is-tax-enabled": "true",
                    "can-pay-by-paypal": "true",
                    "can-pay-by-stripe": "true",
                    "can-pay-by-cheque": "true",
                    "can-pay-by-bank": "true",
                    "can-pay-onsite": "true",
                    "cheque-details": "example",
                    "bank-details": "example",
                    "onsite-details": "example",
                    "is-sponsors-enabled": "false",
                    "has-organizer-info": "false"
                },
                "type": "event"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                  "tickets": {
                      "links": {
                        "self": "/v1/events/1/relationships/tickets",
                        "related": "/v1/events/1/tickets"
                      }
                    },
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-sub-topic",
                            "related": "/v1/events/1/event-sub-topic"
                        }
                    },
                    "speakers-call": {
                        "links": {
                            "self": "/v1/events/1/relationships/speakers-call",
                            "related": "/v1/events/1/speakers-call"
                        }
                    },
                    "event-copyright": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-copyright",
                            "related": "/v1/events/1/event-copyright"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/events/1/relationships/sessions",
                            "related": "/v1/events/1/sessions"
                        }
                    },
                    "tax": {
                        "links": {
                            "self": "/v1/events/1/relationships/tax",
                            "related": "/v1/events/1/tax"
                        }
                    },
                    "event-topic": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-topic",
                            "related": "/v1/events/1/event-topic"
                        }
                    },
                    "social-links": {
                        "links": {
                            "self": "/v1/events/1/relationships/social-links",
                            "related": "/v1/events/1/social-links"
                        }
                    },
                    "sponsors": {
                        "links": {
                            "self": "/v1/events/1/relationships/sponsors",
                            "related": "/v1/events/1/sponsors"
                        }
                    },
                    "tracks": {
                        "links": {
                            "self": "/v1/events/1/relationships/tracks",
                            "related": "/v1/events/1/tracks"
                        }
                    },
                    "event-invoices": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-invoices",
                            "related": "/v1/events/1/event-invoices"
                        }
                    },
                    "session-types": {
                        "links": {
                            "self": "/v1/events/1/relationships/session-types",
                            "related": "/v1/events/1/session-types"
                        }
                    },
                    "microlocations": {
                        "links": {
                            "self": "/v1/events/1/relationships/microlocations",
                            "related": "/v1/events/1/microlocations"
                        }
                    },
                    "event-type": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-type",
                            "related": "/v1/events/1/event-type"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/events/1/relationships/discount-codes",
                            "related": "/v1/events/1/discount-codes"
                        }
                    }
                },
                "attributes": {
                    "payment-country": "US",
                    "paypal-email": "example@example.com",
                    "thumbnail-image-url": null,
                    "schedule-published-on": null,
                    "payment-currency": "USD",
                    "organizer-description": "example",
                    "is-map-shown": true,
                    "original-image-url": "http://example.com/example.png",
                    "onsite-details": "example",
                    "organizer-name": "example",
                    "can-pay-by-stripe": true,
                    "large-image-url": null,
                    "timezone": "UTC",
                    "can-pay-onsite": true,
                    "deleted-at": null,
                    "ticket-url": "http://example.com",
                    "can-pay-by-paypal": true,
                    "location-name": "example",
                    "is-sponsors-enabled": false,
                    "has-organizer-info": false,
                    "is-sessions-speakers-enabled": true,
                    "privacy": "public",
                    "code-of-conduct": "example",
                    "state": "example",
                    "latitude": 1.23456789,
                    "starts-at": "2016-12-13T23:59:59.123456+00:00",
                    "searchable-location-name": "example",
                    "is-ticketing-enabled": true,
                    "can-pay-by-cheque": true,
                    "description": "example",
                    "pentabarf-url": null,
                    "xcal-url": null,
                    "logo-url": "http://example.com/example.png",
                    "external-event-url": null,
                    "is-tax-enabled": true,
                    "icon-image-url": null,
                    "ical-url": null,
                    "name": "example",
                    "can-pay-by-bank": true,
                    "ends-at": "2016-12-14T23:59:59.123456+00:00",
                    "created-at": "2017-06-26T15:22:37.205399+00:00",
                    "longitude": 1.23456789,
                    "bank-details": "example",
                    "cheque-details": "example",
                    "identifier": "b8324ae2"
                },
                "type": "event",
                "id": "1",
                "links": {
                    "self": "/v1/events/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/events/1"
            }
        }


## Event Details [/v1/events/{event_identifier}]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)

### Event Details [GET]
Get a single event.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "tickets": {
                      "links": {
                        "self": "/v1/events/1/relationships/tickets",
                        "related": "/v1/events/1/tickets"
                      }
                    },
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-sub-topic",
                            "related": "/v1/events/1/event-sub-topic"
                        }
                    },
                    "speakers-call": {
                        "links": {
                            "self": "/v1/events/1/relationships/speakers-call",
                            "related": "/v1/events/1/speakers-call"
                        }
                    },
                    "event-copyright": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-copyright",
                            "related": "/v1/events/1/event-copyright"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/events/1/relationships/sessions",
                            "related": "/v1/events/1/sessions"
                        }
                    },
                    "tax": {
                        "links": {
                            "self": "/v1/events/1/relationships/tax",
                            "related": "/v1/events/1/tax"
                        }
                    },
                    "event-topic": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-topic",
                            "related": "/v1/events/1/event-topic"
                        }
                    },
                    "social-links": {
                        "links": {
                            "self": "/v1/events/1/relationships/social-links",
                            "related": "/v1/events/1/social-links"
                        }
                    },
                    "sponsors": {
                        "links": {
                            "self": "/v1/events/1/relationships/sponsors",
                            "related": "/v1/events/1/sponsors"
                        }
                    },
                    "tracks": {
                        "links": {
                            "self": "/v1/events/1/relationships/tracks",
                            "related": "/v1/events/1/tracks"
                        }
                    },
                    "event-invoices": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-invoices",
                            "related": "/v1/events/1/event-invoices"
                        }
                    },
                    "session-types": {
                        "links": {
                            "self": "/v1/events/1/relationships/session-types",
                            "related": "/v1/events/1/session-types"
                        }
                    },
                    "microlocations": {
                        "links": {
                            "self": "/v1/events/1/relationships/microlocations",
                            "related": "/v1/events/1/microlocations"
                        }
                    },
                    "event-type": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-type",
                            "related": "/v1/events/1/event-type"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/events/1/relationships/discount-codes",
                            "related": "/v1/events/1/discount-codes"
                        }
                    }
                },
                "attributes": {
                    "payment-country": "US",
                    "paypal-email": "example@example.com",
                    "thumbnail-image-url": null,
                    "schedule-published-on": null,
                    "payment-currency": "USD",
                    "organizer-description": "example",
                    "is-map-shown": true,
                    "original-image-url": "http://example.com/example.png",
                    "onsite-details": "example",
                    "organizer-name": "example",
                    "can-pay-by-stripe": true,
                    "large-image-url": null,
                    "timezone": "UTC",
                    "can-pay-onsite": true,
                    "deleted-at": null,
                    "ticket-url": "http://example.com",
                    "can-pay-by-paypal": true,
                    "location-name": "example",
                    "is-sponsors-enabled": false,
                    "has-organizer-info": false,
                    "is-sessions-speakers-enabled": true,
                    "privacy": "public",
                    "code-of-conduct": "example",
                    "state": "example",
                    "latitude": 1.23456789,
                    "starts-at": "2016-12-13T23:59:59.123456+00:00",
                    "searchable-location-name": "example",
                    "is-ticketing-enabled": true,
                    "can-pay-by-cheque": true,
                    "description": "example",
                    "pentabarf-url": null,
                    "xcal-url": null,
                    "logo-url": "http://example.com/example.png",
                    "external-event-url": null,
                    "is-tax-enabled": true,
                    "icon-image-url": null,
                    "ical-url": null,
                    "name": "example",
                    "can-pay-by-bank": true,
                    "ends-at": "2016-12-14T23:59:59.123456+00:00",
                    "created-at": "2017-06-26T15:22:37.205399+00:00",
                    "longitude": 1.23456789,
                    "bank-details": "example",
                    "cheque-details": "example",
                    "identifier": "b8324ae2"
                },
                "type": "event",
                "id": "1",
                "links": {
                    "self": "/v1/events/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/events/1"
            }
        }


### Update Event [PATCH]
Update a single event.

All other fields are optional. Add attributes you want to modify.

+ `id` (integer) - ID of the record to update **(required)**


+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                    "name": "example1",
                    "external-event-url": "http://example11.com",
                    "starts-at": "2016-12-14T23:59:59.123456+05:30",
                    "ends-at": "2016-12-15T23:59:59.123456+05:30",
                    "timezone": "Asia/Kolkata",
                    "latitude": "12.23456789",
                    "longitude": "12.23456789",
                    "logo-url": "http://example1.com/example1.png",
                    "location-name": "example1",
                    "searchable-location-name": "example1",
                    "description": "example1",
                    "original-image-url": "http://example1.com/example1.png",
                    "organizer-name": "example1",
                    "is-map-shown": "false",
                    "organizer-description": "example1",
                    "is-sessions-speakers-enabled": "false",
                    "privacy": "private",
                    "state": "example1",
                    "ticket-url": "http://example1.com",
                    "code-of-conduct": "example1",
                    "is-ticketing-enabled": "false",
                    "payment-country": "US",
                    "payment-currency": "USD",
                    "paypal-email": "example1@example1.com",
                    "is-tax-enabled": "false",
                    "can-pay-by-paypal": "false",
                    "can-pay-by-stripe": "false",
                    "can-pay-by-cheque": "false",
                    "can-pay-by-bank": "false",
                    "can-pay-onsite": "false",
                    "cheque-details": "example1",
                    "bank-details": "example1",
                    "onsite-details": "example1",
                    "is-sponsors-enabled": "false",
                    "has-organizer-info": "false"
                },
                "id": "1",
                "type": "event"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "tickets": {
                      "links": {
                        "self": "/v1/events/1/relationships/tickets",
                        "related": "/v1/events/1/tickets"
                        }
                      },
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-sub-topic",
                            "related": "/v1/events/1/event-sub-topic"
                        }
                    },
                    "speakers-call": {
                        "links": {
                            "self": "/v1/events/1/relationships/speakers-call",
                            "related": "/v1/events/1/speakers-call"
                        }
                    },
                    "event-copyright": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-copyright",
                            "related": "/v1/events/1/event-copyright"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/events/1/relationships/sessions",
                            "related": "/v1/events/1/sessions"
                        }
                    },
                    "tax": {
                        "links": {
                            "self": "/v1/events/1/relationships/tax",
                            "related": "/v1/events/1/tax"
                        }
                    },
                    "event-topic": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-topic",
                            "related": "/v1/events/1/event-topic"
                        }
                    },
                    "social-links": {
                        "links": {
                            "self": "/v1/events/1/relationships/social-links",
                            "related": "/v1/events/1/social-links"
                        }
                    },
                    "sponsors": {
                        "links": {
                            "self": "/v1/events/1/relationships/sponsors",
                            "related": "/v1/events/1/sponsors"
                        }
                    },
                    "tracks": {
                        "links": {
                            "self": "/v1/events/1/relationships/tracks",
                            "related": "/v1/events/1/tracks"
                        }
                    },
                    "event-invoices": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-invoices",
                            "related": "/v1/events/1/event-invoices"
                        }
                    },
                    "session-types": {
                        "links": {
                            "self": "/v1/events/1/relationships/session-types",
                            "related": "/v1/events/1/session-types"
                        }
                    },
                    "microlocations": {
                        "links": {
                            "self": "/v1/events/1/relationships/microlocations",
                            "related": "/v1/events/1/microlocations"
                        }
                    },
                    "event-type": {
                        "links": {
                            "self": "/v1/events/1/relationships/event-type",
                            "related": "/v1/events/1/event-type"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/events/1/relationships/discount-codes",
                            "related": "/v1/events/1/discount-codes"
                        }
                    }
                },
                "attributes": {
                    "payment-country": "US",
                    "paypal-email": "example1@example1.com",
                    "thumbnail-image-url": null,
                    "schedule-published-on": null,
                    "payment-currency": "USD",
                    "organizer-description": "example1",
                    "is-map-shown": false,
                    "original-image-url": "http://example1.com/example1.png",
                    "onsite-details": "example1",
                    "organizer-name": "example1",
                    "can-pay-by-stripe": false,
                    "large-image-url": null,
                    "timezone": "Asia/Kolkata",
                    "can-pay-onsite": false,
                    "deleted-at": null,
                    "ticket-url": "http://example1.com",
                    "can-pay-by-paypal": false,
                    "location-name": "example1",
                    "is-sponsors-enabled": false,
                    "has-organizer-info": false,
                    "is-sessions-speakers-enabled": false,
                    "privacy": "private",
                    "code-of-conduct": "example1",
                    "state": "example1",
                    "latitude": 12.23456789,
                    "starts-at": "2016-12-14T18:29:59.123456+00:00",
                    "searchable-location-name": "example1",
                    "is-ticketing-enabled": false,
                    "can-pay-by-cheque": false,
                    "description": "example1",
                    "pentabarf-url": null,
                    "xcal-url": null,
                    "logo-url": "http://example1.com/example1.png",
                    "external-event-url": null,
                    "is-tax-enabled": false,
                    "icon-image-url": null,
                    "ical-url": null,
                    "name": "example1",
                    "can-pay-by-bank": false,
                    "ends-at": "2016-12-15T18:29:59.123456+00:00",
                    "created-at": "2017-06-26T15:22:37.205399+00:00",
                    "longitude": 12.23456789,
                    "bank-details": "example1",
                    "cheque-details": "example1",
                    "identifier": "b8324ae2"
                },
                "type": "event",
                "id": "1",
                "links": {
                    "self": "/v1/events/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/events/1"
            }
        }

### Delete Event [DELETE]
Delete a single event.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Copyright
Data related to event copyright information.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `holder`  | Holder name | string | - |
| `holder-url` | URL of the holder | string | - |
| `year` | Year till which you have copyright | ISO 8601 (tz-aware) | - |
| `licence` | Licence text | string | - |
| `licence-url` | URL of the licence location | string | -  |
| `logo-url` | URL of the logo for the Licence | string | -  |

## Event Copyright [/v1/events/{event_identifier}/event-copyright{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `year`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.


### Create Event Copyright [POST]
Create a new Event Copyright using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "holder": "Name of Holder",
                  "holder-url": "http://holder-url.com",
                  "licence": "Licence text",
                  "licence-url": "http://licence-url.com",
                  "year": 2007,
                  "logo-url": "http://logo-url.com"
                },
                "type": "event-copyright"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-copyright/1/relationships/event",
                  "related": "/v1/event-copyright/1/event"
                }
              }
            },
            "attributes": {
              "holder": "Name of Holder",
              "holder-url": "http://holder-url.com",
              "licence": "Licence text",
              "licence-url": "http://licence-url.com",
              "year": 2007,
              "logo-url": "http://logo-url.com"
            },
            "type": "event-copyright",
            "id": "1",
            "links": {
              "self": "/v1/event-copyright/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright/1"
          }
        }


## Event Copyright Details [/v1/event-copyright/{event_copyright_id}]
+ Parameters
    + event_copyright_id: 1 (integer) - ID of the event copyright in the form of an integer

### Event Copyright Details [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-copyright/1/relationships/event",
                  "related": "/v1/event-copyright/1/event"
                }
              }
            },
            "attributes": {
              "holder": "Name of Holder",
              "holder-url": "http://holder-url.com",
              "licence": "Licence text",
              "licence-url": "http://licence-url.com",
              "year": 2007,
              "logo-url": "http://logo-url.com"
            },
            "type": "event-copyright",
            "id": "1",
            "links": {
              "self": "/v1/event-copyright/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright/1"
          }
        }


### Update Event Copyright [PATCH]
Update a single event copyright by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "holder": "Name of Holder",
                  "holder-url": "http://holder-url.com",
                  "licence": "Licence text",
                  "licence-url": "http://licence-url.com",
                  "year": 2007,
                  "logo-url": "http://logo-url.com"
                },
                "type": "event-copyright",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/event-copyright/1/relationships/event",
                  "related": "/v1/event-copyright/1/event"
                }
              }
            },
            "attributes": {
              "holder": "Name of Holder",
              "holder-url": "http://holder-url.com",
              "licence": "Licence text",
              "licence-url": "http://licence-url.com",
              "year": 2007,
              "logo-url": "http://logo-url.com"
            },
            "type": "event-copyright",
            "id": "1",
            "links": {
              "self": "/v1/event-copyright/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-copyright/1"
          }
        }

### Delete Event Copyright [DELETE]
Delete a single event copyright.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


# Group Invoices
Data related to an invoice for the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `status`  | Status of the event order | string | - |
| `identifier` | Unique ID for the invoice | string | - |
| `paypal-token` | Paypal Token for the event organizer | string | - |
| `transaction-id` | ID for Transaction | string | - |
| `brand` | Brand for event invoice | string | - |
| `created-at` | Time of creation of order | ISO 8601 (tz-aware) | - |
| `payment-mode` | Payment Mode | string | - |
| `stripe-token` | Stripe Token for the event organizer | string | - |
| `last4` | - | string | - |
| `address` | Billing Address | string | - |
| `city` | City for Billing Address | string | - |
| `state` | State for Billing Address | string | - |
| `country` | Country for Billing Address| string | - |
| `zipcode` | Zipcode for Billing Address | string | - |
| `exp-month` | Expiring Month | integer | - |
| `exp-year` | Expiring Year  | integer | - |
| `amount` | Amount of the order | float | - |
| `completed-at` | Completion of Invoice Order | ISO 8601 (tz-aware) | - |
| `paid-via` | Payment procedure | string | - |

## Event Invoices [/v1/events/{event_identifier}/event-invoices{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `created-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### Get Event Invoices [GET]
Get a single event invoice.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/event-invoices/1/relationships/event",
                    "related": "/v1/event-invoices/1/event"
                  }
                },
                "user": {
                  "links": {
                    "self": "/v1/event-invoices/1/relationships/user",
                    "related": "/v1/event-invoices/1/user"
                  }
                }
              },
              "attributes": {
                "status": "pending",
                "city": null,
                "identifier": "3fe1aa02-34dd-41ea-a0a9-f7a0259b90b5",
                "paypal-token": null,
                "exp-year": null,
                "transaction-id": null,
                "country": null,
                "brand": null,
                "created-at": "2017-06-08T11:24:57.344803+00:00",
                "zipcode": null,
                "payment-mode": null,
                "stripe-token": null,
                "last4": null,
                "state": null,
                "address": null,
                "exp-month": null,
                "amount": 100.0,
                "completed-at": null,
                "paid-via": null
              },
              "type": "event-invoice",
              "id": "1",
              "links": {
                "self": "/v1/event-invoices/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-invoices"
          }
        }


### Create Event Invoices [POST]
Create a new Event Invoice using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "paypal-token": "1234",
                  "exp-year": "2100",
                  "transaction-id": "ae43awer",
                  "brand": "brand",
                  "payment-mode": "mode",
                  "stripe-token": "fssfda432",
                  "last4": "5445",
                  "address": "address",
                  "city": "city",
                  "state": "state",
                  "country": "US",
                  "zipcode": "40004",
                  "exp-month": "10",
                  "amount": 500.0,
                  "paid-via": "stripe"
                },
                "type": "event-invoice"
              }
            }


+ Response 201 (application/vnd.api+json)

            {
                "data": {
                    "relationships": {
                        "discount-codes": {
                            "links": {
                                "self": "/v1/event-invoices/3/relationships/discount-codes",
                                "related": "/v1event-invoices/3/discount-code"
                            }
                        },
                        "event": {
                            "links": {
                                "self": "/v1/event-invoices/3/relationships/event",
                                "related": "/v1/event-invoices/3/event"
                            }
                        },
                        "user": {
                            "links": {
                                "self": "/v1/event-invoices/3/relationships/user",
                                "related": "/v1/event-invoices/3/user"
                            }
                        }
                    },
                    "attributes": {
                        "status": "pending",
                        "city": "city",
                        "identifier": "8e2aacda-c217-4f94-8472-9d04f2bdeeb7",
                        "paypal-token": "1234",
                        "invoice-pdf-url": null,
                        "transaction-id": "ae43awer",
                        "country": "US",
                        "brand": "brand",
                        "created-at": "2017-06-28T08:08:13.566681+00:00",
                        "zipcode": "40004",
                        "payment-mode": "mode",
                        "stripe-token": "fssfda432",
                        "last4": "5445",
                        "state": "state",
                        "address": "address",
                        "exp-month": 10,
                        "amount": 500,
                        "completed-at": null,
                        "exp-year": 2100,
                        "paid-via": "stripe"
                    },
                    "type": "event-invoice",
                    "id": "3",
                    "links": {
                        "self": "/v1/event-invoices/3"
                    }
                },
                "jsonapi": {
                    "version": "1.0"
                },
                "links": {
                    "self": "/v1/event-invoices/3"
                }
            }


## Event Invoices Details [/v1/event-invoices/{event_invoices_id}]
+ Parameters
    + event_invoices_id: 1 (integer) - ID of the event invoices in the form of an integer

### Event Invoices Details [GET]
Get a single event invoice.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "discount-codes": {
                        "links": {
                            "self": "/v1/event-invoices/5/relationships/discount-codes",
                            "related": "/v1event-invoices/5/discount-code"
                        }
                    },
                    "event": {
                        "links": {
                            "self": "/v1/event-invoices/5/relationships/event",
                            "related": "/v1/event-invoices/5/event"
                        }
                    },
                    "user": {
                        "links": {
                            "self": "/v1/event-invoices/5/relationships/user",
                            "related": "/v1/event-invoices/5/user"
                        }
                    }
                },
                "attributes": {
                    "status": "pending",
                    "city": "city",
                    "identifier": "b88639c9-5a41-45ea-884d-977876baa08f",
                    "paypal-token": "1234",
                    "invoice-pdf-url": null,
                    "transaction-id": "ae43awer",
                    "country": "US",
                    "brand": "brand",
                    "created-at": "2017-06-28T08:10:14.968538+00:00",
                    "zipcode": "40004",
                    "payment-mode": "mode",
                    "stripe-token": "fssfda432",
                    "last4": "5445",
                    "state": "state",
                    "address": "address",
                    "exp-month": 10,
                    "amount": 500,
                    "completed-at": null,
                    "exp-year": 2100,
                    "paid-via": "stripe"
                },
                "type": "event-invoice",
                "id": "5",
                "links": {
                    "self": "/v1/event-invoices/5"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-invoices/5"
            }
        }


### Update Event Invoices [PATCH]
Update a single event invoice by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "paypal-token": "1234",
                  "exp-year": "2100",
                  "transaction-id": "ae43awer",
                  "brand": "brand",
                  "payment-mode": "mode",
                  "stripe-token": "fssfda432",
                  "last4": "5445",
                  "address": "address",
                  "city": "city",
                  "state": "state",
                  "country": "US",
                  "zipcode": "40004",
                  "exp-month": "10",
                  "amount": 500.0,
                  "paid-via": "stripe"
                },
                "type": "event-invoice",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "discount-codes": {
                        "links": {
                            "self": "/v1/event-invoices/5/relationships/discount-codes",
                            "related": "/v1event-invoices/5/discount-code"
                        }
                    },
                    "event": {
                        "links": {
                            "self": "/v1/event-invoices/5/relationships/event",
                            "related": "/v1/event-invoices/5/event"
                        }
                    },
                    "user": {
                        "links": {
                            "self": "/v1/event-invoices/5/relationships/user",
                            "related": "/v1/event-invoices/5/user"
                        }
                    }
                },
                "attributes": {
                    "status": "pending",
                    "city": "city",
                    "identifier": "b88639c9-5a41-45ea-884d-977876baa08f",
                    "paypal-token": "1234",
                    "invoice-pdf-url": null,
                    "transaction-id": "ae43awer",
                    "country": "US",
                    "brand": "brand",
                    "created-at": "2017-06-28T08:10:14.968538+00:00",
                    "zipcode": "40004",
                    "payment-mode": "mode",
                    "stripe-token": "fssfda432",
                    "last4": "5445",
                    "state": "state",
                    "address": "address",
                    "exp-month": 10,
                    "amount": 500,
                    "completed-at": null,
                    "exp-year": 2100,
                    "paid-via": "stripe"
                },
                "type": "event-invoice",
                "id": "5",
                "links": {
                    "self": "/v1/event-invoices/5"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-invoices/5"
            }
        }

### Delete Event Invoices [DELETE]
Delete a single event invoice.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Microlocations
Data related to all the microlocations for the various sessions of the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the microlocation| string | **yes** |
| `latitude` |  Latitude of the microlocation | float | - |
| `longitude` |  Longitude of the microlocation | float | - |
| `floor` | Floor of the microlocation | integer | - |
| `room` | Room of the microlocation | string | - |

## Microlocation Collection [/v1/events/{event_identifier}/microlocations{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `floor`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Microlocations [GET]
Get a list of Microlocations.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/microlocations/1/relationships/event",
                    "related": "/v1/microlocations/1/event"
                  }
                },
                 "sessions": {
                  "links": {
                    "self": "/v1/microlocations/1/relationships/sessions",
                    "related": "/v1/microlocations/1/sessions"
                  }
                }
              },
              "attributes": {
                "name": "microlocation-name",
                "latitude": "45.00",
                "longitude": "45.00",
                "floor": "2",
                "room": "room1"
              },
              "type": "microlocation",
              "id": "1",
              "links": {
                "self": "/v1/microlocations/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations"
          }
        }


### Create Microlocation [POST]
Create a new microlocation using an event_id.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "microlocation-name",
                  "latitude": "45.00",
                  "longitude": "45.00",
                  "floor": "2",
                  "room": "room1"
                },
                "type": "microlocation"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/event",
                  "related": "/v1/microlocations/1/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/sessions",
                  "related": "/v1/microlocations/1/sessions"
                }
              }
            },
            "attributes": {
              "name": "microlocation-name",
              "latitude": "45.00",
              "longitude": "45.00",
              "floor": "2",
              "room": "room1"
            },
            "type": "microlocation",
            "id": "1",
            "links": {
              "self": "/v1/microlocations/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations/1"
          }
        }


## Microlocation Details [/v1/microlocations/{microlocation_id}]
+ Parameters
    + microlocation_id: 1 (integer) - ID of the ticket in the form of an integer

### Mictolocation Details [GET]
Get a single microlocation.


+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/event",
                  "related": "/v1/microlocations/1/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/sessions",
                  "related": "/v1/microlocations/1/sessions"
                }
              }
            },
            "attributes": {
              "name": "microlocation-name",
              "latitude": "45.00",
              "longitude": "45.00",
              "floor": "2",
              "room": "room1"
            },
            "type": "microlocation",
            "id": "2",
            "links": {
              "self": "/v1/microlocations/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations/1"
          }
        }


### Update Microlocation [PATCH]
Update a single microlocation by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "microlocation-name1",
                  "latitude": "46.00",
                  "longitude": "46.00",
                  "floor": "21",
                  "room": "room11"
                },
                "type": "microlocation",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "event": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/event",
                  "related": "/v1/microlocations/1/event"
                }
              },
              "sessions": {
                "links": {
                  "self": "/v1/microlocations/1/relationships/sessions",
                  "related": "/v1/microlocations/1/sessions"
                }
              }
            },
            "attributes": {
              "name": "microlocation-name1",
              "latitude": "46.00",
              "longitude": "46.00",
              "floor": "21",
              "room": "room11"
            },
            "type": "microlocation",
            "id": "1",
            "links": {
              "self": "/v1/microlocations/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/microlocations/1"
          }
        }

### Delete Microlocation [DELETE]
Delete a single microlocation.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }

# Group Sessions
Data related to all the sessions in the event.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `title`  | Title of the Session | string | **yes** |
| `subtitle` | Subtitle of the Session | string | - |
| `level` | Level of the Session | string | - |
| `short-abstract` | Short Abstract of the Session | string | - |
| `long-abstract` | Long Abstract of the Session | string | - |
| `comments` | Comments of the Session | string | - |
| `starts-at` | Start date of the Session | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End date of the Session | ISO 8601 (tz-aware) | **yes** |
| `language` | Language of the Session | string | - |
| `slides-url` | Slide Url of the Session | string | - |
| `videos-url` | Video Url of the Session | string | - |
| `audios-url` | Audio Url of the Session | string | - |
| `signup-url` | Signup Url of the Session | string | - |
| `state` | State of the Session | string | - |
| `created-at` | Date the session was created | ISO 8601 (tz-aware) | - |
| `deleted-at` | Date the session was deleted | ISO 8601 (tz-aware) | - |
| `submitted-at` | Date the session was submitted | ISO 8601 (tz-aware) | - |
| `is-mail-sent` | Yes/No for Session accept/reject email | boolean (default: `false`) | - |

## Sessions Collection [/v1/events/{event_identifier}/sessions{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `created-at`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Sessions [GET]
Get a list of Sessions **(Public)**.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "event": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/event",
                    "related": "/v1/sessions/21/event"
                  }
                },
                "track": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/track",
                    "related": "/v1/sessions/21/track"
                  }
                },
                "microlocation": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/microlocation",
                    "related": "/v1/sessions/21/microlocation"
                  }
                },
                "session-type": {
                  "links": {
                    "self": "/v1/sessions/21/relationships/session-type",
                    "related": "/v1/sessions/21/session-type"
                  }
                }
              },
              "attributes": {
                "title": "Micropython Session",
                "subtitle": null,
                "level": 1,
[...]
