FORMAT: V1
HOST: https://api.eventyay.com

# Open Event API Server

The Open Event API Server

# Group Authentication

The API uses JWT Authentication to authenticate users to the server. For authentication, you need to be a registered user. Once you have registered yourself as an user, you can send a request to get the access_token. This access_token you need to then use in Authorization header while sending a request in the following manner: `Authorization: JWT <access_token>`

## JWT Authentication [/auth/session]

### Authenticate and generate token [POST]

+ Request

    + Headers

            Content-Type: application/json

    + Body

            {
                "email": "email@example.com",
                "password": "password"
            }

+ Response 200 (application/json)

        {
            "access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6MSwiaWF0IjoxNDk2OTU2ODMwLCJuYmYiOjE0OTY5NTY4MzAsImV4cCI6MTQ5NzA0MzIzMH0.bjl0"
        }

# Group Users

For using the API you need(mostly) to register as an user. Registering gives you access to all non admin API endpoints. After registration, you need to create your JWT access token to send requests to the API endpoints.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the user | string | - |
| `password` | Password of the user | string | **yes** |
| `email` | Email of the user | string | **yes** |


## Users Collection [/v1/users{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `email`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter(optional, string, ``) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.

### List All Users [GET]
Get a list of Users.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "meta": {
                "count": 1
            },
            "data": [
                {
                    "relationships": {
                        "events": {
                            "links": {
                                "self": "/v1/users/3/relationships/events",
                                "related": "/v1/users/3/events"
                            }
                        },
                        "alternate-emails": {
                            "links": {
                                "self": "/v1/users/1/relationships/alternate-emails",
                                "related": "/v1/users/1/alternate-emails"
                            }
                        },
                        "attendees": {
                            "links": {
                                "self": "/v1/users/3/relationships/attendees",
                                "related": "/v1/users/3/attendees"
                            }
                        },
                        "orders": {
                            "links": {
                                "self": "/v1/users/2/relationships/orders",
                                "related": "/v1/users/2/orders"
                            }
                        },
                        "email-notifications": {
                            "links": {
                                "self": "/v1/users/2/relationships/email-notifications",
                                "related": "/v1/users/2/email-notifications"
                            }
                        },
                        "discount-codes": {
                            "links": {
                                "self": "/v1/users/2/relationships/discount-codes",
                                "related": "/v1/users/2/discount-codes"
                            }
                        },
                        "sessions": {
                            "links": {
                                "self": "/v1/users/2/relationships/sessions",
                                "related": "/v1/users/2/sessions"
                            }
                        },
                        "coorganizer-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/coorganizer-events",
                                "related": "/v1/events"
                            }
                        },
                        "speakers": {
                            "links": {
                                "self": "/v1/users/2/relationships/speakers",
                                "related": "/v1/users/2/speakers"
                            }
                        },
                        "moderator-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/moderator-events",
                                "related": "/v1/events"
                            }
                        },
                        "notifications": {
                            "links": {
                                "self": "/v1/users/2/relationships/notifications",
                                "related": "/v1/users/2/notifications"
                            }
                        },
                        "track-organizer-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/track-organizer-events",
                                "related": "/v1/events"
                            }
                        },
                        "marketer-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/marketer-events",
                                "related": "/v1/events"
                            }
                        },
                        "sales-admin-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/sales-admin-events",
                                "related": "/v1/events"
                            }
                        },
                        "access-codes": {
                            "links": {
                                "self": "/v1/users/2/relationships/access-codes",
                                "related": "/v1/users/2/access-codes"
                            }
                        },
                        "organizer-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/organizer-events",
                                "related": "/v1/events"
                            }
                        },
                        "registrar-events": {
                            "links": {
                                "self": "/v1/users/2/relationships/registrar-events",
                                "related": "/v1/events"
                            }
                        }
                    },
                    "attributes": {
                        "is-admin": false,
                        "last-name": "Doe",
                        "instagram-url": "http://instagram.com/instagram",
                        "is-super-admin": false,
                        "is-sales-admin": false,
                        "is-marketer": false,
                        "thumbnail-image-url": "http://example.com/example.png",
                        "created-at": "2017-06-21T20:33:33.186358+00:00",
                        "last-accessed-at": null,
                        "email": "example@example.com",
                        "icon-image-url": "http://example.com/example.png",
                        "contact": "example",
                        "deleted-at": null,
                        "small-image-url": "http://example.com/example.png",
                        "facebook-url": "http://facebook.com/facebook",
                        "details": "example",
                        "is-verified": false,
                        "first-name": "John",
                        "avatar-url": "http://example.com/example.png",
                        "twitter-url": "http://twitter.com/twitter",
                        "google-plus-url": "http://plus.google.com/plus.google",
                        "facebook-id": "12345678"
                    },
                    "type": "user",
                    "id": "2",
                    "links": {
                        "self": "/v1/users/2"
                    }
                }
            ],
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users"
            }
        }


### Create User [POST]
Create a new user using an email, password and an optional name.

+ Request (application/vnd.api+json)

    + Headers

    + Body

            {
              "data":
              {
                "attributes":
                {
                  "email": "email@example.com",
                  "password": "password",
                  "avatar_url": "http://example.com/example.png",
                  "first-name": "John",
                  "last-name": "Doe",
                  "details": "example",
                  "contact": "example",
                  "facebook-url": "http://facebook.com/facebook",
                  "twitter-url": "http://twitter.com/twitter",
                  "instagram-url": "http://instagram.com/instagram",
                  "google-plus-url": "http://plus.google.com/plus.google",
                  "original-image-url": "https://cdn.pixabay.com/photo/2013/11/23/16/25/birds-216412_1280.jpg"
                },
                "type": "user"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/users/3/relationships/events",
                            "related": "/v1/users/3/events"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/3/relationships/alternate-emails",
                            "related": "/v1/users/3/alternate-emails"
                        }
                    },
                    "attendees": {
                        "links": {
                            "self": "/v1/users/3/relationships/attendees",
                            "related": "/v1/users/3/attendees"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/2/relationships/email-notifications",
                            "related": "/v1/users/2/email-notifications"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/2/relationships/discount-codes",
                            "related": "/v1/users/2/discount-codes"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/2/relationships/sessions",
                            "related": "/v1/users/2/sessions"
                        }
                    },
                    "coorganizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/coorganizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/2/relationships/speakers",
                            "related": "/v1/users/2/speakers"
                        }
                    },
                    "moderator-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/moderator-events",
                            "related": "/v1/events"
                        }
                    },
                    "marketer-events": {
                         "links": {
                            "self": "/v1/users/2/relationships/marketer-events",
                            "related": "/v1/events"
                        }
                     },
                     "sales-admin-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/sales-admin-events",
                            "related": "/v1/events"
                        }
                     },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/2/relationships/notifications",
                            "related": "/v1/users/2/notifications"
                        }
                    },
                    "track-organizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/track-organizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/2/relationships/access-codes",
                            "related": "/v1/users/2/access-codes"
                        }
                    },
                    "organizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/organizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "registrar-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/registrar-events",
                            "related": "/v1/events"
                        }
                    }
                },
                "attributes": {
                    "is-admin": false,
                    "last-name": "Doe",
                    "instagram-url": "http://instagram.com/instagram",
                    "is-super-admin": false,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "thumbnail-image-url": "http://example.com/example.png",
                    "created-at": "2017-06-21T20:33:33.186358+00:00",
                    "last-accessed-at": null,
                    "email": "example@example.com",
                    "icon-image-url": "http://example.com/example.png",
                    "contact": "example",
                    "deleted-at": null,
                    "small-image-url": "http://example.com/example.png",
                    "facebook-url": "http://facebook.com/facebook",
                    "details": "example",
                    "is-verified": false,
                    "first-name": "John",
                    "avatar-url": "http://example.com/example.png",
                    "twitter-url": "http://twitter.com/twitter",
                    "google-plus-url": "http://plus.google.com/plus.google",
                    "facebook-id": null
                },
                "type": "user",
                "id": "2",
                "links": {
                    "self": "/v1/users/2"
                }
            }
        }

## User Details [/v1/users/{user_id}]
+ Parameters
    + user_id: 2 (integer) - ID of the user in the form of an integer

### Get Details [GET]
Get a single user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/users/3/relationships/events",
                            "related": "/v1/users/3/events"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/3/relationships/alternate-emails",
                            "related": "/v1/users/3/alternate-emails"
                        }
                    },
                    "attendees": {
                        "links": {
                            "self": "/v1/users/3/relationships/attendees",
                            "related": "/v1/users/3/attendees"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/2/relationships/email-notifications",
                            "related": "/v1/users/2/email-notifications"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/2/relationships/discount-codes",
                            "related": "/v1/users/2/discount-codes"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/2/relationships/sessions",
                            "related": "/v1/users/2/sessions"
                        }
                    },
                    "coorganizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/coorganizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "marketer-events": {
                         "links": {
                            "self": "/v1/users/2/relationships/marketer-events",
                            "related": "/v1/events"
                        }
                     },
                     "sales-admin-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/sales-admin-events",
                            "related": "/v1/events"
                        }
                     },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/2/relationships/speakers",
                            "related": "/v1/users/2/speakers"
                        }
                    },
                    "moderator-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/moderator-events",
                            "related": "/v1/events"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/2/relationships/notifications",
                            "related": "/v1/users/2/notifications"
                        }
                    },
                    "track-organizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/track-organizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/2/relationships/access-codes",
                            "related": "/v1/users/2/access-codes"
                        }
                    },
                    "organizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/organizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "registrar-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/registrar-events",
                            "related": "/v1/events"
                        }
                    }
                },
                "attributes": {
                    "is-admin": false,
                    "last-name": "Doe",
                    "instagram-url": "http://instagram.com/instagram",
                    "is-super-admin": false,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "thumbnail-image-url": "http://example.com/example.png",
                    "created-at": "2017-06-21T20:33:33.186358+00:00",
                    "last-accessed-at": null,
                    "email": "example@example.com",
                    "icon-image-url": "http://example.com/example.png",
                    "contact": "example",
                    "deleted-at": null,
                    "small-image-url": "http://example.com/example.png",
                    "facebook-url": "http://facebook.com/facebook",
                    "details": "example",
                    "is-verified": false,
                    "first-name": "John",
                    "avatar-url": "http://example.com/example.png",
                    "twitter-url": "http://twitter.com/twitter",
                    "google-plus-url": "http://plus.google.com/plus.google",
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "2",
                "links": {
                    "self": "/v1/users/2"
                }
            }
        }


### Update User [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single user by setting the email, email and/or name.

Authorized user should be same as user in request body or must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "password": "password",
                  "avatar_url": "http://example.com/example.png",
                  "first-name": "John",
                  "last-name": "Doe",
                  "details": "example1",
                  "contact": "example1",
                  "facebook-url": "http://facebook.com/facebook",
                  "twitter-url": "http://twitter.com/twitter",
                  "instagram-url": "http://instagram.com/instagram",
                  "google-plus-url": "http://plus.google.com/plus.google",
                  "thumbnail-image-url": "http://example.com/example.png",
                  "small-image-url": "http://example.com/example.png",
                  "icon-image-url": "http://example.com/example.png"
                },
                "type": "user",
                "id": "2"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/users/3/relationships/events",
                            "related": "/v1/users/3/events"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/3/relationships/alternate-emails",
                            "related": "/v1/users/3/alternate-emails"
                        }
                    },
                    "attendees": {
                        "links": {
                            "self": "/v1/users/3/relationships/attendees",
                            "related": "/v1/users/3/attendees"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/2/relationships/email-notifications",
                            "related": "/v1/users/2/email-notifications"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/2/relationships/discount-codes",
                            "related": "/v1/users/2/discount-codes"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/2/relationships/sessions",
                            "related": "/v1/users/2/sessions"
                        }
                    },
                    "coorganizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/coorganizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/2/relationships/speakers",
                            "related": "/v1/users/2/speakers"
                        }
                    },
                    "moderator-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/moderator-events",
                            "related": "/v1/events"
                        }
                    },
                    "marketer-events": {
                         "links": {
                            "self": "/v1/users/2/relationships/marketer-events",
                            "related": "/v1/events"
                        }
                     },
                     "sales-admin-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/sales-admin-events",
                            "related": "/v1/events"
                        }
                     },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/2/relationships/notifications",
                            "related": "/v1/users/2/notifications"
                        }
                    },
                    "track-organizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/track-organizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/2/relationships/access-codes",
                            "related": "/v1/users/2/access-codes"
                        }
                    },
                    "organizer-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/organizer-events",
                            "related": "/v1/events"
                        }
                    },
                    "registrar-events": {
                        "links": {
                            "self": "/v1/users/2/relationships/registrar-events",
                            "related": "/v1/events"
                        }
                    }
                },
                "attributes": {
                    "is-admin": false,
                    "last-name": "Doe",
                    "instagram-url": "http://instagram.com/instagram",
                    "is-super-admin": false,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "thumbnail-image-url": "http://example.com/example.png",
                    "created-at": "2017-06-21T20:33:33.186358+00:00",
                    "last-accessed-at": null,
                    "email": "example@example.com",
                    "icon-image-url": "http://example.com/example.png",
                    "contact": "example",
                    "deleted-at": null,
                    "small-image-url": "http://example.com/example.png",
                    "facebook-url": "http://facebook.com/facebook",
                    "details": "example",
                    "is-verified": false,
                    "first-name": "John",
                    "avatar-url": "http://example.com/example.png",
                    "twitter-url": "http://twitter.com/twitter",
                    "google-plus-url": "http://plus.google.com/plus.google",
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "2",
                "links": {
                    "self": "/v1/users/2"
                }
            }
        }

### Delete User [DELETE]
Delete a single user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


## Get User Details for a Notification [/v1/notifications/{notification_id}/user]
+ Parameters
    + notification_id: 1 (integer) - ID of the notification in the form of an integer


### Get User Details for a Notification [GET]
Get the details of the user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>


+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/email-notifications",
                            "related": "/v1/users/1/email-notifications"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/1/relationships/alternate-emails",
                            "related": "/v1/users/1/alternate-emails"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/notifications",
                            "related": "/v1/users/1/notifications"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/discount-codes",
                            "related": "/v1/users/1/discount-codes"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/access-codes",
                            "related": "/v1/users/1/access-codes"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/1/relationships/speakers",
                            "related": "/v1/users/1/speakers"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/1/relationships/sessions",
                            "related": "/v1/users/1/sessions"
                        }
                    }
                },
                "attributes": {
                    "is-admin": true,
                    "thumbnail-image-url": null,
                    "last-name": null,
                    "icon-image-url": null,
                    "instagram-url": null,
                    "is-super-admin": true,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "original-image-url": null,
                    "created-at": "2017-07-21T15:06:20.741290+00:00",
                    "last-accessed-at": null,
                    "avatar-url": null,
                    "email": "enigmaeth@gmail.com",
                    "contact": null,
                    "google-plus-url": null,
                    "twitter-url": null,
                    "facebook-url": null,
                    "is-verified": true,
                    "first-name": null,
                    "deleted-at": null,
                    "small-image-url": null,
                    "details": null,
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "1",
                "links": {
                    "self": "/v1/users/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/1"
            }
        }


## Get User Details for an Event Invoice [/v1/event-invoices/{event_invoice_id}/user]
+ Parameters
    + event_invoice_id: 1 (integer) - ID of the event invoice in the form of an integer


### Get User Details for an Event Invoice [GET]
Get the details of the user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>


+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/email-notifications",
                            "related": "/v1/users/1/email-notifications"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/1/relationships/alternate-emails",
                            "related": "/v1/users/1/alternate-emails"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/notifications",
                            "related": "/v1/users/1/notifications"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/discount-codes",
                            "related": "/v1/users/1/discount-codes"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/access-codes",
                            "related": "/v1/users/1/access-codes"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/1/relationships/speakers",
                            "related": "/v1/users/1/speakers"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/1/relationships/sessions",
                            "related": "/v1/users/1/sessions"
                        }
                    }
                },
                "attributes": {
                    "is-admin": true,
                    "thumbnail-image-url": null,
                    "last-name": null,
                    "icon-image-url": null,
                    "instagram-url": null,
                    "is-super-admin": true,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "original-image-url": null,
                    "created-at": "2017-07-21T15:06:20.741290+00:00",
                    "last-accessed-at": null,
                    "avatar-url": null,
                    "email": "enigmaeth@gmail.com",
                    "contact": null,
                    "google-plus-url": null,
                    "twitter-url": null,
                    "facebook-url": null,
                    "is-verified": true,
                    "first-name": null,
                    "deleted-at": null,
                    "small-image-url": null,
                    "details": null,
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "1",
                "links": {
                    "self": "/v1/users/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/1"
            }
        }


## Get User Details for a Speaker [/v1/speakers/{speaker_id}/user]
+ Parameters
    + speaker_id: 1 (integer) - ID of the speaker in the form of an integer


### Get User Details for a Speaker [GET]
Get the details of the user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>


+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/email-notifications",
                            "related": "/v1/users/1/email-notifications"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/1/relationships/alternate-emails",
                            "related": "/v1/users/1/alternate-emails"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/notifications",
                            "related": "/v1/users/1/notifications"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/discount-codes",
                            "related": "/v1/users/1/discount-codes"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/access-codes",
                            "related": "/v1/users/1/access-codes"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/1/relationships/speakers",
                            "related": "/v1/users/1/speakers"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/1/relationships/sessions",
                            "related": "/v1/users/1/sessions"
                        }
                    }
                },
                "attributes": {
                    "is-admin": true,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "thumbnail-image-url": null,
                    "last-name": null,
                    "icon-image-url": null,
                    "instagram-url": null,
                    "is-super-admin": true,
                    "original-image-url": null,
                    "created-at": "2017-07-21T15:06:20.741290+00:00",
                    "last-accessed-at": null,
                    "avatar-url": null,
                    "email": "enigmaeth@gmail.com",
                    "contact": null,
                    "google-plus-url": null,
                    "twitter-url": null,
                    "facebook-url": null,
                    "is-verified": true,
                    "first-name": null,
                    "deleted-at": null,
                    "small-image-url": null,
                    "details": null,
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "1",
                "links": {
                    "self": "/v1/users/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/1"
            }
        }


## Get User Details for an Access Code [/v1/access-codes/{access_code_id}/marketer]
+ Parameters
    + access_code_id: 1 (integer) - ID of the access code in the form of an integer


### Get User Details for an Access Code [GET]
Get the details of the user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>


+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/email-notifications",
                            "related": "/v1/users/1/email-notifications"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/1/relationships/alternate-emails",
                            "related": "/v1/users/1/alternate-emails"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/notifications",
                            "related": "/v1/users/1/notifications"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/discount-codes",
                            "related": "/v1/users/1/discount-codes"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/access-codes",
                            "related": "/v1/users/1/access-codes"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/1/relationships/speakers",
                            "related": "/v1/users/1/speakers"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/1/relationships/sessions",
                            "related": "/v1/users/1/sessions"
                        }
                    }
                },
                "attributes": {
                    "is-admin": true,
                    "thumbnail-image-url": null,
                    "last-name": null,
                    "icon-image-url": null,
                    "instagram-url": null,
                    "is-super-admin": true,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "original-image-url": null,
                    "created-at": "2017-07-21T15:06:20.741290+00:00",
                    "last-accessed-at": null,
                    "avatar-url": null,
                    "email": "enigmaeth@gmail.com",
                    "contact": null,
                    "google-plus-url": null,
                    "twitter-url": null,
                    "facebook-url": null,
                    "is-verified": true,
                    "first-name": null,
                    "deleted-at": null,
                    "small-image-url": null,
                    "details": null,
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "1",
                "links": {
                    "self": "/v1/users/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/1"
            }
        }


## Get User Details for an Email Notification [/v1/email-notifications/{email_notification_id}/user]
+ Parameters
    + email_notification_id : 1 (integer) - ID of the email notification in the form of an integer


### Get User Details for an Email Notification [GET]
Get the details of the user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>


+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/email-notifications",
                            "related": "/v1/users/1/email-notifications"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/1/relationships/alternate-emails",
                            "related": "/v1/users/1/alternate-emails"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/notifications",
                            "related": "/v1/users/1/notifications"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/discount-codes",
                            "related": "/v1/users/1/discount-codes"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/access-codes",
                            "related": "/v1/users/1/access-codes"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/1/relationships/speakers",
                            "related": "/v1/users/1/speakers"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/1/relationships/sessions",
                            "related": "/v1/users/1/sessions"
                        }
                    }
                },
                "attributes": {
                    "is-admin": true,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "thumbnail-image-url": null,
                    "last-name": null,
                    "icon-image-url": null,
                    "instagram-url": null,
                    "is-super-admin": true,
                    "original-image-url": null,
                    "created-at": "2017-07-21T15:06:20.741290+00:00",
                    "last-accessed-at": null,
                    "avatar-url": null,
                    "email": "enigmaeth@gmail.com",
                    "contact": null,
                    "google-plus-url": null,
                    "twitter-url": null,
                    "facebook-url": null,
                    "is-verified": true,
                    "first-name": null,
                    "deleted-at": null,
                    "small-image-url": null,
                    "details": null,
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "1",
                "links": {
                    "self": "/v1/users/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/1"
            }
        }


## Get User Details for a Discount Code [/v1/discount-codes/{discount_code_id}/marketer]
+ Parameters
    + discount_code_id: 1 (integer) - ID of the discount code in the form of an integer


### Get User Details for a Discount Code [GET]
Get the details of the user.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>


+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "email-notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/email-notifications",
                            "related": "/v1/users/1/email-notifications"
                        }
                    },
                    "alternate-emails": {
                        "links": {
                            "self": "/v1/users/1/relationships/alternate-emails",
                            "related": "/v1/users/1/alternate-emails"
                        }
                    },
                    "notifications": {
                        "links": {
                            "self": "/v1/users/1/relationships/notifications",
                            "related": "/v1/users/1/notifications"
                        }
                    },
                    "orders": {
                        "links": {
                            "self": "/v1/users/1/relationships/orders",
                            "related": "/v1/users/1/orders"
                        }
                    },
                    "discount-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/discount-codes",
                            "related": "/v1/users/1/discount-codes"
                        }
                    },
                    "access-codes": {
                        "links": {
                            "self": "/v1/users/1/relationships/access-codes",
                            "related": "/v1/users/1/access-codes"
                        }
                    },
                    "speakers": {
                        "links": {
                            "self": "/v1/users/1/relationships/speakers",
                            "related": "/v1/users/1/speakers"
                        }
                    },
                    "sessions": {
                        "links": {
                            "self": "/v1/users/1/relationships/sessions",
                            "related": "/v1/users/1/sessions"
                        }
                    }
                },
                "attributes": {
                    "is-admin": true,
                    "is-sales-admin": false,
                    "is-marketer": false,
                    "thumbnail-image-url": null,
                    "last-name": null,
                    "icon-image-url": null,
                    "instagram-url": null,
                    "is-super-admin": true,
                    "original-image-url": null,
                    "created-at": "2017-07-21T15:06:20.741290+00:00",
                    "last-accessed-at": null,
                    "avatar-url": null,
                    "email": "enigmaeth@gmail.com",
                    "contact": null,
                    "google-plus-url": null,
                    "twitter-url": null,
                    "facebook-url": null,
                    "is-verified": true,
                    "first-name": null,
                    "deleted-at": null,
                    "small-image-url": null,
                    "details": null,
                    "facebook-id": "123456"
                },
                "type": "user",
                "id": "1",
                "links": {
                    "self": "/v1/users/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/users/1"
            }
        }

## Check if the email is available [/v1/users/checkEmail]
Check if the email passed is available or not. True is returned if the email is available, false otherwise.


### Check if email is available [POST]

+ Request

    + Headers

            Accept: application/json
            Content-Type: application/json

    + Body

            {
                "email": "test@example.com"
            }


+ Response 200 (application/vnd.api+json)

        {
            "result": "True"
        }


# Group Event Locations

Event Locations for Events.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event type | string | - |
| `slug` | Slug of the event type | string | - |


## Event Locations Collection [/v1/event-locations{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Locations [GET]
Get a list of Event Locations.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": [
            {
              "type": "event-location",
              "attributes": {
                "slug": "india",
                "name": "India"
              },
              "id": "1"
            },
            {
              "type": "event-location",
              "attributes": {
                "slug": "singapore",
                "name": "Singapore"
              },
              "id": "2"
            },
            {
              "type": "event-location",
              "attributes": {
                "slug": "berlin",
                "name": "Berlin"
              },
              "id": "3"
            },
            {
              "type": "event-location",
              "attributes": {
                "slug": "new-york",
                "name": "New York"
              },
              "id": "4"
            },
            {
              "type": "event-location",
              "attributes": {
                "slug": "hong-kong",
                "name": "Hong Kong"
              },
              "id": "5"
            }
          ],
          "links": {
            "self": "/v1/event-locations"
          },
          "meta": {
            "count": 5
          },
          "jsonapi": {
            "version": "1.0"
          }
        }



# Group Event Types

Event Types for Events. Can only be edited and entered by admins.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event type | string | - |
| `slug` | Slug of the event type | string | - |


## Event Types Collection [/v1/event-types{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Types [GET]
Get a list of Event Types.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-types/1/relationships/events",
                    "related": "/v1/event-types/1/events"
                  }
                }
              },
              "attributes": {
                "name": "Camp, Treat & Retreat",
                "slug": "camp-treat-retreat"
              },
              "type": "event-type",
              "id": "1",
              "links": {
                "self": "/v1/event-types/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-types"
          }
        }


### Create Event Type [POST]
Create a new event type with name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Camp, Treat & Retreat"
                },
                "type": "event-type"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-types/1/relationships/events",
                    "related": "/v1/event-types/1/events"
                  }
                }
              },
              "attributes": {
                "name": "Camp, Treat & Retreat",
                "slug": "camp-treat-retreat"
              },
              "type": "event-type",
              "id": "1",
              "links": {
                "self": "/v1/event-types/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-types/1"
            }
          }

## Event Type Details [/v1/event-types/{event_type_id}]
+ Parameters
    + event_type_id: 1 (integer) - ID of the event type in the form of an integer

### Event Type Details [GET]
Get a single event type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-types/1/relationships/events",
                  "related": "/v1/event-types/1/events"
                }
              }
            },
            "attributes": {
              "name": "Camp, Treat & Retreat",
              "slug": "camp-treat-retreat"
            },
            "type": "event-type",
            "id": "1",
            "links": {
              "self": "/v1/event-types/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-types/1"
          }
        }


### Update Event Type [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single event type by setting name.

Authorized user must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Camp, Treat & Retreat"
                },
                "type": "event-type",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-types/1/relationships/events",
                    "related": "/v1/event-types/1/events"
                  }
                }
              },
              "attributes": {
                "name": "Camp, Treat & Retreat",
                "slug": "camp-treat-retreat"
              },
              "type": "event-type",
              "id": "1",
              "links": {
                "self": "/v1/event-types/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-types/1"
            }
          }

### Delete Event Type [DELETE]
Delete a single event type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


## Event Type of an Event [/v1/events/{event_identifier}/event-type]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)

### Event Type Details of an Event [GET]
Get a single event type.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/event-types/1/relationships/events",
                            "related": "/v1/event-types/1/events"
                        }
                    }
                },
                "attributes": {
                    "name": "Camp, Treat & Retreat",
                    "slug": "camp-treat-retreat"
                },
                "type": "event-type",
                "id": "1",
                "links": {
                    "self": "/v1/event-types/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-types/1"
            }
        }


# Group Event Topics

Event Topics for Events. Can only be edited and entered by admins.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event topic | string | - |
| `slug` | Slug of the event topic | string | - |
| `system-image-url` | Url of system image of event topic | string | - |


## Event Topics Collection [/v1/event-topics{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Topics [GET]
Get a list of Event Topics.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-topics/1/events"
                  }
                },
                "event-sub-topics": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/event-sub-topics",
                    "related": "/v1/event-topics/1/event-sub-topics"
                  }
                }
              },
              "attributes": {
                "name": "Travel & Outdoor",
                "slug": "travel-outdoor",
                "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
              },
              "type": "event-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-topics/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics"
          }
        }


### Create Event Topic [POST]
Create a new event topic with name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Travel & Outdoor",
                  "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
                },
                "type": "event-topic"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-topics/1/events"
                  }
                },
                "event-sub-topics": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/event-sub-topics",
                    "related": "/v1/event-topics/1/event-sub-topics"
                  }
                }
              },
              "attributes": {
                "name": "Travel & Outdoor",
                "slug": "travel-outdoor",
                "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
              },
              "type": "event-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-topics/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-topics/1"
            }
          }

## Event Topic Details [/v1/event-topics/{event_topic_id}]
+ Parameters
    + event_topic_id: 1 (integer) - ID of the event topic in the form of an integer

### Event Topic Details [GET]
Get a single event topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/events",
                  "related": "/v1/event-topics/1/events"
                }
              },
              "event-sub-topics": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/event-sub-topics",
                  "related": "/v1/event-topics/1/event-sub-topics"
                }
              }
            },
            "attributes": {
              "name": "Travel & Outdoor",
              "slug": "travel-outdoor",
              "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
            },
            "type": "event-topic",
            "id": "1",
            "links": {
              "self": "/v1/event-topics/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics/1"
          }
        }


### Update Event Topic [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single event topic by setting name.

Authorized user must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Travel & Outdoor",
                  "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
                },
                "type": "event-topic",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/events",
                  "related": "/v1/event-topics/1/events"
                }
              },
              "event-sub-topics": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/event-sub-topics",
                  "related": "/v1/event-topics/1/event-sub-topics"
                }
              }
            },
            "attributes": {
              "name": "Travel & Outdoor",
              "slug": "travel-outdoor",
              "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
            },
            "type": "event-type",
            "id": "1",
            "links": {
              "self": "/v1/event-topics/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics/1"
          }
        }

### Delete Event Topic [DELETE]
Delete a single event topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


## Event Topic of an Event  [/v1/events/{event_identifier}/event-topic]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)

### Event Topic Details of an Event [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/event-topics/1/relationships/events",
                            "related": "/v1/event-topics/1/events"
                        }
                    },
                    "event-sub-topics": {
                        "links": {
                            "self": "/v1/event-topics/1/relationships/event-sub-topics",
                            "related": "/v1/event-topics/1/event-sub-topics"
                        }
                    }
                },
                "attributes": {
                    "slug": "travel-outdoor",
                    "name": "Travel & Outdoor",
                    "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
                },
                "type": "event-topic",
                "id": "1",
                "links": {
                    "self": "/v1/event-topics/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-topics/1"
            }
        }


## Event Topic of a Sub Topic  [/v1/event-sub-topics/{event_sub_topic_id}/event-topic]
+ Parameters
    + event_sub_topic_id: 1 (integer) - ID of the event sub topic in the form of an integer

### Event Topic Details of a Sub Topic [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/event-topics/1/relationships/events",
                            "related": "/v1/event-topics/1/events"
                        }
                    },
                    "event-sub-topics": {
                        "links": {
                            "self": "/v1/event-topics/1/relationships/event-sub-topics",
                            "related": "/v1/event-topics/1/event-sub-topics"
                        }
                    }
                },
                "attributes": {
                    "slug": "travel-outdoor",
                    "name": "Travel & Outdoor",
                    "system-image-url": "https://www.w3schools.com/html/pic_mountain.jpg"
                },
                "type": "event-topic",
                "id": "1",
                "links": {
                    "self": "/v1/event-topics/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-topics/1"
            }
        }


# Group Event Sub Topics

Event Sub Topics for Events. Can only be edited and entered by admins.


| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event sub topic | string | - |
| `slug` | Slug of the event sub topic | string | - |

## Event Sub Topics Collection Get [/v1/event-topics/{event_topic_id}/event-sub-topics{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + event_topic_id: 1 (integer) - ID of the event topic.
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### List All Event Sub Topics [GET]
Get a list of Event Sub Topics.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-sub-topics/1/events"
                  }
                },
                "event-topic": {
                  "links": {
                    "self": "/v1/event-sub-topics/1/relationships/event-topic",
                    "related": "/v1/event-sub-topics/1/event-topic"
                  }
                }
              },
              "attributes": {
                "slug": "climbing",
                "name": "Climbing"
              },
              "type": "event-sub-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-sub-topics/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-topics/2/event-sub-topics"
          }
        }


## Event Sub Topics Collection Post [/v1/event-sub-topics{?page%5bsize%5d,page%5bnumber%5d,sort}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.

### Create Event Sub Topic [POST]
Create a new event sub topic with name.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "relationships":{
                    "event-topic":{
                        "data":{
                          "type":"event-topic",
                          "id":"1"
                        }
                    }
                },
                "attributes": {
                  "name": "Climbing"
                },
                "type": "event-sub-topic"
              }
            }

+ Response 201 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-sub-topics/1/events"
                  }
                },
                "event-topic": {
                  "links": {
                    "self": "/v1/event-sub-topics/1/relationships/event-topic",
                    "related": "/v1/event-sub-topics/1/event-topic"
                  }
                }
              },
              "attributes": {
                "name": "Climbing",
                "slug": "climbing"
              },
              "type": "event-sub-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-sub-topics/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-sub-topics/1"
            }
          }

## Event Sub Topic Details [/v1/event-sub-topics/{event_sub_topic_id}]
+ Parameters
    + event_sub_topic_id: 1 (integer) - ID of the event sub topic in the form of an integer

### Event Sub Topic Details [GET]
Get a single event sub topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
              "relationships": {
                "events": {
                  "links": {
                    "self": "/v1/event-topics/1/relationships/events",
                    "related": "/v1/event-sub-topics/1/events"
                  }
                },
                "event-topic": {
                  "links": {
                    "self": "/v1/event-sub-topics/1/relationships/event-topic",
                    "related": "/v1/event-sub-topics/1/event-topic"
                  }
                }
              },
              "attributes": {
                "name": "Climbing",
                "slug": "climbing"
              },
              "type": "event-sub-topic",
              "id": "1",
              "links": {
                "self": "/v1/event-sub-topics/1"
              }
            },
            "jsonapi": {
              "version": "1.0"
            },
            "links": {
              "self": "/v1/event-sub-topics/1"
            }
          }

### Update Event Sub Topic [PATCH]
+ `id` (integer) - ID of the record to update **(required)**

Update a single event topic by setting name.

Authorized user must be admin.

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                  "name": "Climbing"
                },
                "type": "event-sub-topic",
                "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
          "data": {
            "relationships": {
              "events": {
                "links": {
                  "self": "/v1/event-topics/1/relationships/events",
                  "related": "/v1/event-sub-topics/1/events"
                }
              },
              "event-topic": {
                "links": {
                  "self": "/v1/event-sub-topics/1/relationships/event-topic",
                  "related": "/v1/event-sub-topics/1/event-topic"
                }
              }
            },
            "attributes": {
              "name": "Climbing",
              "slug": "climbing"
            },
            "type": "event-sub-type",
            "id": "1",
            "links": {
              "self": "/v1/event-sub-topics/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/event-sub-topics/1"
          }
        }

### Delete Event Sub Topic [DELETE]
Delete a single event sub topic.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


## Event Sub Topic of an Event [/v1/events/{event_identifier}/event-sub-topic]
+ Parameters
    + event_identifier: 1 (string) - identifier or event id of the event. (b8324ae2 is an example of identifier)

### Event Sub Topic Details of an Event [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/event-topics/1/relationships/events",
                            "related": "/v1/event-sub-topics/1/events"
                        }
                    },
                    "event-topic": {
                        "links": {
                            "self": "/v1/event-sub-topics/1/relationships/event-topic",
                            "related": "/v1/event-sub-topics/1/event-topic"
                        }
                    },
                    "custom-placeholder": {
                        "links": {
                            "self": "/v1/event-sub-topics/1/relationships/custom-placeholder",
                            "related": "/v1/event-sub-topics/1/custom-placeholder"
                        }
                    }
                },
                "attributes": {
                    "name": "Climbing",
                    "slug": "climbing"
                },
                "type": "event-sub-topic",
                "id": "1",
                "links": {
                    "self": "/v1/event-sub-topics/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-sub-topics/1"
            }
        }



## Event Sub Topic of Custom Placeholder [/v1/custom-placeholders/{custom_placeholder_id}/event-sub-topic]
+ Parameters
    + custom_placeholder_id: 1 (integer) - ID of the Custom Placeholder in the form of an integer

### Event Sub Topic Details of Custom Placeholder [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)


        {
            "data": {
                "relationships": {
                    "events": {
                        "links": {
                            "self": "/v1/event-topics/1/relationships/events",
                            "related": "/v1/event-sub-topics/1/events"
                        }
                    },
                    "event-topic": {
                        "links": {
                            "self": "/v1/event-sub-topics/1/relationships/event-topic",
                            "related": "/v1/event-sub-topics/1/event-topic"
                        }
                    },
                    "custom-placeholder": {
                        "links": {
                            "self": "/v1/event-sub-topics/1/relationships/custom-placeholder",
                            "related": "/v1/event-sub-topics/1/custom-placeholder"
                        }
                    }
                },
                "attributes": {
                    "name": "Climbing",
                    "slug": "climbing"
                },
                "type": "event-sub-topic",
                "id": "1",
                "links": {
                    "self": "/v1/event-sub-topics/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-sub-topics/1"
            }
        }


# Group Custom Placeholders
Data related to custom placeholder information.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name | string | **yes** |
| `original-image-url` | Url of the original image | string | **yes** |
| `copyright` | Copyright for the image | string | - |
| `origin` | origin of image | string | - |
| `thumbnail-image-url` | Thumbnail version of original image | string | -  |
| `large-image-url` | Large version of original image | string | -  |
| `icon-image-url` | Icon version of original image | string | -  |

## Custom Placeholders Collection [/v1/custom-placeholders{?page%5bsize%5d,page%5bnumber%5d,sort,filter}]
+ Parameters
    + page%5bsize%5d (optional, integer, `10`) - Maximum number of resources in a single paginated response.
    + page%5bnumber%5d (optional, integer, `2`) - Page number to fetched for the paginated response.
    + sort (optional, string, `name`) - Sort the resources according to the given attribute in ascending order. Append '-' to sort in descending order.
    + filter (optional, string, `[]`) - Filter according to the flask-rest-jsonapi filtering system. Please refer: http://flask-rest-jsonapi.readthedocs.io/en/latest/filtering.html for more.


### List All Custom Placeholders [GET]
Get a list of resources

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "meta": {
                "count": 1
            },
            "data": [
                {
                    "relationships": {
                        "event-sub-topic": {
                            "links": {
                                "self": "/v1/custom-placeholders/1/relationships/event-sub-topic",
                                "related": "/v1/custom-placeholders/1/event-sub-topic"
                            }
                        }
                    },
                    "attributes": {
                        "origin": "example",
                        "thumbnail-image-url": "http://localhost/static/media/custom-placeholders/1/thumbnail/Zk1mMHBHQV/b5ec1116-8671-4b75-8c65-387c8b114784.jpg",
                        "name": "example",
                        "copyright": "example",
                        "original-image-url": "http://localhost/static/media/custom-placeholders/1/original/UXYwdXcySV/e33a2f08-0d8c-47df-aa7d-47b132acf3a5.jpg",
                        "icon-image-url": "http://localhost/static/media/custom-placeholders/1/icon/bEY5Wk9ZNk/641c6ab8-a9fc-4759-afc9-e36579ae3ec9.jpg",
                        "large-image-url": "http://localhost/static/media/custom-placeholders/1/large/ak01T2xDTW/e5f0b4a3-f045-439a-89b5-7d1085fdaeb1.jpg"
                    },
                    "type": "custom-placeholder",
                    "id": 1,
                    "links": {
                        "self": "/v1/custom-placeholders/1"
                    }
                }
            ],
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/custom-placeholders"
            }
        }


### Create Custom Placeholder [POST]
Create a new Custom Placeholder

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                        "name": "example",
                        "origin": "example",
                        "copyright": "example",
                        "original_image_url": "https://www.w3schools.com/html/pic_mountain.jpg"
                    },
                    "type": "custom-placeholder"
              }
            }


+ Response 201 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/custom-placeholders/1/relationships/event-sub-topic",
                            "related": "/v1/custom-placeholders/1/event-sub-topic"
                        }
                    }
                },
                "attributes": {
                    "origin": "example",
                    "thumbnail-image-url": "http://localhost/static/media/custom-placeholders/1/thumbnail/Zk1mMHBHQV/b5ec1116-8671-4b75-8c65-387c8b114784.jpg",
                    "name": "example",
                    "copyright": "example",
                    "original-image-url": "http://localhost/static/media/custom-placeholders/1/original/UXYwdXcySV/e33a2f08-0d8c-47df-aa7d-47b132acf3a5.jpg",
                    "icon-image-url": "http://localhost/static/media/custom-placeholders/1/icon/bEY5Wk9ZNk/641c6ab8-a9fc-4759-afc9-e36579ae3ec9.jpg",
                    "large-image-url": "http://localhost/static/media/custom-placeholders/1/large/ak01T2xDTW/e5f0b4a3-f045-439a-89b5-7d1085fdaeb1.jpg"
                },
                "type": "custom-placeholder",
                "id": 1,
                "links": {
                    "self": "/v1/custom-placeholders/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/custom-placeholders/1"
            }
        }


## Custom Placeholder Details [/v1/custom-placeholders/{id}]
+ Parameters
    + id: 1 (integer) - ID of the Custom Placeholder in the form of an integer

### Custom Placeholder Details [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/custom-placeholders/1/relationships/event-sub-topic",
                            "related": "/v1/custom-placeholders/1/event-sub-topic"
                        }
                    }
                },
                "attributes": {
                    "origin": "example",
                    "thumbnail-image-url": "http://localhost/static/media/custom-placeholders/1/thumbnail/Zk1mMHBHQV/b5ec1116-8671-4b75-8c65-387c8b114784.jpg",
                    "name": "example",
                    "copyright": "example",
                    "original-image-url": "http://localhost/static/media/custom-placeholders/1/original/UXYwdXcySV/e33a2f08-0d8c-47df-aa7d-47b132acf3a5.jpg",
                    "icon-image-url": "http://localhost/static/media/custom-placeholders/1/icon/bEY5Wk9ZNk/641c6ab8-a9fc-4759-afc9-e36579ae3ec9.jpg",
                    "large-image-url": "http://localhost/static/media/custom-placeholders/1/large/ak01T2xDTW/e5f0b4a3-f045-439a-89b5-7d1085fdaeb1.jpg"
                },
                "type": "custom-placeholder",
                "id": 1,
                "links": {
                    "self": "/v1/custom-placeholders/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/custom-placeholders/1"
            }
        }


### Update Custom Placeholder [PATCH]
Update a single custom placeholder by `id`.

+ `id` (integer) - ID of the record to update **(required)**

+ Request (application/vnd.api+json)

    + Headers

            Authorization: JWT <Auth Key>

    + Body

            {
              "data": {
                "attributes": {
                        "name": "example",
                        "origin": "example",
                        "copyright": "example",
                        "original_image_url": "https://www.w3schools.com/html/pic_mountain.jpg"
                    },
                    "type": "custom-placeholder",
                    "id": "1"
              }
            }

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/custom-placeholders/1/relationships/event-sub-topic",
                            "related": "/v1/custom-placeholders/1/event-sub-topic"
                        }
                    }
                },
                "attributes": {
                    "origin": "example",
                    "thumbnail-image-url": "http://localhost/static/media/custom-placeholders/1/thumbnail/Zk1mMHBHQV/b5ec1116-8671-4b75-8c65-387c8b114784.jpg",
                    "name": "example",
                    "copyright": "example",
                    "original-image-url": "http://localhost/static/media/custom-placeholders/1/original/UXYwdXcySV/e33a2f08-0d8c-47df-aa7d-47b132acf3a5.jpg",
                    "icon-image-url": "http://localhost/static/media/custom-placeholders/1/icon/bEY5Wk9ZNk/641c6ab8-a9fc-4759-afc9-e36579ae3ec9.jpg",
                    "large-image-url": "http://localhost/static/media/custom-placeholders/1/large/ak01T2xDTW/e5f0b4a3-f045-439a-89b5-7d1085fdaeb1.jpg"
                },
                "type": "custom-placeholder",
                "id": 1,
                "links": {
                    "self": "/v1/custom-placeholders/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/custom-placeholders/1"
            }
        }

### Delete Custom Placeholder [DELETE]
Delete a single resource.

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "message": "Object successfully deleted"
          },
          "jsonapi": {
            "version": "1.0"
          }
        }


## Custom Placeholder Details of Event Sub-topic [/v1/event-sub-topics/{event_sub_topic_id}/custom-placeholder]
+ Parameters
    + event_sub_topic_id: 1 (integer) - ID of the event sub-topic in the form of an integer

### Custom Placeholder Details of Event Sub-topic [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
            "data": {
                "relationships": {
                    "event-sub-topic": {
                        "links": {
                            "self": "/v1/custom-placeholders/1/relationships/event-sub-topic",
                            "related": "/v1/custom-placeholders/1/event-sub-topic"
                        }
                    }
                },
                "attributes": {
                    "origin": "example",
                    "thumbnail-image-url": "http://localhost/static/media/custom-placeholders/1/thumbnail/Zk1mMHBHQV/b5ec1116-8671-4b75-8c65-387c8b114784.jpg",
                    "name": "example",
                    "copyright": "example",
                    "original-image-url": "http://localhost/static/media/custom-placeholders/1/original/UXYwdXcySV/e33a2f08-0d8c-47df-aa7d-47b132acf3a5.jpg",
                    "icon-image-url": "http://localhost/static/media/custom-placeholders/1/icon/bEY5Wk9ZNk/641c6ab8-a9fc-4759-afc9-e36579ae3ec9.jpg",
                    "large-image-url": "http://localhost/static/media/custom-placeholders/1/large/ak01T2xDTW/e5f0b4a3-f045-439a-89b5-7d1085fdaeb1.jpg"
                },
                "type": "custom-placeholder",
                "id": 1,
                "links": {
                    "self": "/v1/custom-placeholders/1"
                }
            },
            "jsonapi": {
                "version": "1.0"
            },
            "links": {
                "self": "/v1/event-sub-topics/1/custom-placeholder"
            }
        }


# Group Events
These endpoints help you to create the basic event structure. To add other parts of the event such as ticket, sponsor, copyright, etc. there are separate endpoints.

| Parameter | Description | Type | Required |
|:----------|-------------|------|----------|
| `name`  | Name of the event | string | **yes** |
| `starts-at` | Start time of the event | ISO 8601 (tz-aware) | **yes** |
| `ends-at` | End time of the event | ISO 8601 (tz-aware) | **yes** |
| `timezone` | Timezone of the event | string | **yes** |
| `location-name` | Name of the event location | string | -  |
| `logo-url` | URL of the logo uploaded | string | -  |
| `latitude` | Latitude of the event location | float | - |
| `longitude` | Longitude of the event location| float | - |
| `description` | Description of the event| String | - |
| `searchable-location-name` | Search friendly name of the event location | string | -  |
| `organizer-name` | Name of the event organizer | string | - |
| `organizer-description` | Additional details about the event organizer | string | - |
| `description` | Event's description | string | - |
| `is-map-shown`  | Should the map be shown on public page | boolean (default: `false`) | - |
| `is-sessions-speakers-enabled` | Does the event have sessions & speakers | boolean (default: `false`) | - |
| `privacy` | Should the event be listed publicly | string (default: `public`) | - |
| `state` | Current state of the event | string (default: `draft`) | - |
| `event_type_id` | Type of the event | Integer | - |
| `event_topic_id` | Topic of the event | Integer | - |
| `sub-topic` | Sub-topic of the event | string | - |
| `ticket-url` | The ticketing URL of the event | string | - |
| `code-of-conduct` | Event's code of conduct | string | - |
| `is-ticketing-enabled` | Does the event use Open Event ticketing system | boolean (default: `true`) | - |
| `thumbnail-image-url` | URL of the uploaded thumbnail | string | - |
| `large-image-url` | URL of the large uploaded banner image | string | - |
| `original-image-url` | URL of the original image | string | - |
[...]
