FORMAT: V1
HOST: http://nextgen.eventyay.com

# Orga-Server

The Open Event API Server

## JWT Auth Key [/auth/session?filter_parameters]

### JWT Auth Key [POST]

+ Request

    + Headers

            Content-Type: application/json
 
    + Body

            {
                'email': 'email@example.com',
                'password': 'password'
            }

+ Response 200 (application/json)

        {
            "access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6MSwiaWF0IjoxNDk2OTU2ODMwLCJuYmYiOjE0OTY5NTY4MzAsImV4cCI6MTQ5NzA0MzIzMH0.bjl0"
        }

## Users Collection [/users?page,limit]

### List All Users [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "attributes": {
                "created_at": "2017-06-01T01:24:47.500127+00:00",
                "google": null,
                "instagram": null,
                "firstname": null,
                "lastname": null,
                "twitter": null,
                "signup_at": "2017-06-01T01:25:07.385816+00:00",
                "is_super_admin": true,
                "thumbnail": null,
                "email": "me@ipiyush.com",
                "avatar": null,
                "contact": null,
                "is_admin": true,
                "details": null,
                "last_accessed_at": null,
                "small": null,
                "facebook": null,
                "deleted_at": null,
                "is_verified": true,
                "avatar_uploaded": null,
                "icon": null
              },
              "type": "user",
              "id": "1",
              "links": {
                "self": "/v1/users/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/users"
          }
        }


### Create User [POST]

+ name (string) - Name of the user
+ passowrd (string) - Password of the user
+ email (string) - Email of the user

+ Request (application/vnd.api+json)

        {
          "data": {
            "attributes": {
              "name": "Open Event User",
              "email": "example@example.com",
              "password": "12345678"
            },
            "type": "user",
          }
        }

+ Response 200 (application/vnd.api+json)
    
        {
            'data': 'data'
        }

## User Details [/users/{user_id}]
+ Parameters
    + user_id (integer) - ID of the user in the form of an integer
    
### Get Details [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)
    
        {
          "data": {
            "attributes": {
              "created_at": "2017-06-01T01:24:47.500127+00:00",
              "google": null,
              "instagram": null,
              "firstname": null,
              "lastname": null,
              "twitter": null,
              "signup_at": "2017-06-01T01:25:07.385816+00:00",
              "is_super_admin": true,
              "thumbnail": null,
              "email": "me@ipiyush.com",
              "avatar": null,
              "contact": null,
              "is_admin": true,
              "details": null,
              "last_accessed_at": null,
              "small": null,
              "facebook": null,
              "deleted_at": null,
              "is_verified": true,
              "avatar_uploaded": null,
              "icon": null
            },
            "type": "user",
            "id": "1",
            "links": {
              "self": "/v1/users/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/users/1"
          }
        }

        
### Update User [PATCH]

+ Response 200 (application/vnd.api+json)
    
        {
          "data": {
            "attributes": {
              "created_at": "2017-06-01T01:24:47.500127+00:00",
              "google": null,
              "instagram": null,
              "firstname": null,
              "lastname": null,
              "twitter": null,
              "signup_at": "2017-06-01T01:25:07.385816+00:00",
              "is_super_admin": true,
              "thumbnail": null,
              "email": "me@ipiyush.com",
              "avatar": null,
              "contact": null,
              "is_admin": true,
              "details": null,
              "last_accessed_at": null,
              "small": null,
              "facebook": null,
              "deleted_at": null,
              "is_verified": true,
              "avatar_uploaded": null,
              "icon": null
            },
            "type": "user",
            "id": "1",
            "links": {
              "self": "/v1/users/1"
            }
          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/users/1"
          }
        }

### Delete User [DELETE]

+ Response 204

## Image Size Collection [/image-sizes?page,limit]

### List Image Sizes [GET]

+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)

        {
          "meta": {
            "count": 1
          },
          "data": [
            {
              "attributes": {
                "full_width": 1300,
                "full_height": 500,
                "full_aspect": null,
                "full_quality": 80,
                "icon_width": 75,
                "icon_height": 30,
                "icon_aspect": null,
                "icon_quality": 80,
                "thumbnail_width": 500,
                "thumbnail_height": 200,
                "thumbnail_aspect": null,
                "thumbnail_quality": 80,
                "logo_width": null,
                "logo_height": null
              },
              "type": "image_size",
              "id": "1",
              "links": {
                "self": "/v1/image-sizes/1"
              }
            }
          ],
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/image-sizes"
          }
        }


### Create Image Size [POST]

 (For Events and Speakers)
+ full_width - Full width of the image
+ full_height - Full height of the image
+ full_aspect - Full aspect ratio of the image
+ full_quality - Full quality of the image
+ icon_width - Width of the icon
+ icon_height - Height of the icon
+ icon_aspect - Aspect ratio of the icon
+ icon_quality - Quality of the icon
+ thumbnail_width - Width of the thumbnail
+ thumbnail_height - Height of the thumbnail
+ thumbnail_aspect - Aspect ratio of the thumbnail
+ thumbnail_quality - Quality of the thumbnail
+ logo_width - Width of the logo
+ logo_height - Height of the logo 

+ name (string) - Name of the user
+ passowrd (string) - Password of the user
+ email (string) - Email of the user

+ Request (application/vnd.api+json)

        {
          "data": {
            "attributes": {
              "created_at": "2017-06-01T01:24:47.500127+00:00",
              "google": null,
              "instagram": null,
              "firstname": null,
              "lastname": null,
              "twitter": null,
              "signup_at": "2017-06-01T01:25:07.385816+00:00",
              "is_super_admin": true,
              "thumbnail": null,
              "email": "me@ipiyush.com",
              "avatar": null,
              "contact": null,
              "is_admin": true,
              "details": null,
              "last_accessed_at": null,
              "small": null,
              "facebook": null,
              "deleted_at": null,
              "is_verified": true,
              "avatar_uploaded": null,
              "icon": null
            },
            "type": "image_size",
          }
        }

+ Response 200 (application/vnd.api+json)
    
        {
            'data': 'data'
        }

## Image Size Details [/image-sizes/{image_size_id}]
+ Parameters
    + image_size_id (integer) - ID of the image size in the form of an integer
    
### Get Image Size Details [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json

            Authorization: JWT <Auth Key>

+ Response 200 (application/vnd.api+json)
    
        {
          "data": {
            "attributes": {
              "full_width": 1300,
              "full_height": 500,
              "full_aspect": null,
              "full_quality": 80,
              "icon_width": 75,
              "icon_height": 30,
              "icon_aspect": null,
              "icon_quality": 80,
              "thumbnail_width": 500,
              "thumbnail_height": 200,
              "thumbnail_aspect": null,
              "thumbnail_quality": 80,
              "logo_width": null,
              "logo_height": null
            },
            "type": "image_size",
            "id": "1",
            "links": {
              "self": "/v1/image-sizes/1"
            }

          },
          "jsonapi": {
            "version": "1.0"
          },
          "links": {
            "self": "/v1/image-sizes/1"
          }
        }

        
### Update Image Size [PATCH]

+ Response 200 (application/vnd.api+json)
    
        {
          "data": {
            "attributes": {
              "full_width": 1300,
              "full_height": 500,
              "full_aspect": null,
              "full_quality": 80,
              "icon_width": 75,
              "icon_height": 30,
              "icon_aspect": null,
              "icon_quality": 80,
              "thumbnail_width": 500,
              "thumbnail_height": 200,
              "thumbnail_aspect": null,
              "thumbnail_quality": 80,
              "logo_width": null,
              "logo_height": null
            },
            "type": "image_size",
            "id": "1",
            "links": {
              "self": "/v1/image-sizes/1"
            }
          }
        }

### Delete Image Size [DELETE]

+ Response 204
