{% extends 'gentelella/admin/base.html' %}
{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Events</h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% block table_title %}
                    {% endblock %}</h2>
             <div class="clearfix"></div>
            </div>

         <div class="x_content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Url</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Options</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.state}}</td>
                        <td>{{event.url}}</td>
                        <td>{{event.start_time}}</td>
                        <td>{{event.end_time}}</td>
                        <td>
                            {% if event %}
                            <a onclick="return confirm('Do you want to edit this record?');" href="{{ get_url('event.edit_view', event_id=event.id)}}" title="Edit record">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a onclick="return confirm('Are you sure you want to delete this record?');" href="{{ get_url('event.delete_view', event_id=event.id)}}" title="Delete record">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a href="{{ get_url('event.details_view', event_id=event.id)}}" title="View Event Details">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}
