{% extends 'gentelella/admin/base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}


            <div class="page-title">
              <div class="title_left">
                <h3>Events</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Events<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Name</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                <tr>
                                    <td>{{event.id}}</td>
                                    <td>{{event.name}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            </div>

{% endblock %}
