{% extends 'gentelella/admin/base.html' %}
{% block body %}
<form name="test" action="/admin/events/new/" method="POST" role="form" class="admin-form form-horizontal">
    {% if csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% endif %}

    Wizard (Step 1) - Default
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input required="required" name="name" class="form-control col-md-7 col-xs-12"/>
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <textarea name="description" class="form-control col-md-7 col-xs-12"></textarea>
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Date
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input name="start_date" class="form-control col-md-7 col-xs-12"/>
        </div>

    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">End Date
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input name="end_date" class="form-control col-md-7 col-xs-12"/>
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Background image
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input name="background_url" class="form-control col-md-7 col-xs-12"/>
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Logo
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input name="logo" class="form-control col-md-7 col-xs-12"/>
        </div>
    </div>

    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Url
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input name="event_url" class="form-control col-md-7 col-xs-12"/>
        </div>
    </div>

    Wizard Step (2) - Sessions Types

    <div class="row session-types">
        <div class="col-sm-6">
            <div class=" col-sm-6">
                <input type="text" class="form-control" name="session_type[name]" placeholder="Name" value="Lighting Talks">
            </div>

            <div class="col-sm-6 input-group">
                <input type="text" class="form-control" name="session_type[length]" placeholder="Length" value="5">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary add-session-type">+</button>
                </span>
            </div>
        </div>
    </div>


    Wizard Step (3) - Tracks

    Wizard Step (4) - Social (Optional)


    <button id="send" type="submit" class="btn btn-success">Save Draft</button>
</form>
{% endblock %}
