{% extends 'gentelella/admin/event/details/base_panel.html' %}
{% block panel_title %}
    General Info
{% endblock %}
{% block panel_content %}
    {% set versions_count = count_versions(event) %}

    <table class="table table-striped">
        <tbody>
        <tr>
            <td><b>No. of Revisions </b></td>
            <td>
                {% if versions_count > 0 %}
                    {{ versions_count }}&nbsp;&nbsp;(
                    <a href="#" data-toggle="modal" data-target="#view-revisions-modal">View revisions</a>)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><b>Location </b></td>
            <td>
                {% if event.location %}
                    {{ event.location }}
                {% else %}
                    <a href="{{ url_for("events.edit_view", event_id=event.id) }}">Click to set location</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><b>Start Time </b></td>
            <td>{{ event.start_time.strftime('%B %d, %Y %I:%M %p') }} ({{ event.timezone }})</td>
        </tr>
        <tr>
            <td><b>End Time </b></td>
            <td>{{ event.end_time.strftime('%B %d, %Y %I:%M %p') }} ({{ event.timezone }})</td>
        </tr>
        {% if event.session_type %}
            <tr>
                <td><b>Session Types </b></td>
                <td>
                    {% for sessionType in event.session_type %}
                        {% if loop.index > 1 %}, {% endif %}{{ sessionType.name }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td><b>Social Links </b></td>
            <td>
                {% for socialLink in event.social_link %}
                    {% if loop.index > 1 %}, {% endif %}<a href="{{ socialLink.link }}">{{ socialLink.name }}</a>
                {% else %}
                    No social links added.
                    <a href="{{ url_for("events.edit_view", event_id=event.id) }}">Click to add.</a>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="view-revisions-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Revisions</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="revision-slider" class="col-xs-6 col-xs-push-3"></div>
                    </div>
                    <br>
                    <div id="versions-holder">
                        {% for version_number in range(versions_count-1, -1, -1) %}
                            {% set version = event.versions[version_number] %}
                            {% set changeset = version.changeset %}
                            {% set transaction = transaction_class(version) %}
                            {% set user_name = user_name(transaction) %}
                            <div class="version-entry" id="version-{{ version_number }}"
                                 style="{% if loop.index > 1 %}display:none{% endif %}" data-user="{{ user_name }}"
                                 data-date="{{ transaction.issued_at }}">
                                {% for name in changeset %}
                                    <h4>{{ name }}</h4>
                                    {% for diff in side_by_side_diff(changeset[name]) %}
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                {{ diff[1] | safe }}
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                {{ diff[2] | safe }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var slider = document.getElementById('revision-slider');
            noUiSlider.create(slider, {
                start: [{{ versions_count-1 }}],
                step: 1,
                range: {
                    'min': 0,
                    'max': {{ versions_count-1 }}
                }
            });

            var $sliderHandle = $(".noUi-handle");
            $sliderHandle.popover({
                animation: false,
                trigger: 'hover',
                placement: 'top'
            });

            var $revisionsHolder = $("#versions-holder");

            slider.noUiSlider.on('update', function (values, handle) {
                var value = Math.round(values[handle]);
                $sliderHandle.popover("show");
                $revisionsHolder.find(".version-entry").hide();
                var $currentVersion = $revisionsHolder.find("#version-" + value);
                $currentVersion.show();
                $sliderHandle.attr("data-content", "Revision on " + $currentVersion.data("date") + " by " + $currentVersion.data('user'));

            });

            $sliderHandle.popover("hide");
        });

    </script>

{% endblock %}
