{% extends 'gentelella/admin/super_admin/dashboard.html' %}


{% block title %}
    Modules
{% endblock %}

{% set active_page = "modules" %}
{% set module_fields = ['ticketing', 'payments', 'donations'] %}
{% set included_list = include_settings %}
{% block head_css %}
    {{ super() }}

{% endblock %}

{% macro field_switch(name, group, include=false) %}
    {% set identifier = name | replace(group + '.','') %}
    {% set name = identifier | replace('_id','') %}
    {% set pretty_name = name | replace('_',' ') | capitalize %}
    <tr data-identifier="{{ name }}" data-group="{{ group }}"
        data-toggle="tooltip">
        <td>
            {{ pretty_name }}
        </td>
        <td>
            <input type="checkbox" class="toggle-switch include-switch" data-group="{{ group }}" id="{{ identifier }}-include"
                   onclick="includeClick(this)" {% if identifier in included_list  %}checked="checked"{% endif %}>
            <label for="{{ identifier }}-include"> </label>
        </td>
    </tr>
{% endmacro %}


{% macro options_table(columns, group) %}

    <h2>Enable/Disable Modules</h2>
    <hr>

    <table class="table table-bordered table-hover modules-options-table">
        <thead>
        <tr>
            <th>Modules</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for column in columns %}
            {{ field_switch(column, group) }}
        {% endfor %}

        </tbody>
    </table>
    <hr>
    <input type="submit" class="btn btn-success save-modules pull-right" value="Save">

{% endmacro %}

{% block content %}
<form action="/admin/modules/save" method="POST" role="form" class="admin-form form-horizontal" id="modules-form">
        <div id="module-settings" class="wizard_content" style="display: block;">

            <div class="col-md-12 col-sm-12 col-xs-12">
                {{ options_table(module_fields, 'modules') }}
            </div>

            <input type="hidden" name="modules_form[name]" value="modules_form">

            <input type="hidden" id="modules-value-form" name="modules_form[value]" value="[]">
        </div>
    </form>
{% endblock %}

{% block tail_js %}
<script type="text/javascript">

    var modulesForm = [{}];

    Array.prototype.setIncluded = function (field, state) {
        this[0][field].include = state ? 1 : 0;
    };


    function includeClick(button) {
        var $row = $(button).closest("tr");
        var $button = $(button);

        if ($button.data('group') == 'modules') {
            modulesForm.setIncluded($row.data('identifier'), button.checked);
        }
        persistData();
    }

    $(function () {
        $.each($(".modules-options-table").find('tr[data-identifier]'), function (key, row) {
            var $row = $(row);
            modulesForm[0][$row.data('identifier')] = {
                include: $row.find('.include-switch')[0].checked ? 1 : 0
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

        persistData();
    });

    function persistData() {
        $("#modules-value-form").attr('value', JSON.stringify(modulesForm[0]));
    }


</script>

{% endblock %}

