{% extends 'gentelella/admin/event/event_base.html' %}

{% block title %}
    {{ speaker.name }} - {{ event.name }} - Speakers
{% endblock %}

{% set active_page = "speakers" %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_wizard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/lib/Croppie/croppie.css') }}"/>
{% endblock %}

{% block content %}
    <div class="col-md-push-2 col-sm-push-2 col-md-8 col-sm-8 col-xs-12 speaker_form">
        {% include 'gentelella/admin/event/sessions/components/speaker_form.html' %}
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
        $("textarea").summernote(summernoteConfig);
        $(".featured-toggle-holder").show();
    </script>
{% endblock %}

