{% extends 'gentelella/super_admin/dashboard.html' %}
{% block title %}
    {{ _("Content") }}
{% endblock %}
{% set active_page = "content" %}
{% block head_css %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
        <div class="responsive-tabs-container accordion-xs">
            <ul id="myTab" class="nav nav-tabs bar_tabs large_tab_list" role="tablist" style="background: #FFFFFF;">
                <li role="presentation" class="active">
                    <a href="#social-links" id="social-links-tab" data-toggle="tab">{{ _("Social Links") }}</a>
                </li>
                <li role="presentation">
                    <a href="#pages" id="pages-tab" data-toggle="tab">{{ _("Pages") }}</a>
                </li>
                <li role="presentation">
                    <a href="#system-images" id="system-images-tab" data-toggle="tab">{{ _("System Images") }}</a>
                </li>
                <li role="presentation">
                    <a href="#translations" id="translations-tab" data-toggle="tab">{{ _("Translations") }}</a>
                </li>
            </ul>
            <div class="dropdown tabs_small">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="drop_header">{{ _("Social Links") }}</span>
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li role="presentation" value="{{ _("Social Links") }}" class="small_tab_list active">
                        <a href="#social-links" id="social-links-tab" data-toggle="tab">{{ _("Social Links") }}</a>
                    </li>
                    <li role="presentation" value="{{ _("Pages") }}" class="small_tab_list">
                        <a href="#pages" id="pages-tab" data-toggle="tab">{{ _("Pages") }}</a>
                    </li>
                    <li role="presentation" value="{{ _("System Images") }}" class="small_tab_list">
                        <a href="#system-images" id="system-images-tab" data-toggle="tab">{{ _("System Images") }}</a>
                    </li>
                    <li role="presentation" value="{{ _("Translations") }}" class="small_tab_list">
                        <a href="#translations" id="translations-tab" data-toggle="tab">{{ _("Translations") }}</a>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="social-links">
                    <form id="settings_form" method="post" class="form-horizontal form-label-left">
                        {% include 'gentelella/super_admin/content/_social.html' %}
                    </form>
                </div>
                <div class="tab-pane fade in" id="pages">
                    {% include 'gentelella/super_admin/pages/pages.html' %}
                </div>
                <div class="tab-pane fade in" id="system-images">
                    {% include 'gentelella/super_admin/content/_system_images.html' %}
                </div>
                <div class="tab-pane fade in" id="translations">
                    {% include 'gentelella/super_admin/content/_translations.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".rich-area").summernote(summernoteConfig);
        });

        $(".small_tab_list").click(function () {
            $(".small_tab_list").removeClass("active");
            $(this).addClass("active");
            var clicked_link = $(this).attr("value");
            $(".drop_header").text(clicked_link);
        });

        $('.tabs_small a').click(function () {
            $(this).tab('show');
        });

        $(document).ready(function () {
            if (location.hash.substr(0, 2) == "#!") {
                $("a[href='#" + location.hash.substr(2) + "']").tab("show");
            }
            $("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                var hash = $(e.target).attr("href");
                if (hash.substr(0, 1) == "#") {
                    location.replace("#!" + hash.substr(1));
                }
            });
        });

        $(function () {
            $.each($(".list-group-item.active"), function (index, $item) {
                $item = $($item);
                if (!$item.hasClass('active-required')) {
                    $item.removeClass('active');
                }
            })
        });
    </script>
{% endblock %}
