<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>You got 404'd - HTTP 404 - Page Not Found - Open Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roboto.css') }}"/>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin/lib/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='admin/lib/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/common.css') }}"/>

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <br><br><br><br><br><br>
                    <h1 class="error-number" style="font-weight: 100">You got 404'd</h1>
                    <h2 style="font-weight: 300; font-size: x-large;">Sorry but we couldn't find this page</h2>
                    <p style="font-weight: 300; font-size: large;">This page you are looking for does not exist.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
