{% extends 'gentelella/admin/base.html' %}
{% import 'gentelella/admin/event/_table.html' as table with context %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet"
        href="{{ url_for('static', filename='admin/lib/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"/>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='admin/lib/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}">
        {% endblock %}
        {% block title %}
            Events
        {% endblock %}
        {% block body %}
            <div class="page-title">
                <div class="title_left">
                    <h3>Manage Events</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div>
                                <div class="responsive-tabs-container accordion-xs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="background: #FFFFFF;">
                                        <li class="active">
                                            <a href="#tab_content1" id="home-tab" data-toggle="tab">Live</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_content2" id="profile-tab" data-toggle="tab">Draft</a>
                                        </li>
                                        <li>
                                            <a href="#tab_content3" id="profile-tab2" data-toggle="tab">Past</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content4" id="profile-tab3" data-toggle="tab">Import</a>
                                        </li>
                                    </ul>
                                    <div class="dropdown tabs_small">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="drop_header">Live</span>
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li value="Live" class="small_tab_list">
                                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab">
                                                    Live
                                                </a>
                                            </li>
                                            <li value="Draft" class="small_tab_list">
                                                <a href="#tab_content2" id="profile-tab" role="tab" data-toggle="tab">
                                                    Draft
                                                </a>
                                            </li>
                                            <li value="Past" class="small_tab_list">
                                                <a href="#tab_content3" id="profile-tab2" data-toggle="tab">
                                                    Past
                                                </a>
                                            </li>
                                            <li value="Import" class="small_tab_list">
                                                <a href="#tab_content4" id="profile-tab3" data-toggle="tab">
                                                    Import
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in" id="tab_content1">
                                            {{ table.events_table(live_events) }}
                                        </div>
                                        <div class="tab-pane fade in" id="tab_content2">
                                            {{ table.events_table(draft_events) }}
                                        </div>
                                        <div class="tab-pane fade in" id="tab_content3">
                                            {{ table.events_table(past_events) }}
                                        </div>
                                        <div class="tab-pane fade in" id="tab_content4">
                                            {% include 'gentelella/admin/event/_import_modal.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block tail_js %}
            {{ super() }}
            <script src="{{ url_for('static', filename='admin/lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ url_for('static', filename='admin/lib/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='admin/lib/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
            <script type="text/javascript">
            $('.table').DataTable();
            $(document).ready(function() {
            $('.progress .progress-bar').progressbar({display_text: 'center', use_percentage: false});
            });
            $('.accordion-link').click(function(){
            $('.accordion-link').removeClass('active');
            $(this).addClass('active');
            });
            $(".small_tab_list").click(function(){
            var clicked_link = $(this).attr("value");
            $(".drop_header").text(clicked_link);
            });
            </script>
        {% endblock %}