{% extends 'admin/base1.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro extra() %}
  <input name="_continue_editing" type="submit" class="btn btn-default" value="{{ _gettext('Save and Continue') }}" />
{% endmacro %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well bs-component">

              <h2>{{ admin_view.name }}</h2>
              <div class="row">
                  <div class="col-md-6">
                      {% call lib.form_tag(form) %}
                          {{ lib.render_form_fields(form, form_opts=form_opts) }}
                          {{ lib.render_form_buttons(cancel_url, extra()) }}
                      {% endcall %}
                  </div>
                  <div class="col-md-6">
                      <div id="floating-panel">
                      <input id="address" type="textbox" value="Sydney, NSW">
                      <input id="submit" type="button" value="Geocode" onclick="saveAddress()">
    </div>
			<div id="map" style="width:400px; height:300px"></div>
                  </div>
              </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <!-- bring in the google maps library -->
      <script>
       var marker;
       var init_marker;
  function initMap() {
    $("#address").defaultValue=$("#location_name").value;
    latitude=$("#latitude").value;
    longitude=$("#longitude").value;
    var latlng = new google.maps.LatLng(latitude,longitude);
  var map = new google.maps.Map($("#map"), {
    zoom: 8,
    center: latlng
  });
  init_marker = new google.maps.Marker({
    draggable: true,
    position: latlng,
    map: map
  });
google.maps.event.addListener(init_marker, 'dragend', function (event) {
            $("#latitude").value = this.getPosition().lat();
            $("#longitude").value = this.getPosition().lng();
});
  var geocoder = new google.maps.Geocoder();

  $("#submit").addEventListener('click', function() {
    geocodeAddress(geocoder, map);
  });
}

function saveAddress(){
 var address = $("#address").value;
 $("#location_name").value=address;
 //marker.setMap(null);
}

function geocodeAddress(geocoder, resultsMap) {
  var address = $("#address").value;
  //marker.setMap(null);
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      var latitude = results[0].geometry.location.lat();
      var longitude = results[0].geometry.location.lng();
      $("#latitude").value=latitude;
      $("#longitude").value=longitude;
      resultsMap.setCenter(results[0].geometry.location);
      init_marker.setMap(null);
      if(marker==null){
        marker = new google.maps.Marker({
        map: resultsMap,
        draggable: true,
        position: results[0].geometry.location
      });
      }
      else{
        marker.setMap(null)
        marker = new google.maps.Marker({
        map: resultsMap,
        draggable: true,
        position: results[0].geometry.location
      });
      }
      google.maps.event.addListener(marker, 'dragend', function (event) {
      $("#latitude").value = this.getPosition().lat();
      $("#longitude").value = this.getPosition().lng();
});
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiXdFK2gtVMIHB890Nxu5CKNUTbQwQzo0&signed_in=true&callback=initMap"
        async defer></script>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
