{% extends 'admin/base1.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro extra() %}
  <input name="_continue_editing" type="submit" class="btn btn-default" value="{{ _gettext('Save and Continue') }}" />
{% endmacro %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well bs-component">

              <h2>{{ admin_view.name }}</h2>
              <div class="row">
                  <div class="col-md-6">
                      {% call lib.form_tag(form) %}
                          {{ lib.render_form_fields(form, form_opts=form_opts) }}
                          {{ lib.render_form_buttons(cancel_url, extra()) }}
                      {% endcall %}
                  </div>
                  <div class="col-md-6">
                      <div id="map" style="width:400px; height:300px"></div>
                  </div>
              </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <!-- bring in the google maps library -->
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script src="{{ url_for('static', filename='admin/js/map.js' )}}"></script>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}