{% extends 'gentelella/admin/base.html' %}

{% set carousel_height = 300 -%}
{% set scrollspy_top = (carousel_height + 95) ~ "px" %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/details.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guest/sessions.css') }}"/>
    <style type="text/css">
        .carousel .item {
            height: {{ carousel_height }}px;
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('{{ event.background_url }}');
        }

        .carousel {
            height: {{ carousel_height }}px;
        }

        .scrollspy {
            top: {{ scrollspy_top }};
        }
    </style>
{% endblock %}
{% block title %}
    {{ event.name }}
{% endblock %}

{% block head_js %}
    {{ super() }}

    <script type="text/javascript">
        function imgError(image) {
            image.onerror = "";
            image.src = '{{ url_for('static', filename='img/avatar.png') }}';
            return true;
        }
    </script>
{% endblock %}



{% block body %}
    <div class="scrollspy hidden-xs hidden-sm">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/e/{{ event.id }}">Info</a></li>
            <li role="presentation"><a href="/e/{{ event.id }}/#speakers">Speakers</a></li>
            <li role="presentation"><a href="/e/{{ event.id }}/#sponsors">Sponsors</a></li>
            <li role="presentation" class="active"><a href="/e/{{ event.id }}/sessions">Sessions</a></li>
            <li role="presentation"><a href="/e/{{ event.id }}/#organizer">Organizer</a></li>
            <li role="presentation"><a href="/e/{{ event.id }}/#getting-here">Getting Here</a></li>
        </ul>
    </div>
    <div class="carousel slide" style="margin-bottom: 0;">
        <div id="info" class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>{{ event.start_time.strftime('%a, %B %d at %I:%M %p') | upper }}</h4>
                        <h1>{{ event.name }}</h1>
                        <h4><i class="glyphicon glyphicon-map-marker"></i> {{ event.location_name | upper }}</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="event-info container" style="min-height: 600px;">
        <div class="row">
            <div class="col-md-12">

                <nav id="track-navbar" class="navbar navbar-default track-navbar">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                {% for track in tracks %}
                                    <li class="track-link"><a href="#track-{{ track.id }}">{{ track.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </nav>
                <ul class="list-group session-list">
                    {% for track in tracks %}
                        <h3 style="font-weight: 300;" id="track-{{ track.id }}">{{ track.name }}</h3>
                        {% for session in track.sessions %}
                            {{ session_element(session, loop.index) }}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
