<script id="microlocation-template" type="text/x-template">
    <div class="microlocation">
        <div class="text-center microlocation-header"><span class="badge">0</span></div>
        <div class="microlocation-inner" style="height: 1296px;">

        </div>
    </div>
</script>

<script id="date-change-button-template" type="text/x-template">
    <button type="button" class="btn btn-default date-change-btn">May 20</button>
</script>

<script id="session-template" type="text/x-template">
    <div class="session" data-toggle="tooltip" data-animation="false" data-placement="top" title="">
        <div class="text">

        </div>
        <i class="edit-btn glyphicon glyphicon-pencil"></i>
        <i class="remove-btn glyphicon glyphicon-remove"></i>
    </div>
</script>
