
<div class="timeline" id="timeline" data-event-id="{{ event.id }}"
     data-event-start="{{ event.start_time }}"
     data-event-end="{{ event.end_time }}"
     style="margin-top: 10px; margin-left: 10px; width: 100%; overflow-x: hidden;">
    <table class="timeline-table table" style="width: 100%">
        <tbody>
        <tr>
            <td class="timeunits x1" width="55">
                <div class="timeunit"></div>
            </td>
            <td class="microlocations x1">
                <div id="microlocation-container"
                     class="microlocation-container clearfix draggable-holder"
                     style="height: 1311px;">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="float: right; margin-top: 10px;">
    All the timings are in UTC
</div>
