{% extends 'gentelella/admin/base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}


<div class="page-title col-md-offset-1">
    <div class="title_left">
        <h3>Profile</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">


        <form name="test" action="/profile/edit/{{user_id}}" method="POST" role="form"
              class="admin-form form-horizontal event-create-form" enctype='multipart/form-data'>


            <div class="col-md-2 col-sm-2 col-xs-12 profile_left col-md-offset-1">

                <div class="profile_img">

                    <!-- end of image cropping -->
                    <div id="crop-avatar">
                        <!-- Current avatar -->
                        {% if profile.user_detail.avatar_uploaded %}
                            <img src="{{profile.user_detail.avatar_uploaded}}" class="profile_avatar" >
                        {% else %}
                            <img src="{{ url_for('static', filename='img/avatar.png') }}" class="profile_avatar">
                        {% endif %}


                    </div>

                    <div class="item form-group" id="image-upload-group" style="margin-top:10px">
                        <div class="image-box" style="height: 90px">
                            <input type="file" id="event-image-upload" name="avatar" class="image-upload-btn no-js"
                                   accept="image/*"/>
                            <label class="file-label" for="event-image-upload" style="padding: 10% 33%;">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Select Profile Image
                            </label><br>
                        </div>
                        <span class="text-muted" style="color: #a2a2a2;">
                            Image no larger than 10MB.
                        </span>
                    </div>

                </div>
                <h3>{{profile.user_detail.fullname}}</h3>

                <ul class="list-unstyled user_data">

                    {% if profile.user_detail.facebook %}
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href={{profile.user_detail.facebook}}
                           target="_blank">{{profile.user_detail.facebook}}</a>
                    </li>
                    {% endif %}
                    {% if profile.user_detail.twitter %}
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href={{profile.user_detail.twitter}}
                           target="_blank">{{profile.user_detail.twitter}}</a>
                    </li>
                    {% endif %}
                    {% if profile.email %}
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i> {{profile.email}}
                    </li>

                    {% endif %}
                    {% if profile.user_detail.contact %}
                    <li>
                        <i class="glyphicon glyphicon-earphone"></i> {{profile.user_detail.contact}}
                    </li>
                    {% endif %}

                </ul>


            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">


                {% include '/gentelella/admin/profile/_form.html' %}

            </div>
        </form>

    </div>
</div>

<script>
    $(document).ready(function (){
        $("#event-image-upload").unbind("change").on('change', function () {
            var input = this;
            if (input.files && input.files[0]) {
                if (input.files[0].size > 10485760) {
                    createSnackbar("Image must be less than 10 MB in size");
                    resetFormElement(input);
                } else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#cropper-modal").modal("show");
                        $uploadCropper.croppie('bind', {
                            url: e.target.result
                        });

                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            else {
                logError("No FileReader support");
            }

        });
    })
</script>

{% endblock %}
