{% extends 'gentelella/admin/base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}


<div class="page-title col-md-offset-1" style="width: auto;">
    <div class="title_left">
        <h3>Profile</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">


        <form name="test" action="/profile/edit/{{user_id}}" method="POST" role="form"
              class="admin-form form-horizontal event-create-form" enctype='multipart/form-data'>


            <div class="col-md-2 col-sm-2 col-xs-12 profile_left col-md-offset-1">

                <div class="profile_img">

                    <!-- end of image cropping -->
                    <div id="crop-avatar">
                        <!-- Current avatar -->
                        {% if profile.user_detail.avatar_uploaded %}
                            <img src="{{profile.user_detail.avatar_uploaded}}" class="profile_avatar" >
                        {% else %}
                            <img src="{{ url_for('static', filename='img/avatar.png') }}" class="profile_avatar">
                        {% endif %}


                    </div>
                    <!-- end of image cropping -->
                    <div id="avatar-button" style="padding: 10px 0px;">
                        <input type="file" id="profile-avatar" name="avatar"
                               class="upload-btn"/>
                        <label class="file-label" for="profile-avatar">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            Upload New
                        </label>
                    </div>

                </div>
                <h3>{{profile.user_detail.fullname}}</h3>

                <ul class="list-unstyled user_data">

                    {% if profile.user_detail.facebook %}
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href={{profile.user_detail.facebook}}
                           target="_blank">{{profile.user_detail.facebook}}</a>
                    </li>
                    {% endif %}
                    {% if profile.user_detail.twitter %}
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href={{profile.user_detail.twitter}}
                           target="_blank">{{profile.user_detail.twitter}}</a>
                    </li>
                    {% endif %}
                    {% if profile.email %}
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i> {{profile.email}}
                    </li>

                    {% endif %}
                    {% if profile.user_detail.contact %}
                    <li>
                        <i class="glyphicon glyphicon-earphone"></i> {{profile.user_detail.contact}}
                    </li>
                    {% endif %}

                </ul>


            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">


                {% include '/gentelella/admin/profile/_form.html' %}

            </div>
        </form>

    </div>
</div>

{% endblock %}
