{% extends 'gentelella/admin/base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}


<div class="page-title col-md-offset-1">
    <div class="title_left">
        <h3>Profile</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">

        <form name="test" action="/profile/edit/{{user_id}}" method="POST" role="form"
              class="admin-form form-horizontal event-create-form" enctype='multipart/form-data'>


            <div class="col-md-2 col-sm-2 col-xs-12 profile_left col-md-offset-1">

                <div class="profile_img">

                    <!-- end of image cropping -->
                    <div id="crop-avatar">
                        <!-- Current avatar -->
                        {% if profile.user_detail.avatar_uploaded %}
                            <img src="{{profile.user_detail.avatar_uploaded}}" class="profile_avatar" >
                        {% else %}
                            <img src="{{ url_for('static', filename='img/avatar.png') }}" class="profile_avatar">
                        {% endif %}


                    </div>



                    <div class="row">
                        <div class="col-md-7">

                            <input type="hidden" name="logo" id="logo">

                            <div class="item form-group" id="logo-upload-group"
                                 {% if profile and profile.user_detail.avatar_uploaded and profile.user_detail.avatar_uploaded != '' %}style="display: none;"{% endif %}>
                                <label>Logo</label><br>
                                <div class="image-box">
                                    <input type="file" id="logo-upload" name="logo-upload" class="image-upload-btn no-js"
                                           accept="image/*"/>
                                    <label class="file-label" for="logo-upload">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Select Logo
                                    </label><br>
                                </div>
                                <span class="text-muted" style="color: #a2a2a2;">
                                    Logo size must be less than 1MB.
                                </span>
                            </div>

                            <div class="item form-group" id="logo-view-group"
                                 {% if not profile or not profile.user_detail.avatar_uploaded or profile.user_detail.avatar_uploaded == '' %}style="display: none;"{% endif %}>
                                <label>Logo</label><br>
                                <img src="{{ profile.user_detail.avatar_uploaded | default('', true) }}" style="width: 350px;"><br><br>
                                <button type="button" class="btn btn-sm btn-default" id="remove-logo-btn">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    Remove
                                </button>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
                <h3>{{profile.user_detail.fullname}}</h3>

                <ul class="list-unstyled user_data">

                    {% if profile.user_detail.facebook %}
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href={{profile.user_detail.facebook}}
                           target="_blank">{{profile.user_detail.facebook}}</a>
                    </li>
                    {% endif %}
                    {% if profile.user_detail.twitter %}
                    <li class="m-top-xs">
                        <i class="fa fa-external-link user-profile-icon"></i>
                        <a href={{profile.user_detail.twitter}}
                           target="_blank">{{profile.user_detail.twitter}}</a>
                    </li>
                    {% endif %}
                    {% if profile.email %}
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i> {{profile.email}}
                    </li>

                    {% endif %}
                    {% if profile.user_detail.contact %}
                    <li>
                        <i class="glyphicon glyphicon-earphone"></i> {{profile.user_detail.contact}}
                    </li>
                    {% endif %}

                </ul>


            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">


                {% include '/gentelella/admin/profile/_form.html' %}

            </div>
        </form>

    </div>
</div>

<script>
    $(document).ready(function (){
        $("#logo-upload").unbind("change").on('change', function () {
            var input = this;
            if (input.files && input.files[0]) {
                if (input.files[0].size > 1048576) {
                    createSnackbar("Image must be less than 1 MB in size");
                    resetFormElement(input);
                } else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        resetFormElement(input);
                        $("#logo").val(e.target.result);
                        $("#logo-view-group").show().find("img").attr("src", e.target.result);
                        $("#logo-upload-group").hide();
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            else {
                logError("No FileReader support");
            }
        });

        $("#remove-logo-btn").click(function () {
            $("#logo-view-group").hide();
            $("#logo-upload-group").show();
            $("#logo").val('');
        });

        function resetFormElement(e) {
            e = $(e);
            e.wrap('<form>').closest('form').get(0).reset();
            e.unwrap();
        }
    })
</script>

{% endblock %}
