{% extends 'gentelella/admin/base.html' %}
{% block body %}


<form name="test" action="/admin/events/new/" method="POST" role="form" class="admin-form form-horizontal">
    {% if csrf_token %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% endif %}


    <div id="wizard" class="form_wizard wizard_horizontal">
        <ul class="wizard_steps anchor">
            <li>
                <a href="#step-1" class="selected" isdone="1" rel="1">
                    <span class="step_no">1</span>
                              <span class="step_descr">
                                                Event <br>
                                                <small>Details about event</small>
                                            </span>
                </a>
            </li>
            <li>
                <a href="#step-2" class="disabled" isdone="0" rel="2">
                    <span class="step_no">2</span>
                              <span class="step_descr">
                                                Sessions Types<br>
                                                <small>Define session types in session</small>
                                            </span>
                </a>
            </li>
            <li>
                <a href="#step-3" class="disabled" isdone="0" rel="3">
                    <span class="step_no">3</span>
                              <span class="step_descr">
                                                Tracks<br>
                                                <small>Define basic track info</small>
                                            </span>
                </a>
            </li>
            <li>
                <a href="#step-4" class="disabled" isdone="0" rel="4">
                    <span class="step_no">4</span>
                              <span class="step_descr">
                                                Session<br>
                                                <small>Add social links</small>
                                            </span>
                </a>
            </li>
        </ul>

        <div class="stepContainer">
            {% include '/gentelella/admin/event/new/step-1.html' %}
            {% include '/gentelella/admin/event/new/step-2.html' %}
            {% include '/gentelella/admin/event/new/step-3.html' %}
            {% include '/gentelella/admin/event/new/step-4.html' %}
        </div>
    </div>

    <button id="send" type="submit" class="btn btn-success">Save Draft</button>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.smartWizard.js') }}"></script>
{% endblock %}
